In [1]:
import time
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import random

## Funkcje pomocnicze

In [2]:
# Zmienia format daty z sekund na rrrr-mm-dd
def dataformat(data):
    new_data = time.localtime(data)
    if new_data.tm_mday<10:
        data_day = '0'+str(new_data.tm_mday)
    else:
        data_day = str(new_data.tm_mday)
        
    if new_data.tm_mon<10:
        data_mon = '0' + str(new_data.tm_mon)
    else:
        data_mon =  str(new_data.tm_mon)

    g_data = str(new_data.tm_year) + '-' +data_mon + '-' + data_day
    
    return(g_data)

In [3]:
def add_salary(zatr, zwo, pensja):
    zatr_time = time.localtime(zatr)
    #10 sa wyplaty
    if zatr_time.tm_mday<10:
        fir_mon = zatr_time.tm_mon
    else:
        fir_mon = zatr_time.tm_mon+1
    #pierwsza wyplata
    zatr_sec = time.mktime((zatr_time.tm_year, fir_mon, 10, 17, 3, 38, 1, 48, 0))
    pierwsza_pensja = np.round(((zatr_sec - zatr)/(3600*24))*(pensja/30),2)
    zwo_time = time.localtime(zwo)
    if zwo_time.tm_mday<10:
        las_mon = zwo_time.tm_mon
    else:
        las_mon = zwo_time.tm_mon+1
    #ostatnia wyplata
    zwo_sec = time.mktime((zwo_time.tm_year, las_mon, 10, 17, 3, 38, 1, 48, 0))
    ostatnia_pensja = abs(np.round((zwo_sec - zwo)/(3600*24)*(1-(pensja/30)),2))
    wyplata = zatr_sec+31*24*3600
    pensje =[]
    daty = []
    daty.append(dataformat(zatr_sec))
    pensje.append(pierwsza_pensja)
    while wyplata < zwo:
        daty.append(dataformat(wyplata))
        pensje.append(pensja)
        wyplata += 30.5*24*3600
    daty.append(dataformat(zwo_sec))
    pensje.append(ostatnia_pensja)
    return(daty, pensje)

In [4]:
# generuje id, first-pierwsza wartosc, second-druga, i -koncowka
def id_generator(i, first = 0, second= 0):
    if i<10:
        n_id = str(first)+str(second)+'00'+str(i)
    elif i<100 and i >=10 :
        n_id = str(first)+str(second)+'0'+str(i)
    elif i<1000 and i>=100:
        n_id = str(first)+str(second)+str(i)
    return(n_id)

## Klasa zwierzę

In [5]:
class Animal:
    def __init__(self, species):
        
        self.species = species
        
        if self.species == 'pies':
            self.years = 15
            #sample from normal distribution with mean 6 and variance 3 - age of species
            self.mi = 4
            self.sigma = 3
            
        elif self.species == 'kot':
            self.years = 16
            self.mi = 2
            self.sigma = 4
            
        elif self.species == 'szczur':
            self.years = 2.5
            self.mi = 1.25
            self.sigma = 0.5
        self.wizyty = []
        self.daty_wizyt = []
        self.ceny = []
    def stan_zdrowia(self):
        ost_data_wiz = self.daty_wizyt[-1]
        if ost_data_wiz+7*24*3600 < self.actual_time:
            rand = np.random.random()
            if rand > 0.1:
                stan_zdr = "zdrowy"
            else:
                stan_zdr = "chory"
        else:
            stan_zdr = "w czasie leczenia" 
            
        self.stan_zdr = stan_zdr
        return(self.stan_zdr)
        
    def Wizyty(self, ad_time = None): 
        
        ost_data_wizyty = self.daty_wizyt[-1]
        choroby = ["przeziębienie", "zapalenie uszu","świeżb", "zapalenie spojówek","skaleczenie", "inne"]
        if ad_time is not None:
            data_wiz = np.random.uniform(ost_data_wizyty+24*3600, ad_time-24*3600)
        else:
            data_wiz = np.random.uniform(ost_data_wizyty+24*3600, self.actual_time-24*3600)
        zalec = "lek"
        self.daty_wizyt.append(data_wiz)
        chor = choroby[int(np.random.uniform(0, len(choroby)))]
        self.wizyty.append(chor)
        cena = int(np.round(np.random.uniform(50, 150),0))
        self.ceny.append(cena)
        return(data_wiz, chor, zalec, cena) 
    
    def choroby(self):
        
        return(self.wizyty, self.daty_wizyt, self.ceny)
    
    def Species(self):
        if self.species == "pies":
            self.species_id = 1
        elif self.species == "kot":
            self.species_id = 2
        elif self.species == "szczur":
            self.species_id = 3
            
        return(self.species_id)
    
    def plec(self):
        
        rand = np.random.random()
        if rand > 0.5:
            plec = "samica"
        else:
            plec = "samiec"
            
        self.plec = plec
        return(plec)
            
    def name(self, file):
        
        df = pd.read_csv(file, names = ['samce', 'samice'], encoding='unicode_escape')
        df = df.loc[:503]
        
        if self.plec == "samica":
            df = df['samice']
        elif self.plec == "samiec":
            df = df['samce']
        
        rand = np.round(np.random.uniform(0,len(df)-1),0)
        name = (df.values)[int(rand)]
        self.name = name
        
        return(self.name)
        
    def umaszczenie(self):
        
        list_colours = ['bialy', 'czarny', 'szary', 'rudy','brazowy', 'bialo-czarny', 'biszkoptowy', 'bialo-rudy',
                        'bialo-brązowy','bialo-szary','inne']
        len_colours = len(list_colours)
        random_c = np.round(np.random.uniform(0,len_colours-1), 0)
        umaszczenie = list_colours[int(random_c)]
        
        self.umaszczenie = umaszczenie
        
        return(self.umaszczenie, self.species) 

    
    def birth(self, death_year = 0):
        
        years2sec = 365.25*24*3600
        self.actual_time = time.time() - death_year*years2sec  #actual time in second)
        begin_time = self.actual_time - self.years*years2sec #years- how many years back (in seconds)
        sec_mi = self.mi*years2sec
        sec_std = self.sigma*years2sec
        birth_date = np.random.normal(begin_time+sec_mi, (sec_std), 1)
        
        #looking for dates beetwen begin and actual time
        while begin_time > birth_date or self.actual_time < birth_date:
        
            birth_date  = np.random.normal(begin_time+sec_mi, (sec_std), 1)
            
        #birth date of animal    
        self.birth_date = birth_date
        
        return( self.birth_date , self.actual_time)
        
    def masa(self):
        #sprawdzam date urodzenia bo pies majacy 2 miesiace nie bedzie wazyl 40kg
        act = (time.localtime(self.actual_time))
        bir = (time.localtime(self.birth_date))
        if bir.tm_year == act.tm_year:
            if abs(bir.tm_mon-act.tm_mon) < 6:
                if self.species == 'pies':
                    masa = np.random.normal(5,5)
                    while masa < 0.5:
                        masa = np.random.normal(5,5)
                elif self.species == 'kot':
                    masa = np.random.normal(1,1)
                    while masa < 0.4 or masa > 2:
                        masa = np.random.normal(1,1)
                elif self.species == 'szczur':
                    masa = np.random.normal(0.1,0.2)
                    while masa < 0.1 or masa > 0.45:
                        masa = np.random.normal(0.1,0.2)
                
            else:
                if self.species == 'pies':
                    masa = np.random.normal(12,6)
                    while masa < 0.5 or masa > 30:
                        masa = np.random.normal(12,6)
                elif self.species == 'kot':
                    masa = np.random.normal(1,1.3)
                    while masa < 0.6 or masa > 3:
                        masa = np.random.normal(1,1.3)
                elif self.species == 'szczur':
                    masa = np.random.normal(0.2,0.2)
                    while masa < 0.24 or masa > 0.55:
                        masa = np.random.normal(0.2,0.2)
        else:
            if self.species == 'pies':
                masa = np.random.normal(17,7)
                while masa < 1 or masa > 45:
                    masa = np.random.normal(17,7)
            elif self.species == 'kot':
                masa = np.random.normal(3, 2)
                while masa < 1 or masa > 5:
                    masa = np.random.normal(3, 2)
            elif self.species == 'szczur':
                masa = np.random.normal(0.25,0.2)
                while masa < 0.24 or masa > 0.7:
                    masa = np.random.normal(0.25,0.2)
        self.masa  = np.round(masa, 3)

        return(self.masa)
    
    def acceptance(self, o_years = 3.21): #3.21 years - opening of pound
        
        years2sec = 365.25*24*3600
        open_time = self.actual_time - o_years*years2sec
        
        acc_time = self.actual_time+100
        
        while acc_time > self.actual_time or bool(acc_time < self.birth_date+50*24*3600):
#             print(acc_time > self.actual_time)
#             print(bool(acc_time < self.birth_date))
            acc_time = np.random.uniform(open_time, self.actual_time) 
            
        #print(time.localtime(acc_time))
        #acceptance date    
        self.acc_time = acc_time
        p_wizyta = acc_time+24*3600
        self.daty_wizyt.append(p_wizyta)
        self.wizyty.append("pierwsza wizyta")
        self.ceny.append(50)
        return( self.acc_time )
    
    def adoption(self):
        
        day2sec = 24*3600
        ad_time = np.random.uniform(self.acc_time+7*day2sec, self.actual_time-14*day2sec) 
          
        self.ad_time = ad_time
        #self.adoptujacy()
        
        return( self.ad_time )
    
#print(acc_time > self.actual_time)
#print(bool(acc_time < self.birth_date))
#print(time.localtime(acc_time))
#acceptance date  
    def adoptujacy(self, own_names, own_lastnames, own_streets, own_city):
        own_ind0 = int(np.round(np.random.uniform(0,len(own_names)),0)-1)
        own_ind1 = int(np.round(np.random.uniform(0,len(own_lastnames)),0)-1)
        own_ind2 = int(np.round(np.random.uniform(0,len(own_streets)),0)-1)
        own_name = own_names[own_ind0][0]
        own_lastname = own_lastnames[own_ind1][0]
        own_street = own_streets[own_ind2]+' ' + str(int(np.random.uniform(1,100)))
        own_tel = str(int(np.random.uniform(100,999)))+"-"
        own_tel = own_tel + str(int(np.random.uniform(100,999)))+"-"+str(int(np.random.uniform(100,999)))
        owner = {}
        owner['name'] = own_name
        owner['last_name'] = own_lastname
        owner['adres'] = own_street + ' ' + own_city
        owner['telefon'] = own_tel
        
        return(owner)
            
        
    def kastracja(self):
        rand = np.random.random()
        if rand > 0.1:
            self.kastracja = "tak"
            n_rand = np.random.random()
            if n_rand > 0.5:
                self.k_day = self.acc_time+ np.random.uniform(10,35)*24*3600
                self.daty_wizyt.append(self.k_day)
                self.wizyty.append("sterylizacja")
                self.ceny.append(200)
            else:
                self.k_day = self.birth_date + np.random.uniform(200,350)*24*3600

        else:
            self.kastracja = "nie"
            self.k_day = 0
        
        
        return(self.kastracja, self.k_day)
    def next_acceptance(self):
        day2sec = 24*3600
        new_acc_time = 0
        #20% zwierzakow wraca do schorniska
        if self.ad_time is not None:
            new_acc_time = np.random.uniform(self.ad_time+3*day2sec, self.actual_time-7*day2sec ) 
        #print(acc_time > self.actual_time)
        #print(bool(acc_time < self.birth_date))
        #print(time.localtime(acc_time))
        #acceptance date    
        self.acc_time = new_acc_time
        p_wizyta = self.acc_time+24*3600
        self.daty_wizyt.append(p_wizyta)
        self.wizyty.append("pierwsza wizyta")
        self.ceny.append(50)
        return( self.acc_time )
    
    
#sterylizacja - klasa zwierze - data wizty +1 dzien +tydzien sterylizacja
#0.01 0.01
#2 lata
#aktu -200
# wykladniczy ale od pewnego momentu z paramtrem 1
#masa ciała
#400 - 95% adotptowane , 5% zmarłe
#adopcje
# maks - 5, srednio -2, procent wracajacych - 30% 
# w wiekszosci darowizna, co miesiac -wyplaty, dotacja z urzedu
#imiona - nie powtarzaja sie - usuwam z listy uzyte imie

## Funkcja pracownik

In [6]:
def pracownik(own_names, own_lastnames, own_streets, own_city, years=3.21):
        own_ind0 = int(np.round(np.random.uniform(0,len(own_names)),0)-1)
        own_ind1 = int(np.round(np.random.uniform(0,len(own_lastnames)),0)-1)
        own_ind2 = int(np.round(np.random.uniform(0,len(own_streets)),0)-1)
        own_name = own_names[own_ind0][0]
        own_lastname = own_lastnames[own_ind1][0]
        own_street = own_streets[own_ind2]+' ' + str(int(np.random.uniform(1,100)))
        own_tel = str(int(np.random.uniform(100,999)))+"-"
        own_tel = own_tel + str(int(np.random.uniform(100,999)))+"-"+str(int(np.random.uniform(100,999)))
        owner = {}
        owner['name'] = own_name
        owner['last_name'] = own_lastname
        owner['adres'] = own_street + ' ' + own_city
        owner['telefon'] = own_tel
        years2sec = 365.25*24*3600
        actual_time = time.time()
        open_time = actual_time - years*years2sec
        
        data_zat = np.random.uniform(open_time, actual_time)
        data_zw =  np.random.uniform(data_zat, actual_time+24*3600)
        owner["zatr"] = data_zat
        owner["zwoln"] = data_zw
        return(owner)

In [7]:
ulice = ['ul. Agrestowa',
'ul. Akacjowa',
'ul. Armii Krajowej',
'ul. Balonowa',
'ul. Batalionów Chłopskich',
'ul. gen. Józefa Bema',
'ul. Błękitna',
'ul. Bociania',
'ul. Jerzego Bocka',
'ul. Boczna',
'ul. Bolesława Krzywoustego',
'ul. Arkadiusza Bożka',
'ul. Bratnia',
'ul. Brzozowa',
'ul. Ceglana',
'ul. Fryderyka Chopina',
'ul. Cicha',
'ul. Ciepła',
'ul. Antoniego Cieszyńskiego',
'ul. Cmentarna',
'ul. Bronisława Czecha',
'ul. Ignacego Daszyńskiego',
'ul. Henryka Dąbrowskiego',
'ul. Demokratów',
'ul. Kazimierza Deyny',
'ul. Dobroszycka',
'ul. Energetyczna',
'ul. Fabryczna',
'ul. Gliniana',
'ul. Władysława Grabskiego',
'ul. Gryczana',
'ul. gen. Józefa Hallera',
'ul. św. Jadwigi',
'ul. Jagodowa',
'ul. Jaśminowa',
'ul. Jarzynowa',
'ul. Jasna',
'ul. Jastrzębia',
'ul. Jęczmienna',
'ul. Kasztanowa',
'ul. Kazimierza Wielkiego',
'ul. Jana Kilińskiego',
'ul. gen. Franciszka Kleeberga',
'ul. Klonowa',
'ul. Jana Kochanowskiego',
'ul. Kolejowa',
'ul. Kościelna',
'ul. Tadeusza Kościuszki',
'skwer Kombatantów Rzeczypospolitej',
'ul. Mikołaja Kopernika',
'ul. Kosynierów',
'ul. Krótka',
'ul. Kresowa',
'ul. Krucza',
'ul. Krzywa',
'ul. Janusza Kusocińskiego',
'ul. Eugeniusza Felicjana Kwiatkowskiego',
'ul. Kwiatowa',
'ul. Joachima Lelewela',
'ul. Leśna',
'ul. Leszczynowa',
'ul. Bolesława Limanowskiego',
'ul. Lipowa',
'ul. 11 Listopada',
'ul. Lotnicza',
'ul. Stefana Żeromskiego',
'ul. Żwirki i Wigury',
'ul. Żytnia',
'ul. Ludwikowska',
'ul. Lwowska',
'ul. Henryka Łasaka',
'ul. Łąkowa',
'ul. Łowiecka',
'ul. Łukanowska',
'ul. Łużycka',
'pl. Książąt Śląskich',
'ul. Tadeusza Ślusarskiego',
'ul. Świerkowa',
'ul. gen. Stanisława Maczka',
'ul. 3 Maja',
'ul. Malinowa',
'ul. Bronisława Malinowskiego',
'ul. Małopolna',
'ul. Jana Matejki',
'ul. Adama Mickiewicza',
'ul. Stanisława Mikołajczyka',
'ul. Miła',
'ul. Miodowa',
'ul. Młynarska',
'ul. Mokra',
'ul. Ignacego Mościckiego',
'ul. Stanisława Moniuszki',
'ul. Na Podkowie',
'ul. Gabriela Narutowicza',
'ul. Nowowiejska',
'ul. Ogrodowa',
'ul. Okrężna',
'ul. Orla',
'ul. Osada Bystre',
'ul. Osiedle',
'ul. Otwarta',
'ul. Owocowa',
'ul. Owsiana',
'ul. Ignacego Paderewskiego',
'ul. Parkowa',
'ul. Północna',
'ul. Pocztowa',
'ul. Podchorążych',
'ul. Pogodna',
'ul. Polna',
'ul. Południowa',
'ul. Księcia Józefa Poniatowskiego',
'ul. Poprzeczna',
'ul. Porzeczkowa',
'ul. Powietrzna',
'ul. Poziomkowa',
'ul. Prosta',
'ul. Bolesława Prusa',
'ul. Przemysłowa',
'ul. Kazimierza Przerwy-Tetmajera',
'ul. Przyjaźni',
'ul. Bogusława Psujka',
'ul. Pszeniczna',
'ul. Ptasia',
'ul. Kazimierza Pułaskiego',
'ul. Heleny Radlińskiej',
'ul. Różana',
'ul. Mikołaja Reja',
'ul. Tadeusza Rejtana',
'ul. Władysława Stanisława Reymonta',
'rondo Rondo Jana Pawła II',
'rondo Rondo Miast Partnerskich',
'ul. Wandy Rutkiewicz',
'ul. Rycerska',
'ul. Rzemieślnicza',
'ul. Rzepakowa',
'ul. Sejmowa',
'ul. Janusza Sidły',
'ul. Henryka Sienkiewicza',
'ul. gen. Władysława Sikorskiego',
'ul. Jana Sinapiusa',
'ul. Marii Skłodowskiej-Curie',
'ul. Słoneczna',
'ul. Juliusza Słowackiego',
'ul. Sokola',
'ul. Ignacego Solarza',
'rondo Solidarności',
'ul. Sosnowa',
'ul. Spacerowa',
'ul. Spadochronowa',
'ul. Spokojna',
'ul. Feliksa Stamma',
'ul. Jana Stapińskiego',
'pl. Stanisława Staszica',
'ul. Stawowa',
'ul. Stolarska'
'ul. mjr. Henryka Sucharskiego',
'ul. ks. Franciszka Sudoła',
'ul. Szkolna',
'ul. Szybowcowa',
'ul. Targowa',
'ul. Tęczowa',
'ul. Lwa Tołstoja',
'ul. Trakcyjna',
'ul. Romualda Traugutta',
'ul. Stanisławy Walasiewicz',
'ul. Wałowa',
'ul. Wały Jagiellońskie',
'ul. Wądoły',
'ul. Wąska',
'ul. Wesoła',
'ul. Wiejska',
'ul. Wielkopolna',
'ul. Wierzbowa',
'ul. Wikliniarska',
'ul. Wileńska',
'ul. Wiśniowa',
'ul. Wincentego Witosa',
'ul. Wojska Polskiego',
'ul. Wrocławska',
'ul. Wschodnia',
'ul. Wspólna',
'ul. Józefa Wybickiego',
'ul. Zakładowa',
'ul. Zamkowa',
'ul. Zielona'
]

In [8]:
# zmieniam polskie znaki w nazwach ulic
for i in range(len(ulice)):
    ulice[i] = ulice[i].replace('ą','a')
    ulice[i] = ulice[i].replace('ć','c')
    ulice[i] = ulice[i].replace('Ć','C')
    ulice[i] = ulice[i].replace('ę','e')
    ulice[i] = ulice[i].replace('ł','l')
    ulice[i] = ulice[i].replace('Ł','L')
    ulice[i] = ulice[i].replace('ń','n')
    ulice[i] = ulice[i].replace('Ń','N')
    ulice[i] = ulice[i].replace('ó','o')
    ulice[i] = ulice[i].replace('ś','s')
    ulice[i] = ulice[i].replace('Ś','S')
    ulice[i] = ulice[i].replace('ż','z')
    ulice[i] = ulice[i].replace('ź','z')
    ulice[i] = ulice[i].replace('Ż','Z')
    ulice[i] = ulice[i].replace('Ź','Z')

## Dane

In [9]:
names_male = pd.read_csv('./dane/n_male.csv', names = ['names'], encoding='unicode_escape')
names_female = pd.read_csv('./dane/n_female.csv', names = ['names'], encoding='unicode_escape')
lastnames_male = pd.read_csv('./dane/lastn_male.csv',names = ['names'], encoding='unicode_escape')
lastnames_female = pd.read_csv('./dane/lastn_female.csv',names = ['names'], encoding='unicode_escape')
miasta = ["Wroclaw", "Olesnica", "Opole"]
names_male = (names_male.values).tolist() 
lastnames_male = (lastnames_male.values).tolist()
names_female = (names_female.values).tolist() 
lastnames_female = (lastnames_female.values).tolist()

## Schronisko

In [10]:
informacje = []
gatunki = []
zwierz_schr = []
zwierz_byle = []
adoptujace = []
hist_zdr = []
transakcje = []

In [11]:
actual_time = time.time()
#tutaj zbieram dane o pracownikach
pr_id = []
o_years = 3.21 #lata działania schroniska

years2sec = 365.25*24*3600
#data otwarcia schroniska
open_time = actual_time - o_years*years2sec
zwolnienia  = []

## Pracownicy

### Byli opiekunowie

In [12]:
byli_opiekunowie = [] 
opiekunowie = []
for i in range(4):
    
    p_id = id_generator(i=i, first=2)
    rand = np.random.random()
    if rand>0.5:
        opiekun = pracownik(names_male, lastnames_male, ulice, "Wroclaw")
    else:
        opiekun = pracownik(names_female, lastnames_female, ulice, "Wroclaw")
    
    
    zwol = opiekun["zwoln"]
    pensja = 2500
    data, pensja = add_salary(open_time,zwol,pensja)
    for j in range(len(data)):
        trans = {}
        trans['data'] = data[j]
        trans['id_transakcji'] = id_generator(i=int(str(i)+str(j)), first=5, second = 9)
        trans['imie'] = opiekun['name']
        trans['nazwisko'] = opiekun['last_name']
        trans['kwota'] = 0-float(pensja[j])
        trans['tytul'] = 'wyplata'
        transakcje.append(trans)
    zatr = dataformat(open_time)
    zwolnienia.append(zwol)
    zwo = dataformat(zwol)
    opiekun_d = {'id':p_id, 'imie': opiekun['name'], 'nazwisko': opiekun['last_name'], 
               'adres': opiekun['adres'], 'telefon': opiekun['telefon'], 'zatrudnienie':zatr, "zwolenienie": zwo,
          'stanowisko': 'opiekun', 'pensja': 2500}
    byli_opiekunowie.append(opiekun_d)
    opiekunowie.append(opiekun_d)
    
    
pd.DataFrame(data=byli_opiekunowie)

,adres,id,imie,nazwisko,pensja,stanowisko,telefon,zatrudnienie,zwolenienie
0,ul. Szybowcowa 18 Wroclaw,20000,MICHAL,WALKOWSKI,2500,opiekun,510-602-795,2016-04-04,2019-03-16
1,ul. Stanislawa Mikolajczyka 82 Wroclaw,20001,JAKUB,DEBICKI,2500,opiekun,705-264-598,2016-04-04,2019-05-05
2,ul. Lakowa 1 Wroclaw,20002,IRENA,BOCZEK,2500,opiekun,933-121-535,2016-04-04,2017-07-26
3,ul. Ignacego Solarza 58 Wroclaw,20003,KAZIMIERZ,RATAJCZAK,2500,opiekun,639-141-680,2016-04-04,2019-03-08

### Aktualni opiekunowie

In [13]:
#najpierw opiekunowie
#4 opiekunow pracuje aktualnie
for i in range(4):

    rand = np.random.random()
    if rand>0.5:
        opiekun = pracownik(names_male, lastnames_male, ulice, "Wrocław")
    else:
        opiekun = pracownik(names_female, lastnames_female, ulice, "Wrocław")
    zat = zwolnienia[i]+np.random.uniform(1,30)*24*3600
    zatr = dataformat(zat)
    pensja = 2500
    data, pensja = add_salary(zat,actual_time,pensja)
    for j in range(len(data)):
        trans = {}
        trans['data'] = data[j]
        trans['id_transakcji'] = id_generator(i=int(str(i)+str(j)), first=5, second = 9)
        trans['imie'] = opiekun['name']
        trans['nazwisko'] = opiekun['last_name']
        trans['kwota'] = 0-float(pensja[j])
        trans['tytul'] = 'wyplata'
        transakcje.append(trans)
    zwo = "9999-99-99"
    p_id = id_generator(i=i, first=2)
    pr_id.append(p_id)
    opiekun_d = {'id':p_id, 'imie': opiekun['name'], 'nazwisko': opiekun['last_name'], 
               'adres': opiekun['adres'], 'telefon': opiekun['telefon'], 'zatrudnienie':zatr, "zwolenienie": zwo,
          'stanowisko': 'opiekun', 'pensja': 2500}
    opiekunowie.append(opiekun_d)

### Reszta pracowników

In [14]:
#kierowca, ksiegowy, kierownik, asystent kierownika -pracuja od poczatku
pensje = ['3000','3500','5000', '4000']
stanowiska = ['kierowca', 'księgowy', 'kierownik', 'asystent kierownika']
for i in range(4):
    p_id = id_generator(i=i, first=1)
    rand = np.random.random()
    if rand>0.5:
        opiekun = pracownik(names_male, lastnames_male, ulice, "Wroclaw")
    else:
        opiekun = pracownik(names_female, lastnames_female, ulice, "Wroclaw")
    
    data, pensja = add_salary(open_time,actual_time,eval(pensje[i]))
    for j in range(len(data)):
        trans = {}
        trans['data'] = data[j]
        trans['id_transakcji'] = id_generator(i=int(str(i)+str(j)), first=5, second = 9)
        trans['imie'] = opiekun['name']
        trans['nazwisko'] = opiekun['last_name']
        trans['kwota'] = 0-float(pensja[j])
        trans['tytul'] = 'wyplata'
        transakcje.append(trans)
    zatr = dataformat(open_time)
    zwo = "9999-99-99"


    opiekun_d = {'id':p_id, 'imie': opiekun['name'], 'nazwisko': opiekun['last_name'], 
               'adres': opiekun['adres'], 'telefon': opiekun['telefon'], 'zatrudnienie':zatr, "zwolenienie": zwo,
          'stanowisko': stanowiska[i], 'pensja': pensje[i]}
    opiekunowie.append(opiekun_d)

In [15]:
pd.DataFrame(data=opiekunowie)

,adres,id,imie,nazwisko,pensja,stanowisko,telefon,zatrudnienie,zwolenienie
0,ul. Szybowcowa 18 Wroclaw,20000,MICHAL,WALKOWSKI,2500,opiekun,510-602-795,2016-04-04,2019-03-16
1,ul. Stanislawa Mikolajczyka 82 Wroclaw,20001,JAKUB,DEBICKI,2500,opiekun,705-264-598,2016-04-04,2019-05-05
2,ul. Lakowa 1 Wroclaw,20002,IRENA,BOCZEK,2500,opiekun,933-121-535,2016-04-04,2017-07-26
3,ul. Ignacego Solarza 58 Wroclaw,20003,KAZIMIERZ,RATAJCZAK,2500,opiekun,639-141-680,2016-04-04,2019-03-08
4,ul. Mokra 66 Wrocław,20000,AGNIESZKA,TOMCZAK,2500,opiekun,506-837-134,2019-03-18,9999-99-99
5,ul. Janusza Sidly 89 Wrocław,20001,ZUZANNA,KANIA,2500,opiekun,400-497-263,2019-05-27,9999-99-99
6,ul. Demokratow 65 Wrocław,20002,MONIKA,MODLINSKA,2500,opiekun,654-276-139,2017-08-02,9999-99-99
7,ul. Jastrzebia 41 Wrocław,20003,ALICJA,MIKOSZ,2500,opiekun,429-486-138,2019-04-02,9999-99-99
8,ul. gen. Wladyslawa Sikorskiego 64 Wroclaw,10000,SZYMON,FILIPIUK,3000,kierowca,779-215-278,2016-04-04,9999-99-99
9,ul. Janusza Kusocinskiego 77 Wroclaw,10001,AGATA,LESZCZYK,3500,księgowy,312-918-330,2016-04-04,9999-99-99
10,ul. Mlynarska 1 Wroclaw,10002,MONIKA,KUBOWICZ,5000,kierownik,509-910-982,2016-04-04,9999-99-99
11,ul. Lipowa 88 Wroclaw,10003,WERONIKA,SMIALKOWSKA,4000,asystent kierownika,138-667-250,2016-04-04,9999-99-99

### Wolontariusze

In [16]:
#przez schronisko przewinelo sie 67 wolontariuszy
wolontariusze = []
for i in range(67):
    p_id = id_generator(i=i, first=4)
        
    rand = np.random.random()
    if rand>0.5:
        opiekun = pracownik(names_male, lastnames_male, ulice, "Wroclaw")
    else:
        opiekun = pracownik(names_female, lastnames_female, ulice, "Wroclaw")
        
    zatr = dataformat(opiekun['zatr'])
    
    
    zwol = opiekun["zwoln"]
    zwo = dataformat(zwol)
    
    if np.random.random() > 0.9:
        zwo = '9999-99-99'
    
    wolontariusz =  {'id':p_id, 'imie': opiekun['name'], 'nazwisko': opiekun['last_name'], 
               'adres': opiekun['adres'], 'telefon': opiekun['telefon'], 'zatrudnienie':zatr, 
                     "rezygnacja": zwo}
    wolontariusze.append(wolontariusz)

In [17]:
pd.DataFrame(data=wolontariusze)

,adres,id,imie,nazwisko,rezygnacja,telefon,zatrudnienie
0,ul. Lwowska 74 Wroclaw,40000,DARIUSZ,STALMACH,2019-05-07,968-119-968,2018-10-26
1,ul. Miodowa 42 Wroclaw,40001,BARTOSZ,BARAN,2019-06-04,362-951-153,2018-06-21
2,ul. Energetyczna 6 Wroclaw,40002,DARIUSZ,GLOWACZ,2019-03-24,931-986-605,2016-11-17
3,ul. Osiedle 16 Wroclaw,40003,RAFAL,MENDYK,2017-10-01,458-369-485,2016-09-21
4,ul. Wandy Rutkiewicz 94 Wroclaw,40004,FRANCISZEK,KRUCZKOWSKI,2019-04-15,209-165-902,2017-09-05
5,ul. Sejmowa 66 Wroclaw,40005,JERZY,KLEPACZ,2018-12-06,420-335-136,2018-09-09
6,ul. Stefana Zeromskiego 29 Wroclaw,40006,ADAM,MODRZYNSKI,2017-05-11,994-546-370,2016-06-23
7,ul. Orla 87 Wroclaw,40007,ANNA,GRZESKOWIAK,2018-02-19,213-922-378,2017-04-29
8,ul. Ptasia 50 Wroclaw,40008,WIKTORIA,SLOMINSKA,2019-04-09,507-164-421,2019-01-03
9,ul. Kasztanowa 86 Wroclaw,40009,BARTOSZ,ZDUNCZYK,2017-04-18,352-784-387,2016-06-25
10,ul. Lwa Tolstoja 97 Wroclaw,40010,JULIA,ZAKRZEWSKA,2018-07-22,448-524-259,2017-02-23
11,ul. Jana Kochanowskiego 91 Wroclaw,40011,OLIWIA,KIJOWSKA,2018-01-13,867-429-102,2016-07-16
12,ul. Mikolaja Kopernika 21 Wroclaw,40012,ANNA,ROZEK,2017-06-09,818-485-936,2017-04-19
13,ul. Cicha 36 Wroclaw,40013,MAGDALENA,MATKOWSKA,2018-12-26,340-753-467,2018-10-27
14,ul. Owocowa 43 Wroclaw,40014,BEATA,PASTUSZKA,2018-01-01,417-589-760,2016-09-01
15,ul. Stolarskaul. mjr. Henryka Sucharskiego 41 ...,40015,JOZEF,SMOCZYNSKI,2019-02-19,729-399-244,2018-06-11
16,ul. Lukanowska 78 Wroclaw,40016,DAMIAN,SWIATEK,9999-99-99,714-187-837,2018-05-31
17,ul. Janusza Kusocinskiego 73 Wroclaw,40017,HELENA,WAWRZYNIAK,2016-06-09,558-770-413,2016-05-20
18,ul. Przemyslowa 68 Wroclaw,40018,IWONA,LUKASZUK,2019-03-09,674-459-590,2018-07-07
19,ul. Kazimierza Deyny 82 Wroclaw,40019,TOMASZ,CIERNIAK,2018-12-19,161-861-379,2018-10-18
20,ul. Kazimierza Deyny 11 Wroclaw,40020,DAMIAN,ROGULSKI,2018-03-17,446-806-454,2018-01-22
21,ul. Marii Sklodowskiej-Curie 78 Wroclaw,40021,MACIEJ,BANKA,2018-05-04,452-718-475,2016-07-26
22,ul. Lukanowska 18 Wroclaw,40022,MAREK,JAKUBASZEK,2018-06-04,992-172-212,2018-03-27
23,ul. Polnocna 74 Wroclaw,40023,RENATA,WILK,2018-01-14,323-962-348,2017-08-09
24,ul. Balonowa 96 Wroclaw,40024,MARTA,KLUZ,2017-09-02,643-735-705,2016-09-10
25,ul. Spokojna 96 Wroclaw,40025,AMELIA,PIETKIEWICZ,9999-99-99,734-984-606,2016-08-16
26,ul. Wisniowa 87 Wroclaw,40026,WOJCIECH,ZGODA,2019-03-19,975-204-179,2018-07-21
27,ul. Spokojna 79 Wroclaw,40027,MACIEJ,POLANOWSKI,2018-04-04,743-303-550,2016-05-19
28,ul. Jarzynowa 84 Wroclaw,40028,JULIA,BIEDRON,2018-01-28,869-699-588,2016-11-13
29,ul. Malinowa 60 Wroclaw,40029,MATEUSZ,FRYC,2018-08-06,126-746-364,2017-11-03
...,...,...,...,...,...,...,...
37,ul. Ignacego Moscickiego 13 Wroclaw,40037,FILIP,KRASNIEWSKI,2017-12-02,653-661-440,2017-02-26
38,ul. Malinowa 56 Wroclaw,40038,AGNIESZKA,SZYSZKA,2018-09-12,753-921-775,2018-04-07
39,ul. Okrezna 31 Wroclaw,40039,WIKTORIA,SZUSTAK,2019-02-21,319-741-656,2017-02-20
40,ul. Jana Kilinskiego 48 Wroclaw,40040,MIROSLA,SZKLARSKI,2019-03-26,257-632-532,2018-12-13
41,ul. Jerzego Bocka 49 Wroclaw,40041,WIKTORIA,CZEKALSKA,2019-02-01,722-973-824,2017-09-05
42,ul. Klonowa 3 Wroclaw,40042,SZYMON,GRALAK,2018-05-15,867-254-475,2017-05-15
43,ul. Ceglana 62 Wroclaw,40043,ALICJA,DZIEDZIC,2017-06-11,474-897-923,2017-06-03
44,ul. sw. Jadwigi 61 Wroclaw,40044,MACIEJ,CIELUCH,2018-05-22,892-262-977,2018-05-14
45,ul. sw. Jadwigi 32 Wroclaw,40045,BARBARA,WOJNICKA,9999-99-99,621-406-529,2017-10-02
46,rondo Rondo Jana Pawla II 3 Wroclaw,40046,WIKTORIA,PIOTROWSKA,2019-04-15,632-113-807,2019-04-06
47,ul. Stanislawa Moniuszki 48 Wroclaw,40047,HALINA,BLACH,2019-06-06,467-146-262,2016-12-24
48,ul. Jana Matejki 99 Wroclaw,40048,AGATA,BITNER,9999-99-99,788-363-414,2017-08-24
49,ul. Stolarskaul. mjr. Henryka Sucharskiego 75 ...,40049,PRZEMYSLAW,SIWY,2018-11-15,326-462-420,2017-06-16
50,pl. Stanislawa Staszica 25 Wroclaw,40050,PIOTR,GLADYSZ,2017-11-08,628-112-751,2017-04-22
51,ul. Krzywa 33 Wroclaw,40051,GRAZYNA,SOWKA,9999-99-99,806-985-486,2018-11-24
52,ul. Poludniowa 65 Wroclaw,40052,EWELINA,RABENDA,2018-10-12,550-834-106,2018-03-03
53,rondo Solidarnosci 97 Wroclaw,40053,MARIANNA,KAZANOWSKA,2017-10-13,662-177-995,2017-09-04
54,ul. Lwowska 8 Wroclaw,40054,SZYMON,WOJNOWSKI,9999-99-99,541-363-449,2017-03-31
55,ul. Wisniowa 90 Wroclaw,40055,BEATA,ZUBEK,2019-05-06,538-585-943,2019-04-25
56,ul. Romualda Traugutta 20 Wroclaw,40056,JACEK,PACHOLSKI,2018-05-24,327-471-331,2016-06-02
57,ul. Cmentarna 31 Wroclaw,40057,AGATA,KARSKA,2018-12-22,404-606-181,2017-06-26
58,ul. Bratnia 39 Wroclaw,40058,WIESLAWA,FRACZEK,9999-99-99,239-775-745,2019-04-20
59,ul. Ksiecia Jozefa Poniatowskiego 77 Wroclaw,40059,MAGDALENA,BIGUS,2019-01-18,626-796-822,2018-11-15
60,ul. Wierzbowa 22 Wroclaw,40060,ANETA,SERAFIN,2017-09-16,635-961-272,2016-12-23
61,ul. Owsiana 61 Wroclaw,40061,GRZEGORZ,BANDURSKI,2019-06-05,247-713-465,2018-05-07
62,ul. Poziomkowa 79 Wroclaw,40062,JAN,GOZDZIK,2019-03-05,280-759-464,2019-02-18
63,ul. Pogodna 70 Wroclaw,40063,KAROLINA,KRASZEWSKA,2018-04-12,796-212-737,2016-07-25
64,ul. Miodowa 92 Wroclaw,40064,SEBASTIAN,FORMELLA,9999-99-99,210-346-973,2016-07-13
65,ul. Rozana 2 Wroclaw,40065,KAROLINA,GORZELANCZYK,2017-08-01,441-446-846,2016-05-15
66,ul. Zamkowa 17 Wroclaw,40066,PIOTR,TYSZKA,9999-99-99,700-854-511,2018-12-20

### Weterynarze

In [18]:
# 3 weterynarzy
#najpierw opiekunowie
#4 opiekunow pracuje aktualnie
weterynarze =[] 
w_id = []
miastaW = ["Wroclaw", "Wroclaw", "Olesnica","Wroclaw"]
for i in range(4):
    rand = np.random.random()
    if rand>0.5:
        opiekun = pracownik(names_male, lastnames_male, ulice, miastaW[i])
    else:
        opiekun = pracownik(names_female, lastnames_female, ulice, miastaW[i])

    zatr = dataformat(open_time)
    zwo = "9999-99-99"
    p_id = id_generator(i=i, first=3)
    w_id.append(p_id)
    opiekun_d = {'id':p_id, 'imie': opiekun['name'], 'nazwisko': opiekun['last_name'], 
               'adres': opiekun['adres'], 'telefon': opiekun['telefon'], 'zatrudnienie':zatr, "zwolenienie": zwo,
          'stanowisko': 'weterynarz'}
    weterynarze.append(opiekun_d)

In [19]:
pd.DataFrame(data=weterynarze)

,adres,id,imie,nazwisko,stanowisko,telefon,zatrudnienie,zwolenienie
0,ul. Jarzynowa 77 Wroclaw,30000,DOROTA,STEPINSKA,weterynarz,767-173-223,2016-04-04,9999-99-99
1,ul. Targowa 59 Wroclaw,30001,JAN,IWANCZUK,weterynarz,423-800-310,2016-04-04,9999-99-99
2,ul. Demokratow 95 Olesnica,30002,ALICJA,PROKOP,weterynarz,750-474-297,2016-04-04,9999-99-99
3,ul. Stolarskaul. mjr. Henryka Sucharskiego 7 W...,30003,LESZEK,PIELA,weterynarz,188-219-944,2016-04-04,9999-99-99

# Zwierzęta

### gatunki

In [20]:
#gatunki
gatunki = {'nazwa' : ['pies', 'kot', 'szczur'], 'id_gatunku': [1,2,3]}
gat = pd.DataFrame(data=gatunki)
gat

    nazwa  id_gatunku
0    pies           1
1     kot           2
2  szczur           3

## W schronisku

### pieski

In [21]:
#92 psy- tyle liczy aktualnie nasze schronisko, 41 kotow, i 17 szczurow
len_dog = 92
k = 1
l = 1
for i in range(len_dog):
    dog_info = {}
    dog_schr = {}
    dog_wiz = {}
    dog_trans = {}
    dog = Animal(species = 'pies')
    birth, _ = dog.birth()
    birth_d = dataformat(birth)
    acc = dog.acceptance()
    if np.random.random()>0.7:
        dog_info['wcześniej adoptowany'] = "tak"
        adop = dog.adoption()
        #ponowne przyjecie
        acc = dog.next_acceptance()
        if np.random.random()>0.9:
            adop = dog.adoption()
            #ponowne przyjecie
            acc = dog.next_acceptance()
    else:
        dog_info['wcześniej adoptowany'] = "nie"

    dog_info['data_urodzenia'] = birth_d
    dog_info['data_przyjecia'] = dataformat(acc)
    
    dog_info['plec'] = dog.plec()
    dog_info['masa'] = dog.masa()
    dog_info['imie'] = dog.name('./dane/npieski.csv')
    kastracja = dog.kastracja()
    dog_info['id_gat'] = 1
    dog_schr['id_gat'] = dog_info['id_gat']

    dog_info['id'] = id_generator(i=i, first=6, second =1)
        
    dog_schr['id'] = dog_info['id']
        
    if np.random.random()>0.9:
        dog_info['inne_zwierzeta'] = "agresywny"
    else:
        dog_info['inne_zwierzeta'] = "łagodny"
    umaszczenie= dog.umaszczenie()
    
    dog_info['umaszczenie']=umaszczenie[0]
    dog_info['gatunek'] = umaszczenie[1]
    
    if dog_info['masa']>=20:
        dog_info['ID opiekuna'] = [pr_id[0]]
        dog_info['blok'] = 'A_'+str(k)
        k += 1
    else:
        dog_info['ID opiekuna'] = [pr_id[1]]
        dog_info['blok'] = 'B_'+str(l)
        l += 1
    dog_schr['ID opiekuna'] = dog_info['ID opiekuna']
    dog_schr['blok'] = dog_info['blok']
    ## czy nadaje sie do adopcji?
    if np.random.random()>0.1:
        data_wiz, chor, zalec, cena = dog.Wizyty()
        if np.random.random()>0.7:
            data_wiz1, chor1, zalec1, cena1 = dog.Wizyty()
    zdrowie = dog.stan_zdrowia()
    if zdrowie  == "zdrowy":
        dog_schr['Stan'] = "nadaje się do adopcji"
    else:
        dog_schr['Stan'] = "nie nadaje się do adopcji - "+str(zdrowie)
    wizyty, daty, ceny = dog.choroby()
    for j in range(len(wizyty)):
        dog_wiz['ID_wizyty'] =  id_generator(i = i, first = 4, second = j)
        dog_wiz['id'] = dog_info['id']
        index =int(np.round(np.random.uniform(0,3.49),0))
        id_pr =  w_id[index]
        dog_wiz['ID pracownika'] = id_pr
        dog_wiz['data wizyty'] = dataformat(daty[j])
        dog_wiz['diagnoza'] = wizyty[j]
        dog_wiz['zalecenia'] = 'lek'
        dog_wiz['stan zdrowia'] = zdrowie
        dog_wiz['sterylizacja'] = kastracja[0]
        dog_trans['id_transakcji'] = id_generator(i = i, first = 5, second = j)
        dog_trans['tytul']='weterynarz, id_zwierzecia:'+ str(dog_info['id'])
        dog_trans['kwota'] = 0-ceny[j]
        dog_trans['data'] = dataformat(daty[j])
        dog_trans['imie'] = weterynarze[index]['imie']
        dog_trans['nazwisko'] = weterynarze[index]['nazwisko']
    transakcje.append(dog_trans)
    hist_zdr.append(dog_wiz)
    zwierz_schr.append(dog_schr)
    informacje.append(dog_info)

### kotki

In [22]:
#92 psy- tyle liczy aktualnie nasze schronisko. 
len_cat = 41
k = 0
for i in range(len_cat):
    dog_info = {}
    dog_schr = {}
    dog_wiz = {}
    dog_trans = {}
    dog = Animal(species = 'kot')
    birth, _ = dog.birth()
    birth_d = dataformat(birth)
    acc = dog.acceptance()
    if np.random.random()>0.7:
        dog_info['wcześniej adoptowany'] = "tak"
        adop = dog.adoption()
        #ponowne przyjecie
        acc = dog.next_acceptance()
        if np.random.random()>0.9:
            adop = dog.adoption()
            #ponowne przyjecie
            acc = dog.next_acceptance()
    else:
        dog_info['wcześniej adoptowany'] = "nie"

    dog_info['data_urodzenia'] = birth_d
    dog_info['data_przyjecia'] = dataformat(acc)
    
    dog_info['plec'] = dog.plec()
    dog_info['masa'] = dog.masa()
    dog_info['imie'] = dog.name('./dane/npieski.csv')
    kastracja = dog.kastracja()
    dog_info['id_gat'] = 2
    dog_schr['id_gat'] = dog_info['id_gat']
    dog_info['id'] = id_generator(i=i, first=6, second =2)
        
        
    dog_schr['id'] = dog_info['id']
        
    if np.random.random()>0.9:
        dog_info['inne_zwierzeta'] = "agresywny"
    else:
        dog_info['inne_zwierzeta'] = "łagodny"
    umaszczenie= dog.umaszczenie()
    
    dog_info['umaszczenie']=umaszczenie[0]
    dog_info['gatunek'] = umaszczenie[1]
    
    dog_info['ID opiekuna'] = [pr_id[3]]
    if i%3==0:
        dog_info['blok'] = 'C_'+str(i//3)
        k = i
    else:
        dog_info['blok'] = 'C_'+str(k//3)
    
    dog_schr['ID opiekuna'] = dog_info['ID opiekuna']
    dog_schr['blok'] = dog_info['blok']
    ## czy nadaje sie do adopcji?
    if np.random.random()>0.1:
        data_wiz, chor, zalec, cena = dog.Wizyty()
        if np.random.random()>0.7:
            data_wiz1, chor1, zalec1, cena1 = dog.Wizyty()
    zdrowie = dog.stan_zdrowia()
    if zdrowie  == "zdrowy":
        dog_schr['Stan'] = "nadaje się do adopcji"
    else:
        dog_schr['Stan'] = "nie nadaje się do adopcji - "+str(zdrowie)
    wizyty, daty, ceny = dog.choroby()
    for j in range(len(wizyty)):
        dog_wiz['ID_wizyty'] =  id_generator(i = i, first = 4, second = j)
        dog_wiz['id'] = dog_info['id']
        index =int(np.round(np.random.uniform(0,3.49),0))
        id_pr =  w_id[index]
        dog_wiz['ID pracownika'] = id_pr
        dog_wiz['data wizyty'] = dataformat(daty[j])
        dog_wiz['diagnoza'] = wizyty[j]
        dog_wiz['zalecenia'] = 'lek'
        dog_wiz['stan zdrowia'] = zdrowie
        dog_wiz['sterylizacja'] = kastracja[0]
        dog_trans['id_transakcji'] = id_generator(i = i, first = 5, second = j)
        dog_trans['tytul']='weterynarz, id_zwierzecia:'+ str(dog_info['id'])
        dog_trans['kwota'] = 0 - ceny[j]
        dog_trans['data'] = dataformat(daty[j])
        dog_trans['imie'] = weterynarze[index]['imie']
        dog_trans['nazwisko'] = weterynarze[index]['nazwisko']
    transakcje.append(dog_trans)
    hist_zdr.append(dog_wiz)
    zwierz_schr.append(dog_schr)
    informacje.append(dog_info)

### szczurki

In [23]:
#92 psy- tyle liczy aktualnie nasze schronisko. 
len_rat = 17
k=0
for i in range(len_rat):
    dog_info = {}
    dog_schr = {}
    dog_wiz = {}
    dog_trans = {}
    dog = Animal(species = 'szczur')
    birth, _ = dog.birth()
    birth_d = dataformat(birth)
    acc = dog.acceptance()
    if np.random.random()>0.7:
        dog_info['wcześniej adoptowany'] = "tak"
        adop = dog.adoption()
        #ponowne przyjecie
        acc = dog.next_acceptance()
        if np.random.random()>0.9:
            adop = dog.adoption()
            #ponowne przyjecie
            acc = dog.next_acceptance()
    else:
        dog_info['wcześniej adoptowany'] = "nie"

    dog_info['data_urodzenia'] = birth_d
    dog_info['data_przyjecia'] = dataformat(acc)
    
    dog_info['plec'] = dog.plec()
    dog_info['masa'] = dog.masa()
    dog_info['imie'] = dog.name('./dane/npieski.csv')
    kastracja = dog.kastracja()
    dog_info['id_gat'] = 2
    dog_schr['id_gat'] = dog_info['id_gat']
    
    dog_info['id'] = id_generator(i=i, first=6, second =3)
        
        
    dog_schr['id'] = dog_info['id']
        
    if np.random.random()>0.9:
        dog_info['inne_zwierzeta'] = "agresywny"
    else:
        dog_info['inne_zwierzeta'] = "łagodny"
    umaszczenie= dog.umaszczenie()
    
    dog_info['umaszczenie']=umaszczenie[0]
    dog_info['gatunek'] = umaszczenie[1]
    
    dog_info['ID opiekuna'] = [pr_id[3]]
    dog_info['blok'] = 'C_14'
    
    dog_schr['ID opiekuna'] = dog_info['ID opiekuna']
    dog_schr['blok'] = dog_info['blok']
    ## czy nadaje sie do adopcji?
    if np.random.random()>0.1:
        data_wiz, chor, zalec, cena = dog.Wizyty()
        if np.random.random()>0.7:
            data_wiz1, chor1, zalec1, cena1 = dog.Wizyty()
    zdrowie = dog.stan_zdrowia()
    if zdrowie  == "zdrowy":
        dog_schr['Stan'] = "nadaje się do adopcji"
    else:
        dog_schr['Stan'] = "nie nadaje się do adopcji - "+str(zdrowie)
    wizyty, daty, ceny = dog.choroby()
    for j in range(len(wizyty)):
        dog_wiz['ID_wizyty'] =  id_generator(i = i, first = 4, second = j)
        dog_wiz['id'] = dog_info['id']
        index =int(np.round(np.random.uniform(0,3.49),0))
        id_pr =  w_id[index]
        dog_wiz['ID pracownika'] = id_pr
        dog_wiz['data wizyty'] = dataformat(daty[j])
        dog_wiz['diagnoza'] = wizyty[j]
        dog_wiz['zalecenia'] = 'lek'
        dog_wiz['stan zdrowia'] = zdrowie
        dog_wiz['sterylizacja'] = kastracja[0]
        dog_trans['id_transakcji'] = id_generator(i = i, first = 5, second = j)
        dog_trans['tytul']='weterynarz, id_zwierzecia:'+ str(dog_info['id'])
        dog_trans['kwota'] = 0- ceny[j]
        dog_trans['data'] = dataformat(daty[j])
        dog_trans['imie'] = weterynarze[index]['imie']
        dog_trans['nazwisko'] = weterynarze[index]['nazwisko']
    transakcje.append(dog_trans)
    hist_zdr.append(dog_wiz)
    zwierz_schr.append(dog_schr)
    informacje.append(dog_info)

In [24]:
pd.DataFrame(transakcje)

,data,id_transakcji,imie,kwota,nazwisko,tytul
0,2016-04-10,59000,MICHAL,-532.83,WALKOWSKI,wyplata
1,2016-05-11,59001,MICHAL,-2500.00,WALKOWSKI,wyplata
2,2016-06-11,59002,MICHAL,-2500.00,WALKOWSKI,wyplata
3,2016-07-11,59003,MICHAL,-2500.00,WALKOWSKI,wyplata
4,2016-08-11,59004,MICHAL,-2500.00,WALKOWSKI,wyplata
5,2016-09-10,59005,MICHAL,-2500.00,WALKOWSKI,wyplata
6,2016-10-11,59006,MICHAL,-2500.00,WALKOWSKI,wyplata
7,2016-11-10,59007,MICHAL,-2500.00,WALKOWSKI,wyplata
8,2016-12-11,59008,MICHAL,-2500.00,WALKOWSKI,wyplata
9,2017-01-10,59009,MICHAL,-2500.00,WALKOWSKI,wyplata
10,2017-02-10,59010,MICHAL,-2500.00,WALKOWSKI,wyplata
11,2017-03-12,59011,MICHAL,-2500.00,WALKOWSKI,wyplata
12,2017-04-12,59012,MICHAL,-2500.00,WALKOWSKI,wyplata
13,2017-05-12,59013,MICHAL,-2500.00,WALKOWSKI,wyplata
14,2017-06-12,59014,MICHAL,-2500.00,WALKOWSKI,wyplata
15,2017-07-12,59015,MICHAL,-2500.00,WALKOWSKI,wyplata
16,2017-08-12,59016,MICHAL,-2500.00,WALKOWSKI,wyplata
17,2017-09-11,59017,MICHAL,-2500.00,WALKOWSKI,wyplata
18,2017-10-12,59018,MICHAL,-2500.00,WALKOWSKI,wyplata
19,2017-11-11,59019,MICHAL,-2500.00,WALKOWSKI,wyplata
20,2017-12-12,59020,MICHAL,-2500.00,WALKOWSKI,wyplata
21,2018-01-11,59021,MICHAL,-2500.00,WALKOWSKI,wyplata
22,2018-02-11,59022,MICHAL,-2500.00,WALKOWSKI,wyplata
23,2018-03-13,59023,MICHAL,-2500.00,WALKOWSKI,wyplata
24,2018-04-13,59024,MICHAL,-2500.00,WALKOWSKI,wyplata
25,2018-05-13,59025,MICHAL,-2500.00,WALKOWSKI,wyplata
26,2018-06-13,59026,MICHAL,-2500.00,WALKOWSKI,wyplata
27,2018-07-13,59027,MICHAL,-2500.00,WALKOWSKI,wyplata
28,2018-08-13,59028,MICHAL,-2500.00,WALKOWSKI,wyplata
29,2018-09-12,59029,MICHAL,-2500.00,WALKOWSKI,wyplata
...,...,...,...,...,...,...
442,2019-06-08,51028,DOROTA,-50.00,STEPINSKA,"weterynarz, id_zwierzecia:62028"
443,2019-06-11,52029,LESZEK,-70.00,PIELA,"weterynarz, id_zwierzecia:62029"
444,2017-08-25,51030,LESZEK,-128.00,PIELA,"weterynarz, id_zwierzecia:62030"
445,2018-11-17,51031,ALICJA,-92.00,PROKOP,"weterynarz, id_zwierzecia:62031"
446,2019-05-16,52032,JAN,-99.00,IWANCZUK,"weterynarz, id_zwierzecia:62032"
447,2019-06-19,53033,ALICJA,-73.00,PROKOP,"weterynarz, id_zwierzecia:62033"
448,2019-06-12,52034,LESZEK,-91.00,PIELA,"weterynarz, id_zwierzecia:62034"
449,2019-05-22,52035,ALICJA,-50.00,PROKOP,"weterynarz, id_zwierzecia:62035"
450,2019-06-20,54036,JAN,-109.00,IWANCZUK,"weterynarz, id_zwierzecia:62036"
451,2019-06-11,52037,ALICJA,-141.00,PROKOP,"weterynarz, id_zwierzecia:62037"
452,2016-12-27,51038,DOROTA,-100.00,STEPINSKA,"weterynarz, id_zwierzecia:62038"
453,2019-04-27,51039,ALICJA,-134.00,PROKOP,"weterynarz, id_zwierzecia:62039"
454,2019-06-27,52040,ALICJA,-110.00,PROKOP,"weterynarz, id_zwierzecia:62040"
455,2019-06-12,51000,ALICJA,-93.00,PROKOP,"weterynarz, id_zwierzecia:63000"
456,2019-06-16,52001,ALICJA,-80.00,PROKOP,"weterynarz, id_zwierzecia:63001"
457,2019-06-16,51002,JAN,-200.00,IWANCZUK,"weterynarz, id_zwierzecia:63002"
458,2019-06-12,53003,JAN,-79.00,IWANCZUK,"weterynarz, id_zwierzecia:63003"
459,2019-06-19,52004,ALICJA,-95.00,PROKOP,"weterynarz, id_zwierzecia:63004"
460,2019-01-13,51005,ALICJA,-99.00,PROKOP,"weterynarz, id_zwierzecia:63005"
461,2018-12-24,53006,JAN,-134.00,IWANCZUK,"weterynarz, id_zwierzecia:63006"
462,2019-05-18,53007,DOROTA,-114.00,STEPINSKA,"weterynarz, id_zwierzecia:63007"
463,2019-06-17,52008,LESZEK,-50.00,PIELA,"weterynarz, id_zwierzecia:63008"
464,2019-05-24,51009,ALICJA,-100.00,PROKOP,"weterynarz, id_zwierzecia:63009"
465,2019-04-07,52010,LESZEK,-124.00,PIELA,"weterynarz, id_zwierzecia:63010"
466,2019-04-10,51011,LESZEK,-143.00,PIELA,"weterynarz, id_zwierzecia:63011"
467,2019-05-15,51012,ALICJA,-61.00,PROKOP,"weterynarz, id_zwierzecia:63012"
468,2019-06-17,50013,ALICJA,-50.00,PROKOP,"weterynarz, id_zwierzecia:63013"
469,2018-11-06,50014,ALICJA,-50.00,PROKOP,"weterynarz, id_zwierzecia:63014"
470,2018-11-17,52015,JAN,-142.00,IWANCZUK,"weterynarz, id_zwierzecia:63015"
471,2019-06-19,53016,ALICJA,-52.00,PROKOP,"weterynarz, id_zwierzecia:63016"

In [25]:
pd.DataFrame(hist_zdr)

,ID pracownika,ID_wizyty,data wizyty,diagnoza,id,stan zdrowia,sterylizacja,zalecenia
0,30002,43000,2018-11-27,skaleczenie,61000,zdrowy,tak,lek
1,30001,42001,2019-03-19,inne,61001,zdrowy,tak,lek
2,30003,42002,2018-03-31,świeżb,61002,zdrowy,tak,lek
3,30000,43003,2019-05-04,przeziębienie,61003,zdrowy,tak,lek
4,30001,42004,2018-11-20,skaleczenie,61004,chory,tak,lek
5,30003,41005,2019-04-04,inne,61005,zdrowy,nie,lek
6,30001,43006,2019-03-06,przeziębienie,61006,chory,tak,lek
7,30001,42007,2019-06-18,inne,61007,w czasie leczenia,tak,lek
8,30003,41008,2019-03-15,inne,61008,zdrowy,tak,lek
9,30000,42009,2018-03-10,świeżb,61009,zdrowy,tak,lek
10,30003,41010,2018-02-16,inne,61010,zdrowy,tak,lek
11,30002,43011,2019-03-15,inne,61011,zdrowy,tak,lek
12,30000,41012,2017-05-09,zapalenie uszu,61012,zdrowy,tak,lek
13,30001,42013,2019-04-25,świeżb,61013,zdrowy,tak,lek
14,30002,41014,2017-11-09,świeżb,61014,zdrowy,nie,lek
15,30000,41015,2016-05-08,sterylizacja,61015,zdrowy,tak,lek
16,30002,43016,2018-12-09,przeziębienie,61016,zdrowy,tak,lek
17,30000,41017,2019-05-03,sterylizacja,61017,zdrowy,tak,lek
18,30000,42018,2018-10-30,zapalenie spojówek,61018,zdrowy,tak,lek
19,30000,41019,2018-12-17,przeziębienie,61019,zdrowy,tak,lek
20,30002,43020,2019-03-24,inne,61020,zdrowy,tak,lek
21,30000,41021,2017-02-21,zapalenie uszu,61021,zdrowy,tak,lek
22,30001,43022,2019-06-25,zapalenie spojówek,61022,w czasie leczenia,tak,lek
23,30003,41023,2017-05-22,sterylizacja,61023,zdrowy,tak,lek
24,30003,41024,2019-01-28,inne,61024,zdrowy,tak,lek
25,30001,41025,2017-04-28,sterylizacja,61025,zdrowy,tak,lek
26,30003,40026,2017-12-11,pierwsza wizyta,61026,zdrowy,tak,lek
27,30003,42027,2019-02-06,skaleczenie,61027,zdrowy,tak,lek
28,30001,42028,2017-04-19,przeziębienie,61028,zdrowy,tak,lek
29,30003,43029,2019-06-01,inne,61029,zdrowy,tak,lek
...,...,...,...,...,...,...,...,...
120,30000,41028,2019-06-08,pierwsza wizyta,62028,zdrowy,tak,lek
121,30003,42029,2019-06-11,inne,62029,zdrowy,tak,lek
122,30003,41030,2017-08-25,zapalenie uszu,62030,zdrowy,nie,lek
123,30002,41031,2018-11-17,inne,62031,zdrowy,tak,lek
124,30001,42032,2019-05-16,zapalenie spojówek,62032,zdrowy,tak,lek
125,30002,43033,2019-06-19,przeziębienie,62033,w czasie leczenia,tak,lek
126,30003,42034,2019-06-12,inne,62034,zdrowy,tak,lek
127,30002,42035,2019-05-22,pierwsza wizyta,62035,zdrowy,nie,lek
128,30001,44036,2019-06-20,świeżb,62036,w czasie leczenia,tak,lek
129,30002,42037,2019-06-11,inne,62037,zdrowy,tak,lek
130,30000,41038,2016-12-27,inne,62038,zdrowy,tak,lek
131,30002,41039,2019-04-27,zapalenie spojówek,62039,zdrowy,nie,lek
132,30002,42040,2019-06-27,zapalenie uszu,62040,w czasie leczenia,tak,lek
133,30002,41000,2019-06-12,świeżb,63000,chory,tak,lek
134,30002,42001,2019-06-16,inne,63001,w czasie leczenia,tak,lek
135,30001,41002,2019-06-16,sterylizacja,63002,w czasie leczenia,tak,lek
136,30001,43003,2019-06-12,skaleczenie,63003,zdrowy,tak,lek
137,30002,42004,2019-06-19,zapalenie uszu,63004,w czasie leczenia,nie,lek
138,30002,41005,2019-01-13,skaleczenie,63005,zdrowy,tak,lek
139,30001,43006,2018-12-24,przeziębienie,63006,zdrowy,tak,lek
140,30000,43007,2019-05-18,inne,63007,zdrowy,tak,lek
141,30003,42008,2019-06-17,pierwsza wizyta,63008,w czasie leczenia,tak,lek
142,30002,41009,2019-05-24,zapalenie uszu,63009,zdrowy,tak,lek
143,30003,42010,2019-04-07,świeżb,63010,zdrowy,tak,lek
144,30003,41011,2019-04-10,inne,63011,zdrowy,tak,lek
145,30002,41012,2019-05-15,zapalenie uszu,63012,zdrowy,tak,lek
146,30002,40013,2019-06-17,pierwsza wizyta,63013,w czasie leczenia,tak,lek
147,30002,40014,2018-11-06,pierwsza wizyta,63014,zdrowy,tak,lek
148,30001,42015,2018-11-17,skaleczenie,63015,zdrowy,nie,lek
149,30002,43016,2019-06-19,świeżb,63016,w czasie leczenia,tak,lek

In [26]:
pd.DataFrame(zwierz_schr)

,ID opiekuna,Stan,blok,id,id_gat
0,[20001],nadaje się do adopcji,B_1,61000,1
1,[20000],nadaje się do adopcji,A_1,61001,1
2,[20001],nadaje się do adopcji,B_2,61002,1
3,[20001],nadaje się do adopcji,B_3,61003,1
4,[20000],nie nadaje się do adopcji - chory,A_2,61004,1
5,[20000],nadaje się do adopcji,A_3,61005,1
6,[20000],nie nadaje się do adopcji - chory,A_4,61006,1
7,[20001],nie nadaje się do adopcji - w czasie leczenia,B_4,61007,1
8,[20001],nadaje się do adopcji,B_5,61008,1
9,[20001],nadaje się do adopcji,B_6,61009,1
10,[20001],nadaje się do adopcji,B_7,61010,1
11,[20000],nadaje się do adopcji,A_5,61011,1
12,[20001],nadaje się do adopcji,B_8,61012,1
13,[20001],nadaje się do adopcji,B_9,61013,1
14,[20001],nadaje się do adopcji,B_10,61014,1
15,[20001],nadaje się do adopcji,B_11,61015,1
16,[20000],nadaje się do adopcji,A_6,61016,1
17,[20000],nadaje się do adopcji,A_7,61017,1
18,[20001],nadaje się do adopcji,B_12,61018,1
19,[20000],nadaje się do adopcji,A_8,61019,1
20,[20001],nadaje się do adopcji,B_13,61020,1
21,[20000],nadaje się do adopcji,A_9,61021,1
22,[20001],nie nadaje się do adopcji - w czasie leczenia,B_14,61022,1
23,[20000],nadaje się do adopcji,A_10,61023,1
24,[20001],nadaje się do adopcji,B_15,61024,1
25,[20000],nadaje się do adopcji,A_11,61025,1
26,[20001],nadaje się do adopcji,B_16,61026,1
27,[20001],nadaje się do adopcji,B_17,61027,1
28,[20001],nadaje się do adopcji,B_18,61028,1
29,[20000],nadaje się do adopcji,A_12,61029,1
...,...,...,...,...,...
120,[20003],nadaje się do adopcji,C_9,62028,2
121,[20003],nadaje się do adopcji,C_9,62029,2
122,[20003],nadaje się do adopcji,C_10,62030,2
123,[20003],nadaje się do adopcji,C_10,62031,2
124,[20003],nadaje się do adopcji,C_10,62032,2
125,[20003],nie nadaje się do adopcji - w czasie leczenia,C_11,62033,2
126,[20003],nadaje się do adopcji,C_11,62034,2
127,[20003],nadaje się do adopcji,C_11,62035,2
128,[20003],nie nadaje się do adopcji - w czasie leczenia,C_12,62036,2
129,[20003],nadaje się do adopcji,C_12,62037,2
130,[20003],nadaje się do adopcji,C_12,62038,2
131,[20003],nadaje się do adopcji,C_13,62039,2
132,[20003],nie nadaje się do adopcji - w czasie leczenia,C_13,62040,2
133,[20003],nie nadaje się do adopcji - chory,C_14,63000,2
134,[20003],nie nadaje się do adopcji - w czasie leczenia,C_14,63001,2
135,[20003],nie nadaje się do adopcji - w czasie leczenia,C_14,63002,2
136,[20003],nadaje się do adopcji,C_14,63003,2
137,[20003],nie nadaje się do adopcji - w czasie leczenia,C_14,63004,2
138,[20003],nadaje się do adopcji,C_14,63005,2
139,[20003],nadaje się do adopcji,C_14,63006,2
140,[20003],nadaje się do adopcji,C_14,63007,2
141,[20003],nie nadaje się do adopcji - w czasie leczenia,C_14,63008,2
142,[20003],nadaje się do adopcji,C_14,63009,2
143,[20003],nadaje się do adopcji,C_14,63010,2
144,[20003],nadaje się do adopcji,C_14,63011,2
145,[20003],nadaje się do adopcji,C_14,63012,2
146,[20003],nie nadaje się do adopcji - w czasie leczenia,C_14,63013,2
147,[20003],nadaje się do adopcji,C_14,63014,2
148,[20003],nadaje się do adopcji,C_14,63015,2
149,[20003],nie nadaje się do adopcji - w czasie leczenia,C_14,63016,2

In [27]:
pd.DataFrame(informacje)

,ID opiekuna,blok,data_przyjecia,data_urodzenia,gatunek,id,id_gat,imie,inne_zwierzeta,masa,plec,umaszczenie,wcześniej adoptowany
0,[20001],B_1,2018-09-30,2005-12-14,pies,61000,1,Nicpon,łagodny,19.366,samiec,szary,tak
1,[20000],A_1,2016-07-10,2012-01-09,pies,61001,1,Walter,łagodny,22.434,samiec,rudy,nie
2,[20001],B_2,2017-02-22,2013-03-23,pies,61002,1,Demi,łagodny,15.170,samica,bialo-szary,nie
3,[20001],B_3,2019-03-05,2006-07-31,pies,61003,1,Nira,łagodny,17.479,samica,szary,tak
4,[20000],A_2,2018-01-07,2007-02-05,pies,61004,1,Ora,agresywny,24.996,samica,inne,nie
5,[20000],A_3,2016-08-30,2007-12-12,pies,61005,1,Kari,agresywny,22.662,samica,bialo-rudy,nie
6,[20000],A_4,2018-10-14,2007-12-02,pies,61006,1,Nora,łagodny,25.632,samica,inne,nie
7,[20001],B_4,2018-05-07,2013-04-30,pies,61007,1,Uchacz,łagodny,16.319,samiec,inne,nie
8,[20001],B_5,2019-01-18,2013-05-10,pies,61008,1,Fik,łagodny,14.959,samiec,czarny,nie
9,[20001],B_6,2016-11-14,2014-01-25,pies,61009,1,Naomi,łagodny,17.178,samica,bialo-brązowy,nie
10,[20001],B_7,2017-10-11,2012-09-26,pies,61010,1,Levi,łagodny,18.555,samiec,czarny,nie
11,[20000],A_5,2016-10-10,2008-08-20,pies,61011,1,Lolo,łagodny,21.142,samiec,bialo-szary,nie
12,[20001],B_8,2016-08-12,2013-05-01,pies,61012,1,Dustin,łagodny,13.287,samiec,rudy,nie
13,[20001],B_9,2019-02-13,2006-02-16,pies,61013,1,Mimiak,łagodny,12.395,samiec,inne,tak
14,[20001],B_10,2016-06-04,2005-12-17,pies,61014,1,Babet,łagodny,15.008,samica,bialo-szary,nie
15,[20001],B_11,2016-04-13,2014-07-07,pies,61015,1,Alpinos,łagodny,8.042,samiec,brazowy,nie
16,[20000],A_6,2017-10-25,2010-03-23,pies,61016,1,Ocia,łagodny,23.273,samica,szary,nie
17,[20000],A_7,2019-04-18,2009-05-20,pies,61017,1,Zorra,łagodny,32.082,samica,bialo-czarny,nie
18,[20001],B_12,2018-08-22,2012-06-14,pies,61018,1,Brandon,łagodny,12.718,samiec,brazowy,nie
19,[20000],A_8,2016-12-27,2008-10-28,pies,61019,1,Costa,łagodny,34.718,samica,bialo-czarny,nie
20,[20001],B_13,2018-07-31,2007-07-26,pies,61020,1,Nesquik,łagodny,19.870,samiec,bialy,tak
21,[20000],A_9,2016-06-19,2009-05-12,pies,61021,1,Orzech,łagodny,20.108,samiec,szary,nie
22,[20001],B_14,2019-06-09,2010-07-07,pies,61022,1,Jok,łagodny,12.269,samiec,biszkoptowy,tak
23,[20000],A_10,2017-05-01,2008-05-17,pies,61023,1,Wicha,agresywny,30.830,samica,szary,nie
24,[20001],B_15,2018-12-04,2011-02-07,pies,61024,1,Wigor,łagodny,8.618,samiec,bialo-rudy,nie
25,[20000],A_11,2017-04-03,2011-05-07,pies,61025,1,Bonus,łagodny,23.960,samiec,czarny,nie
26,[20001],B_16,2017-12-10,2010-01-09,pies,61026,1,Lorka,łagodny,5.161,samica,bialo-szary,nie
27,[20001],B_17,2019-01-08,2010-04-10,pies,61027,1,Uchacz,łagodny,17.366,samiec,bialo-szary,tak
28,[20001],B_18,2016-11-02,2009-02-21,pies,61028,1,Ama,łagodny,12.311,samica,bialo-brązowy,nie
29,[20000],A_12,2019-04-03,2006-03-07,pies,61029,1,Diego,agresywny,21.209,samiec,brazowy,tak
...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,[20003],C_9,2019-06-07,2008-05-01,kot,62028,2,Lasi,łagodny,1.998,samica,biszkoptowy,tak
121,[20003],C_9,2018-08-16,2011-04-06,kot,62029,2,Tiko,łagodny,4.135,samiec,bialo-rudy,nie
122,[20003],C_10,2016-12-27,2008-10-09,kot,62030,2,Zoe,agresywny,2.032,samica,bialo-brązowy,nie
123,[20003],C_10,2018-05-05,2006-11-23,kot,62031,2,Wedel,agresywny,4.616,samiec,bialo-brązowy,nie
124,[20003],C_10,2018-11-10,2006-09-01,kot,62032,2,Lisek,łagodny,4.384,samiec,biszkoptowy,nie
125,[20003],C_11,2019-06-03,2007-11-06,kot,62033,2,Lena,łagodny,3.661,samica,czarny,tak
126,[20003],C_11,2019-06-04,2004-09-05,kot,62034,2,Kent,łagodny,3.264,samiec,biszkoptowy,tak
127,[20003],C_11,2019-05-21,2007-04-30,kot,62035,2,Sahara,łagodny,4.142,samica,szary,tak
128,[20003],C_12,2019-05-22,2007-03-19,kot,62036,2,Floks,łagodny,4.382,samiec,inne,tak
129,[20003],C_12,2018-01-07,2016-09-23,kot,62037,2,Jupiter,łagodny,2.372,samiec,bialo-czarny,tak
130,[20003],C_12,2016-06-03,2009-04-17,kot,62038,2,Liroj,łagodny,1.580,samiec,bialo-czarny,nie
131,[20003],C_13,2018-05-30,2005-05-19,kot,62039,2,Toffi,łagodny,1.451,samiec,bialo-brązowy,nie
132,[20003],C_13,2019-05-27,2007-08-04,kot,62040,2,Czejen,łagodny,4.013,samiec,bialo-rudy,nie
133,[20003],C_14,2019-05-22,2017-11-12,szczur,63000,2,Malta,łagodny,0.473,samica,bialo-rudy,nie
134,[20003],C_14,2019-06-13,2017-04-28,szczur,63001,2,Dustin,łagodny,0.436,samiec,bialo-czarny,tak
135,[20003],C_14,2019-05-31,2018-01-17,szczur,63002,2,Lupo,łagodny,0.513,samiec,rudy,nie
136,[20003],C_14,2019-04-18,2017-11-23,szczur,63003,2,Brodka,łagodny,0.285,samica,brazowy,tak
137,[20003],C_14,2019-06-13,2017-12-22,szczur,63004,2,Lazik,łagodny,0.419,samiec,brazowy,tak
138,[20003],C_14,2018-11-21,2018-01-13,szczur,63005,2,Trixi,łagodny,0.602,samica,brazowy,nie
139,[20003],C_14,2017-10-27,2017-03-30,szczur,63006,2,Jupiter,łagodny,0.477,samiec,biszkoptowy,nie
140,[20003],C_14,2019-04-11,2018-02-16,szczur,63007,2,Wally,łagodny,0.654,samiec,brazowy,tak
141,[20003],C_14,2019-06-16,2018-06-25,szczur,63008,2,Lesiu,łagodny,0.331,samiec,czarny,tak
142,[20003],C_14,2019-05-18,2018-12-07,szczur,63009,2,Urke,łagodny,0.296,samiec,brazowy,nie
143,[20003],C_14,2019-02-18,2017-08-24,szczur,63010,2,Lilka,łagodny,0.569,samica,bialo-czarny,nie
144,[20003],C_14,2019-03-16,2017-07-08,szczur,63011,2,Cyryl,łagodny,0.259,samiec,czarny,nie
145,[20003],C_14,2019-04-14,2017-03-01,szczur,63012,2,Jota,łagodny,0.491,samica,czarny,nie
146,[20003],C_14,2019-06-16,2017-09-22,szczur,63013,2,Aira,łagodny,0.351,samica,bialo-rudy,nie
147,[20003],C_14,2018-11-05,2017-10-25,szczur,63014,2,Apri,łagodny,0.420,samica,szary,nie
148,[20003],C_14,2018-09-05,2018-01-26,szczur,63015,2,Larka,łagodny,0.370,samica,bialo-szary,nie
149,[20003],C_14,2019-06-07,2018-02-07,szczur,63016,2,Fanka,łagodny,0.246,samica,rudy,tak

## Zaadoptowane

### pieski

In [28]:
#92 psy- tyle liczy aktualnie nasze schronisko, 41 kotow, i 17 szczurow
len_dog = 92
len_ad = 139
k = 1
l = 1
for i in range(len_dog, len_dog+len_ad):
    dog_info = {}
    dog_byl = {}
    dog_wiz = {}
    dog_trans = {}
    dog_ad = {}
    dog = Animal(species = 'pies')
    birth, _ = dog.birth()
    birth_d = dataformat(birth)
    acc = dog.acceptance()
    if np.random.random()>0.7:
        dog_info['wcześniej adoptowany'] = "tak"
        adop = dog.adoption()
        #ponowne przyjecie
        acc = dog.next_acceptance()
        if np.random.random()>0.9:
            adop = dog.adoption()
            #ponowne przyjecie
            acc = dog.next_acceptance()
    else:
        dog_info['wcześniej adoptowany'] = "nie"
        
    adoption = dog.adoption()
    ad_date = dataformat(adoption)
    #adoptujacy
    rand_i = int(np.random.uniform(0,2.49))
    if np.random.random()>0.5:
        adoptujacy = dog.adoptujacy(names_male, lastnames_male, ulice, miasta[rand_i])
    else:
        adoptujacy = dog.adoptujacy(names_female, lastnames_female, ulice, miasta[rand_i])

    dog_ad['id adoptujacego'] = id_generator(i=i, first=7, second =1)
    dog_ad['imie'] = adoptujacy['name']
    dog_ad['nazwisko'] = adoptujacy['last_name']
    dog_ad['telefon'] = adoptujacy['telefon']
    dog_ad['adres'] = adoptujacy['adres']
    dog_ad['ilosc adopcji'] = 1
    dog_info['data_urodzenia'] = birth_d
    dog_info['data_przyjecia'] = dataformat(acc)
    
    dog_info['plec'] = dog.plec()
    dog_info['masa'] = dog.masa()
    dog_info['imie'] = dog.name('./dane/npieski.csv')
    kastracja = dog.kastracja()
    dog_info['id_gat'] = 1
    dog_schr['id_gat'] = dog_info['id_gat']
    dog_info['id'] = id_generator(i=i, first=6, second =1)
        
    dog_byl['id'] = dog_info['id']
    dog_byl['id wydania'] = id_generator(i=i, first=8, second =1)
    dog_byl['przyczyna'] = 'adopcja'
    dog_byl['data'] = ad_date
    dog_byl['id adoptujacego'] = dog_ad['id adoptujacego']
        
    if np.random.random()>0.9:
        dog_info['inne_zwierzeta'] = "agresywny"
    else:
        dog_info['inne_zwierzeta'] = "łagodny"
    umaszczenie= dog.umaszczenie()
    
    dog_info['umaszczenie']=umaszczenie[0]
    dog_info['gatunek'] = umaszczenie[1]
    
    if dog_info['masa']>=20:
        dog_info['ID opiekuna'] = [pr_id[0]]
        dog_info['blok'] = 'A_'+str(k)
        k += 1
    else:
        dog_info['ID opiekuna'] = [pr_id[1]]
        dog_info['blok'] = 'B_'+str(l)
        l += 1

    ## czy nadaje sie do adopcji?
    if np.random.random()>0.1:
        data_wiz, chor, zalec, cena = dog.Wizyty()
        if np.random.random()>0.7:
            data_wiz1, chor1, zalec1, cena1 = dog.Wizyty(ad_time = adoption)
    zdrowie = dog.stan_zdrowia()
    if zdrowie  == "zdrowy":
        dog_schr['Stan'] = "nadaje się do adopcji"
    else:
        dog_schr['Stan'] = "nie nadaje się do adopcji - "+str(zdrowie)
    wizyty, daty, ceny = dog.choroby()
    for j in range(len(wizyty)):
        dog_wiz['ID_wizyty'] =  id_generator(i = i, first = 4, second = j)
        dog_wiz['id'] = dog_info['id']
        index =int(np.round(np.random.uniform(0,3.49),0))
        id_pr =  w_id[index]
        dog_wiz['ID pracownika'] = id_pr
        dog_wiz['data wizyty'] = dataformat(daty[j])
        dog_wiz['diagnoza'] = wizyty[j]
        dog_wiz['zalecenia'] = 'lek'
        dog_wiz['stan zdrowia'] = zdrowie
        dog_wiz['sterylizacja'] = kastracja[0]
        dog_trans['id_transakcji'] = id_generator(i = i, first = 5, second = j)
        dog_trans['tytul']='weterynarz, id_zwierzecia:'+ str(dog_info['id'])
        dog_trans['kwota'] = 0 - ceny[j]
        dog_trans['data'] = dataformat(daty[j])
        dog_trans['imie'] = weterynarze[index]['imie']
        dog_trans['nazwisko'] = weterynarze[index]['nazwisko']
    transakcje.append(dog_trans)
    hist_zdr.append(dog_wiz)
    zwierz_schr.append(dog_schr)
    informacje.append(dog_info)
    adoptujace.append(dog_ad)
    zwierz_byle.append(dog_byl)

In [29]:
#92 psy- tyle liczy aktualnie nasze schronisko, 41 kotow, i 17 szczurow
len_dog = 41
len_ad = 96
for i in range(len_dog, len_dog+len_ad):
    dog_info = {}
    dog_byl = {}
    dog_wiz = {}
    dog_trans = {}
    dog_ad = {}
    dog = Animal(species = 'kot')
    birth, _ = dog.birth()
    birth_d = dataformat(birth)
    acc = dog.acceptance()
    if np.random.random()>0.7:
        dog_info['wcześniej adoptowany'] = "tak"
        adop = dog.adoption()
        #ponowne przyjecie
        acc = dog.next_acceptance()
        if np.random.random()>0.9:
            adop = dog.adoption()
            #ponowne przyjecie
            acc = dog.next_acceptance()
    else:
        dog_info['wcześniej adoptowany'] = "nie"
        
    adoption = dog.adoption()
    ad_date = dataformat(adoption)
    #adoptujacy
    rand_i = int(np.random.uniform(0,2.49))
    if np.random.random()>0.5:
        adoptujacy = dog.adoptujacy(names_male, lastnames_male, ulice, miasta[rand_i])
    else:
        adoptujacy = dog.adoptujacy(names_female, lastnames_female, ulice, miasta[rand_i])

    dog_ad['id adoptujacego'] = id_generator(i=i, first=7, second =1)
    dog_ad['imie'] = adoptujacy['name']
    dog_ad['nazwisko'] = adoptujacy['last_name']
    dog_ad['telefon'] = adoptujacy['telefon']
    dog_ad['adres'] = adoptujacy['adres']
    dog_ad['ilosc adopcji'] = 1
    dog_info['data_urodzenia'] = birth_d
    dog_info['data_przyjecia'] = dataformat(acc)
    
    dog_info['plec'] = dog.plec()
    dog_info['masa'] = dog.masa()
    dog_info['imie'] = dog.name('./dane/npieski.csv')
    kastracja = dog.kastracja()
    dog_info['id_gat'] = 2
    dog_schr['id_gat'] = dog_info['id_gat']
    dog_info['id'] = id_generator(i=i, first=6, second =2)
        
    dog_byl['id'] = dog_info['id']
    dog_byl['id wydania'] = id_generator(i=i, first=8, second =2)
    dog_byl['przyczyna'] = 'adopcja'
    dog_byl['data'] = ad_date
    dog_byl['id adoptujacego'] = dog_ad['id adoptujacego']
        
    if np.random.random()>0.9:
        dog_info['inne_zwierzeta'] = "agresywny"
    else:
        dog_info['inne_zwierzeta'] = "łagodny"
    umaszczenie= dog.umaszczenie()
    
    dog_info['umaszczenie']=umaszczenie[0]
    dog_info['gatunek'] = umaszczenie[1]
    
    dog_info['ID opiekuna'] = [pr_id[3]]
    if i%3==0:
        dog_info['blok'] = 'C_'+str(i//3)
        k = i
    else:
        dog_info['blok'] = 'C_'+str(k//3)
        
    ## czy nadaje sie do adopcji?
    if np.random.random()>0.1:
        data_wiz, chor, zalec, cena = dog.Wizyty()
        if np.random.random()>0.7:
            data_wiz1, chor1, zalec1, cena1 = dog.Wizyty(ad_time = adoption)
    zdrowie = dog.stan_zdrowia()
    if zdrowie  == "zdrowy":
        dog_schr['Stan'] = "nadaje się do adopcji"
    else:
        dog_schr['Stan'] = "nie nadaje się do adopcji - "+str(zdrowie)
    wizyty, daty, ceny = dog.choroby()
    for j in range(len(wizyty)):
        dog_wiz['ID_wizyty'] =  id_generator(i = i, first = 4, second = j)
        dog_wiz['id'] = dog_info['id']
        index =int(np.round(np.random.uniform(0,3.49),0))
        id_pr =  w_id[index]
        dog_wiz['ID pracownika'] = id_pr
        dog_wiz['data wizyty'] = dataformat(daty[j])
        dog_wiz['diagnoza'] = wizyty[j]
        dog_wiz['zalecenia'] = 'lek'
        dog_wiz['stan zdrowia'] = zdrowie
        dog_wiz['sterylizacja'] = kastracja[0]
        dog_trans['id_transakcji'] = id_generator(i = i, first = 5, second = j)
        dog_trans['tytul']='weterynarz, id_zwierzecia:'+ str(dog_info['id'])
        dog_trans['kwota'] = 0-ceny[j]
        dog_trans['data'] = dataformat(daty[j])
        dog_trans['imie'] = weterynarze[index]['imie']
        dog_trans['nazwisko'] = weterynarze[index]['nazwisko']
    transakcje.append(dog_trans)
    hist_zdr.append(dog_wiz)
    zwierz_schr.append(dog_schr)
    informacje.append(dog_info)
    adoptujace.append(dog_ad)
    zwierz_byle.append(dog_byl)

## Zmarle zwierzeta

In [30]:
#17 psow i 6 kotow zmarlo w schornisku
#92 psy- tyle liczy aktualnie nasze schronisko, 41 kotow, i 17 szczurow
len_dog = 92
len_ad = 139
len_d = 17
k = 1
l = 1
for i in range(len_dog+len_ad, len_dog+len_ad+len_d):
    dog_info = {}
    dog_byl = {}
    dog_wiz = {}
    dog_trans = {}
    dog_ad = {}
    dog = Animal(species = 'pies')
    death_time = np.random.uniform(0.01, 3)
    birth, death = dog.birth(death_year = death_time)
    birth_d = dataformat(birth)
    acc = dog.acceptance()
    if np.random.random()>0.7:
        dog_info['wcześniej adoptowany'] = "tak"
        adop = dog.adoption()
        #ponowne przyjecie
        acc = dog.next_acceptance()
        if np.random.random()>0.9:
            adop = dog.adoption()
            #ponowne przyjecie
            acc = dog.next_acceptance()
    else:
        dog_info['wcześniej adoptowany'] = "nie"
        
    dog_info['data_urodzenia'] = birth_d
    dog_info['data_przyjecia'] = dataformat(acc)
    
    dog_info['plec'] = dog.plec()
    dog_info['masa'] = dog.masa()
    dog_info['imie'] = dog.name('./dane/npieski.csv')
    kastracja = dog.kastracja()
    dog_info['id_gat'] = 1
    dog_schr['id_gat'] = dog_info['id_gat']
    dog_info['id'] = id_generator(i=i, first=6, second =1)
        
    dog_byl['id'] = dog_info['id']
    dog_byl['id wydania'] = 111111 #jesli same 1 to oznacza smierc
    dog_byl['przyczyna'] = 'zgon'
    dog_byl['data'] = dataformat(death)
    dog_byl['id adoptujacego'] = 'brak'
        
    if np.random.random()>0.9:
        dog_info['inne_zwierzeta'] = "agresywny"
    else:
        dog_info['inne_zwierzeta'] = "łagodny"
    umaszczenie= dog.umaszczenie()
    
    dog_info['umaszczenie']=umaszczenie[0]
    dog_info['gatunek'] = umaszczenie[1]
    
    if dog_info['masa']>=20:
        dog_info['ID opiekuna'] = [pr_id[0]]
        dog_info['blok'] = 'A_'+str(k)
        k += 1
    else:
        dog_info['ID opiekuna'] = [pr_id[1]]
        dog_info['blok'] = 'B_'+str(l)
        l += 1

    ## czy nadaje sie do adopcji?
    if np.random.random()>0.1:
        data_wiz, chor, zalec, cena = dog.Wizyty()
        if np.random.random()>0.7:
            data_wiz1, chor1, zalec1, cena1 = dog.Wizyty(ad_time = adoption)
    zdrowie = dog.stan_zdrowia()
    if zdrowie  == "zdrowy":
        dog_schr['Stan'] = "nadaje się do adopcji"
    else:
        dog_schr['Stan'] = "nie nadaje się do adopcji - "+str(zdrowie)
    wizyty, daty, ceny = dog.choroby()
    for j in range(len(wizyty)):
        dog_wiz['ID_wizyty'] =  id_generator(i = i, first = 4, second = j)
        dog_wiz['id'] = dog_info['id']
        index =int(np.round(np.random.uniform(0,3.49),0))
        id_pr =  w_id[index]
        dog_wiz['ID pracownika'] = id_pr
        dog_wiz['data wizyty'] = dataformat(daty[j])
        dog_wiz['diagnoza'] = wizyty[j]
        dog_wiz['zalecenia'] = 'lek'
        dog_wiz['stan zdrowia'] = zdrowie
        dog_wiz['sterylizacja'] = kastracja[0]
        dog_trans['id_transakcji'] = id_generator(i = i, first = 5, second = j)
        dog_trans['tytul']='weterynarz, id_zwierzecia:'+ str(dog_info['id'])
        dog_trans['kwota'] = 0-ceny[j]
        dog_trans['data'] = dataformat(daty[j])
        dog_trans['imie'] = weterynarze[index]['imie']
        dog_trans['nazwisko'] = weterynarze[index]['nazwisko']
    transakcje.append(dog_trans)
    hist_zdr.append(dog_wiz)
    zwierz_schr.append(dog_schr)
    informacje.append(dog_info)
    adoptujace.append(dog_ad)
    zwierz_byle.append(dog_byl)

In [31]:
#17 psow i 6 kotow zmarlo w schornisku
#92 psy- tyle liczy aktualnie nasze schronisko, 41 kotow, i 17 szczurow
len_dog = 41
len_ad = 96
len_d = 6
k = 1
l = 1
for i in range(len_dog+len_ad, len_dog+len_ad+len_d):
    dog_info = {}
    dog_byl = {}
    dog_wiz = {}
    dog_trans = {}
    dog_ad = {}
    dog = Animal(species = 'kot')
    death_time = np.random.uniform(0.01, 3)
    birth, death = dog.birth(death_year = death_time)
    birth_d = dataformat(birth)
    acc = dog.acceptance()
    if np.random.random()>0.7:
        dog_info['wcześniej adoptowany'] = "tak"
        adop = dog.adoption()
        #ponowne przyjecie
        acc = dog.next_acceptance()
        if np.random.random()>0.9:
            adop = dog.adoption()
            #ponowne przyjecie
            acc = dog.next_acceptance()
    else:
        dog_info['wcześniej adoptowany'] = "nie"
        
    dog_info['data_urodzenia'] = birth_d
    dog_info['data_przyjecia'] = dataformat(acc)
    
    dog_info['plec'] = dog.plec()
    dog_info['masa'] = dog.masa()
    dog_info['imie'] = dog.name('./dane/npieski.csv')
    kastracja = dog.kastracja()
    dog_info['id_gat'] = 1
    dog_schr['id_gat'] = dog_info['id_gat']
    dog_info['id'] = id_generator(i=i, first=6, second =2)
        
    dog_byl['id'] = dog_info['id']
    dog_byl['id wydania'] = 111111 #jesli same 1 to oznacza smierc
    dog_byl['przyczyna'] = 'zgon'
    dog_byl['data'] = dataformat(death)
    dog_byl['id adoptujacego'] = 'brak'
        
    if np.random.random()>0.9:
        dog_info['inne_zwierzeta'] = "agresywny"
    else:
        dog_info['inne_zwierzeta'] = "łagodny"
    umaszczenie= dog.umaszczenie()
    
    dog_info['umaszczenie']=umaszczenie[0]
    dog_info['gatunek'] = umaszczenie[1]
    
    dog_info['ID opiekuna'] = [pr_id[3]]
    if i%3==0:
        dog_info['blok'] = 'C_'+str(i//3)
        k = i
    else:
        dog_info['blok'] = 'C_'+str(k//3)
        
    ## czy nadaje sie do adopcji?
    if np.random.random()>0.1:
        data_wiz, chor, zalec, cena = dog.Wizyty()
        if np.random.random()>0.7:
            data_wiz1, chor1, zalec1, cena1 = dog.Wizyty(ad_time = adoption)
    zdrowie = dog.stan_zdrowia()
    if zdrowie  == "zdrowy":
        dog_schr['Stan'] = "nadaje się do adopcji"
    else:
        dog_schr['Stan'] = "nie nadaje się do adopcji - "+str(zdrowie)
    wizyty, daty, ceny = dog.choroby()
    for j in range(len(wizyty)):
        dog_wiz['ID_wizyty'] =  id_generator(i = i, first = 4, second = j)
        dog_wiz['id'] = dog_info['id']
        index =int(np.round(np.random.uniform(0,3.49),0))
        id_pr =  w_id[index]
        dog_wiz['ID pracownika'] = id_pr
        dog_wiz['data wizyty'] = dataformat(daty[j])
        dog_wiz['diagnoza'] = wizyty[j]
        dog_wiz['zalecenia'] = 'lek'
        dog_wiz['stan zdrowia'] = zdrowie
        dog_wiz['sterylizacja'] = kastracja[0]
        dog_trans['id_transakcji'] = id_generator(i = i, first = 5, second = j)
        dog_trans['tytul']='weterynarz, id_zwierzecia:'+ str(dog_info['id'])
        dog_trans['kwota'] = 0-ceny[j]
        dog_trans['data'] = dataformat(daty[j])
        dog_trans['imie'] = weterynarze[index]['imie']
        dog_trans['nazwisko'] = weterynarze[index]['nazwisko']
    transakcje.append(dog_trans)
    hist_zdr.append(dog_wiz)
    zwierz_schr.append(dog_schr)
    informacje.append(dog_info)
    adoptujace.append(dog_ad)
    zwierz_byle.append(dog_byl)

### Darowizny i dotacje

In [32]:
#comiesieczna dotacja z urzedu - 40 000 
data, pensja = add_salary(open_time,actual_time,40000)
for j in range(len(data)):
    trans = {}
    trans['data'] = data[j]
    trans['id_transakcji'] = id_generator(i=j, first=5, second = 9)
    trans['imie'] = opiekun['name']
    trans['nazwisko'] = opiekun['last_name']
    trans['kwota'] = float(pensja[j])
    trans['tytul'] = 'wyplata'
    transakcje.append(trans)

In [33]:
#darowizny - losowe
#ilosc darowizn w ciagu trzech lat- zalozmy ze ok 1500-2000
amount =int(np.random.uniform(150, 900))
for i in range(amount):
    if np.random.random()>0.1:
        kwota = abs(np.round(np.random.normal(50, 100),2))
    else:
        kwota = np.round(np.random.uniform(1,30000),2)
    rand_i = int(np.random.uniform(0,2.49))
    if rand>0.5:
        opiekun = pracownik(names_male, lastnames_male, ulice, miasta[rand_i])
    else:
        opiekun = pracownik(names_female, lastnames_female, ulice, miasta[rand_i])
    trans = {}
    data = dataformat(np.random.uniform(open_time, actual_time))
    trans['data'] = data
    trans['id_transakcji'] = id_generator(i=i, first=5, second = 7)
    trans['imie'] = opiekun['name']
    trans['nazwisko'] = opiekun['last_name']
    trans['kwota'] = kwota
    trans['tytul'] = 'Darowizna'
    transakcje.append(trans)

In [34]:
pd.DataFrame(transakcje)

            data id_transakcji        imie     kwota     nazwisko      tytul
0     2016-04-10         59000      MICHAL   -532.83    WALKOWSKI    wyplata
1     2016-05-11         59001      MICHAL  -2500.00    WALKOWSKI    wyplata
2     2016-06-11         59002      MICHAL  -2500.00    WALKOWSKI    wyplata
3     2016-07-11         59003      MICHAL  -2500.00    WALKOWSKI    wyplata
4     2016-08-11         59004      MICHAL  -2500.00    WALKOWSKI    wyplata
5     2016-09-10         59005      MICHAL  -2500.00    WALKOWSKI    wyplata
6     2016-10-11         59006      MICHAL  -2500.00    WALKOWSKI    wyplata
7     2016-11-10         59007      MICHAL  -2500.00    WALKOWSKI    wyplata
8     2016-12-11         59008      MICHAL  -2500.00    WALKOWSKI    wyplata
9     2017-01-10         59009      MICHAL  -2500.00    WALKOWSKI    wyplata
10    2017-02-10         59010      MICHAL  -2500.00    WALKOWSKI    wyplata
11    2017-03-12         59011      MICHAL  -2500.00    WALKOWSKI    wyplata
12    2017-04-12         59012      MICHAL  -2500.00    WALKOWSKI    wyplata
13    2017-05-12         59013      MICHAL  -2500.00    WALKOWSKI    wyplata
14    2017-06-12         59014      MICHAL  -2500.00    WALKOWSKI    wyplata
15    2017-07-12         59015      MICHAL  -2500.00    WALKOWSKI    wyplata
16    2017-08-12         59016      MICHAL  -2500.00    WALKOWSKI    wyplata
17    2017-09-11         59017      MICHAL  -2500.00    WALKOWSKI    wyplata
18    2017-10-12         59018      MICHAL  -2500.00    WALKOWSKI    wyplata
19    2017-11-11         59019      MICHAL  -2500.00    WALKOWSKI    wyplata
20    2017-12-12         59020      MICHAL  -2500.00    WALKOWSKI    wyplata
21    2018-01-11         59021      MICHAL  -2500.00    WALKOWSKI    wyplata
22    2018-02-11         59022      MICHAL  -2500.00    WALKOWSKI    wyplata
23    2018-03-13         59023      MICHAL  -2500.00    WALKOWSKI    wyplata
24    2018-04-13         59024      MICHAL  -2500.00    WALKOWSKI    wyplata
25    2018-05-13         59025      MICHAL  -2500.00    WALKOWSKI    wyplata
26    2018-06-13         59026      MICHAL  -2500.00    WALKOWSKI    wyplata
27    2018-07-13         59027      MICHAL  -2500.00    WALKOWSKI    wyplata
28    2018-08-13         59028      MICHAL  -2500.00    WALKOWSKI    wyplata
29    2018-09-12         59029      MICHAL  -2500.00    WALKOWSKI    wyplata
...          ...           ...         ...       ...          ...        ...
1382  2018-11-08         57612    GRZEGORZ     32.97       PIECYK  Darowizna
1383  2019-02-07         57613    ZBIGNIEW     67.71       CIEZKI  Darowizna
1384  2018-10-18         57614     WIESLAW    299.53        POPKO  Darowizna
1385  2018-11-15         57615     ANDRZEJ     59.60     FLORCZAK  Darowizna
1386  2017-11-27         57616     BARTOSZ    129.86  RUSZKIEWICZ  Darowizna
1387  2019-02-07         57617     DARIUSZ     78.71         SLIZ  Darowizna
1388  2018-01-21         57618    JAROSLAW     34.21       CIUPKA  Darowizna
1389  2019-04-10         57619      ANTONI     14.95      ROGACKI  Darowizna
1390  2019-02-11         57620      PATRYK     77.82       ZEBALA  Darowizna
1391  2016-09-23         57621      DANIEL    123.14     MOSCICKI  Darowizna
1392  2018-12-28         57622        ADAM    102.55        OLIWA  Darowizna
1393  2018-09-28         57623      TOMASZ  25437.11    KOSMALSKI  Darowizna
1394  2018-09-24         57624  FRANCISZEK    169.56     SOLTYSIK  Darowizna
1395  2017-02-21         57625        ADAM      9.69     IGIELSKI  Darowizna
1396  2018-09-28         57626      ANTONI     17.73    CZAPLICKI  Darowizna
1397  2018-07-05         57627       PAWEL  19116.33      CIESLIK  Darowizna
1398  2017-09-05         57628     MARIUSZ     59.71     KRAWCZYK  Darowizna
1399  2017-09-20         57629   KAZIMIERZ     20.09    PASIECZNY  Darowizna
1400  2016-10-26         57630       RAFAL     37.56    KANTORSKI  Darowizna
1401  2018-08-27         57631       PAWEL     30.07       BORUTA  Darowizna
1402  2017-08-02         57632       PIOTR     61.82     KOPANSKI  Darowizna
1403  2017-09-03         57633  PRZEMYSLAW      9.90   CZARNIECKI  Darowizna
1404  2018-01-07         57634       PIOTR    315.17        TARKA  Darowizna
1405  2016-08-01         57635       PIOTR  27331.99     KADZIELA  Darowizna
1406  2018-09-09         57636  FRANCISZEK    105.86        CICHY  Darowizna
1407  2018-10-30         57637  PRZEMYSLAW     82.45       SELIGA  Darowizna
1408  2017-10-02         57638     MATEUSZ     73.64       LICHON  Darowizna
1409  2019-01-30         57639      ROBERT     89.65  CZERNIAWSKI  Darowizna
1410  2017-02-03         57640    WOJCIECH      4.56        NEDZA  Darowizna
1411  2017-09-29         57641       PAWEL   2855.62      MOLENDA  Darowizna

[1412 rows x 6 columns]

### Zapisywanie do csv

In [35]:
df_info = pd.DataFrame(informacje)
df_info.to_csv(r'.\dane\informacje.csv')
df_gat = pd.DataFrame(gatunki)
df_gat.to_csv(r'.\dane\gatunki.csv')
df_schr = pd.DataFrame(zwierz_schr)
df_schr.to_csv(r'.\dane\zwierz_schr.csv')
df_byle = pd.DataFrame(zwierz_byle)
df_byle.to_csv(r'.\dane\zwierz_byle.csv')
df_adop = pd.DataFrame(adoptujace)
df_adop.to_csv(r'.\dane\adoptujace.csv')
df_hist = pd.DataFrame(hist_zdr)
df_hist.to_csv(r'.\dane\hist_zdr.csv')
df_trans = pd.DataFrame(transakcje)
df_trans.to_csv(r'.\dane\transakcje.csv')

In [36]:
df_info

,ID opiekuna,blok,data_przyjecia,data_urodzenia,gatunek,id,id_gat,imie,inne_zwierzeta,masa,plec,umaszczenie,wcześniej adoptowany
0,[20001],B_1,2018-09-30,2005-12-14,pies,61000,1,Nicpon,łagodny,19.366,samiec,szary,tak
1,[20000],A_1,2016-07-10,2012-01-09,pies,61001,1,Walter,łagodny,22.434,samiec,rudy,nie
2,[20001],B_2,2017-02-22,2013-03-23,pies,61002,1,Demi,łagodny,15.170,samica,bialo-szary,nie
3,[20001],B_3,2019-03-05,2006-07-31,pies,61003,1,Nira,łagodny,17.479,samica,szary,tak
4,[20000],A_2,2018-01-07,2007-02-05,pies,61004,1,Ora,agresywny,24.996,samica,inne,nie
5,[20000],A_3,2016-08-30,2007-12-12,pies,61005,1,Kari,agresywny,22.662,samica,bialo-rudy,nie
6,[20000],A_4,2018-10-14,2007-12-02,pies,61006,1,Nora,łagodny,25.632,samica,inne,nie
7,[20001],B_4,2018-05-07,2013-04-30,pies,61007,1,Uchacz,łagodny,16.319,samiec,inne,nie
8,[20001],B_5,2019-01-18,2013-05-10,pies,61008,1,Fik,łagodny,14.959,samiec,czarny,nie
9,[20001],B_6,2016-11-14,2014-01-25,pies,61009,1,Naomi,łagodny,17.178,samica,bialo-brązowy,nie
10,[20001],B_7,2017-10-11,2012-09-26,pies,61010,1,Levi,łagodny,18.555,samiec,czarny,nie
11,[20000],A_5,2016-10-10,2008-08-20,pies,61011,1,Lolo,łagodny,21.142,samiec,bialo-szary,nie
12,[20001],B_8,2016-08-12,2013-05-01,pies,61012,1,Dustin,łagodny,13.287,samiec,rudy,nie
13,[20001],B_9,2019-02-13,2006-02-16,pies,61013,1,Mimiak,łagodny,12.395,samiec,inne,tak
14,[20001],B_10,2016-06-04,2005-12-17,pies,61014,1,Babet,łagodny,15.008,samica,bialo-szary,nie
15,[20001],B_11,2016-04-13,2014-07-07,pies,61015,1,Alpinos,łagodny,8.042,samiec,brazowy,nie
16,[20000],A_6,2017-10-25,2010-03-23,pies,61016,1,Ocia,łagodny,23.273,samica,szary,nie
17,[20000],A_7,2019-04-18,2009-05-20,pies,61017,1,Zorra,łagodny,32.082,samica,bialo-czarny,nie
18,[20001],B_12,2018-08-22,2012-06-14,pies,61018,1,Brandon,łagodny,12.718,samiec,brazowy,nie
19,[20000],A_8,2016-12-27,2008-10-28,pies,61019,1,Costa,łagodny,34.718,samica,bialo-czarny,nie
20,[20001],B_13,2018-07-31,2007-07-26,pies,61020,1,Nesquik,łagodny,19.870,samiec,bialy,tak
21,[20000],A_9,2016-06-19,2009-05-12,pies,61021,1,Orzech,łagodny,20.108,samiec,szary,nie
22,[20001],B_14,2019-06-09,2010-07-07,pies,61022,1,Jok,łagodny,12.269,samiec,biszkoptowy,tak
23,[20000],A_10,2017-05-01,2008-05-17,pies,61023,1,Wicha,agresywny,30.830,samica,szary,nie
24,[20001],B_15,2018-12-04,2011-02-07,pies,61024,1,Wigor,łagodny,8.618,samiec,bialo-rudy,nie
25,[20000],A_11,2017-04-03,2011-05-07,pies,61025,1,Bonus,łagodny,23.960,samiec,czarny,nie
26,[20001],B_16,2017-12-10,2010-01-09,pies,61026,1,Lorka,łagodny,5.161,samica,bialo-szary,nie
27,[20001],B_17,2019-01-08,2010-04-10,pies,61027,1,Uchacz,łagodny,17.366,samiec,bialo-szary,tak
28,[20001],B_18,2016-11-02,2009-02-21,pies,61028,1,Ama,łagodny,12.311,samica,bialo-brązowy,nie
29,[20000],A_12,2019-04-03,2006-03-07,pies,61029,1,Diego,agresywny,21.209,samiec,brazowy,tak
...,...,...,...,...,...,...,...,...,...,...,...,...,...
378,[20003],C_43,2017-11-07,2006-07-29,kot,62130,2,Kalila,łagodny,1.218,samica,bialo-szary,nie
379,[20003],C_43,2017-10-09,2008-12-27,kot,62131,2,Magnolia,łagodny,1.358,samica,rudy,nie
380,[20003],C_44,2017-08-07,2006-09-04,kot,62132,2,Maniek,łagodny,4.404,samiec,czarny,nie
381,[20003],C_44,2017-12-17,2005-04-22,kot,62133,2,Roki,łagodny,4.676,samiec,szary,nie
382,[20003],C_44,2019-06-12,2010-12-17,kot,62134,2,Westa,łagodny,1.945,samica,inne,tak
383,[20003],C_45,2018-12-09,2004-10-26,kot,62135,2,Pedro,łagodny,2.974,samiec,inne,nie
384,[20003],C_45,2018-12-02,2010-05-06,kot,62136,2,Iryd,łagodny,1.871,samiec,brazowy,tak
385,[20001],B_1,2017-04-09,2010-07-24,pies,61231,1,Emi,łagodny,14.836,samica,bialo-szary,nie
386,[20000],A_1,2017-08-14,2010-05-26,pies,61232,1,Snajper,łagodny,23.297,samiec,szary,nie
387,[20001],B_2,2016-06-01,2010-09-08,pies,61233,1,Aida,łagodny,16.223,samica,rudy,tak
388,[20001],B_3,2017-10-30,2007-12-18,pies,61234,1,Amar,łagodny,12.837,samiec,biszkoptowy,tak
389,[20001],B_4,2015-11-29,2006-09-13,pies,61235,1,Lucio,agresywny,19.004,samiec,bialo-szary,nie
390,[20001],B_5,2015-11-14,2006-05-20,pies,61236,1,Kobi,łagodny,15.322,samica,czarny,nie
391,[20000],A_2,2016-11-23,2009-09-25,pies,61237,1,Riko,łagodny,21.304,samiec,rudy,tak
392,[20001],B_6,2017-09-11,2009-09-19,pies,61238,1,Nurek,łagodny,7.228,samiec,bialo-rudy,tak
393,[20001],B_7,2019-03-09,2010-07-21,pies,61239,1,Nestor,łagodny,19.584,samiec,szary,nie
394,[20000],A_3,2014-06-13,2004-11-13,pies,61240,1,Jota,łagodny,24.698,samica,rudy,nie
395,[20001],B_8,2016-06-16,2003-03-14,pies,61241,1,Ogonek,łagodny,15.141,samiec,rudy,nie
396,[20000],A_4,2016-04-22,2006-10-16,pies,61242,1,Pudzio,łagodny,22.604,samiec,inne,nie
397,[20001],B_9,2018-07-10,2008-05-16,pies,61243,1,Ewin,łagodny,13.808,samiec,biszkoptowy,tak
398,[20000],A_5,2017-04-01,2010-03-07,pies,61244,1,Tina,łagodny,29.316,samica,inne,nie
399,[20000],A_6,2016-10-14,2002-10-22,pies,61245,1,Kizis,łagodny,25.663,samica,czarny,tak
400,[20000],A_7,2016-12-09,2007-05-20,pies,61246,1,Haga,łagodny,23.718,samica,bialo-brązowy,nie
401,[20001],B_10,2016-04-28,2005-04-24,pies,61247,1,Teo,łagodny,13.348,samiec,biszkoptowy,tak
402,[20003],C_0,2017-01-18,2007-11-08,kot,62137,1,Czardasz,agresywny,4.144,samiec,biszkoptowy,nie
403,[20003],C_46,2017-07-17,2003-09-18,kot,62138,1,Nurek,łagodny,4.377,samiec,brazowy,nie
404,[20003],C_46,2016-07-06,2007-06-21,kot,62139,1,Babet,łagodny,3.351,samica,bialo-brązowy,nie
405,[20003],C_46,2016-07-25,2004-10-05,kot,62140,1,Tessi,łagodny,1.112,samica,bialy,nie
406,[20003],C_47,2015-04-18,2005-05-27,kot,62141,1,Lakina,łagodny,3.606,samica,szary,nie
407,[20003],C_47,2015-12-13,2011-10-26,kot,62142,1,Upsa,agresywny,1.483,samica,bialo-rudy,tak

In [37]:
df_gat

    nazwa  id_gatunku
0    pies           1
1     kot           2
2  szczur           3

In [38]:
df_schr

,ID opiekuna,Stan,blok,id,id_gat
0,[20001],nadaje się do adopcji,B_1,61000,1
1,[20000],nadaje się do adopcji,A_1,61001,1
2,[20001],nadaje się do adopcji,B_2,61002,1
3,[20001],nadaje się do adopcji,B_3,61003,1
4,[20000],nie nadaje się do adopcji - chory,A_2,61004,1
5,[20000],nadaje się do adopcji,A_3,61005,1
6,[20000],nie nadaje się do adopcji - chory,A_4,61006,1
7,[20001],nie nadaje się do adopcji - w czasie leczenia,B_4,61007,1
8,[20001],nadaje się do adopcji,B_5,61008,1
9,[20001],nadaje się do adopcji,B_6,61009,1
10,[20001],nadaje się do adopcji,B_7,61010,1
11,[20000],nadaje się do adopcji,A_5,61011,1
12,[20001],nadaje się do adopcji,B_8,61012,1
13,[20001],nadaje się do adopcji,B_9,61013,1
14,[20001],nadaje się do adopcji,B_10,61014,1
15,[20001],nadaje się do adopcji,B_11,61015,1
16,[20000],nadaje się do adopcji,A_6,61016,1
17,[20000],nadaje się do adopcji,A_7,61017,1
18,[20001],nadaje się do adopcji,B_12,61018,1
19,[20000],nadaje się do adopcji,A_8,61019,1
20,[20001],nadaje się do adopcji,B_13,61020,1
21,[20000],nadaje się do adopcji,A_9,61021,1
22,[20001],nie nadaje się do adopcji - w czasie leczenia,B_14,61022,1
23,[20000],nadaje się do adopcji,A_10,61023,1
24,[20001],nadaje się do adopcji,B_15,61024,1
25,[20000],nadaje się do adopcji,A_11,61025,1
26,[20001],nadaje się do adopcji,B_16,61026,1
27,[20001],nadaje się do adopcji,B_17,61027,1
28,[20001],nadaje się do adopcji,B_18,61028,1
29,[20000],nadaje się do adopcji,A_12,61029,1
...,...,...,...,...,...
378,[20003],nadaje się do adopcji,C_14,63016,1
379,[20003],nadaje się do adopcji,C_14,63016,1
380,[20003],nadaje się do adopcji,C_14,63016,1
381,[20003],nadaje się do adopcji,C_14,63016,1
382,[20003],nadaje się do adopcji,C_14,63016,1
383,[20003],nadaje się do adopcji,C_14,63016,1
384,[20003],nadaje się do adopcji,C_14,63016,1
385,[20003],nadaje się do adopcji,C_14,63016,1
386,[20003],nadaje się do adopcji,C_14,63016,1
387,[20003],nadaje się do adopcji,C_14,63016,1
388,[20003],nadaje się do adopcji,C_14,63016,1
389,[20003],nadaje się do adopcji,C_14,63016,1
390,[20003],nadaje się do adopcji,C_14,63016,1
391,[20003],nadaje się do adopcji,C_14,63016,1
392,[20003],nadaje się do adopcji,C_14,63016,1
393,[20003],nadaje się do adopcji,C_14,63016,1
394,[20003],nadaje się do adopcji,C_14,63016,1
395,[20003],nadaje się do adopcji,C_14,63016,1
396,[20003],nadaje się do adopcji,C_14,63016,1
397,[20003],nadaje się do adopcji,C_14,63016,1
398,[20003],nadaje się do adopcji,C_14,63016,1
399,[20003],nadaje się do adopcji,C_14,63016,1
400,[20003],nadaje się do adopcji,C_14,63016,1
401,[20003],nadaje się do adopcji,C_14,63016,1
402,[20003],nadaje się do adopcji,C_14,63016,1
403,[20003],nadaje się do adopcji,C_14,63016,1
404,[20003],nadaje się do adopcji,C_14,63016,1
405,[20003],nadaje się do adopcji,C_14,63016,1
406,[20003],nadaje się do adopcji,C_14,63016,1
407,[20003],nadaje się do adopcji,C_14,63016,1

In [39]:
df_byle

           data     id id adoptujacego id wydania przyczyna
0    2018-12-27  61092           71092      81092   adopcja
1    2019-05-14  61093           71093      81093   adopcja
2    2019-04-18  61094           71094      81094   adopcja
3    2018-07-29  61095           71095      81095   adopcja
4    2019-06-11  61096           71096      81096   adopcja
5    2019-05-14  61097           71097      81097   adopcja
6    2019-04-03  61098           71098      81098   adopcja
7    2019-05-04  61099           71099      81099   adopcja
8    2019-03-05  61100           71100      81100   adopcja
9    2019-01-14  61101           71101      81101   adopcja
10   2019-03-22  61102           71102      81102   adopcja
11   2018-12-07  61103           71103      81103   adopcja
12   2018-04-06  61104           71104      81104   adopcja
13   2019-05-18  61105           71105      81105   adopcja
14   2019-03-13  61106           71106      81106   adopcja
15   2019-05-27  61107           71107      81107   adopcja
16   2019-05-30  61108           71108      81108   adopcja
17   2018-01-24  61109           71109      81109   adopcja
18   2018-06-10  61110           71110      81110   adopcja
19   2019-01-20  61111           71111      81111   adopcja
20   2019-03-15  61112           71112      81112   adopcja
21   2018-10-25  61113           71113      81113   adopcja
22   2018-11-11  61114           71114      81114   adopcja
23   2019-06-07  61115           71115      81115   adopcja
24   2019-05-18  61116           71116      81116   adopcja
25   2019-05-11  61117           71117      81117   adopcja
26   2019-05-23  61118           71118      81118   adopcja
27   2019-06-07  61119           71119      81119   adopcja
28   2019-03-23  61120           71120      81120   adopcja
29   2019-05-27  61121           71121      81121   adopcja
..          ...    ...             ...        ...       ...
228  2018-07-11  62130           71130      82130   adopcja
229  2017-10-17  62131           71131      82131   adopcja
230  2018-08-19  62132           71132      82132   adopcja
231  2019-05-15  62133           71133      82133   adopcja
232  2019-06-17  62134           71134      82134   adopcja
233  2019-05-13  62135           71135      82135   adopcja
234  2019-04-24  62136           71136      82136   adopcja
235  2018-07-15  61231            brak     111111      zgon
236  2019-06-06  61232            brak     111111      zgon
237  2016-08-21  61233            brak     111111      zgon
238  2018-04-17  61234            brak     111111      zgon
239  2017-06-04  61235            brak     111111      zgon
240  2018-04-13  61236            brak     111111      zgon
241  2017-04-21  61237            brak     111111      zgon
242  2017-10-01  61238            brak     111111      zgon
243  2019-03-23  61239            brak     111111      zgon
244  2017-03-28  61240            brak     111111      zgon
245  2017-02-12  61241            brak     111111      zgon
246  2018-05-29  61242            brak     111111      zgon
247  2018-11-09  61243            brak     111111      zgon
248  2018-08-15  61244            brak     111111      zgon
249  2016-10-26  61245            brak     111111      zgon
250  2018-02-16  61246            brak     111111      zgon
251  2016-11-14  61247            brak     111111      zgon
252  2018-05-11  62137            brak     111111      zgon
253  2018-09-17  62138            brak     111111      zgon
254  2017-02-06  62139            brak     111111      zgon
255  2018-07-07  62140            brak     111111      zgon
256  2017-04-16  62141            brak     111111      zgon
257  2017-01-30  62142            brak     111111      zgon

[258 rows x 5 columns]

In [40]:
df_adop

,adres,id adoptujacego,ilosc adopcji,imie,nazwisko,telefon
0,ul. Spacerowa 66 Olesnica,71092,1.0,SZYMON,RUSZEL,331-781-557
1,ul. Jastrzebia 16 Wroclaw,71093,1.0,RENATA,CHABROS,722-102-270
2,ul. Henryka Lasaka 82 Opole,71094,1.0,PAWEL,MALEC,122-277-420
3,ul. 11 Listopada 20 Wroclaw,71095,1.0,GRZEGORZ,CHOJNOWSKI,496-167-475
4,ul. sw. Jadwigi 40 Olesnica,71096,1.0,JADWIGA,MALISZEWSKA,896-266-246
5,ul. Jana Stapinskiego 32 Wroclaw,71097,1.0,ROBERT,KULIGOWSKI,574-459-994
6,ul. Leszczynowa 85 Opole,71098,1.0,ROBERT,LASECKI,793-291-671
7,ul. Bronislawa Malinowskiego 74 Olesnica,71099,1.0,DAMIAN,MROWIEC,855-172-874
8,ul. sw. Jadwigi 90 Wroclaw,71100,1.0,RYSZARD,SOKULSKI,826-925-866
9,ul. Batalionow Chlopskich 18 Opole,71101,1.0,RAFAL,KONIECZKO,341-434-635
10,ul. Antoniego Cieszynskiego 53 Wroclaw,71102,1.0,KAROLINA,KONKEL,231-868-928
11,ul. Boguslawa Psujka 36 Opole,71103,1.0,JACEK,GOCH,689-980-771
12,ul. Przemyslowa 6 Olesnica,71104,1.0,MICHAL,BARON,437-189-471
13,ul. Pogodna 67 Wroclaw,71105,1.0,JACEK,WIDAWSKI,608-715-428
14,ul. Wierzbowa 99 Opole,71106,1.0,HENRYK,ZIENKIEWICZ,382-576-842
15,ul. Spokojna 94 Wroclaw,71107,1.0,JADWIGA,SYGULA,771-214-183
16,ul. Boguslawa Psujka 19 Opole,71108,1.0,WIKTORIA,NAJDER,332-616-753
17,ul. Wiejska 47 Wroclaw,71109,1.0,HALINA,TOMCZAK,469-920-270
18,ul. Lakowa 34 Wroclaw,71110,1.0,FRANCISZEK,KNAP,848-343-100
19,ul. Antoniego Cieszynskiego 67 Wroclaw,71111,1.0,ALEKSANDRA,STOPKA,552-328-123
20,ul. Rozana 1 Opole,71112,1.0,ROBERT,LESNIAK,549-628-789
21,ul. Agrestowa 36 Opole,71113,1.0,JADWIGA,KRASNIEWSKA,344-621-209
22,ul. Kazimierza Wielkiego 52 Olesnica,71114,1.0,KRYSTYNA,STAWIARZ,321-143-931
23,ul. Wojska Polskiego 35 Opole,71115,1.0,DAMIAN,PANKOWSKI,626-832-273
24,ul. Janusza Sidly 83 Opole,71116,1.0,WANDA,BRYLA,957-875-318
25,ul. Ignacego Daszynskiego 28 Wroclaw,71117,1.0,WALDEMAR,BODZIOCH,357-863-747
26,ul. Lowiecka 51 Wroclaw,71118,1.0,BARTOSZ,STUDZINSKI,943-995-823
27,ul. Marii Sklodowskiej-Curie 62 Wroclaw,71119,1.0,KAMIL,DRZYMALA,581-293-578
28,ul. Wierzbowa 5 Olesnica,71120,1.0,JAROSLAW,KROCZEK,782-824-569
29,ul. Leszczynowa 21 Olesnica,71121,1.0,MACIEJ,KOROLCZUK,606-742-405
...,...,...,...,...,...,...
228,ul. Brzozowa 31 Olesnica,71130,1.0,SLAWOMIR,CHABOWSKI,668-957-647
229,ul. Jarzynowa 13 Wroclaw,71131,1.0,JOANNA,KROPIDLOWSKA,737-596-304
230,ul. Jerzego Bocka 35 Olesnica,71132,1.0,STANISLAWA,KROLAK,435-897-621
231,ul. Ceglana 49 Olesnica,71133,1.0,JOLANTA,KRYCH,867-913-400
232,ul. Kwiatowa 38 Olesnica,71134,1.0,ANDRZEJ,KOMAR,887-330-338
233,ul. Jagodowa 40 Wroclaw,71135,1.0,JULIA,ZIOLEK,786-565-955
234,ul. Wisniowa 76 Wroclaw,71136,1.0,RAFAL,WALASIK,331-214-337
235,NaN,NaN,NaN,NaN,NaN,NaN
236,NaN,NaN,NaN,NaN,NaN,NaN
237,NaN,NaN,NaN,NaN,NaN,NaN
238,NaN,NaN,NaN,NaN,NaN,NaN
239,NaN,NaN,NaN,NaN,NaN,NaN
240,NaN,NaN,NaN,NaN,NaN,NaN
241,NaN,NaN,NaN,NaN,NaN,NaN
242,NaN,NaN,NaN,NaN,NaN,NaN
243,NaN,NaN,NaN,NaN,NaN,NaN
244,NaN,NaN,NaN,NaN,NaN,NaN
245,NaN,NaN,NaN,NaN,NaN,NaN
246,NaN,NaN,NaN,NaN,NaN,NaN
247,NaN,NaN,NaN,NaN,NaN,NaN
248,NaN,NaN,NaN,NaN,NaN,NaN
249,NaN,NaN,NaN,NaN,NaN,NaN
250,NaN,NaN,NaN,NaN,NaN,NaN
251,NaN,NaN,NaN,NaN,NaN,NaN
252,NaN,NaN,NaN,NaN,NaN,NaN
253,NaN,NaN,NaN,NaN,NaN,NaN
254,NaN,NaN,NaN,NaN,NaN,NaN
255,NaN,NaN,NaN,NaN,NaN,NaN
256,NaN,NaN,NaN,NaN,NaN,NaN
257,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
df_hist

,ID pracownika,ID_wizyty,data wizyty,diagnoza,id,stan zdrowia,sterylizacja,zalecenia
0,30002,43000,2018-11-27,skaleczenie,61000,zdrowy,tak,lek
1,30001,42001,2019-03-19,inne,61001,zdrowy,tak,lek
2,30003,42002,2018-03-31,świeżb,61002,zdrowy,tak,lek
3,30000,43003,2019-05-04,przeziębienie,61003,zdrowy,tak,lek
4,30001,42004,2018-11-20,skaleczenie,61004,chory,tak,lek
5,30003,41005,2019-04-04,inne,61005,zdrowy,nie,lek
6,30001,43006,2019-03-06,przeziębienie,61006,chory,tak,lek
7,30001,42007,2019-06-18,inne,61007,w czasie leczenia,tak,lek
8,30003,41008,2019-03-15,inne,61008,zdrowy,tak,lek
9,30000,42009,2018-03-10,świeżb,61009,zdrowy,tak,lek
10,30003,41010,2018-02-16,inne,61010,zdrowy,tak,lek
11,30002,43011,2019-03-15,inne,61011,zdrowy,tak,lek
12,30000,41012,2017-05-09,zapalenie uszu,61012,zdrowy,tak,lek
13,30001,42013,2019-04-25,świeżb,61013,zdrowy,tak,lek
14,30002,41014,2017-11-09,świeżb,61014,zdrowy,nie,lek
15,30000,41015,2016-05-08,sterylizacja,61015,zdrowy,tak,lek
16,30002,43016,2018-12-09,przeziębienie,61016,zdrowy,tak,lek
17,30000,41017,2019-05-03,sterylizacja,61017,zdrowy,tak,lek
18,30000,42018,2018-10-30,zapalenie spojówek,61018,zdrowy,tak,lek
19,30000,41019,2018-12-17,przeziębienie,61019,zdrowy,tak,lek
20,30002,43020,2019-03-24,inne,61020,zdrowy,tak,lek
21,30000,41021,2017-02-21,zapalenie uszu,61021,zdrowy,tak,lek
22,30001,43022,2019-06-25,zapalenie spojówek,61022,w czasie leczenia,tak,lek
23,30003,41023,2017-05-22,sterylizacja,61023,zdrowy,tak,lek
24,30003,41024,2019-01-28,inne,61024,zdrowy,tak,lek
25,30001,41025,2017-04-28,sterylizacja,61025,zdrowy,tak,lek
26,30003,40026,2017-12-11,pierwsza wizyta,61026,zdrowy,tak,lek
27,30003,42027,2019-02-06,skaleczenie,61027,zdrowy,tak,lek
28,30001,42028,2017-04-19,przeziębienie,61028,zdrowy,tak,lek
29,30003,43029,2019-06-01,inne,61029,zdrowy,tak,lek
...,...,...,...,...,...,...,...,...
378,30000,42130,2019-05-17,przeziębienie,62130,zdrowy,tak,lek
379,30003,42131,2019-03-09,inne,62131,chory,tak,lek
380,30003,41132,2018-12-14,świeżb,62132,zdrowy,tak,lek
381,30001,41133,2018-02-27,inne,62133,zdrowy,tak,lek
382,30000,43134,2019-06-18,zapalenie uszu,62134,w czasie leczenia,tak,lek
383,30003,42135,2019-04-29,zapalenie uszu,62135,zdrowy,tak,lek
384,30003,42136,2019-01-02,sterylizacja,62136,zdrowy,tak,lek
385,30002,42231,2018-11-08,zapalenie spojówek,61231,w czasie leczenia,tak,lek
386,30002,41232,2017-12-15,skaleczenie,61232,zdrowy,tak,lek
387,30003,42233,2016-07-29,skaleczenie,61233,zdrowy,tak,lek
388,30002,43234,2017-12-29,świeżb,61234,zdrowy,tak,lek
389,30001,43235,2016-11-16,świeżb,61235,zdrowy,tak,lek
390,30000,42236,2018-03-04,zapalenie uszu,61236,zdrowy,tak,lek
391,30002,42237,2017-01-13,inne,61237,zdrowy,tak,lek
392,30001,44238,2018-11-02,zapalenie uszu,61238,w czasie leczenia,tak,lek
393,30002,42239,2019-03-22,świeżb,61239,w czasie leczenia,tak,lek
394,30003,41240,2016-06-05,inne,61240,zdrowy,tak,lek
395,30003,41241,2016-09-30,zapalenie uszu,61241,zdrowy,tak,lek
396,30003,43242,2017-07-26,inne,61242,chory,tak,lek
397,30000,43243,2018-09-05,przeziębienie,61243,zdrowy,tak,lek
398,30002,41244,2017-04-13,świeżb,61244,zdrowy,tak,lek
399,30002,42245,2016-11-11,sterylizacja,61245,w czasie leczenia,tak,lek
400,30003,41246,2017-07-09,zapalenie uszu,61246,zdrowy,tak,lek
401,30001,43247,2016-09-07,inne,61247,zdrowy,tak,lek
402,30003,42137,2017-09-12,świeżb,62137,zdrowy,tak,lek
403,30003,41138,2017-08-06,przeziębienie,62138,zdrowy,tak,lek
404,30002,41139,2017-01-10,inne,62139,zdrowy,tak,lek
405,30001,42140,2018-04-18,skaleczenie,62140,zdrowy,tak,lek
406,30001,42141,2016-01-24,zapalenie spojówek,62141,chory,tak,lek
407,30002,43142,2016-05-26,świeżb,62142,zdrowy,tak,lek

In [42]:
df_trans

            data id_transakcji        imie     kwota     nazwisko      tytul
0     2016-04-10         59000      MICHAL   -532.83    WALKOWSKI    wyplata
1     2016-05-11         59001      MICHAL  -2500.00    WALKOWSKI    wyplata
2     2016-06-11         59002      MICHAL  -2500.00    WALKOWSKI    wyplata
3     2016-07-11         59003      MICHAL  -2500.00    WALKOWSKI    wyplata
4     2016-08-11         59004      MICHAL  -2500.00    WALKOWSKI    wyplata
5     2016-09-10         59005      MICHAL  -2500.00    WALKOWSKI    wyplata
6     2016-10-11         59006      MICHAL  -2500.00    WALKOWSKI    wyplata
7     2016-11-10         59007      MICHAL  -2500.00    WALKOWSKI    wyplata
8     2016-12-11         59008      MICHAL  -2500.00    WALKOWSKI    wyplata
9     2017-01-10         59009      MICHAL  -2500.00    WALKOWSKI    wyplata
10    2017-02-10         59010      MICHAL  -2500.00    WALKOWSKI    wyplata
11    2017-03-12         59011      MICHAL  -2500.00    WALKOWSKI    wyplata
12    2017-04-12         59012      MICHAL  -2500.00    WALKOWSKI    wyplata
13    2017-05-12         59013      MICHAL  -2500.00    WALKOWSKI    wyplata
14    2017-06-12         59014      MICHAL  -2500.00    WALKOWSKI    wyplata
15    2017-07-12         59015      MICHAL  -2500.00    WALKOWSKI    wyplata
16    2017-08-12         59016      MICHAL  -2500.00    WALKOWSKI    wyplata
17    2017-09-11         59017      MICHAL  -2500.00    WALKOWSKI    wyplata
18    2017-10-12         59018      MICHAL  -2500.00    WALKOWSKI    wyplata
19    2017-11-11         59019      MICHAL  -2500.00    WALKOWSKI    wyplata
20    2017-12-12         59020      MICHAL  -2500.00    WALKOWSKI    wyplata
21    2018-01-11         59021      MICHAL  -2500.00    WALKOWSKI    wyplata
22    2018-02-11         59022      MICHAL  -2500.00    WALKOWSKI    wyplata
23    2018-03-13         59023      MICHAL  -2500.00    WALKOWSKI    wyplata
24    2018-04-13         59024      MICHAL  -2500.00    WALKOWSKI    wyplata
25    2018-05-13         59025      MICHAL  -2500.00    WALKOWSKI    wyplata
26    2018-06-13         59026      MICHAL  -2500.00    WALKOWSKI    wyplata
27    2018-07-13         59027      MICHAL  -2500.00    WALKOWSKI    wyplata
28    2018-08-13         59028      MICHAL  -2500.00    WALKOWSKI    wyplata
29    2018-09-12         59029      MICHAL  -2500.00    WALKOWSKI    wyplata
...          ...           ...         ...       ...          ...        ...
1382  2018-11-08         57612    GRZEGORZ     32.97       PIECYK  Darowizna
1383  2019-02-07         57613    ZBIGNIEW     67.71       CIEZKI  Darowizna
1384  2018-10-18         57614     WIESLAW    299.53        POPKO  Darowizna
1385  2018-11-15         57615     ANDRZEJ     59.60     FLORCZAK  Darowizna
1386  2017-11-27         57616     BARTOSZ    129.86  RUSZKIEWICZ  Darowizna
1387  2019-02-07         57617     DARIUSZ     78.71         SLIZ  Darowizna
1388  2018-01-21         57618    JAROSLAW     34.21       CIUPKA  Darowizna
1389  2019-04-10         57619      ANTONI     14.95      ROGACKI  Darowizna
1390  2019-02-11         57620      PATRYK     77.82       ZEBALA  Darowizna
1391  2016-09-23         57621      DANIEL    123.14     MOSCICKI  Darowizna
1392  2018-12-28         57622        ADAM    102.55        OLIWA  Darowizna
1393  2018-09-28         57623      TOMASZ  25437.11    KOSMALSKI  Darowizna
1394  2018-09-24         57624  FRANCISZEK    169.56     SOLTYSIK  Darowizna
1395  2017-02-21         57625        ADAM      9.69     IGIELSKI  Darowizna
1396  2018-09-28         57626      ANTONI     17.73    CZAPLICKI  Darowizna
1397  2018-07-05         57627       PAWEL  19116.33      CIESLIK  Darowizna
1398  2017-09-05         57628     MARIUSZ     59.71     KRAWCZYK  Darowizna
1399  2017-09-20         57629   KAZIMIERZ     20.09    PASIECZNY  Darowizna
1400  2016-10-26         57630       RAFAL     37.56    KANTORSKI  Darowizna
1401  2018-08-27         57631       PAWEL     30.07       BORUTA  Darowizna
1402  2017-08-02         57632       PIOTR     61.82     KOPANSKI  Darowizna
1403  2017-09-03         57633  PRZEMYSLAW      9.90   CZARNIECKI  Darowizna
1404  2018-01-07         57634       PIOTR    315.17        TARKA  Darowizna
1405  2016-08-01         57635       PIOTR  27331.99     KADZIELA  Darowizna
1406  2018-09-09         57636  FRANCISZEK    105.86        CICHY  Darowizna
1407  2018-10-30         57637  PRZEMYSLAW     82.45       SELIGA  Darowizna
1408  2017-10-02         57638     MATEUSZ     73.64       LICHON  Darowizna
1409  2019-01-30         57639      ROBERT     89.65  CZERNIAWSKI  Darowizna
1410  2017-02-03         57640    WOJCIECH      4.56        NEDZA  Darowizna
1411  2017-09-29         57641       PAWEL   2855.62      MOLENDA  Darowizna

[1412 rows x 6 columns]