In [1]:
import time
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import random

## Funkcje pomocnicze

In [2]:
# Zmienia format daty z sekund na rrrr-mm-dd
def dataformat(data):
    new_data = time.localtime(data)
    if new_data.tm_mday<10:
        data_day = '0'+str(new_data.tm_mday)
    else:
        data_day = str(new_data.tm_mday)
        
    if new_data.tm_mon<10:
        data_mon = '0' + str(new_data.tm_mon)
    else:
        data_mon =  str(new_data.tm_mon)

    g_data = str(new_data.tm_year) + '-' +data_mon + '-' + data_day
    
    return(g_data)

In [3]:
# generuje id, first-pierwsza wartosc, second-druga, i -koncowka
def id_generator(i, first = 0, second= 0):
    if i<10:
        n_id = str(first)+str(second)+'00'+str(i)
    elif i<100 and i >=10 :
        n_id = str(first)+str(second)+'0'+str(i)
    elif i<1000 and i>=100:
        n_id = str(first)+str(second)+str(i)
    return(n_id)

## Klasa zwierzę

In [4]:
class Animal:
    def __init__(self, species):
        
        self.species = species
        
        if self.species == 'pies':
            self.years = 15
            #sample from normal distribution with mean 6 and variance 3 - age of species
            self.mi = 4
            self.sigma = 3
            
        elif self.species == 'kot':
            self.years = 16
            self.mi = 2
            self.sigma = 4
            
        elif self.species == 'szczur':
            self.years = 2.5
            self.mi = 1.25
            self.sigma = 0.5
        self.wizyty = []
        self.daty_wizyt = []
        self.ceny = []
    def stan_zdrowia(self):
        ost_data_wiz = self.daty_wizyt[-1]
        if ost_data_wiz+7*24*3600 < self.actual_time:
            rand = np.random.random()
            if rand > 0.1:
                stan_zdr = "zdrowy"
            else:
                stan_zdr = "chory"
        else:
            stan_zdr = "w czasie leczenia" 
            
        self.stan_zdr = stan_zdr
        return(self.stan_zdr)
        
    def Wizyty(self, ad_time = None): 
        
        ost_data_wizyty = self.daty_wizyt[-1]
        choroby = ["przeziębienie", "zapalenie uszu","świeżb", "zapalenie spojówek","skaleczenie", "inne"]
        if ad_time is not None:
            data_wiz = np.random.uniform(ost_data_wizyty+24*3600, ad_time-24*3600)
        else:
            data_wiz = np.random.uniform(ost_data_wizyty+24*3600, self.actual_time-24*3600)
        zalec = "lek"
        self.daty_wizyt.append(data_wiz)
        chor = choroby[int(np.random.uniform(0, len(choroby)))]
        self.wizyty.append(chor)
        cena = int(np.round(np.random.uniform(50, 150),0))
        self.ceny.append(cena)
        return(data_wiz, chor, zalec, cena) 
    
    def choroby(self):
        
        return(self.wizyty, self.daty_wizyt, self.ceny)
    
    def Species(self):
        if self.species == "pies":
            self.species_id = 1
        elif self.species == "kot":
            self.species_id = 2
        elif self.species == "szczur":
            self.species_id = 3
            
        return(self.species_id)
    
    def plec(self):
        
        rand = np.random.random()
        if rand > 0.5:
            plec = "samica"
        else:
            plec = "samiec"
            
        self.plec = plec
        return(plec)
            
    def name(self, file):
        
        df = pd.read_csv(file, names = ['samce', 'samice'], encoding='unicode_escape')
        df = df.loc[:503]
        
        if self.plec == "samica":
            df = df['samice']
        elif self.plec == "samiec":
            df = df['samce']
        
        rand = np.round(np.random.uniform(0,len(df)-1),0)
        name = (df.values)[int(rand)]
        self.name = name
        
        return(self.name)
        
    def umaszczenie(self):
        
        list_colours = ['biały', 'czarny', 'szary', 'rudy','brązowy', 'biało-czarny', 'biszkoptowy', 'biało-rudy', 'biało-brązowy','biało-szary','inne']
        len_colours = len(list_colours)
        random_c = np.round(np.random.uniform(0,len_colours-1), 0)
        umaszczenie = list_colours[int(random_c)]
        
        self.umaszczenie = umaszczenie
        
        return(self.umaszczenie, self.species) 

    
    def birth(self, death_year = 0):
        
        years2sec = 365.25*24*3600
        
        self.actual_time = time.time() - death_year*years2sec  #actual time in second)
        begin_time = self.actual_time - self.years*years2sec #years- how many years back (in seconds)
        sec_mi = self.mi*years2sec
        sec_std = self.sigma*years2sec
        birth_date = 0
        
        #looking for dates beetwen begin and actual time
        while begin_time > birth_date or self.actual_time < birth_date:
        
            birth_date  = np.random.normal(begin_time+sec_mi, (sec_std), 1)
            
        #birth date of animal    
        self.birth_date = birth_date
        
        return( self.birth_date )
        
    def masa(self):
        #sprawdzam date urodzenia bo pies majacy 2 miesiace nie bedzie wazyl 40kg
        act = (time.localtime(self.actual_time))
        bir = (time.localtime(self.birth_date))
        if bir.tm_year == act.tm_year:
            if abs(bir.tm_mon-act.tm_mon) < 6:
                if self.species == 'pies':
                    masa = np.random.normal(5,5)
                    while masa < 0.5:
                        masa = np.random.normal(5,5)
                elif self.species == 'kot':
                    masa = np.random.normal(1,1)
                    while masa < 0.4 or masa > 2:
                        masa = np.random.normal(1,1)
                elif self.species == 'szczur':
                    masa = np.random.normal(0.1,0.2)
                    while masa < 0.1 or masa > 0.45:
                        masa = np.random.normal(0.1,0.2)
                
            else:
                if self.species == 'pies':
                    masa = np.random.normal(12,6)
                    while masa < 0.5 or masa > 30:
                        masa = np.random.normal(12,6)
                elif self.species == 'kot':
                    masa = np.random.normal(1,1.3)
                    while masa < 0.6 or masa > 3:
                        masa = np.random.normal(1,1.3)
                elif self.species == 'szczur':
                    masa = np.random.normal(0.2,0.2)
                    while masa < 0.24 or masa > 0.55:
                        masa = np.random.normal(0.2,0.2)
        else:
            if self.species == 'pies':
                masa = np.random.normal(17,7)
                while masa < 1 or masa > 45:
                    masa = np.random.normal(17,7)
            elif self.species == 'kot':
                masa = np.random.normal(3, 2)
                while masa < 1 or masa > 5:
                    masa = np.random.normal(3, 2)
            elif self.species == 'szczur':
                masa = np.random.normal(0.25,0.2)
                while masa < 0.24 or masa > 0.7:
                    masa = np.random.normal(0.25,0.2)
        self.masa  = np.round(masa, 3)

        return(self.masa)
    
    def acceptance(self, o_years = 3.21): #3.21 years - opening of pound
        
        years2sec = 365.25*24*3600
        open_time = self.actual_time - o_years*years2sec
        
        acc_time = self.actual_time+100
        
        while acc_time > self.actual_time or bool(acc_time < self.birth_date+50*24*3600):
#             print(acc_time > self.actual_time)
#             print(bool(acc_time < self.birth_date))
            acc_time = np.random.uniform(open_time, self.actual_time) 
            
        #print(time.localtime(acc_time))
        #acceptance date    
        self.acc_time = acc_time
        p_wizyta = acc_time+24*3600
        self.daty_wizyt.append(p_wizyta)
        self.wizyty.append("pierwsza wizyta")
        self.ceny.append(50)
        return( self.acc_time )
    
    def adoption(self):
        
        day2sec = 24*3600
        ad_time = np.random.uniform(self.acc_time+7*day2sec, self.actual_time-14*day2sec) 
          
        self.ad_time = ad_time
        #self.adoptujacy()
        
        return( self.ad_time )
    
#print(acc_time > self.actual_time)
#print(bool(acc_time < self.birth_date))
#print(time.localtime(acc_time))
#acceptance date  
    def adoptujacy(self, own_names, own_lastnames, own_streets, own_city):
        own_ind0 = int(np.round(np.random.uniform(0,len(own_names)),0))
        own_ind1 = int(np.round(np.random.uniform(0,len(own_lastnames)),0))
        own_ind2 = int(np.round(np.random.uniform(0,len(own_streets)),0))
        own_name = own_names[own_ind0][0]
        own_lastname = own_lastnames[own_ind1][0]
        own_street = own_streets[own_ind2]+' ' + str(int(np.random.uniform(1,100)))
        own_tel = str(int(np.random.uniform(100,999)))+"-"
        own_tel = own_tel + str(int(np.random.uniform(100,999)))+"-"+str(int(np.random.uniform(100,999)))
        owner = {}
        owner['name'] = own_name
        owner['last_name'] = own_lastname
        owner['adres'] = own_street + ' ' + own_city
        owner['telefon'] = own_tel
        
        return(owner)
            
        
    def kastracja(self):
        rand = np.random.random()
        if rand > 0.1:
            self.kastracja = "tak"
            n_rand = np.random.random()
            if n_rand > 0.5:
                self.k_day = self.acc_time+ np.random.uniform(10,35)*24*3600
                self.daty_wizyt.append(self.k_day)
                self.wizyty.append("kastracja")
                self.ceny.append(200)
            else:
                self.k_day = self.birth_date + np.random.uniform(200,350)*24*3600

        else:
            self.kastracja = "nie"
            self.k_day = 0
        
        
        return(self.kastracja, self.k_day)
    def next_acceptance(self):
        day2sec = 24*3600
        new_acc_time = 0
        #20% zwierzakow wraca do schorniska
        if self.ad_time is not None:
            new_acc_time = np.random.uniform(self.ad_time+3*day2sec, self.actual_time-7*day2sec ) 
        #print(acc_time > self.actual_time)
        #print(bool(acc_time < self.birth_date))
        #print(time.localtime(acc_time))
        #acceptance date    
        self.acc_time = new_acc_time
        p_wizyta = self.acc_time+24*3600
        self.daty_wizyt.append(p_wizyta)
        self.wizyty.append("pierwsza wizyta")
        self.ceny.append(50)
        return( self.acc_time )
    
    
#sterylizacja - klasa zwierze - data wizty +1 dzien +tydzien sterylizacja
#0.01 0.01
#2 lata
#aktu -200
# wykladniczy ale od pewnego momentu z paramtrem 1
#masa ciała
#400 - 95% adotptowane , 5% zmarłe
#adopcje
# maks - 5, srednio -2, procent wracajacych - 30% 
# w wiekszosci darowizna, co miesiac -wyplaty, dotacja z urzedu
#imiona - nie powtarzaja sie - usuwam z listy uzyte imie

## Funkcja pracownik

In [5]:
def pracownik(own_names, own_lastnames, own_streets, own_city, years=3.21):
        own_ind0 = int(np.round(np.random.uniform(0,len(own_names)),0)-1)
        own_ind1 = int(np.round(np.random.uniform(0,len(own_lastnames)),0)-1)
        own_ind2 = int(np.round(np.random.uniform(0,len(own_streets)),0)-1)
        own_name = own_names[own_ind0][0]
        own_lastname = own_lastnames[own_ind1][0]
        own_street = own_streets[own_ind2]+' ' + str(int(np.random.uniform(1,100)))
        own_tel = str(int(np.random.uniform(100,999)))+"-"
        own_tel = own_tel + str(int(np.random.uniform(100,999)))+"-"+str(int(np.random.uniform(100,999)))
        owner = {}
        owner['name'] = own_name
        owner['last_name'] = own_lastname
        owner['adres'] = own_street + ' ' + own_city
        owner['telefon'] = own_tel
        years2sec = 365.25*24*3600
        actual_time = time.time()
        open_time = actual_time - years*years2sec
        
        data_zat = np.random.uniform(open_time, actual_time)
        data_zw =  np.random.uniform(data_zat, actual_time+24*3600)
        owner["zatr"] = data_zat
        owner["zwoln"] = data_zw
        return(owner)

In [6]:
ulice = ['ul. Agrestowa',
'ul. Akacjowa',
'ul. Armii Krajowej',
'ul. Balonowa',
'ul. Batalionów Chłopskich',
'ul. gen. Józefa Bema',
'ul. Błękitna',
'ul. Bociania',
'ul. Jerzego Bocka',
'ul. Boczna',
'ul. Bolesława Krzywoustego',
'ul. Arkadiusza Bożka',
'ul. Bratnia',
'ul. Brzozowa',
'ul. Ceglana',
'ul. Fryderyka Chopina',
'ul. Cicha',
'ul. Ciepła',
'ul. Antoniego Cieszyńskiego',
'ul. Cmentarna',
'ul. Bronisława Czecha',
'ul. Ignacego Daszyńskiego',
'ul. Henryka Dąbrowskiego',
'ul. Demokratów',
'ul. Kazimierza Deyny',
'ul. Dobroszycka',
'ul. Energetyczna',
'ul. Fabryczna',
'ul. Gliniana',
'ul. Władysława Grabskiego',
'ul. Gryczana',
'ul. gen. Józefa Hallera',
'ul. św. Jadwigi',
'ul. Jagodowa',
'ul. Jaśminowa',
'ul. Jarzynowa',
'ul. Jasna',
'ul. Jastrzębia',
'ul. Jęczmienna',
'ul. Kasztanowa',
'ul. Kazimierza Wielkiego',
'ul. Jana Kilińskiego',
'ul. gen. Franciszka Kleeberga',
'ul. Klonowa',
'ul. Jana Kochanowskiego',
'ul. Kolejowa',
'ul. Kościelna',
'ul. Tadeusza Kościuszki',
'skwer Kombatantów Rzeczypospolitej',
'ul. Mikołaja Kopernika',
'ul. Kosynierów',
'ul. Krótka',
'ul. Kresowa',
'ul. Krucza',
'ul. Krzywa',
'ul. Janusza Kusocińskiego',
'ul. Eugeniusza Felicjana Kwiatkowskiego',
'ul. Kwiatowa',
'ul. Joachima Lelewela',
'ul. Leśna',
'ul. Leszczynowa',
'ul. Bolesława Limanowskiego',
'ul. Lipowa',
'ul. 11 Listopada',
'ul. Lotnicza',
'ul. Stefana Żeromskiego',
'ul. Żwirki i Wigury',
'ul. Żytnia',
'ul. Ludwikowska',
'ul. Lwowska',
'ul. Henryka Łasaka',
'ul. Łąkowa',
'ul. Łowiecka',
'ul. Łukanowska',
'ul. Łużycka',
'pl. Książąt Śląskich',
'ul. Tadeusza Ślusarskiego',
'ul. Świerkowa',
'ul. gen. Stanisława Maczka',
'ul. 3 Maja',
'ul. Malinowa',
'ul. Bronisława Malinowskiego',
'ul. Małopolna',
'ul. Jana Matejki',
'ul. Adama Mickiewicza',
'ul. Stanisława Mikołajczyka',
'ul. Miła',
'ul. Miodowa',
'ul. Młynarska',
'ul. Mokra',
'ul. Ignacego Mościckiego',
'ul. Stanisława Moniuszki',
'ul. Na Podkowie',
'ul. Gabriela Narutowicza',
'ul. Nowowiejska',
'ul. Ogrodowa',
'ul. Okrężna',
'ul. Orla',
'ul. Osada Bystre',
'ul. Osiedle',
'ul. Otwarta',
'ul. Owocowa',
'ul. Owsiana',
'ul. Ignacego Paderewskiego',
'ul. Parkowa',
'ul. Północna',
'ul. Pocztowa',
'ul. Podchorążych',
'ul. Pogodna',
'ul. Polna',
'ul. Południowa',
'ul. Księcia Józefa Poniatowskiego',
'ul. Poprzeczna',
'ul. Porzeczkowa',
'ul. Powietrzna',
'ul. Poziomkowa',
'ul. Prosta',
'ul. Bolesława Prusa',
'ul. Przemysłowa',
'ul. Kazimierza Przerwy-Tetmajera',
'ul. Przyjaźni',
'ul. Bogusława Psujka',
'ul. Pszeniczna',
'ul. Ptasia',
'ul. Kazimierza Pułaskiego',
'ul. Heleny Radlińskiej',
'ul. Różana',
'ul. Mikołaja Reja',
'ul. Tadeusza Rejtana',
'ul. Władysława Stanisława Reymonta',
'rondo Rondo Jana Pawła II',
'rondo Rondo Miast Partnerskich',
'ul. Wandy Rutkiewicz',
'ul. Rycerska',
'ul. Rzemieślnicza',
'ul. Rzepakowa',
'ul. Sejmowa',
'ul. Janusza Sidły',
'ul. Henryka Sienkiewicza',
'ul. gen. Władysława Sikorskiego',
'ul. Jana Sinapiusa',
'ul. Marii Skłodowskiej-Curie',
'ul. Słoneczna',
'ul. Juliusza Słowackiego',
'ul. Sokola',
'ul. Ignacego Solarza',
'rondo Solidarności',
'ul. Sosnowa',
'ul. Spacerowa',
'ul. Spadochronowa',
'ul. Spokojna',
'ul. Feliksa Stamma',
'ul. Jana Stapińskiego',
'pl. Stanisława Staszica',
'ul. Stawowa',
'ul. Stolarska'
'ul. mjr. Henryka Sucharskiego',
'ul. ks. Franciszka Sudoła',
'ul. Szkolna',
'ul. Szybowcowa',
'ul. Targowa',
'ul. Tęczowa',
'ul. Lwa Tołstoja',
'ul. Trakcyjna',
'ul. Romualda Traugutta',
'ul. Stanisławy Walasiewicz',
'ul. Wałowa',
'ul. Wały Jagiellońskie',
'ul. Wądoły',
'ul. Wąska',
'ul. Wesoła',
'ul. Wiejska',
'ul. Wielkopolna',
'ul. Wierzbowa',
'ul. Wikliniarska',
'ul. Wileńska',
'ul. Wiśniowa',
'ul. Wincentego Witosa',
'ul. Wojska Polskiego',
'ul. Wrocławska',
'ul. Wschodnia',
'ul. Wspólna',
'ul. Józefa Wybickiego',
'ul. Zakładowa',
'ul. Zamkowa',
'ul. Zielona'
]

In [8]:
# zmieniam polskie znaki w nazwach ulic
for i in range(len(ulice)):
    ulice[i] = ulice[i].replace('ą','a')
    ulice[i] = ulice[i].replace('ć','c')
    ulice[i] = ulice[i].replace('ę','e')
    ulice[i] = ulice[i].replace('ł','l')
    ulice[i] = ulice[i].replace('ń','n')
    ulice[i] = ulice[i].replace('ó','o')
    ulice[i] = ulice[i].replace('ś','s')
    ulice[i] = ulice[i].replace('ż','z')
    ulice[i] = ulice[i].replace('ź','z')

## Dane

In [10]:
names_male = pd.read_csv('./dane/names_male.csv', names = ['names'], encoding='unicode_escape')
names_female = pd.read_csv('./dane/names_female.csv', names = ['names'], encoding='unicode_escape')
lastnames_male = pd.read_csv('./dane/lastnames_male.csv',names = ['names'], encoding='unicode_escape')
lastnames_female = pd.read_csv('./dane/lastnames_female.csv',names = ['names'], encoding='unicode_escape')
miasta = ["Wrocław", "Oleśnica", "Opole"]
names_male = (names_male.values).tolist() 
lastnames_male = (lastnames_male.values).tolist()
names_female = (names_female.values).tolist() 
lastnames_female = (lastnames_female.values).tolist()

## Schronisko

In [11]:
actual_time = time.time()
#tutaj zbieram dane o pracownikach
pr_id = []
o_years = 3.21 #lata działania schroniska

years2sec = 365.25*24*3600
#data otwarcia schroniska
open_time = actual_time - o_years*years2sec
zwolnienia  = []

## Pracownicy

### Byli opiekunowie

In [31]:
byli_opiekunowie = [] 
opiekunowie = []
for i in range(4):
    p_id = id_generator(i=i, first=2)
    rand = np.random.random()
    if rand>0.5:
        opiekun = pracownik(names_male, lastnames_male, ulice, "Wrocław")
    else:
        opiekun = pracownik(names_female, lastnames_female, ulice, "Wrocław")
    zatr = dataformat(open_time)
    zwol = opiekun["zwoln"]
    zwolnienia.append(zwol)
    zwo = dataformat(zwol)
    opiekun_d = {'id':p_id, 'imie': opiekun['name'], 'nazwisko': opiekun['last_name'], 
               'adres': opiekun['adres'], 'telefon': opiekun['telefon'], 'zatrudnienie':zatr, "zwolenienie": zwo,
          'stanowisko': 'opiekun', 'pensja': 2500}
    byli_opiekunowie.append(opiekun_d)
    opiekunowie.append(opiekun_d)
byli_opiekunowie = pd.DataFrame(data=byli_opiekunowie)
byli_opiekunowie

,adres,id,imie,nazwisko,pensja,stanowisko,telefon,zatrudnienie,zwolenienie
0,ul. Osiedle 21 Wrocław,20000,ANNA,DAKHIL,2500,opiekun,175-619-619,2016-04-04,2018-11-10
1,ul. Przyjazni 76 Wrocław,20001,KAROLINA,DÅ»EDÅ»,2500,opiekun,167-276-302,2016-04-04,2018-01-13
2,ul. Boczna 32 Wrocław,20002,DANIEL,ZDENKOWSKI,2500,opiekun,990-871-456,2016-04-04,2018-04-01
3,ul. Fabryczna 90 Wrocław,20003,IZABELA,RAMOLA-PIÃRKOWSK,2500,opiekun,616-594-579,2016-04-04,2017-10-11

### Aktualni opiekunowie

In [32]:
#najpierw opiekunowie
#4 opiekunow pracuje aktualnie
for i in range(4):
    rand = np.random.random()
    if rand>0.5:
        opiekun = pracownik(names_male, lastnames_male, ulice, "Wrocław")
    else:
        opiekun = pracownik(names_female, lastnames_female, ulice, "Wrocław")

    zatr = dataformat(zwolnienia[i]+np.random.uniform(1,30)*24*3600)

    zwo = "9999-99-99"
    p_id = id_generator(i=i, first=2)
    pr_id.append(p_id)
    opiekun_d = {'id':p_id, 'imie': opiekun['name'], 'nazwisko': opiekun['last_name'], 
               'adres': opiekun['adres'], 'telefon': opiekun['telefon'], 'zatrudnienie':zatr, "zwolenienie": zwo,
          'stanowisko': 'opiekun', 'pensja': 2500}
    opiekunowie.append(opiekun_d)

### Reszta pracowników

In [33]:
#kierowca, ksiegowy, kierownik, asystent kierownika -pracuja od poczatku
pensje = ['3000','3500','5000', '4000']
stanowiska = ['kierowca', 'księgowy', 'kierownik', 'asystent kierownika']
for i in range(4):
    p_id = id_generator(i=i, first=1)
    rand = np.random.random()
    if rand>0.5:
        opiekun = pracownik(names_male, lastnames_male, ulice, "Wrocław")
    else:
        opiekun = pracownik(names_female, lastnames_female, ulice, "Wrocław")
    zatr = dataformat(open_time)
    zwo = "9999-99-99"


    opiekun_d = {'id':p_id, 'imie': opiekun['name'], 'nazwisko': opiekun['last_name'], 
               'adres': opiekun['adres'], 'telefon': opiekun['telefon'], 'zatrudnienie':zatr, "zwolenienie": zwo,
          'stanowisko': stanowiska[i], 'pensja': pensje[i]}
    opiekunowie.append(opiekun_d)

In [34]:
pd.DataFrame(data=opiekunowie)

,adres,id,imie,nazwisko,pensja,stanowisko,telefon,zatrudnienie,zwolenienie
0,ul. Osiedle 21 Wrocław,20000,ANNA,DAKHIL,2500,opiekun,175-619-619,2016-04-04,2018-11-10
1,ul. Przyjazni 76 Wrocław,20001,KAROLINA,DÅ»EDÅ»,2500,opiekun,167-276-302,2016-04-04,2018-01-13
2,ul. Boczna 32 Wrocław,20002,DANIEL,ZDENKOWSKI,2500,opiekun,990-871-456,2016-04-04,2018-04-01
3,ul. Fabryczna 90 Wrocław,20003,IZABELA,RAMOLA-PIÃRKOWSK,2500,opiekun,616-594-579,2016-04-04,2017-10-11
4,ul. Łuzycka 95 Wrocław,20000,JANUSZ,ZEQO,2500,opiekun,177-849-300,2019-02-25,9999-99-99
5,ul. Wikliniarska 14 Wrocław,20001,DANIEL,GISLER,2500,opiekun,927-654-235,2017-10-16,9999-99-99
6,ul. Poprzeczna 33 Wrocław,20002,ANTONI,BIN ZAINUDIN,2500,opiekun,578-724-773,2018-07-20,9999-99-99
7,ul. Zakladowa 31 Wrocław,20003,MIKOÅA,TAJER,2500,opiekun,483-970-525,2019-02-11,9999-99-99
8,ul. Brzozowa 86 Wrocław,10000,LENA,PACHWALD,3000,kierowca,479-872-227,2016-04-04,9999-99-99
9,ul. Stanislawy Walasiewicz 87 Wrocław,10001,JOANNA,BUKRAB,3500,księgowy,587-812-337,2016-04-04,9999-99-99
10,ul. Jastrzebia 23 Wrocław,10002,MARCIN,MACHIK,5000,kierownik,826-875-965,2016-04-04,9999-99-99
11,ul. Polnocna 51 Wrocław,10003,MARIA,BENO,4000,asystent kierownika,783-596-446,2016-04-04,9999-99-99

### Wolontariusze

In [35]:
#przez schronisko przewinelo sie 67 wolontariuszy
wolontariusze = []
for i in range(67):
    p_id = id_generator(i=i, first=4)
        
    rand = np.random.random()
    if rand>0.5:
        opiekun = pracownik(names_male, lastnames_male, ulice, "Wrocław")
    else:
        opiekun = pracownik(names_female, lastnames_female, ulice, "Wrocław")
        
    zatr = dataformat(opiekun['zatr'])
    
    
    zwol = opiekun["zwoln"]
    zwo = dataformat(zwol)
    
    if np.random.random() > 0.9:
        zwo = '9999-99-99'
    
    wolontariusz =  {'id':p_id, 'imie': opiekun['name'], 'nazwisko': opiekun['last_name'], 
               'adres': opiekun['adres'], 'telefon': opiekun['telefon'], 'zatrudnienie':zatr, 
                     "rezygnacja": zwo}
    wolontariusze.append(wolontariusz)

In [36]:
pd.DataFrame(data=wolontariusze)

,adres,id,imie,nazwisko,rezygnacja,telefon,zatrudnienie
0,ul. Bociania 86 Wrocław,40000,STANISÅAW,KOBSA,2019-06-01,825-671-402,2018-09-20
1,ul. Targowa 79 Wrocław,40001,LENA,GRABIÅ,2017-10-08,604-245-806,2017-05-19
2,ul. Zielona 39 Wrocław,40002,TOMASZ,GATZKA,2017-12-01,610-188-629,2017-07-18
3,ul. Henryka Sienkiewicza 90 Wrocław,40003,ANTONI,GOLAÅSK,2019-02-19,117-472-136,2018-07-19
4,ul. Otwarta 50 Wrocław,40004,ANETA,PITRACHA,2017-01-11,981-668-720,2016-08-13
5,ul. Henryka Łasaka 20 Wrocław,40005,GRAÅ»YN,MOLÄ,2019-02-06,895-383-140,2018-12-18
6,ul. Tadeusza Rejtana 11 Wrocław,40006,SÅAWOMI,GUDYNG,2018-01-04,764-632-713,2016-12-15
7,ul. Feliksa Stamma 51 Wrocław,40007,JANINA,BERRY ORÅOWSK,2019-04-10,265-419-110,2019-01-11
8,ul. Blekitna 95 Wrocław,40008,MATEUSZ,ANGEÅO,2019-06-04,688-526-573,2018-06-21
9,ul. Bratnia 68 Wrocław,40009,BEATA,MÄDRAL,2019-05-27,664-921-924,2019-05-26
10,rondo Rondo Miast Partnerskich 5 Wrocław,40010,KAZIMIERZ,PETRUKHIN,2017-05-13,389-729-847,2017-02-05
11,ul. Jeczmienna 98 Wrocław,40011,AGATA,DEMNICKA,9999-99-99,604-540-607,2016-08-22
12,ul. Fabryczna 96 Wrocław,40012,PATRYK,D' AGOSTINO,2018-12-07,893-409-681,2018-11-19
13,ul. Stanislawy Walasiewicz 63 Wrocław,40013,JADWIGA,DZIARÅOWSK,9999-99-99,979-406-586,2019-03-14
14,ul. Wikliniarska 48 Wrocław,40014,KRYSTYNA,MACHOÅK,2019-06-17,737-111-437,2019-06-04
15,ul. Jana Sinapiusa 52 Wrocław,40015,IRENA,BUSZEWYCKA,2017-10-22,597-736-682,2017-05-11
16,ul. Rozana 57 Wrocław,40016,WIKTOR,LOSOWSKI,2017-12-03,330-596-522,2017-04-25
17,ul. Podchorazych 60 Wrocław,40017,DANUTA,ZWOLAKIEWICZ,9999-99-99,887-271-658,2019-04-28
18,ul. Brzozowa 23 Wrocław,40018,EWELINA,TWARDAK,2017-09-10,694-297-155,2017-05-08
19,ul. Koscielna 60 Wrocław,40019,ANTONI,ROSÅANIE,9999-99-99,226-776-210,2018-10-27
20,ul. Jasminowa 49 Wrocław,40020,STANISÅA,MULICZ,2019-05-19,256-290-720,2018-11-30
21,ul. Stanislawy Walasiewicz 54 Wrocław,40021,WOJCIECH,CHRABROW,9999-99-99,168-199-528,2018-10-21
22,ul. Pszeniczna 96 Wrocław,40022,PATRYK,{ARNIAK,2017-05-28,428-704-872,2016-08-15
23,ul. Otwarta 20 Wrocław,40023,RENATA,HAGENAU,2018-06-12,986-112-802,2017-06-01
24,ul. Demokratow 63 Wrocław,40024,KAMIL,MALINEK,2016-04-29,364-526-216,2016-04-17
25,ul. Boleslawa Prusa 13 Wrocław,40025,HALINA,NOATYÅSK,2018-09-01,815-892-492,2018-08-06
26,ul. Jeczmienna 6 Wrocław,40026,IRENA,ANICHIMOWSKA,2018-10-11,486-659-878,2018-08-01
27,ul. Szybowcowa 21 Wrocław,40027,HANNA,SZMALC,2019-03-26,337-952-872,2019-01-03
28,ul. Boleslawa Limanowskiego 35 Wrocław,40028,SÅAWOMI,STYC,9999-99-99,774-417-173,2017-06-05
29,ul. Bociania 9 Wrocław,40029,MATEUSZ,{UROWICKI,2018-12-22,197-790-128,2017-11-16
...,...,...,...,...,...,...,...
37,ul. Spokojna 78 Wrocław,40037,STANISÅA,SHTELMAKH,2017-09-20,542-325-942,2016-06-27
38,ul. gen. Jozefa Hallera 73 Wrocław,40038,JÃZE,JENDROÅK,9999-99-99,477-522-181,2018-04-26
39,ul. Lotnicza 87 Wrocław,40039,SYLWIA,OZINKOWSKA,2017-07-03,302-847-797,2016-11-01
40,ul. Tadeusza Rejtana 33 Wrocław,40040,SZYMON,GUBALSKI,2017-07-12,940-546-591,2017-03-13
41,ul. gen. Wladyslawa Sikorskiego 51 Wrocław,40041,TOMASZ,YANCHAK,2019-04-13,385-623-500,2019-03-14
42,ul. gen. Wladyslawa Sikorskiego 31 Wrocław,40042,KAROLINA,ROZBIEWSKA,2019-05-18,314-534-534,2019-03-15
43,ul. Romualda Traugutta 72 Wrocław,40043,IZABELA,MECNAROWSKA,2018-01-06,732-828-149,2016-12-07
44,ul. Mlynarska 61 Wrocław,40044,KAROLINA,TARNOVSKA,9999-99-99,736-454-697,2017-11-19
45,ul. Lotnicza 70 Wrocław,40045,ELÅ»BIET,NONG,2019-03-15,889-288-550,2018-01-05
46,ul. Na Podkowie 10 Wrocław,40046,STANISÅA,IMIELINSKI,2016-11-22,869-467-916,2016-06-28
47,ul. Janusza Sidly 80 Wrocław,40047,JACEK,RYZHUK,2019-05-29,713-450-933,2016-09-17
48,ul. Jana Matejki 39 Wrocław,40048,FRANCISZEK,AANEK,2018-02-23,423-122-437,2017-04-24
49,ul. Żytnia 81 Wrocław,40049,RENATA,BAÅABAS,2018-03-27,970-112-967,2017-11-13
50,ul. Kolejowa 12 Wrocław,40050,MARCIN,RÃZIÅS,2019-03-31,369-445-272,2019-03-03
51,ul. Romualda Traugutta 59 Wrocław,40051,DANUTA,DIULDINA,2019-03-12,425-511-108,2017-05-26
52,ul. Kazimierza Wielkiego 58 Wrocław,40052,JANUSZ,AULAK,2018-02-10,901-568-486,2018-02-03
53,ul. Heleny Radlinskiej 70 Wrocław,40053,GRAÅ»YN,HUBNER,2019-05-31,747-823-566,2019-05-14
54,ul. Lwa Tolstoja 65 Wrocław,40054,IWONA,KULLING,2019-05-10,842-683-399,2018-06-13
55,ul. Ignacego Paderewskiego 90 Wrocław,40055,KAMIL,HOÅDONOWIC,2016-07-06,860-867-299,2016-04-21
56,ul. Energetyczna 68 Wrocław,40056,DANIEL,WIÃR,2017-09-07,280-171-647,2016-05-10
57,ul. Rzemieslnicza 32 Wrocław,40057,IZABELA,PLACHTA,2019-03-19,542-721-950,2017-06-08
58,ul. gen. Jozefa Hallera 6 Wrocław,40058,SYLWIA,BANDZMER-KARUC,2019-05-04,666-143-259,2018-12-29
59,ul. Osiedle 3 Wrocław,40059,ZBIGNIEW,ZEMKE,2018-11-15,108-577-680,2017-10-23
60,ul. Akacjowa 77 Wrocław,40060,IRENA,KEACH,2018-02-02,136-359-513,2016-07-26
61,ul. Jozefa Wybickiego 27 Wrocław,40061,JUSTYNA,{YTOMIRSKA,2019-05-08,133-276-492,2019-03-22
62,ul. Sosnowa 29 Wrocław,40062,DOROTA,CHRISTIAN,2018-08-14,433-724-984,2018-05-08
63,ul. Na Podkowie 40 Wrocław,40063,SEBASTIAN,TEDYS,2018-09-17,848-590-730,2018-08-22
64,ul. Jerzego Bocka 30 Wrocław,40064,IZABELA,DROGOWSKA,2018-03-03,329-375-229,2016-11-24
65,ul. Jagodowa 20 Wrocław,40065,MARTA,CUKIERKORN,2018-12-13,686-227-261,2018-11-23
66,ul. Teczowa 79 Wrocław,40066,KACPER,SLINDER,2018-02-07,786-637-224,2017-12-22

### Weterynarze

In [37]:
# 3 weterynarzy
#najpierw opiekunowie
#4 opiekunow pracuje aktualnie
weterynarze =[] 
w_id = []
miastaW = ["Wrocław", "Wrocław", "Oleśnica","Wrocław"]
for i in range(4):
    rand = np.random.random()
    if rand>0.5:
        opiekun = pracownik(names_male, lastnames_male, ulice, miastaW[i])
    else:
        opiekun = pracownik(names_female, lastnames_female, ulice, miastaW[i])

    zatr = dataformat(open_time)
    zwo = "9999-99-99"
    p_id = id_generator(i=i, first=3)
    w_id.append(p_id)
    opiekun_d = {'id':p_id, 'imie': opiekun['name'], 'nazwisko': opiekun['last_name'], 
               'adres': opiekun['adres'], 'telefon': opiekun['telefon'], 'zatrudnienie':zatr, "zwolenienie": zwo,
          'stanowisko': 'weterynarz'}
    weterynarze.append(opiekun_d)

In [38]:
pd.DataFrame(data=weterynarze)

,adres,id,imie,nazwisko,stanowisko,telefon,zatrudnienie,zwolenienie
0,ul. Boleslawa Prusa 78 Wrocław,30000,MIKOÅA,MARECHAL,weterynarz,909-614-879,2016-04-04,9999-99-99
1,ul. Kazimierza Deyny 41 Wrocław,30001,MARIAN,PAPST,weterynarz,635-597-457,2016-04-04,9999-99-99
2,ul. Pogodna 90 Oleśnica,30002,JAKUB,DUDERSTADT,weterynarz,529-192-253,2016-04-04,9999-99-99
3,ul. Lwowska 80 Wrocław,30003,ADAM,PAKÅO,weterynarz,767-210-531,2016-04-04,9999-99-99

# Zwierzęta

In [39]:
informacje = []
gatunki = []
zwierz_schr = []
zwierz_byle = []
adoptujacy = []
hist_zdr = []
transakcje = []

### gatunki

In [40]:
#gatunki
gatunki = {'nazwa' : ['pies', 'kot', 'szczur'], 'id_gatunku': [1,2,3]}
gat = pd.DataFrame(data=gatunki)
gat

    nazwa  id_gatunku
0    pies           1
1     kot           2
2  szczur           3

## W schronisku

### pieski

In [41]:
#92 psy- tyle liczy aktualnie nasze schronisko, 41 kotow, i 17 szczurow
len_dog = 92
k = 1
l = 1
for i in range(len_dog):
    dog_info = {}
    dog_schr = {}
    dog_wiz = {}
    dog_trans = {}
    dog = Animal(species = 'pies')
    birth = dog.birth()
    birth_d = dataformat(birth)
    acc = dog.acceptance()
    if np.random.random()>0.7:
        dog_info['wcześniej adoptowany'] = "tak"
        adop = dog.adoption()
        #ponowne przyjecie
        acc = dog.next_acceptance()
        if np.random.random()>0.9:
            adop = dog.adoption()
            #ponowne przyjecie
            acc = dog.next_acceptance()
    else:
        dog_info['wcześniej adoptowany'] = "nie"

    dog_info['data_urodzenia'] = birth_d
    dog_info['data_przyjecia'] = dataformat(acc)
    
    dog_info['plec'] = dog.plec()
    dog_info['masa'] = dog.masa()
    dog_info['imie'] = dog.name('./dane/npieski.csv')
    kastracja = dog.kastracja()
    dog_info['id_gat'] = 1
    dog_schr['id_gat'] = dog_info['id_gat']

    dog_info['id'] = id_generator(i=i, first=6, second =1)
        
    dog_schr['id'] = dog_info['id']
        
    if np.random.random()>0.9:
        dog_info['inne_zwierzeta'] = "agresywny"
    else:
        dog_info['inne_zwierzeta'] = "łagodny"
    umaszczenie= dog.umaszczenie()
    
    dog_info['umaszczenie']=umaszczenie[0]
    dog_info['gatunek'] = umaszczenie[1]
    
    if dog_info['masa']>=20:
        dog_info['ID opiekuna'] = [pr_id[0]]
        dog_info['blok'] = 'A_'+str(k)
        k += 1
    else:
        dog_info['ID opiekuna'] = [pr_id[1]]
        dog_info['blok'] = 'B_'+str(l)
        l += 1
    dog_schr['ID opiekuna'] = dog_info['ID opiekuna']
    dog_schr['blok'] = dog_info['blok']
    ## czy nadaje sie do adopcji?
    if np.random.random()>0.1:
        data_wiz, chor, zalec, cena = dog.Wizyty()
        if np.random.random()>0.7:
            data_wiz1, chor1, zalec1, cena1 = dog.Wizyty()
    zdrowie = dog.stan_zdrowia()
    if zdrowie  == "zdrowy":
        dog_schr['Stan'] = "nadaje się do adopcji"
    else:
        dog_schr['Stan'] = "nie nadaje się do adopcji - "+str(zdrowie)
    wizyty, daty, ceny = dog.choroby()
    for j in range(len(wizyty)):
        dog_wiz['ID_wizyty'] =  id_generator(i = i, first = 4, second = j)
        dog_wiz['id'] = dog_info['id']
        index =int(np.round(np.random.uniform(0,3.49),0))
        id_pr =  w_id[index]
        dog_wiz['ID pracownika'] = id_pr
        dog_wiz['data wizyty'] = dataformat(daty[j])
        dog_wiz['diagnoza'] = wizyty[j]
        dog_wiz['zalecenia'] = 'lek'
        dog_wiz['stan zdrowia'] = zdrowie
        dog_wiz['sterylizacja'] = kastracja[0]
        dog_trans['id_transakcji'] = id_generator(i = i, first = 5, second = j)
        dog_trans['tytuł']='weterynarz, id_zwierzecia:'+ str(dog_info['id'])
        dog_trans['kwota'] = ceny[j]
        dog_trans['data'] = dataformat(daty[j])
        dog_trans['imie'] = weterynarze[index]['imie']
        dog_trans['nazwisko'] = weterynarze[index]['nazwisko']
    transakcje.append(dog_trans)
    hist_zdr.append(dog_wiz)
    zwierz_schr.append(dog_schr)
    informacje.append(dog_info)

### kotki

In [42]:
#92 psy- tyle liczy aktualnie nasze schronisko. 
len_cat = 41
k = 0
for i in range(len_cat):
    dog_info = {}
    dog_schr = {}
    dog_wiz = {}
    dog_trans = {}
    dog = Animal(species = 'kot')
    birth = dog.birth()
    birth_d = dataformat(birth)
    acc = dog.acceptance()
    if np.random.random()>0.7:
        dog_info['wcześniej adoptowany'] = "tak"
        adop = dog.adoption()
        #ponowne przyjecie
        acc = dog.next_acceptance()
        if np.random.random()>0.9:
            adop = dog.adoption()
            #ponowne przyjecie
            acc = dog.next_acceptance()
    else:
        dog_info['wcześniej adoptowany'] = "nie"

    dog_info['data_urodzenia'] = birth_d
    dog_info['data_przyjecia'] = dataformat(acc)
    
    dog_info['plec'] = dog.plec()
    dog_info['masa'] = dog.masa()
    dog_info['imie'] = dog.name('./dane/npieski.csv')
    kastracja = dog.kastracja()
    dog_info['id_gat'] = 2
    dog_schr['id_gat'] = dog_info['id_gat']
    dog_info['id'] = id_generator(i=i, first=6, second =2)
        
        
    dog_schr['id'] = dog_info['id']
        
    if np.random.random()>0.9:
        dog_info['inne_zwierzeta'] = "agresywny"
    else:
        dog_info['inne_zwierzeta'] = "łagodny"
    umaszczenie= dog.umaszczenie()
    
    dog_info['umaszczenie']=umaszczenie[0]
    dog_info['gatunek'] = umaszczenie[1]
    
    dog_info['ID opiekuna'] = [pr_id[3]]
    if i%3==0:
        dog_info['blok'] = 'C_'+str(i//3)
        k = i
    else:
        dog_info['blok'] = 'C_'+str(k//3)
    
    dog_schr['ID opiekuna'] = dog_info['ID opiekuna']
    dog_schr['blok'] = dog_info['blok']
    ## czy nadaje sie do adopcji?
    if np.random.random()>0.1:
        data_wiz, chor, zalec, cena = dog.Wizyty()
        if np.random.random()>0.7:
            data_wiz1, chor1, zalec1, cena1 = dog.Wizyty()
    zdrowie = dog.stan_zdrowia()
    if zdrowie  == "zdrowy":
        dog_schr['Stan'] = "nadaje się do adopcji"
    else:
        dog_schr['Stan'] = "nie nadaje się do adopcji - "+str(zdrowie)
    wizyty, daty, ceny = dog.choroby()
    for j in range(len(wizyty)):
        dog_wiz['ID_wizyty'] =  id_generator(i = i, first = 4, second = j)
        dog_wiz['id'] = dog_info['id']
        index =int(np.round(np.random.uniform(0,3.49),0))
        id_pr =  w_id[index]
        dog_wiz['ID pracownika'] = id_pr
        dog_wiz['data wizyty'] = dataformat(daty[j])
        dog_wiz['diagnoza'] = wizyty[j]
        dog_wiz['zalecenia'] = 'lek'
        dog_wiz['stan zdrowia'] = zdrowie
        dog_wiz['sterylizacja'] = kastracja[0]
        dog_trans['id_transakcji'] = id_generator(i = i, first = 5, second = j)
        dog_trans['tytuł']='weterynarz, id_zwierzecia:'+ str(dog_info['id'])
        dog_trans['kwota'] = ceny[j]
        dog_trans['data'] = dataformat(daty[j])
        dog_trans['imie'] = weterynarze[index]['imie']
        dog_trans['nazwisko'] = weterynarze[index]['nazwisko']
    transakcje.append(dog_trans)
    hist_zdr.append(dog_wiz)
    zwierz_schr.append(dog_schr)
    informacje.append(dog_info)

### szczurki

In [43]:
#92 psy- tyle liczy aktualnie nasze schronisko. 
len_rat = 17
k=0
for i in range(len_rat):
    dog_info = {}
    dog_schr = {}
    dog_wiz = {}
    dog_trans = {}
    dog = Animal(species = 'szczur')
    birth = dog.birth()
    birth_d = dataformat(birth)
    acc = dog.acceptance()
    if np.random.random()>0.7:
        dog_info['wcześniej adoptowany'] = "tak"
        adop = dog.adoption()
        #ponowne przyjecie
        acc = dog.next_acceptance()
        if np.random.random()>0.9:
            adop = dog.adoption()
            #ponowne przyjecie
            acc = dog.next_acceptance()
    else:
        dog_info['wcześniej adoptowany'] = "nie"

    dog_info['data_urodzenia'] = birth_d
    dog_info['data_przyjecia'] = dataformat(acc)
    
    dog_info['plec'] = dog.plec()
    dog_info['masa'] = dog.masa()
    dog_info['imie'] = dog.name('./dane/npieski.csv')
    kastracja = dog.kastracja()
    dog_info['id_gat'] = 2
    dog_schr['id_gat'] = dog_info['id_gat']
    
    dog_info['id'] = id_generator(i=i, first=6, second =3)
        
        
    dog_schr['id'] = dog_info['id']
        
    if np.random.random()>0.9:
        dog_info['inne_zwierzeta'] = "agresywny"
    else:
        dog_info['inne_zwierzeta'] = "łagodny"
    umaszczenie= dog.umaszczenie()
    
    dog_info['umaszczenie']=umaszczenie[0]
    dog_info['gatunek'] = umaszczenie[1]
    
    dog_info['ID opiekuna'] = [pr_id[3]]
    dog_info['blok'] = 'C_14'
    
    dog_schr['ID opiekuna'] = dog_info['ID opiekuna']
    dog_schr['blok'] = dog_info['blok']
    ## czy nadaje sie do adopcji?
    if np.random.random()>0.1:
        data_wiz, chor, zalec, cena = dog.Wizyty()
        if np.random.random()>0.7:
            data_wiz1, chor1, zalec1, cena1 = dog.Wizyty()
    zdrowie = dog.stan_zdrowia()
    if zdrowie  == "zdrowy":
        dog_schr['Stan'] = "nadaje się do adopcji"
    else:
        dog_schr['Stan'] = "nie nadaje się do adopcji - "+str(zdrowie)
    wizyty, daty, ceny = dog.choroby()
    for j in range(len(wizyty)):
        dog_wiz['ID_wizyty'] =  id_generator(i = i, first = 4, second = j)
        dog_wiz['id'] = dog_info['id']
        index =int(np.round(np.random.uniform(0,3.49),0))
        id_pr =  w_id[index]
        dog_wiz['ID pracownika'] = id_pr
        dog_wiz['data wizyty'] = dataformat(daty[j])
        dog_wiz['diagnoza'] = wizyty[j]
        dog_wiz['zalecenia'] = 'lek'
        dog_wiz['stan zdrowia'] = zdrowie
        dog_wiz['sterylizacja'] = kastracja[0]
        dog_trans['id_transakcji'] = id_generator(i = i, first = 5, second = j)
        dog_trans['tytuł']='weterynarz, id_zwierzecia:'+ str(dog_info['id'])
        dog_trans['kwota'] = ceny[j]
        dog_trans['data'] = dataformat(daty[j])
        dog_trans['imie'] = weterynarze[index]['imie']
        dog_trans['nazwisko'] = weterynarze[index]['nazwisko']
    transakcje.append(dog_trans)
    hist_zdr.append(dog_wiz)
    zwierz_schr.append(dog_schr)
    informacje.append(dog_info)

In [44]:
pd.DataFrame(transakcje)

,data,id_transakcji,imie,kwota,nazwisko,tytuł
0,2018-10-21,52000,ADAM,65,PAKÅO,"weterynarz, id_zwierzecia:61000"
1,2018-03-09,51001,ADAM,137,PAKÅO,"weterynarz, id_zwierzecia:61001"
2,2019-05-24,51002,MARIAN,51,PAPST,"weterynarz, id_zwierzecia:61002"
3,2019-04-04,51003,JAKUB,150,DUDERSTADT,"weterynarz, id_zwierzecia:61003"
4,2018-12-28,52004,MARIAN,127,PAPST,"weterynarz, id_zwierzecia:61004"
5,2019-03-25,52005,ADAM,136,PAKÅO,"weterynarz, id_zwierzecia:61005"
6,2019-03-11,51006,ADAM,80,PAKÅO,"weterynarz, id_zwierzecia:61006"
7,2018-12-17,51007,MIKOÅA,121,MARECHAL,"weterynarz, id_zwierzecia:61007"
8,2017-12-24,51008,ADAM,53,PAKÅO,"weterynarz, id_zwierzecia:61008"
9,2019-02-23,52009,MARIAN,88,PAPST,"weterynarz, id_zwierzecia:61009"
10,2018-09-10,52010,MARIAN,127,PAPST,"weterynarz, id_zwierzecia:61010"
11,2016-07-16,51011,ADAM,108,PAKÅO,"weterynarz, id_zwierzecia:61011"
12,2019-01-28,52012,MARIAN,120,PAPST,"weterynarz, id_zwierzecia:61012"
13,2019-02-23,50013,ADAM,50,PAKÅO,"weterynarz, id_zwierzecia:61013"
14,2018-09-01,51014,MARIAN,105,PAPST,"weterynarz, id_zwierzecia:61014"
15,2018-12-04,52015,ADAM,140,PAKÅO,"weterynarz, id_zwierzecia:61015"
16,2019-05-30,52016,MARIAN,70,PAPST,"weterynarz, id_zwierzecia:61016"
17,2019-05-04,52017,ADAM,149,PAKÅO,"weterynarz, id_zwierzecia:61017"
18,2019-02-04,52018,ADAM,80,PAKÅO,"weterynarz, id_zwierzecia:61018"
19,2019-04-16,52019,MARIAN,61,PAPST,"weterynarz, id_zwierzecia:61019"
20,2019-06-18,51020,MARIAN,112,PAPST,"weterynarz, id_zwierzecia:61020"
21,2018-10-25,52021,ADAM,123,PAKÅO,"weterynarz, id_zwierzecia:61021"
22,2016-12-22,51022,ADAM,117,PAKÅO,"weterynarz, id_zwierzecia:61022"
23,2019-06-21,53023,ADAM,89,PAKÅO,"weterynarz, id_zwierzecia:61023"
24,2019-01-22,52024,ADAM,55,PAKÅO,"weterynarz, id_zwierzecia:61024"
25,2019-05-14,53025,MARIAN,109,PAPST,"weterynarz, id_zwierzecia:61025"
26,2019-05-12,52026,MARIAN,63,PAPST,"weterynarz, id_zwierzecia:61026"
27,2019-04-26,53027,ADAM,146,PAKÅO,"weterynarz, id_zwierzecia:61027"
28,2019-06-06,52028,ADAM,74,PAKÅO,"weterynarz, id_zwierzecia:61028"
29,2019-02-25,52029,JAKUB,119,DUDERSTADT,"weterynarz, id_zwierzecia:61029"
...,...,...,...,...,...,...
120,2018-04-23,52028,JAKUB,104,DUDERSTADT,"weterynarz, id_zwierzecia:62028"
121,2017-12-15,51029,JAKUB,140,DUDERSTADT,"weterynarz, id_zwierzecia:62029"
122,2019-06-20,53030,ADAM,107,PAKÅO,"weterynarz, id_zwierzecia:62030"
123,2019-06-07,53031,ADAM,136,PAKÅO,"weterynarz, id_zwierzecia:62031"
124,2018-05-26,51032,ADAM,130,PAKÅO,"weterynarz, id_zwierzecia:62032"
125,2018-06-20,52033,MARIAN,93,PAPST,"weterynarz, id_zwierzecia:62033"
126,2019-01-20,53034,JAKUB,83,DUDERSTADT,"weterynarz, id_zwierzecia:62034"
127,2018-06-13,52035,MIKOÅA,149,MARECHAL,"weterynarz, id_zwierzecia:62035"
128,2019-01-02,53036,MARIAN,75,PAPST,"weterynarz, id_zwierzecia:62036"
129,2018-10-25,52037,MARIAN,80,PAPST,"weterynarz, id_zwierzecia:62037"
130,2019-03-17,51038,ADAM,64,PAKÅO,"weterynarz, id_zwierzecia:62038"
131,2019-06-19,54039,ADAM,119,PAKÅO,"weterynarz, id_zwierzecia:62039"
132,2018-11-22,51040,MIKOÅA,91,MARECHAL,"weterynarz, id_zwierzecia:62040"
133,2019-04-17,52000,ADAM,108,PAKÅO,"weterynarz, id_zwierzecia:63000"
134,2019-06-12,53001,MARIAN,147,PAPST,"weterynarz, id_zwierzecia:63001"
135,2019-05-29,52002,MARIAN,74,PAPST,"weterynarz, id_zwierzecia:63002"
136,2019-06-17,51003,MARIAN,106,PAPST,"weterynarz, id_zwierzecia:63003"
137,2019-05-28,51004,ADAM,130,PAKÅO,"weterynarz, id_zwierzecia:63004"
138,2019-05-08,52005,ADAM,50,PAKÅO,"weterynarz, id_zwierzecia:63005"
139,2019-06-19,52006,MIKOÅA,64,MARECHAL,"weterynarz, id_zwierzecia:63006"
140,2019-06-07,54007,ADAM,141,PAKÅO,"weterynarz, id_zwierzecia:63007"
141,2019-04-18,53008,MARIAN,134,PAPST,"weterynarz, id_zwierzecia:63008"
142,2019-06-17,52009,MARIAN,150,PAPST,"weterynarz, id_zwierzecia:63009"
143,2019-06-04,51010,MARIAN,90,PAPST,"weterynarz, id_zwierzecia:63010"
144,2019-01-04,53011,MARIAN,89,PAPST,"weterynarz, id_zwierzecia:63011"
145,2019-06-18,52012,MARIAN,81,PAPST,"weterynarz, id_zwierzecia:63012"
146,2019-06-12,52013,JAKUB,63,DUDERSTADT,"weterynarz, id_zwierzecia:63013"
147,2019-06-14,53014,JAKUB,132,DUDERSTADT,"weterynarz, id_zwierzecia:63014"
148,2019-06-04,53015,ADAM,93,PAKÅO,"weterynarz, id_zwierzecia:63015"
149,2019-04-20,52016,ADAM,85,PAKÅO,"weterynarz, id_zwierzecia:63016"

In [45]:
pd.DataFrame(hist_zdr)

,ID pracownika,ID_wizyty,data wizyty,diagnoza,id,stan zdrowia,sterylizacja,zalecenia
0,30003,42000,2018-10-21,inne,61000,zdrowy,tak,lek
1,30003,41001,2018-03-09,przeziębienie,61001,zdrowy,tak,lek
2,30001,41002,2019-05-24,przeziębienie,61002,zdrowy,nie,lek
3,30002,41003,2019-04-04,skaleczenie,61003,zdrowy,tak,lek
4,30001,42004,2018-12-28,zapalenie uszu,61004,zdrowy,tak,lek
5,30003,42005,2019-03-25,zapalenie spojówek,61005,zdrowy,tak,lek
6,30003,41006,2019-03-11,skaleczenie,61006,zdrowy,tak,lek
7,30000,41007,2018-12-17,inne,61007,zdrowy,tak,lek
8,30003,41008,2017-12-24,skaleczenie,61008,zdrowy,tak,lek
9,30001,42009,2019-02-23,skaleczenie,61009,zdrowy,tak,lek
10,30001,42010,2018-09-10,inne,61010,zdrowy,tak,lek
11,30003,41011,2016-07-16,inne,61011,chory,tak,lek
12,30001,42012,2019-01-28,zapalenie uszu,61012,zdrowy,tak,lek
13,30003,40013,2019-02-23,pierwsza wizyta,61013,zdrowy,tak,lek
14,30001,41014,2018-09-01,świeżb,61014,zdrowy,tak,lek
15,30003,42015,2018-12-04,zapalenie uszu,61015,zdrowy,tak,lek
16,30001,42016,2019-05-30,zapalenie uszu,61016,zdrowy,nie,lek
17,30003,42017,2019-05-04,inne,61017,chory,tak,lek
18,30003,42018,2019-02-04,świeżb,61018,zdrowy,tak,lek
19,30001,42019,2019-04-16,przeziębienie,61019,zdrowy,tak,lek
20,30001,41020,2019-06-18,inne,61020,w czasie leczenia,tak,lek
21,30003,42021,2018-10-25,przeziębienie,61021,zdrowy,tak,lek
22,30003,41022,2016-12-22,świeżb,61022,zdrowy,tak,lek
23,30003,43023,2019-06-21,zapalenie uszu,61023,w czasie leczenia,tak,lek
24,30003,42024,2019-01-22,zapalenie uszu,61024,zdrowy,tak,lek
25,30001,43025,2019-05-14,przeziębienie,61025,zdrowy,tak,lek
26,30001,42026,2019-05-12,zapalenie spojówek,61026,chory,tak,lek
27,30003,43027,2019-04-26,zapalenie spojówek,61027,zdrowy,tak,lek
28,30003,42028,2019-06-06,zapalenie spojówek,61028,zdrowy,tak,lek
29,30002,42029,2019-02-25,przeziębienie,61029,zdrowy,nie,lek
...,...,...,...,...,...,...,...,...
120,30002,42028,2018-04-23,zapalenie uszu,62028,zdrowy,tak,lek
121,30002,41029,2017-12-15,zapalenie uszu,62029,zdrowy,tak,lek
122,30003,43030,2019-06-20,zapalenie spojówek,62030,w czasie leczenia,tak,lek
123,30003,43031,2019-06-07,zapalenie uszu,62031,zdrowy,tak,lek
124,30003,41032,2018-05-26,przeziębienie,62032,zdrowy,tak,lek
125,30001,42033,2018-06-20,przeziębienie,62033,zdrowy,tak,lek
126,30002,43034,2019-01-20,inne,62034,zdrowy,tak,lek
127,30000,42035,2018-06-13,zapalenie spojówek,62035,zdrowy,tak,lek
128,30001,43036,2019-01-02,skaleczenie,62036,zdrowy,tak,lek
129,30001,42037,2018-10-25,inne,62037,chory,tak,lek
130,30003,41038,2019-03-17,skaleczenie,62038,zdrowy,tak,lek
131,30003,44039,2019-06-19,przeziębienie,62039,w czasie leczenia,nie,lek
132,30000,41040,2018-11-22,zapalenie uszu,62040,zdrowy,tak,lek
133,30003,42000,2019-04-17,przeziębienie,63000,zdrowy,tak,lek
134,30001,43001,2019-06-12,świeżb,63001,zdrowy,tak,lek
135,30001,42002,2019-05-29,świeżb,63002,chory,tak,lek
136,30001,41003,2019-06-17,zapalenie uszu,63003,w czasie leczenia,nie,lek
137,30003,41004,2019-05-28,zapalenie uszu,63004,zdrowy,tak,lek
138,30003,42005,2019-05-08,zapalenie uszu,63005,zdrowy,tak,lek
139,30000,42006,2019-06-19,świeżb,63006,w czasie leczenia,tak,lek
140,30003,44007,2019-06-07,świeżb,63007,zdrowy,tak,lek
141,30001,43008,2019-04-18,zapalenie uszu,63008,zdrowy,tak,lek
142,30001,42009,2019-06-17,inne,63009,w czasie leczenia,tak,lek
143,30001,41010,2019-06-04,zapalenie uszu,63010,zdrowy,nie,lek
144,30001,43011,2019-01-04,zapalenie uszu,63011,zdrowy,tak,lek
145,30001,42012,2019-06-18,inne,63012,w czasie leczenia,tak,lek
146,30002,42013,2019-06-12,przeziębienie,63013,zdrowy,tak,lek
147,30002,43014,2019-06-14,zapalenie uszu,63014,w czasie leczenia,tak,lek
148,30003,43015,2019-06-04,zapalenie uszu,63015,zdrowy,tak,lek
149,30003,42016,2019-04-20,inne,63016,zdrowy,tak,lek

In [46]:
pd.DataFrame(zwierz_schr)

,ID opiekuna,Stan,blok,id,id_gat
0,[20005],nadaje się do adopcji,B_1,61000,1
1,[20004],nadaje się do adopcji,A_1,61001,1
2,[20004],nadaje się do adopcji,A_2,61002,1
3,[20005],nadaje się do adopcji,B_2,61003,1
4,[20005],nadaje się do adopcji,B_3,61004,1
5,[20005],nadaje się do adopcji,B_4,61005,1
6,[20005],nadaje się do adopcji,B_5,61006,1
7,[20005],nadaje się do adopcji,B_6,61007,1
8,[20005],nadaje się do adopcji,B_7,61008,1
9,[20005],nadaje się do adopcji,B_8,61009,1
10,[20004],nadaje się do adopcji,A_3,61010,1
11,[20005],nie nadaje się do adopcji - chory,B_9,61011,1
12,[20005],nadaje się do adopcji,B_10,61012,1
13,[20004],nadaje się do adopcji,A_4,61013,1
14,[20005],nadaje się do adopcji,B_11,61014,1
15,[20005],nadaje się do adopcji,B_12,61015,1
16,[20005],nadaje się do adopcji,B_13,61016,1
17,[20005],nie nadaje się do adopcji - chory,B_14,61017,1
18,[20005],nadaje się do adopcji,B_15,61018,1
19,[20005],nadaje się do adopcji,B_16,61019,1
20,[20004],nie nadaje się do adopcji - w czasie leczenia,A_5,61020,1
21,[20005],nadaje się do adopcji,B_17,61021,1
22,[20005],nadaje się do adopcji,B_18,61022,1
23,[20005],nie nadaje się do adopcji - w czasie leczenia,B_19,61023,1
24,[20005],nadaje się do adopcji,B_20,61024,1
25,[20004],nadaje się do adopcji,A_6,61025,1
26,[20005],nie nadaje się do adopcji - chory,B_21,61026,1
27,[20004],nadaje się do adopcji,A_7,61027,1
28,[20005],nadaje się do adopcji,B_22,61028,1
29,[20004],nadaje się do adopcji,A_8,61029,1
...,...,...,...,...,...
120,[20007],nadaje się do adopcji,C_9,62028,2
121,[20007],nadaje się do adopcji,C_9,62029,2
122,[20007],nie nadaje się do adopcji - w czasie leczenia,C_10,62030,2
123,[20007],nadaje się do adopcji,C_10,62031,2
124,[20007],nadaje się do adopcji,C_10,62032,2
125,[20007],nadaje się do adopcji,C_11,62033,2
126,[20007],nadaje się do adopcji,C_11,62034,2
127,[20007],nadaje się do adopcji,C_11,62035,2
128,[20007],nadaje się do adopcji,C_12,62036,2
129,[20007],nie nadaje się do adopcji - chory,C_12,62037,2
130,[20007],nadaje się do adopcji,C_12,62038,2
131,[20007],nie nadaje się do adopcji - w czasie leczenia,C_13,62039,2
132,[20007],nadaje się do adopcji,C_13,62040,2
133,[20007],nadaje się do adopcji,C_14,63000,2
134,[20007],nadaje się do adopcji,C_14,63001,2
135,[20007],nie nadaje się do adopcji - chory,C_14,63002,2
136,[20007],nie nadaje się do adopcji - w czasie leczenia,C_14,63003,2
137,[20007],nadaje się do adopcji,C_14,63004,2
138,[20007],nadaje się do adopcji,C_14,63005,2
139,[20007],nie nadaje się do adopcji - w czasie leczenia,C_14,63006,2
140,[20007],nadaje się do adopcji,C_14,63007,2
141,[20007],nadaje się do adopcji,C_14,63008,2
142,[20007],nie nadaje się do adopcji - w czasie leczenia,C_14,63009,2
143,[20007],nadaje się do adopcji,C_14,63010,2
144,[20007],nadaje się do adopcji,C_14,63011,2
145,[20007],nie nadaje się do adopcji - w czasie leczenia,C_14,63012,2
146,[20007],nadaje się do adopcji,C_14,63013,2
147,[20007],nie nadaje się do adopcji - w czasie leczenia,C_14,63014,2
148,[20007],nadaje się do adopcji,C_14,63015,2
149,[20007],nadaje się do adopcji,C_14,63016,2

In [47]:
pd.DataFrame(informacje)

,ID opiekuna,blok,data_przyjecia,data_urodzenia,gatunek,id,id_gat,imie,inne_zwierzeta,masa,plec,umaszczenie,wcześniej adoptowany
0,[20005],B_1,2016-06-11,2007-08-18,pies,61000,1,Jarys,łagodny,17.065,samiec,szary,nie
1,[20004],A_1,2016-07-22,2010-10-04,pies,61001,1,Ringo,łagodny,28.187,samiec,biało-rudy,nie
2,[20004],A_2,2018-09-08,2007-12-08,pies,61002,1,Bond,agresywny,25.396,samiec,biszkoptowy,nie
3,[20005],B_2,2018-04-03,2010-01-20,pies,61003,1,Penelopa,łagodny,19.099,samica,szary,nie
4,[20005],B_3,2017-05-26,2016-04-07,pies,61004,1,Olaf,łagodny,12.098,samiec,biało-szary,nie
5,[20005],B_4,2017-11-13,2004-10-15,pies,61005,1,Lakina,łagodny,14.187,samica,czarny,nie
6,[20005],B_5,2018-09-20,2005-02-16,pies,61006,1,Eliot,łagodny,17.173,samiec,szary,nie
7,[20005],B_6,2018-01-10,2007-09-22,pies,61007,1,Bond,łagodny,13.482,samiec,biało-brązowy,nie
8,[20005],B_7,2017-08-27,2010-10-08,pies,61008,1,Werka,łagodny,16.459,samica,czarny,nie
9,[20005],B_8,2018-08-02,2006-05-22,pies,61009,1,Cyrus,łagodny,6.203,samiec,biało-rudy,nie
10,[20004],A_3,2017-11-18,2009-02-15,pies,61010,1,Una,łagodny,27.735,samica,rudy,nie
11,[20005],B_9,2016-04-04,2009-06-01,pies,61011,1,Tajni,łagodny,10.138,samiec,biszkoptowy,nie
12,[20005],B_10,2018-11-16,2004-08-19,pies,61012,1,Mucha,łagodny,19.967,samica,biało-czarny,nie
13,[20004],A_4,2019-02-22,2005-06-03,pies,61013,1,Sajgon,łagodny,31.241,samiec,rudy,nie
14,[20005],B_11,2017-03-11,2005-05-14,pies,61014,1,Nel,łagodny,11.880,samica,brązowy,nie
15,[20005],B_12,2018-07-20,2011-07-28,pies,61015,1,Amber,łagodny,9.588,samica,biszkoptowy,nie
16,[20005],B_13,2019-05-15,2009-04-28,pies,61016,1,jogo,łagodny,8.421,samiec,szary,tak
17,[20005],B_14,2017-11-13,2006-09-29,pies,61017,1,Rasti,łagodny,18.733,samiec,czarny,nie
18,[20005],B_15,2016-11-23,2012-11-19,pies,61018,1,Kira,łagodny,15.214,samica,szary,nie
19,[20005],B_16,2019-03-01,2009-10-28,pies,61019,1,Nutka,łagodny,17.286,samica,biało-czarny,tak
20,[20004],A_5,2019-04-07,2011-01-03,pies,61020,1,General,łagodny,27.486,samiec,inne,nie
21,[20005],B_17,2016-06-22,2008-11-08,pies,61021,1,Apri,łagodny,14.251,samica,biszkoptowy,nie
22,[20005],B_18,2016-09-01,2009-11-11,pies,61022,1,Lavia,łagodny,13.867,samica,szary,nie
23,[20005],B_19,2019-06-04,2013-02-02,pies,61023,1,Jarys,łagodny,18.789,samiec,biało-brązowy,tak
24,[20005],B_20,2017-03-13,2011-07-30,pies,61024,1,Daffi,łagodny,3.061,samiec,szary,nie
25,[20004],A_6,2016-06-29,2006-01-02,pies,61025,1,Smolik,łagodny,27.112,samiec,biało-rudy,nie
26,[20005],B_21,2019-05-06,2008-06-30,pies,61026,1,Terror,łagodny,15.697,samiec,szary,tak
27,[20004],A_7,2018-08-13,2007-03-14,pies,61027,1,Rosa,łagodny,27.007,samica,szary,nie
28,[20005],B_22,2019-05-22,2007-12-01,pies,61028,1,Coke,łagodny,13.093,samica,biało-brązowy,tak
29,[20004],A_8,2019-02-01,2009-03-31,pies,61029,1,Agat,łagodny,24.437,samiec,biało-szary,tak
...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,[20007],C_9,2017-09-26,2005-03-12,kot,62028,2,Leo,łagodny,3.556,samiec,rudy,nie
121,[20007],C_9,2016-06-01,2005-11-27,kot,62029,2,Wirus,łagodny,4.399,samiec,brązowy,nie
122,[20007],C_10,2019-05-29,2004-06-09,kot,62030,2,Pele,łagodny,3.631,samiec,szary,tak
123,[20007],C_10,2017-12-29,2003-07-15,kot,62031,2,Larka,łagodny,4.784,samica,biało-szary,nie
124,[20007],C_10,2016-05-24,2007-09-13,kot,62032,2,Saba,łagodny,1.227,samica,biało-szary,nie
125,[20007],C_11,2016-08-19,2007-08-08,kot,62033,2,Lamia,łagodny,3.267,samica,rudy,nie
126,[20007],C_11,2017-08-31,2006-06-10,kot,62034,2,Rahim,łagodny,3.005,samiec,biały,nie
127,[20007],C_11,2017-04-04,2003-12-28,kot,62035,2,Trolu,łagodny,3.063,samiec,biało-szary,nie
128,[20007],C_12,2017-06-07,2004-10-18,kot,62036,2,Spajk,łagodny,2.358,samiec,biało-czarny,nie
129,[20007],C_12,2016-06-13,2004-09-10,kot,62037,2,Wilma,łagodny,4.478,samica,biało-szary,nie
130,[20007],C_12,2019-02-04,2010-10-28,kot,62038,2,Arbis,łagodny,3.694,samiec,biszkoptowy,nie
131,[20007],C_13,2019-06-09,2010-01-01,kot,62039,2,Luki,łagodny,4.021,samiec,biało-rudy,tak
132,[20007],C_13,2018-02-07,2004-09-12,kot,62040,2,Pinia,łagodny,1.027,samica,inne,nie
133,[20007],C_14,2019-04-02,2018-06-28,szczur,63000,2,Nelli,łagodny,0.556,samica,biało-szary,nie
134,[20007],C_14,2018-12-24,2018-05-18,szczur,63001,2,Dukat,łagodny,0.360,samiec,czarny,nie
135,[20007],C_14,2018-12-27,2018-08-13,szczur,63002,2,Kizis,łagodny,0.437,samica,czarny,nie
136,[20007],C_14,2017-11-24,2017-08-18,szczur,63003,2,Pascal,łagodny,0.251,samiec,biszkoptowy,nie
137,[20007],C_14,2019-04-12,2018-03-22,szczur,63004,2,Boxi,łagodny,0.386,samiec,biało-szary,nie
138,[20007],C_14,2019-04-11,2019-02-19,szczur,63005,2,Jok,agresywny,0.173,samiec,biało-czarny,nie
139,[20007],C_14,2019-05-30,2019-01-03,szczur,63006,2,Kewin,łagodny,0.122,samiec,biało-szary,nie
140,[20007],C_14,2019-03-18,2018-05-01,szczur,63007,2,Robin,łagodny,0.356,samiec,inne,tak
141,[20007],C_14,2017-10-27,2016-12-29,szczur,63008,2,Ostoja,łagodny,0.406,samica,biały,nie
142,[20007],C_14,2019-05-30,2018-08-01,szczur,63009,2,William,łagodny,0.547,samiec,szary,tak
143,[20007],C_14,2019-05-04,2018-10-01,szczur,63010,2,Elza,łagodny,0.321,samica,szary,nie
144,[20007],C_14,2018-08-21,2017-06-10,szczur,63011,2,Ariel,łagodny,0.596,samica,biało-rudy,nie
145,[20007],C_14,2019-06-02,2018-07-05,szczur,63012,2,Pandzia,łagodny,0.289,samica,biało-szary,tak
146,[20007],C_14,2019-05-29,2017-06-23,szczur,63013,2,Hoga,łagodny,0.517,samica,biało-czarny,nie
147,[20007],C_14,2019-05-21,2017-11-14,szczur,63014,2,Arabeska,łagodny,0.376,samica,brązowy,tak
148,[20007],C_14,2019-03-06,2017-08-28,szczur,63015,2,Akita,łagodny,0.377,samica,biało-rudy,tak
149,[20007],C_14,2019-02-20,2016-12-20,szczur,63016,2,Madonna,łagodny,0.454,samica,rudy,nie

## Zaadoptowane

### pieski

In [ ]:
#92 psy- tyle liczy aktualnie nasze schronisko, 41 kotow, i 17 szczurow
len_dog = 92
len_ad = 139
k = 1
l = 1
for i in range(len_dog, len_dog+len_ad):
    dog_info = {}
    dog_schr = {}
    dog_wiz = {}
    dog_trans = {}
    dog = Animal(species = 'pies')
    birth = dog.birth()
    birth_d = dataformat(birth)
    acc = dog.acceptance()
    if np.random.random()>0.7:
        dog_info['wcześniej adoptowany'] = "tak"
        adop = dog.adoption()
        #ponowne przyjecie
        acc = dog.next_acceptance()
        if np.random.random()>0.9:
            adop = dog.adoption()
            #ponowne przyjecie
            acc = dog.next_acceptance()
    else:
        dog_info['wcześniej adoptowany'] = "nie"
        
    adoption = dog.adoption()

    dog_info['data_urodzenia'] = birth_d
    dog_info['data_przyjecia'] = dataformat(acc)
    
    dog_info['plec'] = dog.plec()
    dog_info['masa'] = dog.masa()
    dog_info['imie'] = dog.name('./dane/npieski.csv')
    kastracja = dog.kastracja()
    dog_info['id_gat'] = 1
    dog_schr['id_gat'] = dog_info['id_gat']
    if i<10:
        dog_info['id'] = '6100'+str(i)
    else:
        dog_info['id'] = '610'+str(i)
        
    dog_schr['id'] = dog_info['id']
        
    if np.random.random()>0.9:
        dog_info['inne_zwierzeta'] = "agresywny"
    else:
        dog_info['inne_zwierzeta'] = "łagodny"
    umaszczenie= dog.umaszczenie()
    
    dog_info['umaszczenie']=umaszczenie[0]
    dog_info['gatunek'] = umaszczenie[1]
    
    if dog_info['masa']>=20:
        dog_info['ID opiekuna'] = [pr_id[0]]
        dog_info['blok'] = 'A_'+str(k)
        k += 1
    else:
        dog_info['ID opiekuna'] = [pr_id[1]]
        dog_info['blok'] = 'B_'+str(l)
        l += 1
    dog_schr['ID opiekuna'] = dog_info['ID opiekuna']
    dog_schr['blok'] = dog_info['blok']
    ## czy nadaje sie do adopcji?
    if np.random.random()>0.1:
        data_wiz, chor, zalec, cena = dog.Wizyty()
        if np.random.random()>0.7:
            data_wiz1, chor1, zalec1, cena1 = dog.Wizyty()
    zdrowie = dog.stan_zdrowia()
    if zdrowie  == "zdrowy":
        dog_schr['Stan'] = "nadaje się do adopcji"
    else:
        dog_schr['Stan'] = "nie nadaje się do adopcji - "+str(zdrowie)
    wizyty, daty, ceny = dog.choroby()
    for j in range(len(wizyty)):
        dog_wiz['ID_wizyty'] =  id_generator(i = i, first = 4, second = j)
        dog_wiz['id'] = dog_info['id']
        index =int(np.round(np.random.uniform(0,3.49),0))
        id_pr =  w_id[index]
        dog_wiz['ID pracownika'] = id_pr
        dog_wiz['data wizyty'] = dataformat(daty[j])
        dog_wiz['diagnoza'] = wizyty[j]
        dog_wiz['zalecenia'] = 'lek'
        dog_wiz['stan zdrowia'] = zdrowie
        dog_wiz['sterylizacja'] = kastracja[0]
        dog_trans['id_transakcji'] = id_generator(i = i, first = 5, second = j)
        dog_trans['tytuł']='weterynarz, id_zwierzecia:'+ str(dog_info['id'])
        dog_trans['kwota'] = ceny[j]
        dog_trans['data'] = dataformat(daty[j])
        dog_trans['imie'] = weterynarze[index]['imie']
        dog_trans['nazwisko'] = weterynarze[index]['nazwisko']
    transakcje.append(dog_trans)
    hist_zdr.append(dog_wiz)
    zwierz_schr.append(dog_schr)
    informacje.append(dog_info)