In [3]:
import time
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import random

## Funkcje pomocnicze

In [4]:
# Zmienia format daty z sekund na rrrr-mm-dd
def dataformat(data):
    new_data = time.localtime(data)
    if new_data.tm_mday<10:
        data_day = '0'+str(new_data.tm_mday)
    else:
        data_day = str(new_data.tm_mday)
        
    if new_data.tm_mon<10:
        data_mon = '0' + str(new_data.tm_mon)
    else:
        data_mon =  str(new_data.tm_mon)

    g_data = str(new_data.tm_year) + '-' +data_mon + '-' + data_day
    
    return(g_data)

In [5]:
def add_salary(zatr, zwo, pensja):
    zatr_time = time.localtime(zatr)
    #10 sa wyplaty
    if zatr_time.tm_mday<10:
        fir_mon = zatr_time.tm_mon
    else:
        fir_mon = zatr_time.tm_mon+1
    #pierwsza wyplata
    zatr_sec = time.mktime((zatr_time.tm_year, fir_mon, 10, 17, 3, 38, 1, 48, 0))
    pierwsza_pensja = np.round(((zatr_sec - zatr)/(3600*24))*(pensja/30),2)
    zwo_time = time.localtime(zwo)
    if zwo_time.tm_mday<10:
        las_mon = zwo_time.tm_mon
    else:
        las_mon = zwo_time.tm_mon+1
    #ostatnia wyplata
    zwo_sec = time.mktime((zwo_time.tm_year, las_mon, 10, 17, 3, 38, 1, 48, 0))
    ostatnia_pensja = abs(np.round((zwo_sec - zwo)/(3600*24)*(1-(pensja/30)),2))
    wyplata = zatr_sec+np.random.uniform(29.5,31.5)*24*3600
    pensje =[]
    daty = []
    daty.append(dataformat(zatr_sec))
    pensje.append(pierwsza_pensja)
    while wyplata < zwo:
        daty.append(dataformat(wyplata))
        pensje.append(pensja)
        wyplata += 30.5*24*3600
    daty.append(dataformat(zwo_sec))
    pensje.append(ostatnia_pensja)
    return(daty, pensje)

In [6]:
# generuje id, first-pierwsza wartosc, second-druga, i -koncowka
def id_generator(i, first = 0, second= 0):
    if i<10:
        n_id = str(first)+str(second)+'00'+str(i)
    elif i<100 and i >=10 :
        n_id = str(first)+str(second)+'0'+str(i)
    elif i<1000 and i>=100:
        n_id = str(first)+str(second)+str(i)
    return(n_id)

## Klasa zwierzę

In [7]:
class Animal:
    def __init__(self, species):
        
        self.species = species
        
        if self.species == 'pies':
            self.years = 15
            #sample from normal distribution with mean 6 and variance 3 - age of species
            self.mi = 4
            self.sigma = 3
            
        elif self.species == 'kot':
            self.years = 16
            self.mi = 2
            self.sigma = 4
            
        elif self.species == 'szczur':
            self.years = 2.5
            self.mi = 1.25
            self.sigma = 0.5
        self.wizyty = []
        self.daty_wizyt = []
        self.ceny = []
    def stan_zdrowia(self):
        ost_data_wiz = self.daty_wizyt[-1]
        if ost_data_wiz+7*24*3600 < self.actual_time:
            rand = np.random.random()
            if rand > 0.1:
                stan_zdr = "zdrowy"
            else:
                stan_zdr = "chory"
        else:
            stan_zdr = "w czasie leczenia" 
            
        self.stan_zdr = stan_zdr
        return(self.stan_zdr)
        
    def Wizyty(self, ad_time = None): 
        
        ost_data_wizyty = self.daty_wizyt[-1]
        choroby = ["przeziębienie", "zapalenie uszu","świeżb", "zapalenie spojówek","skaleczenie", "inne"]
        if ad_time is not None:
            data_wiz = np.random.uniform(ost_data_wizyty+24*3600, ad_time-24*3600)
        else:
            data_wiz = np.random.uniform(ost_data_wizyty+24*3600, self.actual_time-24*3600)
        zalec = "lek"
        self.daty_wizyt.append(data_wiz)
        chor = choroby[int(np.random.uniform(0, len(choroby)))]
        self.wizyty.append(chor)
        cena = int(np.round(np.random.uniform(50, 150),0))
        self.ceny.append(cena)
        return(data_wiz, chor, zalec, cena) 
    
    def choroby(self):
        
        return(self.wizyty, self.daty_wizyt, self.ceny)
    
    def Species(self):
        if self.species == "pies":
            self.species_id = 1
        elif self.species == "kot":
            self.species_id = 2
        elif self.species == "szczur":
            self.species_id = 3
            
        return(self.species_id)
    
    def plec(self):
        
        rand = np.random.random()
        if rand > 0.5:
            plec = "samica"
        else:
            plec = "samiec"
            
        self.plec = plec
        return(plec)
            
    def name(self, file):
        
        df = pd.read_csv(file, names = ['samce', 'samice'], encoding='unicode_escape')
        df = df.loc[:503]
        
        if self.plec == "samica":
            df = df['samice']
        elif self.plec == "samiec":
            df = df['samce']
        
        rand = np.round(np.random.uniform(0,len(df)-1),0)
        name = (df.values)[int(rand)]
        self.name = name
        
        return(self.name)
        
    def umaszczenie(self):
        
        list_colours = ['bialy', 'czarny', 'szary', 'rudy','brazowy', 'bialo-czarny', 'biszkoptowy', 'bialo-rudy',
                        'bialo-brązowy','bialo-szary','inne']
        len_colours = len(list_colours)
        random_c = np.round(np.random.uniform(0,len_colours-1), 0)
        umaszczenie = list_colours[int(random_c)]
        
        self.umaszczenie = umaszczenie
        
        return(self.umaszczenie, self.species) 

    
    def birth(self, death_year = 0):
        
        years2sec = 365.25*24*3600
        self.actual_time = time.time() - death_year*years2sec  #actual time in second)
        begin_time = self.actual_time - self.years*years2sec #years- how many years back (in seconds)
        sec_mi = self.mi*years2sec
        sec_std = self.sigma*years2sec
        birth_date = np.random.normal(begin_time+sec_mi, (sec_std), 1)
        
        #looking for dates beetwen begin and actual time
        while begin_time > birth_date or self.actual_time < birth_date:
        
            birth_date  = np.random.normal(begin_time+sec_mi, (sec_std), 1)
            
        #birth date of animal    
        self.birth_date = birth_date
        
        return( self.birth_date , self.actual_time)
        
    def masa(self):
        #sprawdzam date urodzenia bo pies majacy 2 miesiace nie bedzie wazyl 40kg
        act = (time.localtime(self.actual_time))
        bir = (time.localtime(self.birth_date))
        if bir.tm_year == act.tm_year:
            if abs(bir.tm_mon-act.tm_mon) < 6:
                if self.species == 'pies':
                    masa = np.random.normal(5,5)
                    while masa < 0.5:
                        masa = np.random.normal(5,5)
                elif self.species == 'kot':
                    masa = np.random.normal(1,1)
                    while masa < 0.4 or masa > 2:
                        masa = np.random.normal(1,1)
                elif self.species == 'szczur':
                    masa = np.random.normal(0.1,0.2)
                    while masa < 0.1 or masa > 0.45:
                        masa = np.random.normal(0.1,0.2)
                
            else:
                if self.species == 'pies':
                    masa = np.random.normal(12,6)
                    while masa < 0.5 or masa > 30:
                        masa = np.random.normal(12,6)
                elif self.species == 'kot':
                    masa = np.random.normal(1,1.3)
                    while masa < 0.6 or masa > 3:
                        masa = np.random.normal(1,1.3)
                elif self.species == 'szczur':
                    masa = np.random.normal(0.2,0.2)
                    while masa < 0.24 or masa > 0.55:
                        masa = np.random.normal(0.2,0.2)
        else:
            if self.species == 'pies':
                masa = np.random.normal(17,7)
                while masa < 1 or masa > 45:
                    masa = np.random.normal(17,7)
            elif self.species == 'kot':
                masa = np.random.normal(3, 2)
                while masa < 1 or masa > 5:
                    masa = np.random.normal(3, 2)
            elif self.species == 'szczur':
                masa = np.random.normal(0.25,0.2)
                while masa < 0.24 or masa > 0.7:
                    masa = np.random.normal(0.25,0.2)
        self.masa  = np.round(masa, 3)

        return(self.masa)
    
    def acceptance(self, o_years = 3.21): #3.21 years - opening of pound
        
        years2sec = 365.25*24*3600
        open_time = self.actual_time - o_years*years2sec
        
        acc_time = self.actual_time+100
        
        while acc_time > self.actual_time or bool(acc_time < self.birth_date+50*24*3600):
#             print(acc_time > self.actual_time)
#             print(bool(acc_time < self.birth_date))
            acc_time = np.random.uniform(open_time, self.actual_time) 
            
        #print(time.localtime(acc_time))
        #acceptance date    
        self.acc_time = acc_time
        p_wizyta = acc_time+24*3600
        self.daty_wizyt.append(p_wizyta)
        self.wizyty.append("pierwsza wizyta")
        self.ceny.append(50)
        return( self.acc_time )
    
    def adoption(self):
        
        day2sec = 24*3600
        ad_time = np.random.uniform(self.acc_time+7*day2sec, self.actual_time-14*day2sec) 
          
        self.ad_time = ad_time
        #self.adoptujacy()
        
        return( self.ad_time )
    
#print(acc_time > self.actual_time)
#print(bool(acc_time < self.birth_date))
#print(time.localtime(acc_time))
#acceptance date  
    def adoptujacy(self, own_names, own_lastnames, own_streets, own_city):
        own_ind0 = int(np.round(np.random.uniform(0,len(own_names)),0)-1)
        own_ind1 = int(np.round(np.random.uniform(0,len(own_lastnames)),0)-1)
        own_ind2 = int(np.round(np.random.uniform(0,len(own_streets)),0)-1)
        own_name = own_names[own_ind0][0]
        own_lastname = own_lastnames[own_ind1][0]
        own_street = own_streets[own_ind2]+' ' + str(int(np.random.uniform(1,100)))
        own_tel = str(int(np.random.uniform(100,999)))+"-"
        own_tel = own_tel + str(int(np.random.uniform(100,999)))+"-"+str(int(np.random.uniform(100,999)))
        owner = {}
        owner['name'] = own_name
        owner['last_name'] = own_lastname
        owner['adres'] = own_street + ' ' + own_city
        owner['telefon'] = own_tel
        
        return(owner)
            
        
    def kastracja(self):
        rand = np.random.random()
        if rand > 0.1:
            self.kastracja = "tak"
            n_rand = np.random.random()
            if n_rand > 0.5:
                self.k_day = self.acc_time+ np.random.uniform(10,35)*24*3600
                self.daty_wizyt.append(self.k_day)
                self.wizyty.append("sterylizacja")
                self.ceny.append(200)
            else:
                self.k_day = self.birth_date + np.random.uniform(200,350)*24*3600

        else:
            self.kastracja = "nie"
            self.k_day = 0
        
        
        return(self.kastracja, self.k_day)
    def next_acceptance(self):
        day2sec = 24*3600
        new_acc_time = 0
        #20% zwierzakow wraca do schorniska
        if self.ad_time is not None:
            new_acc_time = np.random.uniform(self.ad_time+3*day2sec, self.actual_time-7*day2sec ) 
        #print(acc_time > self.actual_time)
        #print(bool(acc_time < self.birth_date))
        #print(time.localtime(acc_time))
        #acceptance date    
        self.acc_time = new_acc_time
        p_wizyta = self.acc_time+24*3600
        self.daty_wizyt.append(p_wizyta)
        self.wizyty.append("pierwsza wizyta")
        self.ceny.append(50)
        return( self.acc_time )
    
    
#sterylizacja - klasa zwierze - data wizty +1 dzien +tydzien sterylizacja
#0.01 0.01
#2 lata
#aktu -200
# wykladniczy ale od pewnego momentu z paramtrem 1
#masa ciała
#400 - 95% adotptowane , 5% zmarłe
#adopcje
# maks - 5, srednio -2, procent wracajacych - 30% 
# w wiekszosci darowizna, co miesiac -wyplaty, dotacja z urzedu
#imiona - nie powtarzaja sie - usuwam z listy uzyte imie

## Funkcja pracownik

In [8]:
def pracownik(own_names, own_lastnames, own_streets, own_city, years=3.21):
        own_ind0 = int(np.round(np.random.uniform(0,len(own_names)),0)-1)
        own_ind1 = int(np.round(np.random.uniform(0,len(own_lastnames)),0)-1)
        own_ind2 = int(np.round(np.random.uniform(0,len(own_streets)),0)-1)
        own_name = own_names[own_ind0][0]
        own_lastname = own_lastnames[own_ind1][0]
        own_street = own_streets[own_ind2]+' ' + str(int(np.random.uniform(1,100)))
        own_tel = str(int(np.random.uniform(100,999)))+"-"
        own_tel = own_tel + str(int(np.random.uniform(100,999)))+"-"+str(int(np.random.uniform(100,999)))
        owner = {}
        owner['name'] = own_name
        owner['last_name'] = own_lastname
        owner['adres'] = own_street + ' ' + own_city
        owner['telefon'] = own_tel
        years2sec = 365.25*24*3600
        actual_time = time.time()
        open_time = actual_time - years*years2sec
        
        data_zat = np.random.uniform(open_time, actual_time)
        data_zw =  np.random.uniform(data_zat, actual_time+24*3600)
        owner["zatr"] = data_zat
        owner["zwoln"] = data_zw
        return(owner)

In [9]:
ulice = ['ul. Agrestowa',
'ul. Akacjowa',
'ul. Armii Krajowej',
'ul. Balonowa',
'ul. Batalionów Chłopskich',
'ul. gen. Józefa Bema',
'ul. Błękitna',
'ul. Bociania',
'ul. Jerzego Bocka',
'ul. Boczna',
'ul. Bolesława Krzywoustego',
'ul. Arkadiusza Bożka',
'ul. Bratnia',
'ul. Brzozowa',
'ul. Ceglana',
'ul. Fryderyka Chopina',
'ul. Cicha',
'ul. Ciepła',
'ul. Antoniego Cieszyńskiego',
'ul. Cmentarna',
'ul. Bronisława Czecha',
'ul. Ignacego Daszyńskiego',
'ul. Henryka Dąbrowskiego',
'ul. Demokratów',
'ul. Kazimierza Deyny',
'ul. Dobroszycka',
'ul. Energetyczna',
'ul. Fabryczna',
'ul. Gliniana',
'ul. Władysława Grabskiego',
'ul. Gryczana',
'ul. gen. Józefa Hallera',
'ul. św. Jadwigi',
'ul. Jagodowa',
'ul. Jaśminowa',
'ul. Jarzynowa',
'ul. Jasna',
'ul. Jastrzębia',
'ul. Jęczmienna',
'ul. Kasztanowa',
'ul. Kazimierza Wielkiego',
'ul. Jana Kilińskiego',
'ul. gen. Franciszka Kleeberga',
'ul. Klonowa',
'ul. Jana Kochanowskiego',
'ul. Kolejowa',
'ul. Kościelna',
'ul. Tadeusza Kościuszki',
'skwer Kombatantów Rzeczypospolitej',
'ul. Mikołaja Kopernika',
'ul. Kosynierów',
'ul. Krótka',
'ul. Kresowa',
'ul. Krucza',
'ul. Krzywa',
'ul. Janusza Kusocińskiego',
'ul. Eugeniusza Felicjana Kwiatkowskiego',
'ul. Kwiatowa',
'ul. Joachima Lelewela',
'ul. Leśna',
'ul. Leszczynowa',
'ul. Bolesława Limanowskiego',
'ul. Lipowa',
'ul. 11 Listopada',
'ul. Lotnicza',
'ul. Stefana Żeromskiego',
'ul. Żwirki i Wigury',
'ul. Żytnia',
'ul. Ludwikowska',
'ul. Lwowska',
'ul. Henryka Łasaka',
'ul. Łąkowa',
'ul. Łowiecka',
'ul. Łukanowska',
'ul. Łużycka',
'pl. Książąt Śląskich',
'ul. Tadeusza Ślusarskiego',
'ul. Świerkowa',
'ul. gen. Stanisława Maczka',
'ul. 3 Maja',
'ul. Malinowa',
'ul. Bronisława Malinowskiego',
'ul. Małopolna',
'ul. Jana Matejki',
'ul. Adama Mickiewicza',
'ul. Stanisława Mikołajczyka',
'ul. Miła',
'ul. Miodowa',
'ul. Młynarska',
'ul. Mokra',
'ul. Ignacego Mościckiego',
'ul. Stanisława Moniuszki',
'ul. Na Podkowie',
'ul. Gabriela Narutowicza',
'ul. Nowowiejska',
'ul. Ogrodowa',
'ul. Okrężna',
'ul. Orla',
'ul. Osada Bystre',
'ul. Osiedle',
'ul. Otwarta',
'ul. Owocowa',
'ul. Owsiana',
'ul. Ignacego Paderewskiego',
'ul. Parkowa',
'ul. Północna',
'ul. Pocztowa',
'ul. Podchorążych',
'ul. Pogodna',
'ul. Polna',
'ul. Południowa',
'ul. Księcia Józefa Poniatowskiego',
'ul. Poprzeczna',
'ul. Porzeczkowa',
'ul. Powietrzna',
'ul. Poziomkowa',
'ul. Prosta',
'ul. Bolesława Prusa',
'ul. Przemysłowa',
'ul. Kazimierza Przerwy-Tetmajera',
'ul. Przyjaźni',
'ul. Bogusława Psujka',
'ul. Pszeniczna',
'ul. Ptasia',
'ul. Kazimierza Pułaskiego',
'ul. Heleny Radlińskiej',
'ul. Różana',
'ul. Mikołaja Reja',
'ul. Tadeusza Rejtana',
'ul. Władysława Stanisława Reymonta',
'rondo Rondo Jana Pawła II',
'rondo Rondo Miast Partnerskich',
'ul. Wandy Rutkiewicz',
'ul. Rycerska',
'ul. Rzemieślnicza',
'ul. Rzepakowa',
'ul. Sejmowa',
'ul. Janusza Sidły',
'ul. Henryka Sienkiewicza',
'ul. gen. Władysława Sikorskiego',
'ul. Jana Sinapiusa',
'ul. Marii Skłodowskiej-Curie',
'ul. Słoneczna',
'ul. Juliusza Słowackiego',
'ul. Sokola',
'ul. Ignacego Solarza',
'rondo Solidarności',
'ul. Sosnowa',
'ul. Spacerowa',
'ul. Spadochronowa',
'ul. Spokojna',
'ul. Feliksa Stamma',
'ul. Jana Stapińskiego',
'pl. Stanisława Staszica',
'ul. Stawowa',
'ul. Stolarska'
'ul. mjr. Henryka Sucharskiego',
'ul. ks. Franciszka Sudoła',
'ul. Szkolna',
'ul. Szybowcowa',
'ul. Targowa',
'ul. Tęczowa',
'ul. Lwa Tołstoja',
'ul. Trakcyjna',
'ul. Romualda Traugutta',
'ul. Stanisławy Walasiewicz',
'ul. Wałowa',
'ul. Wały Jagiellońskie',
'ul. Wądoły',
'ul. Wąska',
'ul. Wesoła',
'ul. Wiejska',
'ul. Wielkopolna',
'ul. Wierzbowa',
'ul. Wikliniarska',
'ul. Wileńska',
'ul. Wiśniowa',
'ul. Wincentego Witosa',
'ul. Wojska Polskiego',
'ul. Wrocławska',
'ul. Wschodnia',
'ul. Wspólna',
'ul. Józefa Wybickiego',
'ul. Zakładowa',
'ul. Zamkowa',
'ul. Zielona'
]

In [10]:
# zmieniam polskie znaki w nazwach ulic
for i in range(len(ulice)):
    ulice[i] = ulice[i].replace('ą','a')
    ulice[i] = ulice[i].replace('ć','c')
    ulice[i] = ulice[i].replace('Ć','C')
    ulice[i] = ulice[i].replace('ę','e')
    ulice[i] = ulice[i].replace('ł','l')
    ulice[i] = ulice[i].replace('Ł','L')
    ulice[i] = ulice[i].replace('ń','n')
    ulice[i] = ulice[i].replace('Ń','N')
    ulice[i] = ulice[i].replace('ó','o')
    ulice[i] = ulice[i].replace('ś','s')
    ulice[i] = ulice[i].replace('Ś','S')
    ulice[i] = ulice[i].replace('ż','z')
    ulice[i] = ulice[i].replace('ź','z')
    ulice[i] = ulice[i].replace('Ż','Z')
    ulice[i] = ulice[i].replace('Ź','Z')

## Dane

In [11]:
names_male = pd.read_csv('./dane/n_male.csv', names = ['names'], encoding='unicode_escape')
names_female = pd.read_csv('./dane/n_female.csv', names = ['names'], encoding='unicode_escape')
lastnames_male = pd.read_csv('./dane/lastn_male.csv',names = ['names'], encoding='unicode_escape')
lastnames_female = pd.read_csv('./dane/lastn_female.csv',names = ['names'], encoding='unicode_escape')
miasta = ["Wroclaw", "Olesnica", "Opole"]
names_male = (names_male.values).tolist() 
lastnames_male = (lastnames_male.values).tolist()
names_female = (names_female.values).tolist() 
lastnames_female = (lastnames_female.values).tolist()

## Schronisko

In [47]:
informacje = []
gatunki = []
zwierz_schr = []
zwierz_byle = []
adoptujace = []
hist_zdr = []
transakcje = []

In [48]:
actual_time = time.time()
#tutaj zbieram dane o pracownikach
pr_id = []
o_years = 3.21 #lata działania schroniska

years2sec = 365.25*24*3600
#data otwarcia schroniska
open_time = actual_time - o_years*years2sec
zwolnienia  = []

## Pracownicy

### Byli opiekunowie

In [49]:
byli_opiekunowie = [] 
opiekunowie = []
for i in range(4):
    
    p_id = id_generator(i=i, first=2)
    rand = np.random.random()
    if rand>0.5:
        opiekun = pracownik(names_male, lastnames_male, ulice, "Wroclaw")
    else:
        opiekun = pracownik(names_female, lastnames_female, ulice, "Wroclaw")
    
    
    zwol = opiekun["zwoln"]
    pensja = 2500
    data, pensja = add_salary(open_time,zwol,pensja)
    for j in range(len(data)):
        trans = {}
        trans['data'] = data[j]
        trans['id_transakcji'] = id_generator(i=int(str(i)+str(j)), first=5, second = 9)
        trans['imie'] = opiekun['name']
        trans['nazwisko'] = opiekun['last_name']
        trans['kwota'] = 0-float(pensja[j])
        trans['tytul'] = 'wyplata - Opiekun'
        transakcje.append(trans)
    zatr = dataformat(open_time)
    zwolnienia.append(zwol)
    zwo = dataformat(zwol)
    opiekun_d = {'id':p_id, 'imie': opiekun['name'], 'nazwisko': opiekun['last_name'], 
               'adres': opiekun['adres'], 'telefon': opiekun['telefon'], 'zatrudnienie':zatr, "zwolenienie": zwo,
          'stanowisko': 'opiekun', 'pensja': 2500}
    byli_opiekunowie.append(opiekun_d)
    opiekunowie.append(opiekun_d)
    
    
df_byli = pd.DataFrame(data=byli_opiekunowie)
df_byli.head()

,adres,id,imie,nazwisko,pensja,stanowisko,telefon,zatrudnienie,zwolenienie
0,ul. Ksiecia Jozefa Poniatowskiego 43 Wroclaw,20000,WIESLAW,PAROL,2500,opiekun,187-570-870,2016-04-05,2019-03-08
1,ul. Eugeniusza Felicjana Kwiatkowskiego 81 Wro...,20001,RENATA,PIASKOWSKA,2500,opiekun,761-274-237,2016-04-05,2018-04-22
2,ul. Demokratow 22 Wroclaw,20002,MARIAN,JASINSKI,2500,opiekun,554-912-611,2016-04-05,2016-10-25
3,ul. Nowowiejska 14 Wroclaw,20003,MARCIN,LORENC,2500,opiekun,977-155-169,2016-04-05,2018-11-02

### Aktualni opiekunowie

In [50]:
#najpierw opiekunowie
#4 opiekunow pracuje aktualnie
for i in range(4):

    rand = np.random.random()
    if rand>0.5:
        opiekun = pracownik(names_male, lastnames_male, ulice, "Wroclaw")
    else:
        opiekun = pracownik(names_female, lastnames_female, ulice, "Wroclaw")
    zat = zwolnienia[i]+np.random.uniform(1,30)*24*3600
    zatr = dataformat(zat)
    pensja = 2500
    data, pensja = add_salary(zat,actual_time,pensja)
    for j in range(len(data)):
        trans = {}
        trans['data'] = data[j]
        trans['id_transakcji'] = id_generator(i=int(str(i)+str(j)), first=5, second = 9)
        trans['imie'] = opiekun['name']
        trans['nazwisko'] = opiekun['last_name']
        trans['kwota'] = 0-float(pensja[j])
        trans['tytul'] = 'wyplata - Opiekun'
        transakcje.append(trans)
    zwo = "9999-99-99"
    p_id = id_generator(i=i, first=2)
    pr_id.append(p_id)
    opiekun_d = {'id':p_id, 'imie': opiekun['name'], 'nazwisko': opiekun['last_name'], 
               'adres': opiekun['adres'], 'telefon': opiekun['telefon'], 'zatrudnienie':zatr, "zwolenienie": zwo,
          'stanowisko': 'opiekun', 'pensja': 2500}
    opiekunowie.append(opiekun_d)

### Reszta pracowników

In [51]:
#kierowca, ksiegowy, kierownik, asystent kierownika -pracuja od poczatku
pensje = ['4500','3500','3500','3000','2800']
stanowiska = [ 'Kierownik', 'Asystent kierownika', 'Ksiegowy','Kierowca', 'Sprzataczka']
for i in range(5):
    p_id = id_generator(i=i, first=1)
    rand = np.random.random()
    if rand>0.5:
        opiekun = pracownik(names_male, lastnames_male, ulice, "Wroclaw")
    else:
        opiekun = pracownik(names_female, lastnames_female, ulice, "Wroclaw")
    
    data, pensja = add_salary(open_time,actual_time,eval(pensje[i]))
    for j in range(len(data)):
        trans = {}
        trans['data'] = data[j]
        trans['id_transakcji'] = id_generator(i=int(str(i)+str(j)), first=5, second = 9)
        trans['imie'] = opiekun['name']
        trans['nazwisko'] = opiekun['last_name']
        trans['kwota'] = 0-float(pensja[j])
        trans['tytul'] = 'wyplata - '+str(stanowiska[i])
        transakcje.append(trans)
    zatr = dataformat(open_time)
    zwo = "9999-99-99"


    opiekun_d = {'id':p_id, 'imie': opiekun['name'], 'nazwisko': opiekun['last_name'], 
               'adres': opiekun['adres'], 'telefon': opiekun['telefon'], 'zatrudnienie':zatr, "zwolenienie": zwo,
          'stanowisko': stanowiska[i], 'pensja': pensje[i]}
    opiekunowie.append(opiekun_d)

In [52]:
(pd.DataFrame(data=opiekunowie)).head()

,adres,id,imie,nazwisko,pensja,stanowisko,telefon,zatrudnienie,zwolenienie
0,ul. Ksiecia Jozefa Poniatowskiego 43 Wroclaw,20000,WIESLAW,PAROL,2500,opiekun,187-570-870,2016-04-05,2019-03-08
1,ul. Eugeniusza Felicjana Kwiatkowskiego 81 Wro...,20001,RENATA,PIASKOWSKA,2500,opiekun,761-274-237,2016-04-05,2018-04-22
2,ul. Demokratow 22 Wroclaw,20002,MARIAN,JASINSKI,2500,opiekun,554-912-611,2016-04-05,2016-10-25
3,ul. Nowowiejska 14 Wroclaw,20003,MARCIN,LORENC,2500,opiekun,977-155-169,2016-04-05,2018-11-02
4,ul. Osada Bystre 85 Wroclaw,20000,SEBASTIAN,PIEROG,2500,opiekun,795-176-667,2019-03-10,9999-99-99

### Wolontariusze

In [53]:
#przez schronisko przewinelo sie 67 wolontariuszy
wolontariusze = []
for i in range(67):
    p_id = id_generator(i=i, first=4)
        
    rand = np.random.random()
    if rand>0.5:
        opiekun = pracownik(names_male, lastnames_male, ulice, "Wroclaw")
    else:
        opiekun = pracownik(names_female, lastnames_female, ulice, "Wroclaw")
        
    zatr = dataformat(opiekun['zatr'])
    
    
    zwol = opiekun["zwoln"]
    zwo = dataformat(zwol)
    
    if np.random.random() > 0.9:
        zwo = '9999-99-99'
    
    wolontariusz =  {'id':p_id, 'imie': opiekun['name'], 'nazwisko': opiekun['last_name'], 
               'adres': opiekun['adres'], 'telefon': opiekun['telefon'], 'zatrudnienie':zatr, 
                     "rezygnacja": zwo}
    wolontariusze.append(wolontariusz)

In [54]:
(pd.DataFrame(data=wolontariusze)).head()

,adres,id,imie,nazwisko,rezygnacja,telefon,zatrudnienie
0,ul. Henryka Sienkiewicza 8 Wroclaw,40000,MACIEJ,MRUGALA,2016-12-22,223-599-771,2016-06-02
1,ul. Stolarskaul. mjr. Henryka Sucharskiego 74 ...,40001,JULIA,MATEJA,2018-01-31,509-121-544,2017-06-30
2,ul. Wiejska 52 Wroclaw,40002,RAFAL,WYDRZYNSKI,2018-05-10,127-615-434,2018-01-01
3,ul. Stanislawy Walasiewicz 36 Wroclaw,40003,MARCIN,KRZYZANSKI,2019-06-01,104-477-104,2019-04-16
4,ul. Owocowa 97 Wroclaw,40004,ANNA,PALUCH,2017-06-06,164-218-735,2017-05-21

### Weterynarze

In [55]:
# 3 weterynarzy
#najpierw opiekunowie
#4 opiekunow pracuje aktualnie
weterynarze =[] 
w_id = []
miastaW = ["Wroclaw", "Wroclaw", "Olesnica","Wroclaw"]
for i in range(4):
    rand = np.random.random()
    if rand>0.5:
        opiekun = pracownik(names_male, lastnames_male, ulice, miastaW[i])
    else:
        opiekun = pracownik(names_female, lastnames_female, ulice, miastaW[i])

    zatr = dataformat(open_time)
    zwo = "9999-99-99"
    p_id = id_generator(i=i, first=3)
    w_id.append(p_id)
    opiekun_d = {'id':p_id, 'imie': opiekun['name'], 'nazwisko': opiekun['last_name'], 
               'adres': opiekun['adres'], 'telefon': opiekun['telefon'], 'zatrudnienie':zatr, "zwolenienie": zwo,
          'stanowisko': 'weterynarz'}
    weterynarze.append(opiekun_d)

In [56]:
(pd.DataFrame(data=weterynarze)).head()

,adres,id,imie,nazwisko,stanowisko,telefon,zatrudnienie,zwolenienie
0,ul. Owsiana 90 Wroclaw,30000,AGATA,KURA,weterynarz,905-739-141,2016-04-05,9999-99-99
1,ul. Kwiatowa 40 Wroclaw,30001,STANISLAW,KWIECIEN,weterynarz,852-601-529,2016-04-05,9999-99-99
2,ul. Jana Kilinskiego 8 Olesnica,30002,TOMASZ,WEGRZYNOWSKI,weterynarz,636-471-613,2016-04-05,9999-99-99
3,ul. Joachima Lelewela 9 Wroclaw,30003,HANNA,DEMBSKA,weterynarz,957-276-559,2016-04-05,9999-99-99

# Zwierzęta

### gatunki

In [57]:
#gatunki
gatunki = {'nazwa' : ['pies', 'kot', 'szczur'], 'id_gatunku': [1,2,3]}
gat = pd.DataFrame(data=gatunki)
gat

    nazwa  id_gatunku
0    pies           1
1     kot           2
2  szczur           3

## W schronisku

### pieski

In [58]:
#92 psy- tyle liczy aktualnie nasze schronisko, 41 kotow, i 17 szczurow
len_dog = 92
k = 1
l = 1
for i in range(len_dog):
    dog_info = {}
    dog_schr = {}
    dog_wiz = {}
    dog_trans = {}
    dog = Animal(species = 'pies')
    birth, _ = dog.birth()
    birth_d = dataformat(birth)
    acc = dog.acceptance()
    if np.random.random()>0.7:
        dog_info['wczesniej_adoptowany'] = "tak"
        adop = dog.adoption()
        #ponowne przyjecie
        acc = dog.next_acceptance()
        if np.random.random()>0.9:
            adop = dog.adoption()
            #ponowne przyjecie
            acc = dog.next_acceptance()
    else:
        dog_info['wczesniej_adoptowany'] = "nie"

    dog_info['data_urodzenia'] = birth_d
    dog_info['data_przyjecia'] = dataformat(acc)
    dog_info['stan'] = 'w schronisku'
    dog_info['plec'] = dog.plec()
    dog_info['masa'] = dog.masa()
    dog_info['imie'] = dog.name('./dane/npieski.csv')
    kastracja = dog.kastracja()
    dog_info['id_gat'] = 1
    dog_schr['id_gat'] = dog_info['id_gat']
    dog_schr['data_przyjecia'] = dataformat(acc)
    dog_info['id'] = id_generator(i=i, first=6, second =1)
        
    dog_schr['id'] = dog_info['id']
        
    if np.random.random()>0.9:
        dog_info['inne_zwierzeta'] = "agresywny"
    else:
        dog_info['inne_zwierzeta'] = "lagodny"
    umaszczenie= dog.umaszczenie()
    
    dog_info['umaszczenie']=umaszczenie[0]
    dog_info['gatunek'] = umaszczenie[1]
    
    if dog_info['masa']>=20:
        dog_info['ID_opiekuna'] = [pr_id[0]]
        dog_info['blok'] = 'A_'+str(k)
        k += 1
    else:
        dog_info['ID_opiekuna'] = [pr_id[1]]
        dog_info['blok'] = 'B_'+str(l)
        l += 1
    dog_schr['ID_opiekuna'] = dog_info['ID_opiekuna']
    dog_schr['blok'] = dog_info['blok']
    ## czy nadaje sie do adopcji?
    if np.random.random()>0.1:
        data_wiz, chor, zalec, cena = dog.Wizyty()
        if np.random.random()>0.7:
            data_wiz1, chor1, zalec1, cena1 = dog.Wizyty()
    zdrowie = dog.stan_zdrowia()
    if zdrowie  == "zdrowy":
        dog_schr['Stan'] = "nadaje sie do adopcji"
    else:
        dog_schr['Stan'] = "nie nadaje sie do adopcji - "+str(zdrowie)
    wizyty, daty, ceny = dog.choroby()
    for j in range(len(wizyty)):
        dog_wiz['ID_wizyty'] =  id_generator(i = i, first = 4, second = j)
        dog_wiz['id'] = dog_info['id']
        index =int(np.round(np.random.uniform(0,3.49),0))
        id_pr =  w_id[index]
        dog_wiz['ID_pracownika'] = id_pr
        dog_wiz['data_wizyty'] = dataformat(daty[j])
        dog_wiz['diagnoza'] = wizyty[j]
        dog_wiz['zalecenia'] = 'lek'
        dog_wiz['stan_zdrowia'] = zdrowie
        dog_wiz['sterylizacja'] = kastracja[0]
        dog_trans['id_transakcji'] = id_generator(i = i, first = 5, second = j)
        dog_trans['tytul']='weterynarz, id_zwierzecia:'+ str(dog_info['id'])
        dog_trans['kwota'] = 0-ceny[j]
        dog_trans['data'] = dataformat(daty[j])
        dog_trans['imie'] = weterynarze[index]['imie']
        dog_trans['nazwisko'] = weterynarze[index]['nazwisko']
    transakcje.append(dog_trans)
    hist_zdr.append(dog_wiz)
    zwierz_schr.append(dog_schr)
    informacje.append(dog_info)

### kotki

In [59]:
#41 kotow- tyle liczy aktualnie nasze schronisko. 
len_cat = 41
k = 0
for i in range(len_cat):
    dog_info = {}
    dog_schr = {}
    dog_wiz = {}
    dog_trans = {}
    dog = Animal(species = 'kot')
    birth, _ = dog.birth()
    birth_d = dataformat(birth)
    acc = dog.acceptance()
    if np.random.random()>0.7:
        dog_info['wczesniej_adoptowany'] = "tak"
        adop = dog.adoption()
        #ponowne przyjecie
        acc = dog.next_acceptance()
        if np.random.random()>0.9:
            adop = dog.adoption()
            #ponowne przyjecie
            acc = dog.next_acceptance()
    else:
        dog_info['wczesniej_adoptowany'] = "nie"
        
    dog_info['stan'] = 'w schronisku'
    dog_info['data_urodzenia'] = birth_d
    dog_info['data_przyjecia'] = dataformat(acc)
    dog_schr['data_przyjecia'] = dataformat(acc)
    dog_info['plec'] = dog.plec()
    dog_info['masa'] = dog.masa()
    dog_info['imie'] = dog.name('./dane/npieski.csv')
    kastracja = dog.kastracja()
    dog_info['id_gat'] = 2
    dog_schr['id_gat'] = dog_info['id_gat']
    dog_info['id'] = id_generator(i=i, first=6, second =2)
        
        
    dog_schr['id'] = dog_info['id']
        
    if np.random.random()>0.9:
        dog_info['inne_zwierzeta'] = "agresywny"
    else:
        dog_info['inne_zwierzeta'] = "lagodny"
    umaszczenie= dog.umaszczenie()
    
    dog_info['umaszczenie']=umaszczenie[0]
    dog_info['gatunek'] = umaszczenie[1]
    
    dog_info['ID_opiekuna'] = [pr_id[3]]
    if i%3==0:
        dog_info['blok'] = 'C_'+str(i//3)
        k = i
    else:
        dog_info['blok'] = 'C_'+str(k//3)
    
    dog_schr['ID_opiekuna'] = dog_info['ID_opiekuna']
    dog_schr['blok'] = dog_info['blok']
    ## czy nadaje sie do adopcji?
    if np.random.random()>0.1:
        data_wiz, chor, zalec, cena = dog.Wizyty()
        if np.random.random()>0.7:
            data_wiz1, chor1, zalec1, cena1 = dog.Wizyty()
    zdrowie = dog.stan_zdrowia()
    if zdrowie  == "zdrowy":
        dog_schr['Stan'] = "nadaje sie do adopcji"
    else:
        dog_schr['Stan'] = "nie nadaje sie do adopcji - "+str(zdrowie)
    wizyty, daty, ceny = dog.choroby()
    for j in range(len(wizyty)):
        dog_wiz['ID_wizyty'] =  id_generator(i = i, first = 4, second = j)
        dog_wiz['id'] = dog_info['id']
        index =int(np.round(np.random.uniform(0,3.49),0))
        id_pr =  w_id[index]
        dog_wiz['ID_pracownika'] = id_pr
        dog_wiz['data_wizyty'] = dataformat(daty[j])
        dog_wiz['diagnoza'] = wizyty[j]
        dog_wiz['zalecenia'] = 'lek'
        dog_wiz['stan_zdrowia'] = zdrowie
        dog_wiz['sterylizacja'] = kastracja[0]
        dog_trans['id_transakcji'] = id_generator(i = i, first = 5, second = j)
        dog_trans['tytul']='weterynarz, id_zwierzecia:'+ str(dog_info['id'])
        dog_trans['kwota'] = 0 - ceny[j]
        dog_trans['data'] = dataformat(daty[j])
        dog_trans['imie'] = weterynarze[index]['imie']
        dog_trans['nazwisko'] = weterynarze[index]['nazwisko']
    transakcje.append(dog_trans)
    hist_zdr.append(dog_wiz)
    zwierz_schr.append(dog_schr)
    informacje.append(dog_info)

### szczurki

In [60]:
#92 psy- tyle liczy aktualnie nasze schronisko. 
len_rat = 17
k=0
for i in range(len_rat):
    dog_info = {}
    dog_schr = {}
    dog_wiz = {}
    dog_trans = {}
    dog = Animal(species = 'szczur')
    birth, _ = dog.birth()
    birth_d = dataformat(birth)
    acc = dog.acceptance()
    dog_info['wczesniej_adoptowany'] = "nie"

    dog_info['stan'] = 'w schronisku'
    dog_info['data_urodzenia'] = birth_d
    dog_info['data_przyjecia'] = '2019-05-21'
    dog_schr['data_przyjecia'] = dataformat(acc)
    dog_info['plec'] = dog.plec()
    dog_info['masa'] = dog.masa()
    dog_info['imie'] = dog.name('./dane/npieski.csv')
    kastracja = dog.kastracja()
    dog_info['id_gat'] = 3
    dog_schr['id_gat'] = dog_info['id_gat']
    
    dog_info['id'] = id_generator(i=i, first=6, second =3)
        
        
    dog_schr['id'] = dog_info['id']
        
    if np.random.random()>0.9:
        dog_info['inne_zwierzeta'] = "agresywny"
    else:
        dog_info['inne_zwierzeta'] = "lagodny"
    umaszczenie= dog.umaszczenie()
    
    dog_info['umaszczenie']=umaszczenie[0]
    dog_info['gatunek'] = umaszczenie[1]
    
    dog_info['ID_opiekuna'] = [pr_id[2]]
    dog_info['blok'] = 'B_0'
    
    dog_schr['ID_opiekuna'] = dog_info['ID_opiekuna']
    dog_schr['blok'] = dog_info['blok']
    ## czy nadaje sie do adopcji?
    if np.random.random()>0.1:
        data_wiz, chor, zalec, cena = dog.Wizyty()
        if np.random.random()>0.7:
            data_wiz1, chor1, zalec1, cena1 = dog.Wizyty()
    zdrowie = dog.stan_zdrowia()
    if zdrowie  == "zdrowy":
        dog_schr['Stan'] = "nadaje sie do adopcji"
    else:
        dog_schr['Stan'] = "nie nadaje sie do adopcji - "+str(zdrowie)
    wizyty, daty, ceny = dog.choroby()
    for j in range(len(wizyty)):
        dog_wiz['ID_wizyty'] =  id_generator(i = i, first = 4, second = j)
        dog_wiz['id'] = dog_info['id']
        index =int(np.round(np.random.uniform(0,3.49),0))
        id_pr =  w_id[index]
        dog_wiz['ID_pracownika'] = id_pr
        dog_wiz['data_wizyty'] = dataformat(daty[j])
        dog_wiz['diagnoza'] = wizyty[j]
        dog_wiz['zalecenia'] = 'lek'
        dog_wiz['stan_zdrowia'] = zdrowie
        dog_wiz['sterylizacja'] = kastracja[0]
        dog_trans['id_transakcji'] = id_generator(i = i, first = 5, second = j)
        dog_trans['tytul']='weterynarz, id_zwierzecia:'+ str(dog_info['id'])
        dog_trans['kwota'] = 0- ceny[j]
        dog_trans['data'] = dataformat(daty[j])
        dog_trans['imie'] = weterynarze[index]['imie']
        dog_trans['nazwisko'] = weterynarze[index]['nazwisko']
    transakcje.append(dog_trans)
    hist_zdr.append(dog_wiz)
    zwierz_schr.append(dog_schr)
    informacje.append(dog_info)

In [61]:
pd.DataFrame(transakcje)

,data,id_transakcji,imie,kwota,nazwisko,tytul
0,2016-04-10,59000,WIESLAW,-449.1,PAROL,wyplata - Opiekun
1,2016-05-10,59001,WIESLAW,-2500.0,PAROL,wyplata - Opiekun
2,2016-06-10,59002,WIESLAW,-2500.0,PAROL,wyplata - Opiekun
3,2016-07-10,59003,WIESLAW,-2500.0,PAROL,wyplata - Opiekun
4,2016-08-10,59004,WIESLAW,-2500.0,PAROL,wyplata - Opiekun
5,2016-09-09,59005,WIESLAW,-2500.0,PAROL,wyplata - Opiekun
6,2016-10-10,59006,WIESLAW,-2500.0,PAROL,wyplata - Opiekun
7,2016-11-09,59007,WIESLAW,-2500.0,PAROL,wyplata - Opiekun
8,2016-12-10,59008,WIESLAW,-2500.0,PAROL,wyplata - Opiekun
9,2017-01-09,59009,WIESLAW,-2500.0,PAROL,wyplata - Opiekun
10,2017-02-09,59010,WIESLAW,-2500.0,PAROL,wyplata - Opiekun
11,2017-03-11,59011,WIESLAW,-2500.0,PAROL,wyplata - Opiekun
12,2017-04-11,59012,WIESLAW,-2500.0,PAROL,wyplata - Opiekun
13,2017-05-11,59013,WIESLAW,-2500.0,PAROL,wyplata - Opiekun
14,2017-06-11,59014,WIESLAW,-2500.0,PAROL,wyplata - Opiekun
15,2017-07-11,59015,WIESLAW,-2500.0,PAROL,wyplata - Opiekun
16,2017-08-11,59016,WIESLAW,-2500.0,PAROL,wyplata - Opiekun
17,2017-09-10,59017,WIESLAW,-2500.0,PAROL,wyplata - Opiekun
18,2017-10-11,59018,WIESLAW,-2500.0,PAROL,wyplata - Opiekun
19,2017-11-10,59019,WIESLAW,-2500.0,PAROL,wyplata - Opiekun
20,2017-12-11,59020,WIESLAW,-2500.0,PAROL,wyplata - Opiekun
21,2018-01-10,59021,WIESLAW,-2500.0,PAROL,wyplata - Opiekun
22,2018-02-10,59022,WIESLAW,-2500.0,PAROL,wyplata - Opiekun
23,2018-03-12,59023,WIESLAW,-2500.0,PAROL,wyplata - Opiekun
24,2018-04-12,59024,WIESLAW,-2500.0,PAROL,wyplata - Opiekun
25,2018-05-12,59025,WIESLAW,-2500.0,PAROL,wyplata - Opiekun
26,2018-06-12,59026,WIESLAW,-2500.0,PAROL,wyplata - Opiekun
27,2018-07-12,59027,WIESLAW,-2500.0,PAROL,wyplata - Opiekun
28,2018-08-12,59028,WIESLAW,-2500.0,PAROL,wyplata - Opiekun
29,2018-09-11,59029,WIESLAW,-2500.0,PAROL,wyplata - Opiekun
...,...,...,...,...,...,...
481,2019-04-17,52028,HANNA,-56.0,DEMBSKA,"weterynarz, id_zwierzecia:62028"
482,2017-08-16,51029,STANISLAW,-200.0,KWIECIEN,"weterynarz, id_zwierzecia:62029"
483,2019-06-18,53030,TOMASZ,-125.0,WEGRZYNOWSKI,"weterynarz, id_zwierzecia:62030"
484,2018-10-30,53031,TOMASZ,-136.0,WEGRZYNOWSKI,"weterynarz, id_zwierzecia:62031"
485,2018-11-17,52032,HANNA,-93.0,DEMBSKA,"weterynarz, id_zwierzecia:62032"
486,2019-04-30,50033,HANNA,-50.0,DEMBSKA,"weterynarz, id_zwierzecia:62033"
487,2019-04-28,52034,TOMASZ,-64.0,WEGRZYNOWSKI,"weterynarz, id_zwierzecia:62034"
488,2018-06-29,51035,STANISLAW,-95.0,KWIECIEN,"weterynarz, id_zwierzecia:62035"
489,2019-04-14,51036,TOMASZ,-119.0,WEGRZYNOWSKI,"weterynarz, id_zwierzecia:62036"
490,2019-03-15,51037,TOMASZ,-82.0,WEGRZYNOWSKI,"weterynarz, id_zwierzecia:62037"
491,2016-10-01,51038,STANISLAW,-200.0,KWIECIEN,"weterynarz, id_zwierzecia:62038"
492,2016-09-24,50039,STANISLAW,-50.0,KWIECIEN,"weterynarz, id_zwierzecia:62039"
493,2019-06-06,52040,AGATA,-62.0,KURA,"weterynarz, id_zwierzecia:62040"
494,2019-05-17,52000,TOMASZ,-76.0,WEGRZYNOWSKI,"weterynarz, id_zwierzecia:63000"
495,2018-11-12,52001,STANISLAW,-64.0,KWIECIEN,"weterynarz, id_zwierzecia:63001"
496,2019-06-06,52002,STANISLAW,-85.0,KWIECIEN,"weterynarz, id_zwierzecia:63002"
497,2019-06-06,52003,AGATA,-50.0,KURA,"weterynarz, id_zwierzecia:63003"
498,2019-06-15,52004,HANNA,-60.0,DEMBSKA,"weterynarz, id_zwierzecia:63004"
499,2019-06-16,52005,STANISLAW,-105.0,KWIECIEN,"weterynarz, id_zwierzecia:63005"
500,2019-04-15,52006,HANNA,-82.0,DEMBSKA,"weterynarz, id_zwierzecia:63006"
501,2019-05-19,51007,STANISLAW,-89.0,KWIECIEN,"weterynarz, id_zwierzecia:63007"
502,2019-05-22,51008,STANISLAW,-93.0,KWIECIEN,"weterynarz, id_zwierzecia:63008"
503,2019-04-24,53009,HANNA,-66.0,DEMBSKA,"weterynarz, id_zwierzecia:63009"
504,2019-02-21,50010,HANNA,-50.0,DEMBSKA,"weterynarz, id_zwierzecia:63010"
505,2019-03-02,52011,TOMASZ,-99.0,WEGRZYNOWSKI,"weterynarz, id_zwierzecia:63011"
506,2018-12-10,52012,AGATA,-74.0,KURA,"weterynarz, id_zwierzecia:63012"
507,2018-12-30,51013,TOMASZ,-110.0,WEGRZYNOWSKI,"weterynarz, id_zwierzecia:63013"
508,2019-02-24,51014,HANNA,-148.0,DEMBSKA,"weterynarz, id_zwierzecia:63014"
509,2019-05-21,53015,TOMASZ,-74.0,WEGRZYNOWSKI,"weterynarz, id_zwierzecia:63015"
510,2019-06-12,51016,HANNA,-134.0,DEMBSKA,"weterynarz, id_zwierzecia:63016"

In [62]:
pd.DataFrame(hist_zdr)

,ID_pracownika,ID_wizyty,data_wizyty,diagnoza,id,stan_zdrowia,sterylizacja,zalecenia
0,30002,42000,2018-11-01,przeziębienie,61000,zdrowy,tak,lek
1,30003,41001,2017-11-15,inne,61001,zdrowy,nie,lek
2,30002,42002,2019-05-28,skaleczenie,61002,zdrowy,tak,lek
3,30001,41003,2018-05-22,pierwsza wizyta,61003,zdrowy,nie,lek
4,30002,42004,2018-06-08,inne,61004,zdrowy,tak,lek
5,30001,41005,2019-02-15,świeżb,61005,zdrowy,tak,lek
6,30002,41006,2019-02-10,pierwsza wizyta,61006,zdrowy,tak,lek
7,30003,41007,2019-02-28,pierwsza wizyta,61007,zdrowy,tak,lek
8,30003,42008,2019-03-21,zapalenie spojówek,61008,zdrowy,tak,lek
9,30001,42009,2019-04-22,przeziębienie,61009,zdrowy,tak,lek
10,30001,42010,2019-02-22,skaleczenie,61010,zdrowy,tak,lek
11,30002,42011,2018-06-20,inne,61011,zdrowy,tak,lek
12,30001,43012,2019-02-01,świeżb,61012,zdrowy,tak,lek
13,30002,42013,2019-06-17,zapalenie spojówek,61013,w czasie leczenia,tak,lek
14,30001,42014,2019-05-16,inne,61014,zdrowy,tak,lek
15,30003,42015,2019-03-20,skaleczenie,61015,zdrowy,tak,lek
16,30001,43016,2019-06-12,inne,61016,zdrowy,tak,lek
17,30002,43017,2019-05-22,skaleczenie,61017,zdrowy,tak,lek
18,30003,43018,2019-06-05,zapalenie spojówek,61018,zdrowy,tak,lek
19,30001,42019,2018-09-12,przeziębienie,61019,zdrowy,tak,lek
20,30003,42020,2018-05-09,skaleczenie,61020,zdrowy,tak,lek
21,30002,43021,2019-05-19,inne,61021,zdrowy,tak,lek
22,30003,41022,2019-05-12,zapalenie spojówek,61022,zdrowy,tak,lek
23,30000,43023,2019-05-03,zapalenie uszu,61023,zdrowy,tak,lek
24,30003,44024,2019-06-20,świeżb,61024,w czasie leczenia,tak,lek
25,30000,43025,2019-05-24,skaleczenie,61025,chory,tak,lek
26,30001,42026,2019-03-21,zapalenie spojówek,61026,zdrowy,tak,lek
27,30002,42027,2018-10-09,świeżb,61027,zdrowy,tak,lek
28,30002,44028,2019-06-25,przeziębienie,61028,w czasie leczenia,tak,lek
29,30002,41029,2018-10-05,przeziębienie,61029,zdrowy,tak,lek
...,...,...,...,...,...,...,...,...
120,30003,42028,2019-04-17,inne,62028,zdrowy,tak,lek
121,30001,41029,2017-08-16,sterylizacja,62029,zdrowy,tak,lek
122,30002,43030,2019-06-18,inne,62030,w czasie leczenia,tak,lek
123,30002,43031,2018-10-30,zapalenie uszu,62031,zdrowy,tak,lek
124,30003,42032,2018-11-17,inne,62032,zdrowy,tak,lek
125,30003,40033,2019-04-30,pierwsza wizyta,62033,zdrowy,tak,lek
126,30002,42034,2019-04-28,świeżb,62034,zdrowy,tak,lek
127,30001,41035,2018-06-29,świeżb,62035,zdrowy,tak,lek
128,30002,41036,2019-04-14,skaleczenie,62036,zdrowy,nie,lek
129,30002,41037,2019-03-15,zapalenie spojówek,62037,zdrowy,tak,lek
130,30001,41038,2016-10-01,sterylizacja,62038,zdrowy,tak,lek
131,30001,40039,2016-09-24,pierwsza wizyta,62039,zdrowy,tak,lek
132,30000,42040,2019-06-06,świeżb,62040,zdrowy,tak,lek
133,30002,42000,2019-05-17,przeziębienie,63000,zdrowy,tak,lek
134,30001,42001,2018-11-12,przeziębienie,63001,zdrowy,tak,lek
135,30001,42002,2019-06-06,zapalenie uszu,63002,zdrowy,tak,lek
136,30000,42003,2019-06-06,skaleczenie,63003,chory,tak,lek
137,30003,42004,2019-06-15,przeziębienie,63004,w czasie leczenia,tak,lek
138,30001,42005,2019-06-16,inne,63005,w czasie leczenia,tak,lek
139,30003,42006,2019-04-15,zapalenie spojówek,63006,zdrowy,tak,lek
140,30001,41007,2019-05-19,zapalenie spojówek,63007,zdrowy,tak,lek
141,30001,41008,2019-05-22,skaleczenie,63008,zdrowy,tak,lek
142,30003,43009,2019-04-24,świeżb,63009,zdrowy,tak,lek
143,30003,40010,2019-02-21,pierwsza wizyta,63010,zdrowy,tak,lek
144,30002,42011,2019-03-02,zapalenie spojówek,63011,zdrowy,tak,lek
145,30000,42012,2018-12-10,świeżb,63012,zdrowy,tak,lek
146,30002,41013,2018-12-30,przeziębienie,63013,zdrowy,tak,lek
147,30003,41014,2019-02-24,przeziębienie,63014,zdrowy,tak,lek
148,30002,43015,2019-05-21,przeziębienie,63015,zdrowy,tak,lek
149,30003,41016,2019-06-12,skaleczenie,63016,zdrowy,tak,lek

In [63]:
pd.DataFrame(zwierz_schr)

,ID_opiekuna,Stan,blok,data_przyjecia,id,id_gat
0,[20001],nadaje sie do adopcji,B_1,2017-03-12,61000,1
1,[20000],nadaje sie do adopcji,A_1,2017-04-23,61001,1
2,[20000],nadaje sie do adopcji,A_2,2018-02-20,61002,1
3,[20001],nadaje sie do adopcji,B_2,2018-05-21,61003,1
4,[20001],nadaje sie do adopcji,B_3,2017-08-27,61004,1
5,[20000],nadaje sie do adopcji,A_3,2018-11-04,61005,1
6,[20001],nadaje sie do adopcji,B_4,2019-02-09,61006,1
7,[20000],nadaje sie do adopcji,A_4,2019-02-27,61007,1
8,[20000],nadaje sie do adopcji,A_5,2017-08-29,61008,1
9,[20001],nadaje sie do adopcji,B_5,2019-04-17,61009,1
10,[20001],nadaje sie do adopcji,B_6,2017-03-12,61010,1
11,[20001],nadaje sie do adopcji,B_7,2017-02-05,61011,1
12,[20001],nadaje sie do adopcji,B_8,2016-12-26,61012,1
13,[20000],nie nadaje sie do adopcji - w czasie leczenia,A_6,2018-05-04,61013,1
14,[20001],nadaje sie do adopcji,B_9,2018-10-12,61014,1
15,[20001],nadaje sie do adopcji,B_10,2018-12-17,61015,1
16,[20001],nadaje sie do adopcji,B_11,2019-05-04,61016,1
17,[20000],nadaje sie do adopcji,A_7,2018-09-17,61017,1
18,[20001],nadaje sie do adopcji,B_12,2019-03-21,61018,1
19,[20001],nadaje sie do adopcji,B_13,2016-10-21,61019,1
20,[20001],nadaje sie do adopcji,B_14,2017-04-12,61020,1
21,[20001],nadaje sie do adopcji,B_15,2019-02-24,61021,1
22,[20001],nadaje sie do adopcji,B_16,2019-03-22,61022,1
23,[20001],nadaje sie do adopcji,B_17,2018-05-03,61023,1
24,[20001],nie nadaje sie do adopcji - w czasie leczenia,B_18,2019-04-25,61024,1
25,[20001],nie nadaje sie do adopcji - chory,B_19,2019-03-14,61025,1
26,[20001],nadaje sie do adopcji,B_20,2018-04-10,61026,1
27,[20000],nadaje sie do adopcji,A_8,2018-10-05,61027,1
28,[20000],nie nadaje sie do adopcji - w czasie leczenia,A_9,2019-06-12,61028,1
29,[20000],nadaje sie do adopcji,A_10,2018-07-06,61029,1
...,...,...,...,...,...,...
120,[20003],nadaje sie do adopcji,C_9,2019-01-03,62028,2
121,[20003],nadaje sie do adopcji,C_9,2017-07-26,62029,2
122,[20003],nie nadaje sie do adopcji - w czasie leczenia,C_10,2019-06-05,62030,2
123,[20003],nadaje sie do adopcji,C_10,2018-03-23,62031,2
124,[20003],nadaje sie do adopcji,C_10,2018-05-18,62032,2
125,[20003],nadaje sie do adopcji,C_11,2019-04-29,62033,2
126,[20003],nadaje sie do adopcji,C_11,2017-11-09,62034,2
127,[20003],nadaje sie do adopcji,C_11,2016-11-20,62035,2
128,[20003],nadaje sie do adopcji,C_12,2018-09-04,62036,2
129,[20003],nadaje sie do adopcji,C_12,2019-01-12,62037,2
130,[20003],nadaje sie do adopcji,C_12,2016-09-02,62038,2
131,[20003],nadaje sie do adopcji,C_13,2016-09-23,62039,2
132,[20003],nadaje sie do adopcji,C_13,2019-05-03,62040,2
133,[20002],nadaje sie do adopcji,B_0,2019-04-01,63000,3
134,[20002],nadaje sie do adopcji,B_0,2018-08-23,63001,3
135,[20002],nadaje sie do adopcji,B_0,2019-05-18,63002,3
136,[20002],nie nadaje sie do adopcji - chory,B_0,2019-04-15,63003,3
137,[20002],nie nadaje sie do adopcji - w czasie leczenia,B_0,2019-04-07,63004,3
138,[20002],nie nadaje sie do adopcji - w czasie leczenia,B_0,2018-07-31,63005,3
139,[20002],nadaje sie do adopcji,B_0,2019-03-20,63006,3
140,[20002],nadaje sie do adopcji,B_0,2019-01-13,63007,3
141,[20002],nadaje sie do adopcji,B_0,2019-01-03,63008,3
142,[20002],nadaje sie do adopcji,B_0,2018-10-19,63009,3
143,[20002],nadaje sie do adopcji,B_0,2019-02-20,63010,3
144,[20002],nadaje sie do adopcji,B_0,2017-12-22,63011,3
145,[20002],nadaje sie do adopcji,B_0,2018-02-02,63012,3
146,[20002],nadaje sie do adopcji,B_0,2018-11-29,63013,3
147,[20002],nadaje sie do adopcji,B_0,2019-01-02,63014,3
148,[20002],nadaje sie do adopcji,B_0,2019-02-07,63015,3
149,[20002],nadaje sie do adopcji,B_0,2019-06-02,63016,3

In [64]:
pd.DataFrame(informacje)

,ID_opiekuna,blok,data_przyjecia,data_urodzenia,gatunek,id,id_gat,imie,inne_zwierzeta,masa,plec,stan,umaszczenie,wczesniej_adoptowany
0,[20001],B_1,2017-03-12,2010-04-11,pies,61000,1,Jarys,lagodny,7.837,samiec,w schronisku,biszkoptowy,nie
1,[20000],A_1,2017-04-23,2010-09-25,pies,61001,1,Roki,lagodny,20.720,samiec,w schronisku,czarny,nie
2,[20000],A_2,2018-02-20,2012-01-06,pies,61002,1,Lisi,lagodny,23.085,samica,w schronisku,biszkoptowy,nie
3,[20001],B_2,2018-05-21,2006-09-02,pies,61003,1,Una,lagodny,15.165,samica,w schronisku,szary,tak
4,[20001],B_3,2017-08-27,2006-12-26,pies,61004,1,Salsa,agresywny,17.756,samica,w schronisku,czarny,nie
5,[20000],A_3,2018-11-04,2007-01-20,pies,61005,1,Worek,lagodny,24.632,samiec,w schronisku,rudy,nie
6,[20001],B_4,2019-02-09,2007-03-10,pies,61006,1,Grey,lagodny,14.966,samiec,w schronisku,biszkoptowy,tak
7,[20000],A_4,2019-02-27,2011-01-26,pies,61007,1,Evita,lagodny,31.887,samica,w schronisku,rudy,tak
8,[20000],A_5,2017-08-29,2007-07-29,pies,61008,1,Olli,agresywny,24.943,samica,w schronisku,bialo-czarny,nie
9,[20001],B_5,2019-04-17,2005-10-13,pies,61009,1,Gabi,lagodny,15.615,samica,w schronisku,rudy,tak
10,[20001],B_6,2017-03-12,2010-05-15,pies,61010,1,Fudzi,lagodny,2.628,samiec,w schronisku,bialo-rudy,nie
11,[20001],B_7,2017-02-05,2005-07-01,pies,61011,1,Kefir,lagodny,13.500,samiec,w schronisku,szary,nie
12,[20001],B_8,2016-12-26,2008-10-14,pies,61012,1,Febris,lagodny,16.395,samiec,w schronisku,inne,nie
13,[20000],A_6,2018-05-04,2009-01-15,pies,61013,1,Nicpon,lagodny,21.294,samiec,w schronisku,rudy,nie
14,[20001],B_9,2018-10-12,2011-05-23,pies,61014,1,Forez,lagodny,10.014,samiec,w schronisku,bialo-szary,nie
15,[20001],B_10,2018-12-17,2005-08-15,pies,61015,1,Ziutka,lagodny,16.804,samica,w schronisku,biszkoptowy,nie
16,[20001],B_11,2019-05-04,2013-04-30,pies,61016,1,Jurta,lagodny,2.835,samica,w schronisku,bialo-brązowy,nie
17,[20000],A_7,2018-09-17,2006-10-28,pies,61017,1,Luga,lagodny,25.790,samica,w schronisku,bialo-rudy,tak
18,[20001],B_12,2019-03-21,2010-06-07,pies,61018,1,Zan,lagodny,13.416,samiec,w schronisku,szary,nie
19,[20001],B_13,2016-10-21,2010-12-18,pies,61019,1,Morus,lagodny,19.113,samiec,w schronisku,brazowy,nie
20,[20001],B_14,2017-04-12,2008-10-17,pies,61020,1,Lucky,lagodny,11.152,samiec,w schronisku,czarny,nie
21,[20001],B_15,2019-02-24,2011-11-02,pies,61021,1,Denar,lagodny,18.226,samiec,w schronisku,szary,tak
22,[20001],B_16,2019-03-22,2010-05-12,pies,61022,1,Rudolf,lagodny,16.028,samiec,w schronisku,bialo-czarny,nie
23,[20001],B_17,2018-05-03,2011-03-16,pies,61023,1,Kraker,lagodny,13.545,samiec,w schronisku,bialo-brązowy,tak
24,[20001],B_18,2019-04-25,2005-02-01,pies,61024,1,Zaira,lagodny,12.766,samica,w schronisku,biszkoptowy,tak
25,[20001],B_19,2019-03-14,2007-10-30,pies,61025,1,Elmo,lagodny,14.623,samiec,w schronisku,bialo-brązowy,tak
26,[20001],B_20,2018-04-10,2010-07-27,pies,61026,1,Camel,lagodny,15.957,samiec,w schronisku,rudy,nie
27,[20000],A_8,2018-10-05,2008-04-16,pies,61027,1,Poker,lagodny,20.412,samiec,w schronisku,bialo-szary,tak
28,[20000],A_9,2019-06-12,2015-04-06,pies,61028,1,Dakar,lagodny,24.301,samiec,w schronisku,biszkoptowy,tak
29,[20000],A_10,2018-07-06,2008-01-24,pies,61029,1,Ksati,lagodny,21.938,samica,w schronisku,bialo-szary,nie
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,[20003],C_9,2019-01-03,2008-03-01,kot,62028,2,Westa,lagodny,1.332,samica,w schronisku,rudy,tak
121,[20003],C_9,2017-07-26,2007-01-11,kot,62029,2,Lord,lagodny,3.569,samiec,w schronisku,szary,nie
122,[20003],C_10,2019-06-05,2009-06-10,kot,62030,2,Nosacz,lagodny,2.961,samiec,w schronisku,inne,tak
123,[20003],C_10,2018-03-23,2010-09-04,kot,62031,2,Brysio,lagodny,4.056,samiec,w schronisku,bialo-czarny,tak
124,[20003],C_10,2018-05-18,2006-02-07,kot,62032,2,Kira,lagodny,1.500,samica,w schronisku,inne,nie
125,[20003],C_11,2019-04-29,2008-09-24,kot,62033,2,Hadis,lagodny,1.212,samiec,w schronisku,rudy,nie
126,[20003],C_11,2017-11-09,2005-07-17,kot,62034,2,Nira,agresywny,3.295,samica,w schronisku,rudy,nie
127,[20003],C_11,2016-11-20,2004-12-19,kot,62035,2,Baby,lagodny,2.045,samica,w schronisku,inne,nie
128,[20003],C_12,2018-09-04,2013-03-15,kot,62036,2,Dheli,agresywny,2.457,samica,w schronisku,rudy,nie
129,[20003],C_12,2019-01-12,2006-03-29,kot,62037,2,Tarzan,lagodny,4.204,samiec,w schronisku,bialo-czarny,nie
130,[20003],C_12,2016-09-02,2008-08-20,kot,62038,2,Carmen,lagodny,3.995,samica,w schronisku,rudy,nie
131,[20003],C_13,2016-09-23,2003-11-23,kot,62039,2,Reda,lagodny,1.125,samica,w schronisku,bialo-szary,nie
132,[20003],C_13,2019-05-03,2006-10-11,kot,62040,2,Conti,lagodny,4.870,samiec,w schronisku,bialo-rudy,nie
133,[20002],B_0,2019-05-21,2018-12-18,szczur,63000,3,Amba,lagodny,0.381,samica,w schronisku,brazowy,nie
134,[20002],B_0,2019-05-21,2017-12-24,szczur,63001,3,Lentus,agresywny,0.492,samica,w schronisku,brazowy,nie
135,[20002],B_0,2019-05-21,2019-02-27,szczur,63002,3,Zoran,lagodny,0.364,samiec,w schronisku,bialo-czarny,nie
136,[20002],B_0,2019-05-21,2018-02-21,szczur,63003,3,General,lagodny,0.322,samiec,w schronisku,rudy,nie
137,[20002],B_0,2019-05-21,2017-11-27,szczur,63004,3,Owacja,lagodny,0.367,samica,w schronisku,rudy,nie
138,[20002],B_0,2019-05-21,2018-05-05,szczur,63005,3,Otto,lagodny,0.317,samiec,w schronisku,bialo-brązowy,nie
139,[20002],B_0,2019-05-21,2018-07-13,szczur,63006,3,Jordan,lagodny,0.289,samiec,w schronisku,bialo-czarny,nie
140,[20002],B_0,2019-05-21,2018-11-14,szczur,63007,3,Saga,agresywny,0.354,samica,w schronisku,bialo-szary,nie
141,[20002],B_0,2019-05-21,2018-10-03,szczur,63008,3,Lata,lagodny,0.297,samica,w schronisku,bialo-szary,nie
142,[20002],B_0,2019-05-21,2017-04-19,szczur,63009,3,Estor,lagodny,0.573,samiec,w schronisku,bialo-czarny,nie
143,[20002],B_0,2019-05-21,2018-04-20,szczur,63010,3,Uka,lagodny,0.349,samica,w schronisku,rudy,nie
144,[20002],B_0,2019-05-21,2017-10-09,szczur,63011,3,Ismar,agresywny,0.407,samiec,w schronisku,bialy,nie
145,[20002],B_0,2019-05-21,2017-09-29,szczur,63012,3,Ucia,lagodny,0.282,samica,w schronisku,bialo-brązowy,nie
146,[20002],B_0,2019-05-21,2018-01-08,szczur,63013,3,Luta,lagodny,0.248,samica,w schronisku,bialo-czarny,nie
147,[20002],B_0,2019-05-21,2017-10-19,szczur,63014,3,Nicpon,lagodny,0.334,samiec,w schronisku,szary,nie
148,[20002],B_0,2019-05-21,2018-09-19,szczur,63015,3,Leidi,lagodny,0.281,samica,w schronisku,czarny,nie
149,[20002],B_0,2019-05-21,2019-03-09,szczur,63016,3,Diuna,agresywny,0.382,samica,w schronisku,biszkoptowy,nie

## Zaadoptowane

### pieski

In [65]:
#92 psy- tyle liczy aktualnie nasze schronisko, 41 kotow, i 17 szczurow
#139 psow -tyle zaatoptowano
len_dog = 92
len_ad = 139
k = 1
l = 1
for i in range(len_dog, len_dog+len_ad):
    dog_info = {}
    dog_byl = {}
    dog_wiz = {}
    dog_trans = {}
    dog_ad = {}
    dog = Animal(species = 'pies')
    birth, _ = dog.birth()
    birth_d = dataformat(birth)
    acc = dog.acceptance()
    if np.random.random()>0.7:
        dog_info['wczesniej_adoptowany'] = "tak"
        adop = dog.adoption()
        #ponowne przyjecie
        acc = dog.next_acceptance()
        if np.random.random()>0.9:
            adop = dog.adoption()
            #ponowne przyjecie
            acc = dog.next_acceptance()
    else:
        dog_info['wczesniej_adoptowany'] = "nie"
        
    dog_info['stan'] = 'zaadoptowany'
    dog_byl['id_gat'] = 1
    adoption = dog.adoption()
    ad_date = dataformat(adoption)
    #adoptujacy
    rand_i = int(np.random.uniform(0,2.49))
    if np.random.random() > 0.95:
        if i != len_dog:
            dog_ad['ilosc_adopcji'] = 2
        else:
            if np.random.random()>0.5:
                adoptujacy = dog.adoptujacy(names_male, lastnames_male, ulice, miasta[rand_i])
            else:
                adoptujacy = dog.adoptujacy(names_female, lastnames_female, ulice, miasta[rand_i])
            dog_ad['ilosc_adopcji'] = 1
    else:
        if np.random.random()>0.5:
            adoptujacy = dog.adoptujacy(names_male, lastnames_male, ulice, miasta[rand_i])
        else:
            adoptujacy = dog.adoptujacy(names_female, lastnames_female, ulice, miasta[rand_i])
        dog_ad['ilosc_adopcji'] = 1


    dog_ad['id_adoptujacego'] = id_generator(i=i, first=7, second =1)
    dog_ad['imie'] = adoptujacy['name']
    dog_ad['nazwisko'] = adoptujacy['last_name']
    dog_ad['telefon'] = adoptujacy['telefon']
    dog_ad['adres'] = adoptujacy['adres']
    dog_info['data_urodzenia'] = birth_d
    dog_info['data_przyjecia'] = dataformat(acc)
    
    dog_info['plec'] = dog.plec()
    dog_info['masa'] = dog.masa()
    dog_info['imie'] = dog.name('./dane/npieski.csv')
    kastracja = dog.kastracja()
    dog_info['id_gat'] = 1
    dog_schr['id_gat'] = dog_info['id_gat']
    dog_info['id'] = id_generator(i=i, first=6, second =1)
        
    dog_byl['id'] = dog_info['id']
    dog_byl['id_wydania'] = id_generator(i=i, first=8, second =1)
    dog_byl['przyczyna'] = 'adopcja'
    dog_byl['data'] = ad_date
    dog_byl['id_adoptujacego'] = dog_ad['id_adoptujacego']
        
    if np.random.random()>0.9:
        dog_info['inne_zwierzeta'] = "agresywny"
    else:
        dog_info['inne_zwierzeta'] = "lagodny"
    umaszczenie= dog.umaszczenie()
    
    dog_info['umaszczenie']=umaszczenie[0]
    dog_info['gatunek'] = umaszczenie[1]
    
    if dog_info['masa']>=20:
        dog_info['ID_opiekuna'] = [pr_id[0]]
        dog_info['blok'] = 'A_'+str(k)
        k += 1
    else:
        dog_info['ID_opiekuna'] = [pr_id[1]]
        dog_info['blok'] = 'B_'+str(l)
        l += 1

    ## czy nadaje sie do adopcji?
    if np.random.random()>0.1:
        data_wiz, chor, zalec, cena = dog.Wizyty()
        if np.random.random()>0.7:
            data_wiz1, chor1, zalec1, cena1 = dog.Wizyty(ad_time = adoption)
    zdrowie = dog.stan_zdrowia()
    if zdrowie  == "zdrowy":
        dog_schr['Stan'] = "nadaje się do adopcji"
    else:
        dog_schr['Stan'] = "nie nadaje się do adopcji - "+str(zdrowie)
    wizyty, daty, ceny = dog.choroby()
    for j in range(len(wizyty)):
        dog_wiz['ID_wizyty'] =  id_generator(i = i, first = 4, second = j)
        dog_wiz['id'] = dog_info['id']
        index =int(np.round(np.random.uniform(0,3.49),0))
        id_pr =  w_id[index]
        dog_wiz['ID_pracownika'] = id_pr
        dog_wiz['data_wizyty'] = dataformat(daty[j])
        dog_wiz['diagnoza'] = wizyty[j]
        dog_wiz['zalecenia'] = 'lek'
        dog_wiz['stan_zdrowia'] = zdrowie
        dog_wiz['sterylizacja'] = kastracja[0]
        dog_trans['id_transakcji'] = id_generator(i = i, first = 5, second = j)
        dog_trans['tytul']='weterynarz, id_zwierzecia:'+ str(dog_info['id'])
        dog_trans['kwota'] = 0 - ceny[j]
        dog_trans['data'] = dataformat(daty[j])
        dog_trans['imie'] = weterynarze[index]['imie']
        dog_trans['nazwisko'] = weterynarze[index]['nazwisko']
    transakcje.append(dog_trans)
    hist_zdr.append(dog_wiz)
    zwierz_schr.append(dog_schr)
    informacje.append(dog_info)
    adoptujace.append(dog_ad)
    zwierz_byle.append(dog_byl)

## kotki

In [66]:
#41 kotow i 17 szczurow
len_dog = 41
len_ad = 96
for i in range(len_dog, len_dog+len_ad):
    dog_info = {}
    dog_byl = {}
    dog_wiz = {}
    dog_trans = {}
    dog_ad = {}
    dog = Animal(species = 'kot')
    birth, _ = dog.birth()
    birth_d = dataformat(birth)
    acc = dog.acceptance()
    if np.random.random()>0.7:
        dog_info['wczesniej_adoptowany'] = "tak"
        adop = dog.adoption()
        #ponowne przyjecie
        acc = dog.next_acceptance()
        if np.random.random()>0.9:
            adop = dog.adoption()
            #ponowne przyjecie
            acc = dog.next_acceptance()
    else:
        dog_info['wczesniej_adoptowany'] = "nie"
        
    adoption = dog.adoption()
    ad_date = dataformat(adoption)
    dog_byl['id_gat'] = 2
    #adoptujacy
    dog_info['stan'] = 'zaadoptowany'
    rand_i = int(np.random.uniform(0,2.49))
    if np.random.random() > 0.95:
        if i != len_dog:
            dog_ad['ilosc_adopcji'] = 2
        else:
            if np.random.random()>0.5:
                adoptujacy = dog.adoptujacy(names_male, lastnames_male, ulice, miasta[rand_i])
            else:
                adoptujacy = dog.adoptujacy(names_female, lastnames_female, ulice, miasta[rand_i])
            dog_ad['ilosc_adopcji'] = 1
    else:
        if np.random.random()>0.5:
            adoptujacy = dog.adoptujacy(names_male, lastnames_male, ulice, miasta[rand_i])
        else:
            adoptujacy = dog.adoptujacy(names_female, lastnames_female, ulice, miasta[rand_i])
        dog_ad['ilosc_adopcji'] = 1

    dog_ad['id_adoptujacego'] = id_generator(i=i, first=7, second =1)
    dog_ad['imie'] = adoptujacy['name']
    dog_ad['nazwisko'] = adoptujacy['last_name']
    dog_ad['telefon'] = adoptujacy['telefon']
    dog_ad['adres'] = adoptujacy['adres']
    
    dog_info['data_urodzenia'] = birth_d
    dog_info['data_przyjecia'] = dataformat(acc)
    
    dog_info['plec'] = dog.plec()
    dog_info['masa'] = dog.masa()
    dog_info['imie'] = dog.name('./dane/npieski.csv')
    kastracja = dog.kastracja()
    dog_info['id_gat'] = 2
    dog_schr['id_gat'] = dog_info['id_gat']
    dog_info['id'] = id_generator(i=i, first=6, second =2)
        
    dog_byl['id'] = dog_info['id']
    dog_byl['id_wydania'] = id_generator(i=i, first=8, second =2)
    dog_byl['przyczyna'] = 'adopcja'
    dog_byl['data'] = ad_date
    dog_byl['id_adoptujacego'] = dog_ad['id_adoptujacego']
        
    if np.random.random()>0.9:
        dog_info['inne_zwierzeta'] = "agresywny"
    else:
        dog_info['inne_zwierzeta'] = "lagodny"
    umaszczenie= dog.umaszczenie()
    
    dog_info['umaszczenie']=umaszczenie[0]
    dog_info['gatunek'] = umaszczenie[1]
    
    dog_info['ID_opiekuna'] = [pr_id[3]]
    if i%3==0:
        dog_info['blok'] = 'C_'+str(i//3)
        k = i
    else:
        dog_info['blok'] = 'C_'+str(k//3)
        
    ## czy nadaje sie do adopcji?
    if np.random.random()>0.1:
        data_wiz, chor, zalec, cena = dog.Wizyty()
        if np.random.random()>0.7:
            data_wiz1, chor1, zalec1, cena1 = dog.Wizyty(ad_time = adoption)
    zdrowie = dog.stan_zdrowia()
    if zdrowie  == "zdrowy":
        dog_schr['Stan'] = "nadaje sie do adopcji"
    else:
        dog_schr['Stan'] = "nie nadaje sie do adopcji - "+str(zdrowie)
    wizyty, daty, ceny = dog.choroby()
    for j in range(len(wizyty)):
        dog_wiz['ID_wizyty'] =  id_generator(i = i, first = 4, second = j)
        dog_wiz['id'] = dog_info['id']
        index =int(np.round(np.random.uniform(0,3.49),0))
        id_pr =  w_id[index]
        dog_wiz['ID_pracownika'] = id_pr
        dog_wiz['data_wizyty'] = dataformat(daty[j])
        dog_wiz['diagnoza'] = wizyty[j]
        dog_wiz['zalecenia'] = 'lek'
        dog_wiz['stan_zdrowia'] = zdrowie
        dog_wiz['sterylizacja'] = kastracja[0]
        dog_trans['id_transakcji'] = id_generator(i = i, first = 5, second = j)
        dog_trans['tytul']='weterynarz, id_zwierzecia:'+ str(dog_info['id'])
        dog_trans['kwota'] = 0-ceny[j]
        dog_trans['data'] = dataformat(daty[j])
        dog_trans['imie'] = weterynarze[index]['imie']
        dog_trans['nazwisko'] = weterynarze[index]['nazwisko']
    transakcje.append(dog_trans)
    hist_zdr.append(dog_wiz)
    zwierz_schr.append(dog_schr)
    informacje.append(dog_info)
    adoptujace.append(dog_ad)
    zwierz_byle.append(dog_byl)

## Zmarle zwierzeta

In [67]:
#17 psow i 6 kotow zmarlo w schornisku
#92 psy- tyle liczy aktualnie nasze schronisko, 41 kotow, i 17 szczurow
len_dog = 92
len_ad = 139
len_d = 17
k = 1
l = 1
for i in range(len_dog+len_ad, len_dog+len_ad+len_d):
    dog_info = {}
    dog_byl = {}
    dog_wiz = {}
    dog_trans = {}
    dog_ad = {}
    dog = Animal(species = 'pies')
    death_time = np.random.uniform(0.01, 3)
    birth, death = dog.birth(death_year = death_time)
    birth_d = dataformat(birth)
    acc = dog.acceptance()
    if np.random.random()>0.7:
        dog_info['wczesniej_adoptowany'] = "tak"
        adop = dog.adoption()
        #ponowne przyjecie
        acc = dog.next_acceptance()
        if np.random.random()>0.9:
            adop = dog.adoption()
            #ponowne przyjecie
            acc = dog.next_acceptance()
    else:
        dog_info['wczesniej_adoptowany'] = "nie"
        
    dog_info['data_urodzenia'] = birth_d
    dog_info['data_przyjecia'] = dataformat(acc)
    dog_info['stan'] = 'zmarly'
    dog_info['plec'] = dog.plec()
    dog_info['masa'] = dog.masa()
    dog_info['imie'] = dog.name('./dane/npieski.csv')
    kastracja = dog.kastracja()
    dog_info['id_gat'] = 1
    dog_byl['id_gat'] = dog_info['id_gat']
    dog_info['id'] = id_generator(i=i, first=6, second =1)
        
    dog_byl['id'] = dog_info['id']
    dog_byl['id_wydania'] = 111111 #jesli same 1 to oznacza smierc
    dog_byl['przyczyna'] = 'zgon'
    dog_byl['data'] = dataformat(death)
    dog_byl['id_adoptujacego'] = 'brak'
        
    if np.random.random()>0.9:
        dog_info['inne_zwierzeta'] = "agresywny"
    else:
        dog_info['inne_zwierzeta'] = "lagodny"
    umaszczenie= dog.umaszczenie()
    
    dog_info['umaszczenie']=umaszczenie[0]
    dog_info['gatunek'] = umaszczenie[1]
    
    if dog_info['masa']>=20:
        dog_info['ID_opiekuna'] = [pr_id[0]]
        dog_info['blok'] = 'A_'+str(k)
        k += 1
    else:
        dog_info['ID_opiekuna'] = [pr_id[1]]
        dog_info['blok'] = 'B_'+str(l)
        l += 1

    ## czy nadaje sie do adopcji?
    if np.random.random()>0.1:
        data_wiz, chor, zalec, cena = dog.Wizyty()
        if np.random.random()>0.7:
            data_wiz1, chor1, zalec1, cena1 = dog.Wizyty(ad_time = adoption)
    zdrowie = dog.stan_zdrowia()
    wizyty, daty, ceny = dog.choroby()
    for j in range(len(wizyty)):
        dog_wiz['ID_wizyty'] =  id_generator(i = i, first = 4, second = j)
        dog_wiz['id'] = dog_info['id']
        index =int(np.round(np.random.uniform(0,3.49),0))
        id_pr =  w_id[index]
        dog_wiz['ID_pracownika'] = id_pr
        dog_wiz['data_wizyty'] = dataformat(daty[j])
        dog_wiz['diagnoza'] = wizyty[j]
        dog_wiz['zalecenia'] = 'lek'
        dog_wiz['stan_zdrowia'] = zdrowie
        dog_wiz['sterylizacja'] = kastracja[0]
        dog_trans['id_transakcji'] = id_generator(i = i, first = 5, second = j)
        dog_trans['tytul']='weterynarz, id_zwierzecia:'+ str(dog_info['id'])
        dog_trans['kwota'] = 0-ceny[j]
        dog_trans['data'] = dataformat(daty[j])
        dog_trans['imie'] = weterynarze[index]['imie']
        dog_trans['nazwisko'] = weterynarze[index]['nazwisko']
    transakcje.append(dog_trans)
    hist_zdr.append(dog_wiz)
    informacje.append(dog_info)
    adoptujace.append(dog_ad)
    zwierz_byle.append(dog_byl)

## koty

In [68]:
#17 psow i 6 kotow zmarlo w schornisku
#92 psy- tyle liczy aktualnie nasze schronisko, 41 kotow, i 17 szczurow
len_dog = 41
len_ad = 96
len_d = 6
k = 1
l = 1
for i in range(len_dog+len_ad, len_dog+len_ad+len_d):
    dog_info = {}
    dog_byl = {}
    dog_wiz = {}
    dog_trans = {}
    dog_ad = {}
    dog = Animal(species = 'kot')
    death_time = np.random.uniform(0.01, 3)
    birth, death = dog.birth(death_year = death_time)
    birth_d = dataformat(birth)
    acc = dog.acceptance()
    if np.random.random()>0.7:
        dog_info['wczesniej_adoptowany'] = "tak"
        adop = dog.adoption()
        #ponowne przyjecie
        acc = dog.next_acceptance()
        if np.random.random()>0.9:
            adop = dog.adoption()
            #ponowne przyjecie
            acc = dog.next_acceptance()
    else:
        dog_info['wczesniej_adoptowany'] = "nie"
        
    dog_info['data_urodzenia'] = birth_d
    dog_info['data_przyjecia'] = dataformat(acc)
    dog_info['stan'] = 'zmarly'
    dog_info['plec'] = dog.plec()
    dog_info['masa'] = dog.masa()
    dog_info['imie'] = dog.name('./dane/npieski.csv')
    kastracja = dog.kastracja()
    dog_info['id_gat'] = 2
    dog_byl['id_gat'] =2
    dog_info['id'] = id_generator(i=i, first=6, second =2)
        
    dog_byl['id'] = dog_info['id']
    dog_byl['id_wydania'] = 111111 #jesli same 1 to oznacza smierc
    dog_byl['przyczyna'] = 'zgon'
    dog_byl['data'] = dataformat(death)
    dog_byl['id_adoptujacego'] = 'brak'
        
    if np.random.random()>0.9:
        dog_info['inne_zwierzeta'] = "agresywny"
    else:
        dog_info['inne_zwierzeta'] = "lagodny"
    umaszczenie= dog.umaszczenie()
    
    dog_info['umaszczenie']=umaszczenie[0]
    dog_info['gatunek'] = umaszczenie[1]
    
    dog_info['ID_opiekuna'] = [pr_id[3]]
    if i%3==0:
        dog_info['blok'] = 'C_'+str(i//3)
        k = i
    else:
        dog_info['blok'] = 'C_'+str(k//3)
        
    ## czy nadaje sie do adopcji?
    if np.random.random()>0.1:
        data_wiz, chor, zalec, cena = dog.Wizyty()
        if np.random.random()>0.7:
            data_wiz1, chor1, zalec1, cena1 = dog.Wizyty(ad_time = adoption)
    zdrowie = dog.stan_zdrowia()
    wizyty, daty, ceny = dog.choroby()
    for j in range(len(wizyty)):
        dog_wiz['ID_wizyty'] =  id_generator(i = i, first = 4, second = j)
        dog_wiz['id'] = dog_info['id']
        index =int(np.round(np.random.uniform(0,3.49),0))
        id_pr =  w_id[index]
        dog_wiz['ID_pracownika'] = id_pr
        dog_wiz['data_wizyty'] = dataformat(daty[j])
        dog_wiz['diagnoza'] = wizyty[j]
        dog_wiz['zalecenia'] = 'lek'
        dog_wiz['stan_zdrowia'] = zdrowie
        dog_wiz['sterylizacja'] = kastracja[0]
        dog_trans['id_transakcji'] = id_generator(i = i, first = 5, second = j)
        dog_trans['tytul']='weterynarz, id_zwierzecia:'+ str(dog_info['id'])
        dog_trans['kwota'] = 0-ceny[j]
        dog_trans['data'] = dataformat(daty[j])
        dog_trans['imie'] = weterynarze[index]['imie']
        dog_trans['nazwisko'] = weterynarze[index]['nazwisko']
    transakcje.append(dog_trans)
    hist_zdr.append(dog_wiz)
    zwierz_schr.append(dog_schr)
    informacje.append(dog_info)
    adoptujace.append(dog_ad)
    zwierz_byle.append(dog_byl)

### Darowizny i dotacje

In [69]:
#comiesieczna dotacja z urzedu - 40 000 
data, pensja = add_salary(open_time,actual_time,40000)
for j in range(len(data)):
    trans = {}
    trans['data'] = data[j]
    trans['id_transakcji'] = id_generator(i=j, first=5, second = 9)
    trans['imie'] = opiekun['name']
    trans['nazwisko'] = opiekun['last_name']
    trans['kwota'] = float(pensja[j])
    trans['tytul'] = 'wyplata'
    transakcje.append(trans)

In [70]:
#darowizny - losowe
#ilosc darowizn w ciagu trzech lat- zalozmy ze ok 1500-2000
amount =int(np.random.uniform(150, 900))
for i in range(amount):
    if np.random.random()>0.1:
        kwota = abs(np.round(np.random.normal(50, 100),2))
    else:
        kwota = np.round(np.random.uniform(1,30000),2)
    rand_i = int(np.random.uniform(0,2.49))
    if rand>0.5:
        opiekun = pracownik(names_male, lastnames_male, ulice, miasta[rand_i])
    else:
        opiekun = pracownik(names_female, lastnames_female, ulice, miasta[rand_i])
    trans = {}
    data = dataformat(np.random.uniform(open_time, actual_time))
    trans['data'] = data
    trans['id_transakcji'] = id_generator(i=i, first=5, second = 7)
    trans['imie'] = opiekun['name']
    trans['nazwisko'] = opiekun['last_name']
    trans['kwota'] = kwota
    trans['tytul'] = 'Darowizna'
    transakcje.append(trans)

In [71]:
pd.DataFrame(transakcje)

,data,id_transakcji,imie,kwota,nazwisko,tytul
0,2016-04-10,59000,WIESLAW,-449.10,PAROL,wyplata - Opiekun
1,2016-05-10,59001,WIESLAW,-2500.00,PAROL,wyplata - Opiekun
2,2016-06-10,59002,WIESLAW,-2500.00,PAROL,wyplata - Opiekun
3,2016-07-10,59003,WIESLAW,-2500.00,PAROL,wyplata - Opiekun
4,2016-08-10,59004,WIESLAW,-2500.00,PAROL,wyplata - Opiekun
5,2016-09-09,59005,WIESLAW,-2500.00,PAROL,wyplata - Opiekun
6,2016-10-10,59006,WIESLAW,-2500.00,PAROL,wyplata - Opiekun
7,2016-11-09,59007,WIESLAW,-2500.00,PAROL,wyplata - Opiekun
8,2016-12-10,59008,WIESLAW,-2500.00,PAROL,wyplata - Opiekun
9,2017-01-09,59009,WIESLAW,-2500.00,PAROL,wyplata - Opiekun
10,2017-02-09,59010,WIESLAW,-2500.00,PAROL,wyplata - Opiekun
11,2017-03-11,59011,WIESLAW,-2500.00,PAROL,wyplata - Opiekun
12,2017-04-11,59012,WIESLAW,-2500.00,PAROL,wyplata - Opiekun
13,2017-05-11,59013,WIESLAW,-2500.00,PAROL,wyplata - Opiekun
14,2017-06-11,59014,WIESLAW,-2500.00,PAROL,wyplata - Opiekun
15,2017-07-11,59015,WIESLAW,-2500.00,PAROL,wyplata - Opiekun
16,2017-08-11,59016,WIESLAW,-2500.00,PAROL,wyplata - Opiekun
17,2017-09-10,59017,WIESLAW,-2500.00,PAROL,wyplata - Opiekun
18,2017-10-11,59018,WIESLAW,-2500.00,PAROL,wyplata - Opiekun
19,2017-11-10,59019,WIESLAW,-2500.00,PAROL,wyplata - Opiekun
20,2017-12-11,59020,WIESLAW,-2500.00,PAROL,wyplata - Opiekun
21,2018-01-10,59021,WIESLAW,-2500.00,PAROL,wyplata - Opiekun
22,2018-02-10,59022,WIESLAW,-2500.00,PAROL,wyplata - Opiekun
23,2018-03-12,59023,WIESLAW,-2500.00,PAROL,wyplata - Opiekun
24,2018-04-12,59024,WIESLAW,-2500.00,PAROL,wyplata - Opiekun
25,2018-05-12,59025,WIESLAW,-2500.00,PAROL,wyplata - Opiekun
26,2018-06-12,59026,WIESLAW,-2500.00,PAROL,wyplata - Opiekun
27,2018-07-12,59027,WIESLAW,-2500.00,PAROL,wyplata - Opiekun
28,2018-08-12,59028,WIESLAW,-2500.00,PAROL,wyplata - Opiekun
29,2018-09-11,59029,WIESLAW,-2500.00,PAROL,wyplata - Opiekun
...,...,...,...,...,...,...
1005,2018-07-28,57196,ALICJA,29.11,DZIOBA,Darowizna
1006,2018-11-07,57197,ALEKSANDRA,33.78,STANISZEWSKA,Darowizna
1007,2016-09-20,57198,JUSTYNA,65.42,ZWIERZYNSKA,Darowizna
1008,2017-04-16,57199,EWA,58.92,KOCON,Darowizna
1009,2018-04-05,57200,IRENA,9.05,PIETAK,Darowizna
1010,2018-05-04,57201,ANNA,75.91,KORNECKA,Darowizna
1011,2019-05-24,57202,WERONIKA,160.61,POCHEC,Darowizna
1012,2016-05-17,57203,PATRYCJA,95.62,MOTYL,Darowizna
1013,2017-07-13,57204,EDYTA,52.88,TOMANEK,Darowizna
1014,2018-06-25,57205,KLAUDIA,106.92,ALEKSANDROWICZ,Darowizna
1015,2018-05-12,57206,DOROTA,126.94,GORNICKA,Darowizna
1016,2016-05-21,57207,PATRYCJA,47.48,RZEPECKA,Darowizna
1017,2017-03-18,57208,PATRYCJA,111.09,BOGUSZEWSKA,Darowizna
1018,2017-05-16,57209,JUSTYNA,17116.81,BOGUSZEWSKA,Darowizna
1019,2018-12-15,57210,TERESA,130.34,DYK,Darowizna
1020,2018-10-24,57211,KRYSTYNA,112.22,SZLEZAK,Darowizna
1021,2017-11-18,57212,BEATA,3498.17,SOLTYS,Darowizna
1022,2018-12-07,57213,ANETA,63.20,KASINSKA,Darowizna
1023,2017-02-03,57214,MARTA,103.81,GOSTYNSKA,Darowizna
1024,2016-08-10,57215,RENATA,56.50,KLOC,Darowizna
1025,2017-08-21,57216,DANUTA,17.37,NAKIELSKA,Darowizna
1026,2019-04-02,57217,AGATA,1.95,KOZINSKA,Darowizna
1027,2017-07-23,57218,OLIWIA,85.22,PAWLAS,Darowizna
1028,2017-03-12,57219,IRENA,45.63,SZALEK,Darowizna
1029,2017-06-19,57220,PATRYCJA,1.16,KWOKA,Darowizna
1030,2017-01-26,57221,HANNA,186.44,SOBOLEWSKA,Darowizna
1031,2019-06-11,57222,ALEKSANDRA,35.74,MATUSZCZYK,Darowizna
1032,2018-11-13,57223,PATRYCJA,47.54,KOZLIK,Darowizna
1033,2016-09-30,57224,MAGDALENA,114.71,KOCH,Darowizna
1034,2018-08-16,57225,MAJA,136.72,PILARCZYK,Darowizna

### Zapisywanie do csv

In [72]:
df_info = pd.DataFrame(informacje)
df_info.to_csv(r'.\dane\informacje.csv')
df_gat = pd.DataFrame(gatunki)
df_gat.to_csv(r'.\dane\gatunki.csv')
df_schr = pd.DataFrame(zwierz_schr)
df_schr.to_csv(r'.\dane\zwierz_schr.csv')
df_byle = pd.DataFrame(zwierz_byle)
df_byle.to_csv(r'.\dane\zwierz_byle.csv')
df_adop = pd.DataFrame(adoptujace)
df_adop.to_csv(r'.\dane\adoptujace.csv')
df_hist = pd.DataFrame(hist_zdr)
df_hist.to_csv(r'.\dane\hist_zdr.csv')
df_trans = pd.DataFrame(transakcje)
df_trans.to_csv(r'.\dane\transakcje.csv')

In [73]:
df_info

,ID_opiekuna,blok,data_przyjecia,data_urodzenia,gatunek,id,id_gat,imie,inne_zwierzeta,masa,plec,stan,umaszczenie,wczesniej_adoptowany
0,[20001],B_1,2017-03-12,2010-04-11,pies,61000,1,Jarys,lagodny,7.837,samiec,w schronisku,biszkoptowy,nie
1,[20000],A_1,2017-04-23,2010-09-25,pies,61001,1,Roki,lagodny,20.720,samiec,w schronisku,czarny,nie
2,[20000],A_2,2018-02-20,2012-01-06,pies,61002,1,Lisi,lagodny,23.085,samica,w schronisku,biszkoptowy,nie
3,[20001],B_2,2018-05-21,2006-09-02,pies,61003,1,Una,lagodny,15.165,samica,w schronisku,szary,tak
4,[20001],B_3,2017-08-27,2006-12-26,pies,61004,1,Salsa,agresywny,17.756,samica,w schronisku,czarny,nie
5,[20000],A_3,2018-11-04,2007-01-20,pies,61005,1,Worek,lagodny,24.632,samiec,w schronisku,rudy,nie
6,[20001],B_4,2019-02-09,2007-03-10,pies,61006,1,Grey,lagodny,14.966,samiec,w schronisku,biszkoptowy,tak
7,[20000],A_4,2019-02-27,2011-01-26,pies,61007,1,Evita,lagodny,31.887,samica,w schronisku,rudy,tak
8,[20000],A_5,2017-08-29,2007-07-29,pies,61008,1,Olli,agresywny,24.943,samica,w schronisku,bialo-czarny,nie
9,[20001],B_5,2019-04-17,2005-10-13,pies,61009,1,Gabi,lagodny,15.615,samica,w schronisku,rudy,tak
10,[20001],B_6,2017-03-12,2010-05-15,pies,61010,1,Fudzi,lagodny,2.628,samiec,w schronisku,bialo-rudy,nie
11,[20001],B_7,2017-02-05,2005-07-01,pies,61011,1,Kefir,lagodny,13.500,samiec,w schronisku,szary,nie
12,[20001],B_8,2016-12-26,2008-10-14,pies,61012,1,Febris,lagodny,16.395,samiec,w schronisku,inne,nie
13,[20000],A_6,2018-05-04,2009-01-15,pies,61013,1,Nicpon,lagodny,21.294,samiec,w schronisku,rudy,nie
14,[20001],B_9,2018-10-12,2011-05-23,pies,61014,1,Forez,lagodny,10.014,samiec,w schronisku,bialo-szary,nie
15,[20001],B_10,2018-12-17,2005-08-15,pies,61015,1,Ziutka,lagodny,16.804,samica,w schronisku,biszkoptowy,nie
16,[20001],B_11,2019-05-04,2013-04-30,pies,61016,1,Jurta,lagodny,2.835,samica,w schronisku,bialo-brązowy,nie
17,[20000],A_7,2018-09-17,2006-10-28,pies,61017,1,Luga,lagodny,25.790,samica,w schronisku,bialo-rudy,tak
18,[20001],B_12,2019-03-21,2010-06-07,pies,61018,1,Zan,lagodny,13.416,samiec,w schronisku,szary,nie
19,[20001],B_13,2016-10-21,2010-12-18,pies,61019,1,Morus,lagodny,19.113,samiec,w schronisku,brazowy,nie
20,[20001],B_14,2017-04-12,2008-10-17,pies,61020,1,Lucky,lagodny,11.152,samiec,w schronisku,czarny,nie
21,[20001],B_15,2019-02-24,2011-11-02,pies,61021,1,Denar,lagodny,18.226,samiec,w schronisku,szary,tak
22,[20001],B_16,2019-03-22,2010-05-12,pies,61022,1,Rudolf,lagodny,16.028,samiec,w schronisku,bialo-czarny,nie
23,[20001],B_17,2018-05-03,2011-03-16,pies,61023,1,Kraker,lagodny,13.545,samiec,w schronisku,bialo-brązowy,tak
24,[20001],B_18,2019-04-25,2005-02-01,pies,61024,1,Zaira,lagodny,12.766,samica,w schronisku,biszkoptowy,tak
25,[20001],B_19,2019-03-14,2007-10-30,pies,61025,1,Elmo,lagodny,14.623,samiec,w schronisku,bialo-brązowy,tak
26,[20001],B_20,2018-04-10,2010-07-27,pies,61026,1,Camel,lagodny,15.957,samiec,w schronisku,rudy,nie
27,[20000],A_8,2018-10-05,2008-04-16,pies,61027,1,Poker,lagodny,20.412,samiec,w schronisku,bialo-szary,tak
28,[20000],A_9,2019-06-12,2015-04-06,pies,61028,1,Dakar,lagodny,24.301,samiec,w schronisku,biszkoptowy,tak
29,[20000],A_10,2018-07-06,2008-01-24,pies,61029,1,Ksati,lagodny,21.938,samica,w schronisku,bialo-szary,nie
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
378,[20003],C_43,2019-05-30,2005-06-15,kot,62130,2,Una,lagodny,3.568,samica,zaadoptowany,czarny,nie
379,[20003],C_43,2017-09-21,2004-03-13,kot,62131,2,Kimba,lagodny,3.297,samica,zaadoptowany,biszkoptowy,tak
380,[20003],C_44,2018-09-29,2013-04-04,kot,62132,2,Pluto,lagodny,4.770,samiec,zaadoptowany,biszkoptowy,nie
381,[20003],C_44,2018-03-04,2013-09-29,kot,62133,2,Fabiola,agresywny,4.673,samica,zaadoptowany,biszkoptowy,nie
382,[20003],C_44,2017-05-06,2008-05-10,kot,62134,2,Layla,lagodny,1.732,samica,zaadoptowany,bialo-brązowy,nie
383,[20003],C_45,2018-10-17,2007-03-23,kot,62135,2,Oskar,agresywny,2.655,samiec,zaadoptowany,rudy,nie
384,[20003],C_45,2019-05-29,2007-09-24,kot,62136,2,Ama,lagodny,4.777,samica,zaadoptowany,bialo-rudy,tak
385,[20000],A_1,2015-05-09,2004-06-20,pies,61231,1,Aramis,lagodny,22.755,samiec,zmarly,bialy,nie
386,[20001],B_1,2018-09-02,2006-10-19,pies,61232,1,Orlando,agresywny,15.870,samiec,zmarly,rudy,tak
387,[20001],B_2,2017-07-11,2005-09-17,pies,61233,1,Chanelka,lagodny,6.606,samica,zmarly,szary,tak
388,[20000],A_2,2015-09-02,2013-02-11,pies,61234,1,Kira,lagodny,21.593,samica,zmarly,bialo-rudy,nie
389,[20001],B_3,2016-04-26,2006-03-26,pies,61235,1,Niki,lagodny,17.663,samiec,zmarly,rudy,nie
390,[20001],B_4,2015-11-27,2008-11-28,pies,61236,1,Zefir,lagodny,17.116,samiec,zmarly,biszkoptowy,nie
391,[20001],B_5,2018-10-01,2006-12-06,pies,61237,1,Begi,lagodny,17.995,samica,zmarly,bialo-brązowy,tak
392,[20000],A_3,2016-07-13,2003-12-24,pies,61238,1,Elvis,lagodny,27.643,samiec,zmarly,bialo-rudy,nie
393,[20001],B_6,2017-12-05,2010-06-29,pies,61239,1,Fazy,lagodny,14.786,samiec,zmarly,bialo-czarny,tak
394,[20001],B_7,2017-10-29,2004-03-25,pies,61240,1,Safira,lagodny,11.455,samica,zmarly,rudy,tak
395,[20001],B_8,2016-11-06,2006-04-16,pies,61241,1,Evita,lagodny,13.171,samica,zmarly,inne,nie
396,[20001],B_9,2018-08-08,2008-07-15,pies,61242,1,Remi,lagodny,18.492,samiec,zmarly,rudy,tak
397,[20000],A_4,2015-11-30,2008-11-14,pies,61243,1,Roco,lagodny,21.213,samiec,zmarly,rudy,nie
398,[20001],B_10,2015-11-05,2006-02-08,pies,61244,1,Ksati,lagodny,16.845,samica,zmarly,bialo-brązowy,tak
399,[20001],B_11,2014-12-18,2007-07-12,pies,61245,1,Beta,lagodny,11.151,samica,zmarly,bialo-szary,nie
400,[20001],B_12,2018-06-24,2011-04-07,pies,61246,1,Sahara,lagodny,7.137,samica,zmarly,bialo-rudy,nie
401,[20001],B_13,2016-07-11,2004-05-04,pies,61247,1,Timek,lagodny,3.924,samiec,zmarly,bialy,nie
402,[20003],C_0,2017-10-15,2006-01-12,kot,62137,2,Rita,lagodny,1.171,samica,zmarly,rudy,tak
403,[20003],C_46,2019-05-12,2009-04-19,kot,62138,2,Arczi,lagodny,1.055,samiec,zmarly,szary,tak
404,[20003],C_46,2016-02-04,2003-12-21,kot,62139,2,Rasta,lagodny,3.115,samica,zmarly,bialo-brązowy,nie
405,[20003],C_46,2014-01-20,2004-12-30,kot,62140,2,Szarik,lagodny,4.718,samiec,zmarly,brazowy,nie
406,[20003],C_47,2016-12-20,2005-03-01,kot,62141,2,Uka,lagodny,2.691,samica,zmarly,bialy,tak
407,[20003],C_47,2013-07-16,2007-10-20,kot,62142,2,Funia,lagodny,1.613,samica,zmarly,brazowy,nie

In [74]:
df_gat

    nazwa  id_gatunku
0    pies           1
1     kot           2
2  szczur           3

In [75]:
df_schr

,ID_opiekuna,Stan,blok,data_przyjecia,id,id_gat
0,[20001],nadaje sie do adopcji,B_1,2017-03-12,61000,1
1,[20000],nadaje sie do adopcji,A_1,2017-04-23,61001,1
2,[20000],nadaje sie do adopcji,A_2,2018-02-20,61002,1
3,[20001],nadaje sie do adopcji,B_2,2018-05-21,61003,1
4,[20001],nadaje sie do adopcji,B_3,2017-08-27,61004,1
5,[20000],nadaje sie do adopcji,A_3,2018-11-04,61005,1
6,[20001],nadaje sie do adopcji,B_4,2019-02-09,61006,1
7,[20000],nadaje sie do adopcji,A_4,2019-02-27,61007,1
8,[20000],nadaje sie do adopcji,A_5,2017-08-29,61008,1
9,[20001],nadaje sie do adopcji,B_5,2019-04-17,61009,1
10,[20001],nadaje sie do adopcji,B_6,2017-03-12,61010,1
11,[20001],nadaje sie do adopcji,B_7,2017-02-05,61011,1
12,[20001],nadaje sie do adopcji,B_8,2016-12-26,61012,1
13,[20000],nie nadaje sie do adopcji - w czasie leczenia,A_6,2018-05-04,61013,1
14,[20001],nadaje sie do adopcji,B_9,2018-10-12,61014,1
15,[20001],nadaje sie do adopcji,B_10,2018-12-17,61015,1
16,[20001],nadaje sie do adopcji,B_11,2019-05-04,61016,1
17,[20000],nadaje sie do adopcji,A_7,2018-09-17,61017,1
18,[20001],nadaje sie do adopcji,B_12,2019-03-21,61018,1
19,[20001],nadaje sie do adopcji,B_13,2016-10-21,61019,1
20,[20001],nadaje sie do adopcji,B_14,2017-04-12,61020,1
21,[20001],nadaje sie do adopcji,B_15,2019-02-24,61021,1
22,[20001],nadaje sie do adopcji,B_16,2019-03-22,61022,1
23,[20001],nadaje sie do adopcji,B_17,2018-05-03,61023,1
24,[20001],nie nadaje sie do adopcji - w czasie leczenia,B_18,2019-04-25,61024,1
25,[20001],nie nadaje sie do adopcji - chory,B_19,2019-03-14,61025,1
26,[20001],nadaje sie do adopcji,B_20,2018-04-10,61026,1
27,[20000],nadaje sie do adopcji,A_8,2018-10-05,61027,1
28,[20000],nie nadaje sie do adopcji - w czasie leczenia,A_9,2019-06-12,61028,1
29,[20000],nadaje sie do adopcji,A_10,2018-07-06,61029,1
...,...,...,...,...,...,...
361,[20002],nie nadaje sie do adopcji - w czasie leczenia,B_0,2019-06-02,63016,2
362,[20002],nie nadaje sie do adopcji - w czasie leczenia,B_0,2019-06-02,63016,2
363,[20002],nie nadaje sie do adopcji - w czasie leczenia,B_0,2019-06-02,63016,2
364,[20002],nie nadaje sie do adopcji - w czasie leczenia,B_0,2019-06-02,63016,2
365,[20002],nie nadaje sie do adopcji - w czasie leczenia,B_0,2019-06-02,63016,2
366,[20002],nie nadaje sie do adopcji - w czasie leczenia,B_0,2019-06-02,63016,2
367,[20002],nie nadaje sie do adopcji - w czasie leczenia,B_0,2019-06-02,63016,2
368,[20002],nie nadaje sie do adopcji - w czasie leczenia,B_0,2019-06-02,63016,2
369,[20002],nie nadaje sie do adopcji - w czasie leczenia,B_0,2019-06-02,63016,2
370,[20002],nie nadaje sie do adopcji - w czasie leczenia,B_0,2019-06-02,63016,2
371,[20002],nie nadaje sie do adopcji - w czasie leczenia,B_0,2019-06-02,63016,2
372,[20002],nie nadaje sie do adopcji - w czasie leczenia,B_0,2019-06-02,63016,2
373,[20002],nie nadaje sie do adopcji - w czasie leczenia,B_0,2019-06-02,63016,2
374,[20002],nie nadaje sie do adopcji - w czasie leczenia,B_0,2019-06-02,63016,2
375,[20002],nie nadaje sie do adopcji - w czasie leczenia,B_0,2019-06-02,63016,2
376,[20002],nie nadaje sie do adopcji - w czasie leczenia,B_0,2019-06-02,63016,2
377,[20002],nie nadaje sie do adopcji - w czasie leczenia,B_0,2019-06-02,63016,2
378,[20002],nie nadaje sie do adopcji - w czasie leczenia,B_0,2019-06-02,63016,2
379,[20002],nie nadaje sie do adopcji - w czasie leczenia,B_0,2019-06-02,63016,2
380,[20002],nie nadaje sie do adopcji - w czasie leczenia,B_0,2019-06-02,63016,2
381,[20002],nie nadaje sie do adopcji - w czasie leczenia,B_0,2019-06-02,63016,2
382,[20002],nie nadaje sie do adopcji - w czasie leczenia,B_0,2019-06-02,63016,2
383,[20002],nie nadaje sie do adopcji - w czasie leczenia,B_0,2019-06-02,63016,2
384,[20002],nie nadaje sie do adopcji - w czasie leczenia,B_0,2019-06-02,63016,2
385,[20002],nie nadaje sie do adopcji - w czasie leczenia,B_0,2019-06-02,63016,2
386,[20002],nie nadaje sie do adopcji - w czasie leczenia,B_0,2019-06-02,63016,2
387,[20002],nie nadaje sie do adopcji - w czasie leczenia,B_0,2019-06-02,63016,2
388,[20002],nie nadaje sie do adopcji - w czasie leczenia,B_0,2019-06-02,63016,2
389,[20002],nie nadaje sie do adopcji - w czasie leczenia,B_0,2019-06-02,63016,2
390,[20002],nie nadaje sie do adopcji - w czasie leczenia,B_0,2019-06-02,63016,2

In [76]:
df_byle

           data     id id_adoptujacego  id_gat id_wydania przyczyna
0    2018-04-18  61092           71092       1      81092   adopcja
1    2018-12-05  61093           71093       1      81093   adopcja
2    2019-04-22  61094           71094       1      81094   adopcja
3    2018-04-12  61095           71095       1      81095   adopcja
4    2019-06-06  61096           71096       1      81096   adopcja
5    2019-04-27  61097           71097       1      81097   adopcja
6    2019-06-11  61098           71098       1      81098   adopcja
7    2017-03-15  61099           71099       1      81099   adopcja
8    2017-03-29  61100           71100       1      81100   adopcja
9    2018-04-02  61101           71101       1      81101   adopcja
10   2019-06-06  61102           71102       1      81102   adopcja
11   2018-12-21  61103           71103       1      81103   adopcja
12   2019-05-25  61104           71104       1      81104   adopcja
13   2018-07-10  61105           71105       1      81105   adopcja
14   2018-05-01  61106           71106       1      81106   adopcja
15   2018-02-03  61107           71107       1      81107   adopcja
16   2019-06-10  61108           71108       1      81108   adopcja
17   2019-02-01  61109           71109       1      81109   adopcja
18   2017-11-18  61110           71110       1      81110   adopcja
19   2018-02-02  61111           71111       1      81111   adopcja
20   2019-02-22  61112           71112       1      81112   adopcja
21   2019-05-14  61113           71113       1      81113   adopcja
22   2019-05-29  61114           71114       1      81114   adopcja
23   2019-04-24  61115           71115       1      81115   adopcja
24   2018-12-21  61116           71116       1      81116   adopcja
25   2018-04-19  61117           71117       1      81117   adopcja
26   2019-06-07  61118           71118       1      81118   adopcja
27   2019-03-21  61119           71119       1      81119   adopcja
28   2017-02-11  61120           71120       1      81120   adopcja
29   2019-06-17  61121           71121       1      81121   adopcja
..          ...    ...             ...     ...        ...       ...
228  2019-06-06  62130           71130       2      82130   adopcja
229  2018-03-24  62131           71131       2      82131   adopcja
230  2019-04-21  62132           71132       2      82132   adopcja
231  2018-04-11  62133           71133       2      82133   adopcja
232  2017-06-23  62134           71134       2      82134   adopcja
233  2018-11-05  62135           71135       2      82135   adopcja
234  2019-06-07  62136           71136       2      82136   adopcja
235  2016-07-31  61231            brak       1     111111      zgon
236  2018-12-31  61232            brak       1     111111      zgon
237  2017-08-06  61233            brak       1     111111      zgon
238  2016-10-30  61234            brak       1     111111      zgon
239  2017-10-17  61235            brak       1     111111      zgon
240  2017-06-14  61236            brak       1     111111      zgon
241  2018-11-15  61237            brak       1     111111      zgon
242  2018-07-22  61238            brak       1     111111      zgon
243  2017-12-19  61239            brak       1     111111      zgon
244  2018-01-26  61240            brak       1     111111      zgon
245  2018-02-13  61241            brak       1     111111      zgon
246  2018-08-15  61242            brak       1     111111      zgon
247  2018-03-21  61243            brak       1     111111      zgon
248  2016-08-30  61244            brak       1     111111      zgon
249  2017-09-28  61245            brak       1     111111      zgon
250  2018-11-04  61246            brak       1     111111      zgon
251  2016-10-04  61247            brak       1     111111      zgon
252  2017-11-09  62137            brak       2     111111      zgon
253  2019-06-08  62138            brak       2     111111      zgon
254  2017-05-07  62139            brak       2     111111      zgon
255  2016-12-19  62140            brak       2     111111      zgon
256  2017-04-10  62141            brak       2     111111      zgon
257  2016-09-05  62142            brak       2     111111      zgon

[258 rows x 6 columns]

In [77]:
df_adop

,adres,id_adoptujacego,ilosc_adopcji,imie,nazwisko,telefon
0,ul. Janusza Kusocinskiego 67 Opole,71092,1.0,JOZEF,WIJAS,138-130-225
1,ul. Ogrodowa 5 Wroclaw,71093,1.0,MATEUSZ,KRAJNIK,680-585-566
2,ul. Poziomkowa 87 Opole,71094,1.0,MARCIN,KOSCINSKI,562-363-558
3,ul. Luzycka 66 Wroclaw,71095,1.0,FRANCISZEK,TREBACZ,484-756-505
4,ul. Walowa 22 Olesnica,71096,1.0,HALINA,PIERZCHALA,396-893-381
5,ul. Jastrzebia 75 Olesnica,71097,1.0,IWONA,WADOLOWSKA,577-962-474
6,ul. Parkowa 69 Wroclaw,71098,1.0,ANDRZEJ,ULATOWSKI,951-870-345
7,ul. Waska 51 Wroclaw,71099,1.0,ANTONI,GRZESKOWIAK,546-535-356
8,ul. Tadeusza Rejtana 83 Wroclaw,71100,1.0,DOROTA,JOZWIAK,122-126-165
9,ul. Luzycka 30 Opole,71101,1.0,BOZENNA,JACZEWSKA,686-878-475
10,ul. Spadochronowa 97 Olesnica,71102,1.0,PAULINA,DEPCZYNSKA,225-651-198
11,ul. Rozana 2 Olesnica,71103,1.0,PATRYCJA,WITKIEWICZ,439-142-166
12,ul. Poludniowa 88 Olesnica,71104,1.0,RAFAL,JEZ,158-642-394
13,ul. Romualda Traugutta 43 Wroclaw,71105,1.0,BARTOSZ,SZYMKOWIAK,772-273-973
14,ul. Mikolaja Reja 3 Olesnica,71106,1.0,KAMIL,POROWSKI,647-378-365
15,ul. Lwa Tolstoja 25 Olesnica,71107,1.0,MIKOLA,CIEPLINSKI,654-699-411
16,ul. Jana Kilinskiego 38 Wroclaw,71108,1.0,WOJCIECH,NITA,896-140-865
17,ul. Osiedle 66 Wroclaw,71109,1.0,EDYTA,GROCHAL,872-590-494
18,ul. Dobroszycka 85 Wroclaw,71110,1.0,KAZIMIERZ,KOPA,271-108-633
19,ul. Dobroszycka 85 Wroclaw,71111,2.0,KAZIMIERZ,KOPA,271-108-633
20,ul. Lotnicza 2 Olesnica,71112,1.0,JOZEF,TCHORZ,361-964-257
21,ul. Rzepakowa 83 Olesnica,71113,1.0,AGNIESZKA,KASZYNSKA,929-446-861
22,ul. Rzepakowa 83 Olesnica,71114,2.0,AGNIESZKA,KASZYNSKA,929-446-861
23,ul. Stolarskaul. mjr. Henryka Sucharskiego 37 ...,71115,1.0,TERESA,SUCHOCKA,435-739-986
24,ul. Pocztowa 30 Olesnica,71116,1.0,WIESLAW,KUCINSKI,154-987-112
25,ul. Wladyslawa Grabskiego 13 Wroclaw,71117,1.0,BOZENNA,SOLSKA,974-549-560
26,ul. Rzepakowa 38 Olesnica,71118,1.0,DARIUSZ,LOPACINSKI,619-491-341
27,ul. Zielona 23 Wroclaw,71119,1.0,MONIKA,BEDNARCZUK,186-303-772
28,ul. Jana Sinapiusa 33 Olesnica,71120,1.0,ANNA,FISCHER,361-197-324
29,ul. Wilenska 31 Olesnica,71121,1.0,MARIUSZ,JURASZ,802-996-512
...,...,...,...,...,...,...
228,ul. 3 Maja 34 Wroclaw,71130,1.0,TOMASZ,NAKIELSKI,285-600-547
229,ul. Jarzynowa 71 Wroclaw,71131,1.0,HELENA,ZIETARA,128-991-916
230,ul. Jana Kochanowskiego 3 Opole,71132,1.0,FILIP,PIORUN,493-100-443
231,ul. Eugeniusza Felicjana Kwiatkowskiego 77 Ole...,71133,1.0,BOZENNA,GRZESKIEWICZ,224-251-187
232,ul. Mila 93 Wroclaw,71134,1.0,ELZBIETA,KORDOWSKA,408-392-864
233,ul. Walowa 24 Olesnica,71135,1.0,PAULINA,MOLSKA,954-144-962
234,ul. Koscielna 29 Wroclaw,71136,1.0,ALICJA,KACZMARSKA,783-269-641
235,NaN,NaN,NaN,NaN,NaN,NaN
236,NaN,NaN,NaN,NaN,NaN,NaN
237,NaN,NaN,NaN,NaN,NaN,NaN
238,NaN,NaN,NaN,NaN,NaN,NaN
239,NaN,NaN,NaN,NaN,NaN,NaN
240,NaN,NaN,NaN,NaN,NaN,NaN
241,NaN,NaN,NaN,NaN,NaN,NaN
242,NaN,NaN,NaN,NaN,NaN,NaN
243,NaN,NaN,NaN,NaN,NaN,NaN
244,NaN,NaN,NaN,NaN,NaN,NaN
245,NaN,NaN,NaN,NaN,NaN,NaN
246,NaN,NaN,NaN,NaN,NaN,NaN
247,NaN,NaN,NaN,NaN,NaN,NaN
248,NaN,NaN,NaN,NaN,NaN,NaN
249,NaN,NaN,NaN,NaN,NaN,NaN
250,NaN,NaN,NaN,NaN,NaN,NaN
251,NaN,NaN,NaN,NaN,NaN,NaN
252,NaN,NaN,NaN,NaN,NaN,NaN
253,NaN,NaN,NaN,NaN,NaN,NaN
254,NaN,NaN,NaN,NaN,NaN,NaN
255,NaN,NaN,NaN,NaN,NaN,NaN
256,NaN,NaN,NaN,NaN,NaN,NaN
257,NaN,NaN,NaN,NaN,NaN,NaN

In [78]:
df_hist

,ID_pracownika,ID_wizyty,data_wizyty,diagnoza,id,stan_zdrowia,sterylizacja,zalecenia
0,30002,42000,2018-11-01,przeziębienie,61000,zdrowy,tak,lek
1,30003,41001,2017-11-15,inne,61001,zdrowy,nie,lek
2,30002,42002,2019-05-28,skaleczenie,61002,zdrowy,tak,lek
3,30001,41003,2018-05-22,pierwsza wizyta,61003,zdrowy,nie,lek
4,30002,42004,2018-06-08,inne,61004,zdrowy,tak,lek
5,30001,41005,2019-02-15,świeżb,61005,zdrowy,tak,lek
6,30002,41006,2019-02-10,pierwsza wizyta,61006,zdrowy,tak,lek
7,30003,41007,2019-02-28,pierwsza wizyta,61007,zdrowy,tak,lek
8,30003,42008,2019-03-21,zapalenie spojówek,61008,zdrowy,tak,lek
9,30001,42009,2019-04-22,przeziębienie,61009,zdrowy,tak,lek
10,30001,42010,2019-02-22,skaleczenie,61010,zdrowy,tak,lek
11,30002,42011,2018-06-20,inne,61011,zdrowy,tak,lek
12,30001,43012,2019-02-01,świeżb,61012,zdrowy,tak,lek
13,30002,42013,2019-06-17,zapalenie spojówek,61013,w czasie leczenia,tak,lek
14,30001,42014,2019-05-16,inne,61014,zdrowy,tak,lek
15,30003,42015,2019-03-20,skaleczenie,61015,zdrowy,tak,lek
16,30001,43016,2019-06-12,inne,61016,zdrowy,tak,lek
17,30002,43017,2019-05-22,skaleczenie,61017,zdrowy,tak,lek
18,30003,43018,2019-06-05,zapalenie spojówek,61018,zdrowy,tak,lek
19,30001,42019,2018-09-12,przeziębienie,61019,zdrowy,tak,lek
20,30003,42020,2018-05-09,skaleczenie,61020,zdrowy,tak,lek
21,30002,43021,2019-05-19,inne,61021,zdrowy,tak,lek
22,30003,41022,2019-05-12,zapalenie spojówek,61022,zdrowy,tak,lek
23,30000,43023,2019-05-03,zapalenie uszu,61023,zdrowy,tak,lek
24,30003,44024,2019-06-20,świeżb,61024,w czasie leczenia,tak,lek
25,30000,43025,2019-05-24,skaleczenie,61025,chory,tak,lek
26,30001,42026,2019-03-21,zapalenie spojówek,61026,zdrowy,tak,lek
27,30002,42027,2018-10-09,świeżb,61027,zdrowy,tak,lek
28,30002,44028,2019-06-25,przeziębienie,61028,w czasie leczenia,tak,lek
29,30002,41029,2018-10-05,przeziębienie,61029,zdrowy,tak,lek
...,...,...,...,...,...,...,...,...
378,30003,42130,2019-06-23,inne,62130,w czasie leczenia,tak,lek
379,30002,42131,2018-09-12,przeziębienie,62131,zdrowy,tak,lek
380,30001,41132,2019-05-11,zapalenie spojówek,62132,zdrowy,tak,lek
381,30002,42133,2018-07-11,przeziębienie,62133,zdrowy,tak,lek
382,30002,42134,2018-04-16,świeżb,62134,zdrowy,tak,lek
383,30002,41135,2019-02-08,świeżb,62135,zdrowy,tak,lek
384,30002,43136,2019-06-21,zapalenie spojówek,62136,w czasie leczenia,tak,lek
385,30001,43231,2017-09-22,zapalenie uszu,61231,w czasie leczenia,tak,lek
386,30002,43232,2018-10-22,świeżb,61232,zdrowy,tak,lek
387,30000,43233,2019-03-04,zapalenie uszu,61233,w czasie leczenia,nie,lek
388,30000,43234,2019-04-29,przeziębienie,61234,w czasie leczenia,tak,lek
389,30002,41235,2017-05-18,inne,61235,zdrowy,tak,lek
390,30002,42236,2016-11-19,przeziębienie,61236,zdrowy,tak,lek
391,30000,43237,2018-11-05,świeżb,61237,zdrowy,tak,lek
392,30000,41238,2016-09-14,inne,61238,zdrowy,tak,lek
393,30003,42239,2017-12-06,pierwsza wizyta,61239,zdrowy,tak,lek
394,30003,43240,2018-01-24,świeżb,61240,w czasie leczenia,tak,lek
395,30001,43241,2018-05-28,skaleczenie,61241,w czasie leczenia,tak,lek
396,30003,45242,2019-01-18,zapalenie uszu,61242,w czasie leczenia,tak,lek
397,30001,41243,2017-01-03,zapalenie uszu,61243,zdrowy,tak,lek
398,30002,43244,2016-04-20,świeżb,61244,chory,tak,lek
399,30000,42245,2017-05-29,zapalenie uszu,61245,zdrowy,nie,lek
400,30003,42246,2018-10-25,zapalenie spojówek,61246,zdrowy,tak,lek
401,30003,40247,2016-07-12,pierwsza wizyta,61247,zdrowy,tak,lek
402,30003,42137,2017-11-03,inne,62137,w czasie leczenia,nie,lek
403,30002,43138,2019-05-15,skaleczenie,62138,zdrowy,tak,lek
404,30001,42139,2016-05-16,skaleczenie,62139,chory,tak,lek
405,30001,41140,2014-02-04,sterylizacja,62140,zdrowy,tak,lek
406,30000,43141,2017-03-25,skaleczenie,62141,zdrowy,tak,lek
407,30000,42142,2014-07-19,przeziębienie,62142,zdrowy,tak,lek

In [79]:
df_trans

,data,id_transakcji,imie,kwota,nazwisko,tytul
0,2016-04-10,59000,WIESLAW,-449.10,PAROL,wyplata - Opiekun
1,2016-05-10,59001,WIESLAW,-2500.00,PAROL,wyplata - Opiekun
2,2016-06-10,59002,WIESLAW,-2500.00,PAROL,wyplata - Opiekun
3,2016-07-10,59003,WIESLAW,-2500.00,PAROL,wyplata - Opiekun
4,2016-08-10,59004,WIESLAW,-2500.00,PAROL,wyplata - Opiekun
5,2016-09-09,59005,WIESLAW,-2500.00,PAROL,wyplata - Opiekun
6,2016-10-10,59006,WIESLAW,-2500.00,PAROL,wyplata - Opiekun
7,2016-11-09,59007,WIESLAW,-2500.00,PAROL,wyplata - Opiekun
8,2016-12-10,59008,WIESLAW,-2500.00,PAROL,wyplata - Opiekun
9,2017-01-09,59009,WIESLAW,-2500.00,PAROL,wyplata - Opiekun
10,2017-02-09,59010,WIESLAW,-2500.00,PAROL,wyplata - Opiekun
11,2017-03-11,59011,WIESLAW,-2500.00,PAROL,wyplata - Opiekun
12,2017-04-11,59012,WIESLAW,-2500.00,PAROL,wyplata - Opiekun
13,2017-05-11,59013,WIESLAW,-2500.00,PAROL,wyplata - Opiekun
14,2017-06-11,59014,WIESLAW,-2500.00,PAROL,wyplata - Opiekun
15,2017-07-11,59015,WIESLAW,-2500.00,PAROL,wyplata - Opiekun
16,2017-08-11,59016,WIESLAW,-2500.00,PAROL,wyplata - Opiekun
17,2017-09-10,59017,WIESLAW,-2500.00,PAROL,wyplata - Opiekun
18,2017-10-11,59018,WIESLAW,-2500.00,PAROL,wyplata - Opiekun
19,2017-11-10,59019,WIESLAW,-2500.00,PAROL,wyplata - Opiekun
20,2017-12-11,59020,WIESLAW,-2500.00,PAROL,wyplata - Opiekun
21,2018-01-10,59021,WIESLAW,-2500.00,PAROL,wyplata - Opiekun
22,2018-02-10,59022,WIESLAW,-2500.00,PAROL,wyplata - Opiekun
23,2018-03-12,59023,WIESLAW,-2500.00,PAROL,wyplata - Opiekun
24,2018-04-12,59024,WIESLAW,-2500.00,PAROL,wyplata - Opiekun
25,2018-05-12,59025,WIESLAW,-2500.00,PAROL,wyplata - Opiekun
26,2018-06-12,59026,WIESLAW,-2500.00,PAROL,wyplata - Opiekun
27,2018-07-12,59027,WIESLAW,-2500.00,PAROL,wyplata - Opiekun
28,2018-08-12,59028,WIESLAW,-2500.00,PAROL,wyplata - Opiekun
29,2018-09-11,59029,WIESLAW,-2500.00,PAROL,wyplata - Opiekun
...,...,...,...,...,...,...
1005,2018-07-28,57196,ALICJA,29.11,DZIOBA,Darowizna
1006,2018-11-07,57197,ALEKSANDRA,33.78,STANISZEWSKA,Darowizna
1007,2016-09-20,57198,JUSTYNA,65.42,ZWIERZYNSKA,Darowizna
1008,2017-04-16,57199,EWA,58.92,KOCON,Darowizna
1009,2018-04-05,57200,IRENA,9.05,PIETAK,Darowizna
1010,2018-05-04,57201,ANNA,75.91,KORNECKA,Darowizna
1011,2019-05-24,57202,WERONIKA,160.61,POCHEC,Darowizna
1012,2016-05-17,57203,PATRYCJA,95.62,MOTYL,Darowizna
1013,2017-07-13,57204,EDYTA,52.88,TOMANEK,Darowizna
1014,2018-06-25,57205,KLAUDIA,106.92,ALEKSANDROWICZ,Darowizna
1015,2018-05-12,57206,DOROTA,126.94,GORNICKA,Darowizna
1016,2016-05-21,57207,PATRYCJA,47.48,RZEPECKA,Darowizna
1017,2017-03-18,57208,PATRYCJA,111.09,BOGUSZEWSKA,Darowizna
1018,2017-05-16,57209,JUSTYNA,17116.81,BOGUSZEWSKA,Darowizna
1019,2018-12-15,57210,TERESA,130.34,DYK,Darowizna
1020,2018-10-24,57211,KRYSTYNA,112.22,SZLEZAK,Darowizna
1021,2017-11-18,57212,BEATA,3498.17,SOLTYS,Darowizna
1022,2018-12-07,57213,ANETA,63.20,KASINSKA,Darowizna
1023,2017-02-03,57214,MARTA,103.81,GOSTYNSKA,Darowizna
1024,2016-08-10,57215,RENATA,56.50,KLOC,Darowizna
1025,2017-08-21,57216,DANUTA,17.37,NAKIELSKA,Darowizna
1026,2019-04-02,57217,AGATA,1.95,KOZINSKA,Darowizna
1027,2017-07-23,57218,OLIWIA,85.22,PAWLAS,Darowizna
1028,2017-03-12,57219,IRENA,45.63,SZALEK,Darowizna
1029,2017-06-19,57220,PATRYCJA,1.16,KWOKA,Darowizna
1030,2017-01-26,57221,HANNA,186.44,SOBOLEWSKA,Darowizna
1031,2019-06-11,57222,ALEKSANDRA,35.74,MATUSZCZYK,Darowizna
1032,2018-11-13,57223,PATRYCJA,47.54,KOZLIK,Darowizna
1033,2016-09-30,57224,MAGDALENA,114.71,KOCH,Darowizna
1034,2018-08-16,57225,MAJA,136.72,PILARCZYK,Darowizna

# Analiza danych

In [80]:
#Przygotuj wykres liczby zwierząt w czasie — pamiętaj o tym, że pojawiają się nowe zwierzęta, natomiast niektóre są adoptowane.

In [ ]:
schr