In [1]:
import time
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import random

In [3]:
def exp_rand(begin, times):
    rand = np.random.exponential(0.01)
    while rand < 4:
        rand = np.random.exponential(1)
    return(rand*times+begin)

In [4]:
df = pd.read_csv('./dane/npieski.csv', names = ['samce', 'samice'], encoding='unicode_escape')

In [18]:
data = pd.read_csv('./dane/proba1.txt', sep=" ", header=None)

ParserError: Error tokenizing data. C error: Expected 1 fields in line 23967, saw 2

In [16]:
names_male = pd.read_csv('./dane/proba1.csv', names = ['names'], encoding='unicode_escape')

In [17]:
names_male

                       names
0                    Column1
1                      NOWAK
2                   KOWALSKA
3                 WIÅNIEWSK
4                     WÃJCI
5                  KOWALCZYK
6                   KAMIÅSK
7                LEWANDOWSKA
8                  DÄBROWSK
9                  ZIELIÅSK
10                 SZYMAÅSK
11                   WOÅ¹NIA
12                 KOZÅOWSK
13                 JANKOWSKA
14               KWIATKOWSKA
15             WOJCIECHOWSKA
16                     MAZUR
17                  KRAWCZYK
18                PIOTROWSKA
19                 KACZMAREK
20                 GRABOWSKA
21                 PAWÅOWSK
22                 MICHALSKA
23                     ZAJÄ
24                      KRÃ
25                NOWAKOWSKA
26                 WIECZOREK
27                 JABÅOÅS
28                    WRÃBE
29                  ADAMCZYK
...                      ...
298078              {YWENIUK
298079          {YWICKA NETO
298080  {YWIECKA-GOABIEWSKA
298081        {YWIEC-PELCZAR
298082          {YWKO-MIZERA
298083               {YWOAUP
298084            {YWOMIRSKA
298085             {YWORONKO
298086               {YWUSKA
298087                 {YZIK
298088              {YZICSKA
298089             {Y{NOWSKA
298090                 {Y{UN
298091               }ANETI
298092              }ATKOVI

298093               }Á
KOVÁ
298094               }ELINKO
298095               }ELONKA
298096               }EMBERI
298097             }ENÍ`KOVÁ
298098           }ITKEVI
IUS
298099             }IVANOVI

298100             }OLDÁKOVÁ
298101             }OLTAKOVA
298102                 }ONCA
298103                 }UGEC
298104              }UKOVSKA
298105            }UKOVSKAJA
298106                  }ULA
298107                }YBORT

[298108 rows x 1 columns]

In [426]:
lastnames_male = pd.read_csv('./dane/lastnames_male.csv',names = ['names'], encoding='unicode_escape')

In [349]:
adresy_ole = pd.read_csv('./dane/adresy_ole.csv', names = ['names'], encoding='unicode_escape')

In [277]:
df = df['samce']

In [388]:
a=[1,2,3,4]
4*[a[-1]]

[4, 4, 4, 4]

In [25]:
def dataformat(data):
    new_data = time.localtime(data)
    if new_data.tm_mday<10:
        data_day = '0'+str(new_data.tm_mday)
    else:
        data_day = str(new_data.tm_mday)
        
    if new_data.tm_mon<10:
        data_mon = '0' + str(new_data.tm_mon)
    else:
        data_mon =  str(new_data.tm_mon)

    g_data = str(new_data.tm_year) + '-' +data_mon + '-' + data_day
    
    return(g_data)

In [59]:
def id_generator(i, first = 0, second= 0):
    if i<10:
        n_id = str(first)+str(second)+'00'+str(i)
    elif i<100 and i >=10 :
        n_id = str(first)+str(second)+'0'+str(i)
    elif i<1000 and i>=100:
        n_id = str(first)+str(second)+str(i)
    return(n_id)

In [60]:
id_generator(5, 4)

'40005'

In [84]:
class Animal:
    def __init__(self, species):
        
        self.species = species
        
        if self.species == 'pies':
            self.years = 15
            #sample from normal distribution with mean 6 and variance 3 - age of species
            self.mi = 4
            self.sigma = 3
            
        elif self.species == 'kot':
            self.years = 16
            self.mi = 2
            self.sigma = 4
            
        elif self.species == 'szczur':
            self.years = 2.5
            self.mi = 1.25
            self.sigma = 0.5
        self.wizyty = []
        self.daty_wizyt = []
        self.ceny = []
    def stan_zdrowia(self):
        ost_data_wiz = self.daty_wizyt[-1]
        if ost_data_wiz+7*24*3600 < self.actual_time:
            rand = np.random.random()
            if rand > 0.1:
                stan_zdr = "zdrowy"
            else:
                stan_zdr = "chory"
        else:
            stan_zdr = "w czasie leczenia" 
            
        self.stan_zdr = stan_zdr
        return(self.stan_zdr)
        
    def Wizyty(self): 
        
        ost_data_wizyty = self.daty_wizyt[-1]
        choroby = ["przeziębienie", "zapalenie uszu","świeżb", "zapalenie spojówek","skaleczenie", "inne"]
        data_wiz = np.random.uniform(ost_data_wizyty+24*3600, self.actual_time-24*3600)
        zalec = "lek"
        self.daty_wizyt.append(data_wiz)
        chor = choroby[int(np.random.uniform(0, len(choroby)))]
        self.wizyty.append(chor)
        cena = int(np.round(np.random.uniform(50, 150),0))
        self.ceny.append(cena)
        return(data_wiz, chor, zalec, cena) 
    
    def choroby(self):
        
        return(self.wizyty, self.daty_wizyt, self.ceny)
    
    def Species(self):
        if self.species == "pies":
            self.species_id = 1
        elif self.species == "kot":
            self.species_id = 2
        elif self.species == "szczur":
            self.species_id = 3
            
        return(self.species_id)
    
    def plec(self):
        
        rand = np.random.random()
        if rand > 0.5:
            plec = "samica"
        else:
            plec = "samiec"
            
        self.plec = plec
        return(plec)
            
    def name(self, file):
        
        df = pd.read_csv(file, names = ['samce', 'samice'], encoding='unicode_escape')
        df = df.loc[:503]
        
        if self.plec == "samica":
            df = df['samice']
        elif self.plec == "samiec":
            df = df['samce']
        
        rand = np.round(np.random.uniform(0,len(df)),0)
        name = (df.values)[int(rand)]
        self.name = name
        
        return(self.name)
        
    def umaszczenie(self):
        
        list_colours = ['biały', 'czarny', 'szary', 'rudy','brązowy', 'biało-czarny', 'biszkoptowy', 'biało-rudy', 'biało-brązowy','biało-szary','inne']
        len_colours = len(list_colours)
        random_c = np.round(np.random.uniform(0,len_colours-1), 0)
        umaszczenie = list_colours[int(random_c)]
        
        self.umaszczenie = umaszczenie
        
        return(self.umaszczenie, self.species) 

    
    def birth(self, death_year = 0):
        
        years2sec = 365.25*24*3600
        
        self.actual_time = time.time() - death_year*years2sec  #actual time in second)
        begin_time = self.actual_time - self.years*years2sec #years- how many years back (in seconds)
        sec_mi = self.mi*years2sec
        sec_std = self.sigma*years2sec
        birth_date = 0
        
        #looking for dates beetwen begin and actual time
        while begin_time > birth_date or self.actual_time < birth_date:
        
            birth_date  = np.random.normal(begin_time+sec_mi, (sec_std), 1)
            
        #birth date of animal    
        self.birth_date = birth_date
        
        return( self.birth_date )
        
    def masa(self):
        #sprawdzam date urodzenia bo pies majacy 2 miesiace nie bedzie wazyl 40kg
        act = (time.localtime(self.actual_time))
        bir = (time.localtime(self.birth_date))
        if bir.tm_year == act.tm_year:
            if abs(bir.tm_mon-act.tm_mon) < 6:
                if self.species == 'pies':
                    masa = np.random.normal(5,5)
                    while masa < 0.5:
                        masa = np.random.normal(5,5)
                elif self.species == 'kot':
                    masa = np.random.normal(1,1)
                    while masa < 0.4 or masa > 2:
                        masa = np.random.normal(1,1)
                elif self.species == 'szczur':
                    masa = np.random.normal(0.1,0.2)
                    while masa < 0.1 or masa > 0.45:
                        masa = np.random.normal(0.1,0.2)
                
            else:
                if self.species == 'pies':
                    masa = np.random.normal(12,6)
                    while masa < 0.5 or masa > 30:
                        masa = np.random.normal(12,6)
                elif self.species == 'kot':
                    masa = np.random.normal(1,1.3)
                    while masa < 0.6 or masa > 3:
                        masa = np.random.normal(1,1.3)
                elif self.species == 'szczur':
                    masa = np.random.normal(0.2,0.2)
                    while masa < 0.24 or masa > 0.55:
                        masa = np.random.normal(0.2,0.2)
        else:
            if self.species == 'pies':
                masa = np.random.normal(17,7)
                while masa < 1 or masa > 45:
                    masa = np.random.normal(17,7)
            elif self.species == 'kot':
                masa = np.random.normal(3, 2)
                while masa < 1 or masa > 5:
                    masa = np.random.normal(3, 2)
            elif self.species == 'szczur':
                masa = np.random.normal(0.25,0.2)
                while masa < 0.24 or masa > 0.7:
                    masa = np.random.normal(0.25,0.2)
        self.masa  = np.round(masa, 3)

        return(self.masa)
    
    def acceptance(self, o_years = 3.21): #3.21 years - opening of pound
        
        years2sec = 365.25*24*3600
        open_time = self.actual_time - o_years*years2sec
        
        acc_time = self.actual_time+100
        
        while acc_time > self.actual_time or bool(acc_time < self.birth_date+50*24*3600):
#             print(acc_time > self.actual_time)
#             print(bool(acc_time < self.birth_date))
            acc_time = np.random.uniform(open_time, self.actual_time) 
            
        #print(time.localtime(acc_time))
        #acceptance date    
        self.acc_time = acc_time
        p_wizyta = acc_time+24*3600
        self.daty_wizyt.append(p_wizyta)
        self.wizyty.append("pierwsza wizyta")
        self.ceny.append(50)
        return( self.acc_time )
    
    def adoption(self):
        
        day2sec = 24*3600
        ad_time = np.random.uniform(self.acc_time+7*day2sec, self.actual_time-14*day2sec) 
          
        self.ad_time = ad_time
        #self.adoptujacy()
        
        return( self.ad_time )
    
#print(acc_time > self.actual_time)
#print(bool(acc_time < self.birth_date))
#print(time.localtime(acc_time))
#acceptance date  
    def adoptujacy(self, own_names, own_lastnames, own_streets, own_city):
        own_ind0 = int(np.round(np.random.uniform(0,len(own_names)),0))
        own_ind1 = int(np.round(np.random.uniform(0,len(own_lastnames)),0))
        own_ind2 = int(np.round(np.random.uniform(0,len(own_streets)),0))
        own_name = own_names[own_ind0][0]
        own_lastname = own_lastnames[own_ind1][0]
        own_street = own_streets[own_ind2]+' ' + str(int(np.random.uniform(1,100)))
        own_tel = str(int(np.random.uniform(100,999)))+"-"
        own_tel = own_tel + str(int(np.random.uniform(100,999)))+"-"+str(int(np.random.uniform(100,999)))
        owner = {}
        owner['name'] = own_name
        owner['last_name'] = own_lastname
        owner['adres'] = own_street + ' ' + own_city
        owner['telefon'] = own_tel
        
        return(owner)
            
        
    def kastracja(self):
        rand = np.random.random()
        if rand > 0.1:
            self.kastracja = "tak"
            n_rand = np.random.random()
            if n_rand > 0.5:
                self.k_day = self.acc_time+ np.random.uniform(10,35)*24*3600
                self.daty_wizyt.append(self.k_day)
                self.wizyty.append("kastracja")
                self.ceny.append(200)
            else:
                self.k_day = self.birth_date + np.random.uniform(200,350)*24*3600

        else:
            self.kastracja = "nie"
            self.k_day = 0
        
        
        return(self.kastracja, self.k_day)
    def next_acceptance(self):
        day2sec = 24*3600
        new_acc_time = 0
        #20% zwierzakow wraca do schorniska
        if self.ad_time is not None:
            new_acc_time = np.random.uniform(self.ad_time+3*day2sec, self.actual_time-7*day2sec ) 
        #print(acc_time > self.actual_time)
        #print(bool(acc_time < self.birth_date))
        #print(time.localtime(acc_time))
        #acceptance date    
        self.acc_time = new_acc_time
        p_wizyta = self.acc_time+24*3600
        self.daty_wizyt.append(p_wizyta)
        self.wizyty.append("pierwsza wizyta")
        self.ceny.append(50)
        return( self.acc_time )
    
    
#sterylizacja - klasa zwierze - data wizty +1 dzien +tydzien sterylizacja
#0.01 0.01
#2 lata
#aktu -200
# wykladniczy ale od pewnego momentu z paramtrem 1
#masa ciała
#400 - 95% adotptowane , 5% zmarłe
#adopcje
# maks - 5, srednio -2, procent wracajacych - 30% 
# w wiekszosci darowizna, co miesiac -wyplaty, dotacja z urzedu
#imiona - nie powtarzaja sie - usuwam z listy uzyte imie

In [85]:
def pracownik(own_names, own_lastnames, own_streets, own_city, years=3.21):
        own_ind0 = int(np.round(np.random.uniform(0,len(own_names)),0)-1)
        own_ind1 = int(np.round(np.random.uniform(0,len(own_lastnames)),0)-1)
        own_ind2 = int(np.round(np.random.uniform(0,len(own_streets)),0)-1)
        own_name = own_names[own_ind0][0]
        own_lastname = own_lastnames[own_ind1][0]
        own_street = own_streets[own_ind2]+' ' + str(int(np.random.uniform(1,100)))
        own_tel = str(int(np.random.uniform(100,999)))+"-"
        own_tel = own_tel + str(int(np.random.uniform(100,999)))+"-"+str(int(np.random.uniform(100,999)))
        owner = {}
        owner['name'] = own_name
        owner['last_name'] = own_lastname
        owner['adres'] = own_street + ' ' + own_city
        owner['telefon'] = own_tel
        years2sec = 365.25*24*3600
        actual_time = time.time()
        open_time = actual_time - years*years2sec
        
        data_zat = np.random.uniform(open_time, actual_time)
        data_zw =  np.random.uniform(data_zat, actual_time+24*3600)
        owner["zatr"] = data_zat
        owner["zwoln"] = data_zw
        return(owner)

In [86]:
dog  = Animal(species = 'pies')
print(dog.Species())
print(dog.plec())
print(dog.name('./dane/npieski.csv'))
print(dog.umaszczenie())
birt = time.localtime(dog.birth())
birty = (birt.tm_mday, birt.tm_mon, birt.tm_year)
acc = time.localtime(dog.acceptance())
accy = (acc.tm_mday, acc.tm_mon, acc.tm_year)
masa = dog.masa()
adopcja =  time.localtime(dog.adoption())
print("adopcja",  adopcja.tm_mday, adopcja.tm_mon, adopcja.tm_year)
kastracja, k_day = dog.kastracja()
new_acc =  time.localtime(dog.next_acceptance())
if k_day is not None:
    k_day = time.localtime(k_day)
print("nowe przyjecie",new_acc.tm_mday, new_acc.tm_mon, new_acc.tm_year)
adopcja1 =  time.localtime(dog.adoption())
print("druga adopcja",  adopcja1.tm_mday, adopcja1.tm_mon, adopcja1.tm_year)
new_acc1 =  time.localtime(dog.next_acceptance())
print("drugie przyjecie",new_acc1.tm_mday, new_acc1.tm_mon, new_acc1.tm_year)
print("kastracja", kastracja, "data", (k_day.tm_mday, k_day.tm_mon, k_day.tm_year))
print('masa',masa)
print("urodzenie",birty)
print("pierwsze przyjecie",accy)

1
samica
 Umra
('biały', 'pies')
adopcja 29 4 2019
nowe przyjecie 6 5 2019
druga adopcja 15 5 2019
drugie przyjecie 7 6 2019
kastracja tak data (7, 10, 2016)
masa 21.297
urodzenie (19, 6, 2004)
pierwsze przyjecie (15, 9, 2016)

In [87]:
wiz, data_wiz,  cena = dog.choroby()

In [95]:
dataformat(data_wiz[3])

'2019-06-08'

In [89]:
dog.choroby()

(['pierwsza wizyta', 'kastracja', 'pierwsza wizyta', 'pierwsza wizyta'],
 [1474021132.3637187,
  1475803348.6208446,
  1557184919.769949,
  1559980921.5133932],
 [50, 200, 50, 50])

In [31]:
dog.stan_zdrowia()

'w czasie leczenia'

In [696]:
dog.adoptujacy((names_male.values).tolist(), (lastnames_male.values).tolist(), ulice, "Wrocław")

AttributeError: 'list' object has no attribute 'values'

In [697]:
pracownik((names_male.values).tolist(), (lastnames_male.values).tolist(), ulice, "Wrocław")

AttributeError: 'list' object has no attribute 'values'

In [39]:
ulice = ['ul. Agrestowa',
'ul. Akacjowa',
'ul. Armii Krajowej',
'ul. Balonowa',
'ul. Batalionów Chłopskich',
'ul. gen. Józefa Bema',
'ul. Błękitna',
'ul. Bociania',
'ul. Jerzego Bocka',
'ul. Boczna',
'ul. Bolesława Krzywoustego',
'ul. Arkadiusza Bożka',
'ul. Bratnia',
'ul. Brzozowa',
'ul. Ceglana',
'ul. Fryderyka Chopina',
'ul. Cicha',
'ul. Ciepła',
'ul. Antoniego Cieszyńskiego',
'ul. Cmentarna',
'ul. Bronisława Czecha',
'ul. Ignacego Daszyńskiego',
'ul. Henryka Dąbrowskiego',
'ul. Demokratów',
'ul. Kazimierza Deyny',
'ul. Dobroszycka',
'ul. Energetyczna',
'ul. Fabryczna',
'ul. Gliniana',
'ul. Władysława Grabskiego',
'ul. Gryczana',
'ul. gen. Józefa Hallera',
'ul. św. Jadwigi',
'ul. Jagodowa',
'ul. Jaśminowa',
'ul. Jarzynowa',
'ul. Jasna',
'ul. Jastrzębia',
'ul. Jęczmienna',
'ul. Kasztanowa',
'ul. Kazimierza Wielkiego',
'ul. Jana Kilińskiego',
'ul. gen. Franciszka Kleeberga',
'ul. Klonowa',
'ul. Jana Kochanowskiego',
'ul. Kolejowa',
'ul. Kościelna',
'ul. Tadeusza Kościuszki',
'skwer Kombatantów Rzeczypospolitej',
'ul. Mikołaja Kopernika',
'ul. Kosynierów',
'ul. Krótka',
'ul. Kresowa',
'ul. Krucza',
'ul. Krzywa',
'ul. Janusza Kusocińskiego',
'ul. Eugeniusza Felicjana Kwiatkowskiego',
'ul. Kwiatowa',
'ul. Joachima Lelewela',
'ul. Leśna',
'ul. Leszczynowa',
'ul. Bolesława Limanowskiego',
'ul. Lipowa',
'ul. 11 Listopada',
'ul. Lotnicza',
'ul. Stefana Żeromskiego',
'ul. Żwirki i Wigury',
'ul. Żytnia',
'ul. Ludwikowska',
'ul. Lwowska',
'ul. Henryka Łasaka',
'ul. Łąkowa',
'ul. Łowiecka',
'ul. Łukanowska',
'ul. Łużycka',
'pl. Książąt Śląskich',
'ul. Tadeusza Ślusarskiego',
'ul. Świerkowa',
'ul. gen. Stanisława Maczka',
'ul. 3 Maja',
'ul. Malinowa',
'ul. Bronisława Malinowskiego',
'ul. Małopolna',
'ul. Jana Matejki',
'ul. Adama Mickiewicza',
'ul. Stanisława Mikołajczyka',
'ul. Miła',
'ul. Miodowa',
'ul. Młynarska',
'ul. Mokra',
'ul. Ignacego Mościckiego',
'ul. Stanisława Moniuszki',
'ul. Na Podkowie',
'ul. Gabriela Narutowicza',
'ul. Nowowiejska',
'ul. Ogrodowa',
'ul. Okrężna',
'ul. Orla',
'ul. Osada Bystre',
'ul. Osiedle',
'ul. Otwarta',
'ul. Owocowa',
'ul. Owsiana',
'ul. Ignacego Paderewskiego',
'ul. Parkowa',
'ul. Północna',
'ul. Pocztowa',
'ul. Podchorążych',
'ul. Pogodna',
'ul. Polna',
'ul. Południowa',
'ul. Księcia Józefa Poniatowskiego',
'ul. Poprzeczna',
'ul. Porzeczkowa',
'ul. Powietrzna',
'ul. Poziomkowa',
'ul. Prosta',
'ul. Bolesława Prusa',
'ul. Przemysłowa',
'ul. Kazimierza Przerwy-Tetmajera',
'ul. Przyjaźni',
'ul. Bogusława Psujka',
'ul. Pszeniczna',
'ul. Ptasia',
'ul. Kazimierza Pułaskiego',
'ul. Heleny Radlińskiej',
'ul. Różana',
'ul. Mikołaja Reja',
'ul. Tadeusza Rejtana',
'ul. Władysława Stanisława Reymonta',
'rondo Rondo Jana Pawła II',
'rondo Rondo Miast Partnerskich',
'ul. Wandy Rutkiewicz',
'ul. Rycerska',
'ul. Rzemieślnicza',
'ul. Rzepakowa',
'ul. Sejmowa',
'ul. Janusza Sidły',
'ul. Henryka Sienkiewicza',
'ul. gen. Władysława Sikorskiego',
'ul. Jana Sinapiusa',
'ul. Marii Skłodowskiej-Curie',
'ul. Słoneczna',
'ul. Juliusza Słowackiego',
'ul. Sokola',
'ul. Ignacego Solarza',
'rondo Solidarności',
'ul. Sosnowa',
'ul. Spacerowa',
'ul. Spadochronowa',
'ul. Spokojna',
'ul. Feliksa Stamma',
'ul. Jana Stapińskiego',
'pl. Stanisława Staszica',
'ul. Stawowa',
'ul. Stolarska'
'ul. mjr. Henryka Sucharskiego',
'ul. ks. Franciszka Sudoła',
'ul. Szkolna',
'ul. Szybowcowa',
'ul. Targowa',
'ul. Tęczowa',
'ul. Lwa Tołstoja',
'ul. Trakcyjna',
'ul. Romualda Traugutta',
'ul. Stanisławy Walasiewicz',
'ul. Wałowa',
'ul. Wały Jagiellońskie',
'ul. Wądoły',
'ul. Wąska',
'ul. Wesoła',
'ul. Wiejska',
'ul. Wielkopolna',
'ul. Wierzbowa',
'ul. Wikliniarska',
'ul. Wileńska',
'ul. Wiśniowa',
'ul. Wincentego Witosa',
'ul. Wojska Polskiego',
'ul. Wrocławska',
'ul. Wschodnia',
'ul. Wspólna',
'ul. Józefa Wybickiego',
'ul. Zakładowa',
'ul. Zamkowa',
'ul. Zielona'
]

## dane

In [34]:
names_male = pd.read_csv('./dane/names_male.csv', names = ['names'], encoding='unicode_escape')
names_female = pd.read_csv('./dane/names_female.csv', names = ['names'], encoding='unicode_escape')
lastnames_male = pd.read_csv('./dane/lastnames_male.csv',names = ['names'], encoding='unicode_escape')
lastnames_female = pd.read_csv('./dane/lastnames_female.csv',names = ['names'], encoding='unicode_escape')

In [35]:
miasta = ["Wrocław", "Oleśnica", "Opole"]
names_male = (names_male.values).tolist() 
lastnames_male = (lastnames_male.values).tolist()
names_female = (names_female.values).tolist() 
lastnames_female = (lastnames_female.values).tolist()

## Schronisko

In [36]:
actual_time = time.time()

In [37]:
#tutaj zbieram dane o pracownikach
pr_id = []
o_years = 3.21 #lata działania schroniska

years2sec = 365.25*24*3600
#data otwarcia schroniska
open_time = actual_time - o_years*years2sec
zwolnienia  = []

## pracownicy

In [41]:
byli_opiekunowie = [] 
opiekunowie = []
for i in range(4):
    p_id = eval('2000' + str(i))
    rand = np.random.random()
    if rand>0.5:
        opiekun = pracownik(names_male, lastnames_male, ulice, "Wrocław")
    else:
        opiekun = pracownik(names_female, lastnames_female, ulice, "Wrocław")
    zatr = dataformat(open_time)
    zwol = opiekun["zwoln"]
    zwolnienia.append(zwol)
    zwo = dataformat(zwol)
    opiekun_d = {'id':p_id, 'imie': opiekun['name'], 'nazwisko': opiekun['last_name'], 
               'adres': opiekun['adres'], 'telefon': opiekun['telefon'], 'zatrudnienie':zatr, "zwolenienie": zwo,
          'stanowisko': 'opiekun', 'pensja': 2500}
    byli_opiekunowie.append(opiekun_d)
    opiekunowie.append(opiekun_d)
byli_opiekunowie = pd.DataFrame(data=byli_opiekunowie)
byli_opiekunowie

,adres,id,imie,nazwisko,pensja,stanowisko,telefon,zatrudnienie,zwolenienie
0,ul. Stawowa 19 Wrocław,20000,JACEK,SPOTKE,2500,opiekun,309-742-825,2016-04-04,2019-02-11
1,ul. Tęczowa 95 Wrocław,20001,ANNA,BOLDYR,2500,opiekun,874-528-962,2016-04-04,2018-05-01
2,ul. Jaśminowa 61 Wrocław,20002,MIKOÅA,ODAJSKYJ,2500,opiekun,262-468-561,2016-04-04,2019-03-03
3,ul. Rzemieślnicza 10 Wrocław,20003,RENATA,KOZACZKIEWICZ,2500,opiekun,486-897-327,2016-04-04,2018-12-03

In [42]:
#najpierw opiekunowie
#4 opiekunow pracuje aktualnie
for i in range(4):
    rand = np.random.random()
    if rand>0.5:
        opiekun = pracownik(names_male, lastnames_male, ulice, "Wrocław")
    else:
        opiekun = pracownik(names_female, lastnames_female, ulice, "Wrocław")

    zatr = dataformat(zwolnienia[i]+np.random.uniform(1,30)*24*3600)

    zwo = "9999-99-99"
    p_id = eval('2000' + str(i+4))
    pr_id.append(p_id)
    opiekun_d = {'id':p_id, 'imie': opiekun['name'], 'nazwisko': opiekun['last_name'], 
               'adres': opiekun['adres'], 'telefon': opiekun['telefon'], 'zatrudnienie':zatr, "zwolenienie": zwo,
          'stanowisko': 'opiekun', 'pensja': 2500}
    opiekunowie.append(opiekun_d)

In [43]:
#kierowca, ksiegowy, kierownik, asystent kierownika -pracuja od poczatku
pensje = ['3000','3500','5000', '4000']
stanowiska = ['kierowca', 'księgowy', 'kierownik', 'asystent kierownika']
for i in range(4):
    p_id = eval('1000' + str(i))
    rand = np.random.random()
    if rand>0.5:
        opiekun = pracownik(names_male, lastnames_male, ulice, "Wrocław")
    else:
        opiekun = pracownik(names_female, lastnames_female, ulice, "Wrocław")
    zatr = dataformat(open_time)
    zwo = "9999-99-99"


    opiekun_d = {'id':p_id, 'imie': opiekun['name'], 'nazwisko': opiekun['last_name'], 
               'adres': opiekun['adres'], 'telefon': opiekun['telefon'], 'zatrudnienie':zatr, "zwolenienie": zwo,
          'stanowisko': stanowiska[i], 'pensja': pensje[i]}
    opiekunowie.append(opiekun_d)

In [99]:
opiekunowie.to_csv(r'.\dane\opiekunowie.csv')

In [44]:
opiekunowie = pd.DataFrame(data=opiekunowie)
opiekunowie

,adres,id,imie,nazwisko,pensja,stanowisko,telefon,zatrudnienie,zwolenienie
0,ul. Stawowa 19 Wrocław,20000,JACEK,SPOTKE,2500,opiekun,309-742-825,2016-04-04,2019-02-11
1,ul. Tęczowa 95 Wrocław,20001,ANNA,BOLDYR,2500,opiekun,874-528-962,2016-04-04,2018-05-01
2,ul. Jaśminowa 61 Wrocław,20002,MIKOÅA,ODAJSKYJ,2500,opiekun,262-468-561,2016-04-04,2019-03-03
3,ul. Rzemieślnicza 10 Wrocław,20003,RENATA,KOZACZKIEWICZ,2500,opiekun,486-897-327,2016-04-04,2018-12-03
4,ul. Wałowa 25 Wrocław,20004,ALEKSANDRA,DORKO,2500,opiekun,330-897-437,2019-03-07,9999-99-99
5,rondo Rondo Jana Pawła II 85 Wrocław,20005,WIESÅA,SARNOW,2500,opiekun,850-430-953,2018-05-08,9999-99-99
6,ul. Lwowska 17 Wrocław,20006,JOLANTA,SOÅWIÅS,2500,opiekun,575-744-681,2019-03-21,9999-99-99
7,ul. Ignacego Solarza 9 Wrocław,20007,JOLANTA,WIDRYÅSK,2500,opiekun,705-558-309,2018-12-16,9999-99-99
8,ul. Lwa Tołstoja 85 Wrocław,10000,DANUTA,LA BANCA,3000,kierowca,470-163-263,2016-04-04,9999-99-99
9,ul. Ptasia 60 Wrocław,10001,LENA,MORISSET,3500,księgowy,660-232-670,2016-04-04,9999-99-99
10,ul. Ignacego Paderewskiego 64 Wrocław,10002,MARIAN,KIRYLAK,5000,kierownik,658-174-731,2016-04-04,9999-99-99
11,ul. Wałowa 53 Wrocław,10003,WIESÅA,KOZDRUÅ,4000,asystent kierownika,977-834-366,2016-04-04,9999-99-99

## wolontariusze

In [45]:
#przez schronisko przewinelo sie 67 wolontariuszy
wolontariusze = []
for i in range(67):
    if i < 10:
        p_id = eval('4000' + str(i))
    else:
        p_id = eval('400' + str(i))
        
    rand = np.random.random()
    if rand>0.5:
        opiekun = pracownik(names_male, lastnames_male, ulice, "Wrocław")
    else:
        opiekun = pracownik(names_female, lastnames_female, ulice, "Wrocław")
        
    zatr = dataformat(opiekun['zatr'])
    
    
    zwol = opiekun["zwoln"]
    zwo = dataformat(zwol)
    
    if np.random.random() > 0.9:
        zwo = '9999-99-99'
    
    wolontariusz =  {'id':p_id, 'imie': opiekun['name'], 'nazwisko': opiekun['last_name'], 
               'adres': opiekun['adres'], 'telefon': opiekun['telefon'], 'zatrudnienie':zatr, 
                     "rezygnacja": zwo}
    wolontariusze.append(wolontariusz)

In [98]:
wolontariuszeD.to_csv(r'.\dane\wolontariusze.csv')

In [46]:
wolontariuszeD = pd.DataFrame(data=wolontariusze)
wolontariuszeD

,adres,id,imie,nazwisko,rezygnacja,telefon,zatrudnienie
0,ul. Gryczana 24 Wrocław,40000,MARIUSZ,GOLKA-PRZYSTANIAK,2018-06-27,845-484-899,2018-02-26
1,skwer Kombatantów Rzeczypospolitej 42 Wrocław,40001,KLAUDIA,JAWOSZEK-TEREJ,2017-05-27,171-293-389,2017-04-09
2,ul. Krucza 27 Wrocław,40002,IZABELA,BROIÅ,2019-06-04,631-887-111,2019-05-05
3,ul. Krzywa 38 Wrocław,40003,GRZEGORZ,TIAHLO,2019-04-05,857-639-747,2019-01-25
4,ul. Batalionów Chłopskich 59 Wrocław,40004,DAMIAN,KOBUCIÅSK,2018-06-26,485-342-511,2018-02-21
5,ul. Mikołaja Kopernika 9 Wrocław,40005,MARIA,RADNIECKA,2018-10-31,629-741-825,2017-05-19
6,ul. Malinowa 3 Wrocław,40006,PATRYCJA,HUSEYNOVA,2018-10-30,666-781-631,2018-08-13
7,ul. Balonowa 57 Wrocław,40007,MARIUSZ,ZCIBIELSKI,9999-99-99,737-526-561,2018-10-31
8,ul. gen. Władysława Sikorskiego 96 Wrocław,40008,AUKASZ,CRUICKSHANK,2018-10-27,234-544-598,2018-10-04
9,ul. 3 Maja 77 Wrocław,40009,MARCIN,KREC,2017-08-20,874-127-927,2016-05-22
10,ul. Jana Matejki 5 Wrocław,40010,STANISÅAW,KABELLA,2018-07-16,803-529-485,2018-04-02
11,ul. Sosnowa 78 Wrocław,40011,EWELINA,BULLA,2019-03-21,788-521-261,2018-03-19
12,ul. 11 Listopada 56 Wrocław,40012,LENA,PIZO,2019-02-14,750-754-363,2018-10-12
13,skwer Kombatantów Rzeczypospolitej 49 Wrocław,40013,MIKOÅA,KONOWALSKI,2017-08-26,883-962-458,2017-08-03
14,ul. Bratnia 20 Wrocław,40014,WANDA,JÄDRASIA,2019-06-11,774-961-163,2019-05-16
15,ul. Feliksa Stamma 19 Wrocław,40015,GRZEGORZ,SMUÅCZYÅS,2018-09-03,449-444-206,2018-01-13
16,rondo Rondo Jana Pawła II 77 Wrocław,40016,DOROTA,PRENTKOWSKA,2019-05-05,700-931-783,2018-11-08
17,ul. Okrężna 74 Wrocław,40017,AGATA,HABERSACK,2019-01-05,394-274-246,2017-11-04
18,ul. Juliusza Słowackiego 12 Wrocław,40018,BARTOSZ,WALENIS,2019-05-22,636-583-984,2019-03-13
19,ul. Miodowa 22 Wrocław,40019,PAULINA,KOCIÄ,2019-04-08,131-677-104,2017-07-07
20,ul. Kazimierza Pułaskiego 36 Wrocław,40020,IWONA,CHAO,2019-02-18,375-868-992,2017-10-16
21,ul. Krzywa 57 Wrocław,40021,LENA,NAÅYS,2017-08-23,768-412-633,2016-10-11
22,ul. Wiejska 8 Wrocław,40022,GRAÅ»YN,PAWLAK-JASIÅSK,2019-02-12,102-192-365,2018-09-09
23,ul. Spacerowa 7 Wrocław,40023,WIKTORIA,FRYNDO,2018-11-06,277-728-209,2018-03-22
24,ul. Agrestowa 17 Wrocław,40024,PAWEÅ,LAWAL,2019-06-01,345-780-260,2017-04-12
25,ul. Kasztanowa 73 Wrocław,40025,WALDEMAR,GAJLUS,2018-05-23,176-821-924,2017-06-08
26,ul. Ludwikowska 10 Wrocław,40026,KRYSTYNA,CHAJNOW,2019-04-10,739-518-382,2018-07-09
27,ul. Ciepła 30 Wrocław,40027,DANUTA,WOÅGAJE,2019-02-12,694-918-739,2019-02-11
28,ul. Agrestowa 18 Wrocław,40028,RAFAÅ,VEGA CIELOSZYK,2019-04-22,707-732-267,2018-02-28
29,ul. Ceglana 63 Wrocław,40029,JÃZE,KLESZAK,2018-12-20,124-744-389,2018-12-04
...,...,...,...,...,...,...,...
37,ul. Armii Krajowej 56 Wrocław,40037,JAROSÅA,FURCULITA,2017-10-22,497-937-996,2017-06-06
38,ul. Brzozowa 22 Wrocław,40038,PAULINA,HORNEFFER,2019-06-19,223-114-404,2016-11-25
39,ul. Otwarta 9 Wrocław,40039,WIESÅA,WUTTKE,2019-06-06,417-260-872,2019-06-06
40,ul. Balonowa 29 Wrocław,40040,PRZEMYSÅA,LASKA-WARCZAK,2019-06-13,694-673-126,2017-05-19
41,ul. Leszczynowa 18 Wrocław,40041,PRZEMYSÅA,STEINGRÃBE,2018-02-08,166-612-266,2016-04-26
42,ul. Przemysłowa 43 Wrocław,40042,MARIAN,SZMIRSKI,2019-04-14,772-535-266,2019-02-02
43,ul. Łukanowska 66 Wrocław,40043,KLAUDIA,CHARASNY,2018-02-24,407-765-534,2016-12-14
44,ul. Wesoła 55 Wrocław,40044,KAMIL,HARASZTI,9999-99-99,925-843-797,2016-08-20
45,ul. Kasztanowa 53 Wrocław,40045,PRZEMYSÅA,BURKOWY,2018-07-18,907-167-949,2018-02-07
46,ul. Bronisława Czecha 8 Wrocław,40046,MIROSÅA,HALICKI,2019-06-06,323-980-861,2019-05-28
47,ul. Krótka 22 Wrocław,40047,JAKUB,ZAOBURNYI,2017-06-15,514-174-615,2017-03-29
48,ul. Antoniego Cieszyńskiego 55 Wrocław,40048,JADWIGA,BAÅUND,2019-03-29,842-161-836,2016-11-21
49,ul. Rzepakowa 94 Wrocław,40049,JULIA,KOJS,2018-10-19,254-349-669,2017-04-22
50,ul. Heleny Radlińskiej 2 Wrocław,40050,MARTA,NAGACHEVSKA,2018-10-19,670-467-381,2017-02-22
51,ul. Wandy Rutkiewicz 80 Wrocław,40051,ANETA,CONNEELY DUBOWSKA,2017-08-04,745-147-611,2016-09-09
52,ul. Stefana Żeromskiego 61 Wrocław,40052,BARTOSZ,KOMARAÅSK,2018-12-13,368-904-811,2018-05-01
53,ul. Bolesława Limanowskiego 79 Wrocław,40053,DANIEL,KNIZIO,2017-07-15,474-721-653,2017-04-06
54,ul. Jerzego Bocka 70 Wrocław,40054,FRANCISZEK,PIÅASEWIC,9999-99-99,236-782-199,2017-06-10
55,ul. Młynarska 16 Wrocław,40055,EDYTA,ELIASIUK,2019-05-31,179-482-184,2016-08-18
56,ul. Mokra 67 Wrocław,40056,ELÅ»BIET,KÃNI,2019-02-08,121-621-621,2017-10-30
57,ul. Janusza Kusocińskiego 43 Wrocław,40057,MARTA,WARJAS,2017-08-25,238-555-787,2017-04-25
58,ul. Leszczynowa 86 Wrocław,40058,JULIA,BOROWIEC-WITKOWSKA,2018-03-17,172-538-638,2017-08-03
59,ul. Łużycka 60 Wrocław,40059,AMELIA,ZAWOÅOKI,2017-06-06,178-119-269,2016-08-05
60,ul. Leśna 2 Wrocław,40060,BARTOSZ,KRMINAC,2019-05-27,115-439-698,2019-04-18
61,ul. Lwa Tołstoja 72 Wrocław,40061,IZABELA,LENTZSCH,2019-02-11,331-230-742,2019-01-11
62,ul. Powietrzna 48 Wrocław,40062,ADAM,MATYLEK,2018-05-21,838-513-692,2017-07-02
63,ul. Jasna 76 Wrocław,40063,MARCIN,BOSIEÅSK,2018-03-11,936-479-318,2017-06-17
64,ul. Stanisławy Walasiewicz 6 Wrocław,40064,JAROSÅA,MADYJEWSKI,2018-05-11,377-898-410,2018-02-27
65,ul. Wąska 55 Wrocław,40065,SYLWIA,BOÅDYSIA,2019-04-07,465-100-393,2017-02-26
66,ul. Porzeczkowa 2 Wrocław,40066,WOJCIECH,GIREJ,2018-11-12,498-668-551,2018-07-06

## weterynarze

In [47]:
# 3 weterynarzy
#najpierw opiekunowie
#4 opiekunow pracuje aktualnie
weterynarze =[] 
w_id = []
miastaW = ["Wrocław", "Wrocław", "Oleśnica","Wrocław"]
for i in range(4):
    rand = np.random.random()
    if rand>0.5:
        opiekun = pracownik(names_male, lastnames_male, ulice, miastaW[i])
    else:
        opiekun = pracownik(names_female, lastnames_female, ulice, miastaW[i])

    zatr = dataformat(open_time)
    zwo = "9999-99-99"
    p_id = eval('3000' + str(i))
    w_id.append(p_id)
    opiekun_d = {'id':p_id, 'imie': opiekun['name'], 'nazwisko': opiekun['last_name'], 
               'adres': opiekun['adres'], 'telefon': opiekun['telefon'], 'zatrudnienie':zatr, "zwolenienie": zwo,
          'stanowisko': 'weterynarz'}
    weterynarze.append(opiekun_d)

In [48]:
weterynarzeD = pd.DataFrame(data=weterynarze)
weterynarzeD

,adres,id,imie,nazwisko,stanowisko,telefon,zatrudnienie,zwolenienie
0,ul. Bronisława Malinowskiego 64 Wrocław,30000,ARTUR,BOWSZYC,weterynarz,385-745-356,2016-04-04,9999-99-99
1,ul. Kazimierza Deyny 64 Wrocław,30001,MARIA,GIRYÅSK,weterynarz,657-808-917,2016-04-04,9999-99-99
2,ul. Bronisława Malinowskiego 47 Oleśnica,30002,KRZYSZTOF,HARACZ,weterynarz,732-416-723,2016-04-04,9999-99-99
3,ul. ks. Franciszka Sudoła 1 Wrocław,30003,AMELIA,JENDRALCZYK,weterynarz,901-655-998,2016-04-04,9999-99-99

In [100]:
weterynarzeD.to_csv(r'.\dane\weterynarze.csv')

## Zwierzeta

In [49]:
#gatunki
gatunki = {'nazwa' : ['pies', 'kot', 'szczur'], 'id_gatunku': [1,2,3]}
gat = pd.DataFrame(data=gatunki)
gat

    nazwa  id_gatunku
0    pies           1
1     kot           2
2  szczur           3

In [101]:
gat.to_csv(r'.\dane\gatunki.csv')

### pieski

In [50]:
informacje = []
gatunki = []
zwierz_schr = []
zwierz_byle = []
adoptujacy = []
hist_zdr = []
transakcje = []

In [53]:
#92 psy- tyle liczy aktualnie nasze schronisko. 36 psów dużych (masa >=20kg) i 56 małych (masa <20kg)
len_dog = 92
k = 1
l = 1
for i in range(len_dog):
    dog_info = {}
    dog_schr = {}
    dog_wiz = {}
    dog_trans = {}
    dog = Animal(species = 'pies')
    birth = dog.birth()
    birth_d = dataformat(birth)
    acc = dog.acceptance()
    if np.random.random()>0.7:
        dog_info['wcześniej adoptowany'] = "tak"
        adop = dog.adoption()
        #ponowne przyjecie
        acc = dog.next_acceptance()
        if np.random.random()>0.9:
            adop = dog.adoption()
            #ponowne przyjecie
            acc = dog.next_acceptance()
    else:
        dog_info['wcześniej adoptowany'] = "nie"

    dog_info['data_urodzenia'] = birth_d
    dog_info['data_przyjecia'] = dataformat(acc)
    
    dog_info['plec'] = dog.plec()
    dog_info['masa'] = dog.masa()
    dog_info['imie'] = dog.name('./dane/npieski.csv')
    dog_info['id_gat'] = 1
    dog_schr['id_gat'] = dog_info['id_gat']
    if i<10:
        dog_info['id'] = '6100'+str(i)
    else:
        dog_info['id'] = '610'+str(i)
        
    dog_schr['id'] = dog_info['id']
        
    if np.random.random()>0.9:
        dog_info['inne_zwierzeta'] = "agresywny"
    else:
        dog_info['inne_zwierzeta'] = "łagodny"
    dog_info['umaszczenie'] = dog.umaszczenie()
    if dog_info['masa']>=20:
        dog_info['ID opiekuna'] = [pr_id[0]]
        dog_info['blok'] = 'A_'+str(k)
        k += 1
    else:
        dog_info['ID opiekuna'] = [pr_id[1]]
        dog_info['blok'] = 'B_'+str(l)
        l += 1
    dog_schr['ID opiekuna'] = dog_info['ID opiekuna']
    dog_schr['blok'] = dog_info['blok']
    ## czy nadaje sie do adopcji?
    if np.random.random()>0.1:
        data_wiz, chor, zalec, cena = dog.Wizyty()
        if np.random.random()>0.7:
            data_wiz, chor, zalec, cena = dog.Wizyty()
    zdrowie = dog.stan_zdrowia()
    dog_schr['Stan'] = zdrowie
    
    dog_wiz[]
    
    zwierz_schr.append(dog_schr)
    informacje.append(dog_info)

In [54]:
pd.DataFrame(informacje)

,ID opiekuna,blok,data_przyjecia,data_urodzenia,id,id_gat,imie,inne_zwierzeta,masa,plec,umaszczenie,wcześniej adoptowany
0,[20004],A_1,2018-09-08,2011-08-12,61000,1,Dino,łagodny,21.977,samiec,"(brązowy, pies)",tak
1,[20005],B_1,2019-03-06,2009-10-23,61001,1,Lapa,łagodny,19.207,samiec,"(inne, pies)",tak
2,[20004],A_2,2018-07-01,2011-05-29,61002,1,Luni,łagodny,22.556,samiec,"(brązowy, pies)",tak
3,[20005],B_2,2019-03-21,2006-04-03,61003,1,Orzech,łagodny,12.659,samiec,"(brązowy, pies)",nie
4,[20004],A_3,2019-01-17,2007-07-11,61004,1,Orka,łagodny,26.766,samica,"(biało-rudy, pies)",nie
5,[20005],B_3,2018-05-27,2011-08-12,61005,1,Madonna,łagodny,18.512,samica,"(czarny, pies)",nie
6,[20005],B_4,2019-05-11,2004-07-01,61006,1,Obi,łagodny,12.408,samiec,"(biało-brązowy, pies)",nie
7,[20004],A_4,2018-06-24,2009-11-02,61007,1,Duk,łagodny,20.782,samiec,"(biało-szary, pies)",tak
8,[20005],B_5,2019-01-06,2005-03-28,61008,1,Cycero,łagodny,9.597,samiec,"(biało-czarny, pies)",nie
9,[20005],B_6,2018-09-29,2012-03-06,61009,1,Papi,łagodny,6.493,samiec,"(biszkoptowy, pies)",nie
10,[20005],B_7,2017-01-06,2005-05-12,61010,1,Rasti,łagodny,9.517,samiec,"(rudy, pies)",nie
11,[20005],B_8,2018-08-07,2013-11-16,61011,1,Goldi,łagodny,9.507,samica,"(biszkoptowy, pies)",nie
12,[20005],B_9,2017-10-25,2005-09-14,61012,1,Tynka,łagodny,7.965,samica,"(biało-czarny, pies)",nie
13,[20004],A_5,2019-05-21,2006-12-09,61013,1,Messi,łagodny,20.528,samiec,"(rudy, pies)",nie
14,[20004],A_6,2018-06-11,2006-07-02,61014,1,Szafir,łagodny,24.694,samiec,"(rudy, pies)",nie
15,[20004],A_7,2018-03-27,2006-08-24,61015,1,Elektra,łagodny,22.499,samica,"(biało-czarny, pies)",tak
16,[20005],B_10,2019-01-09,2006-12-31,61016,1,Sami,łagodny,11.424,samiec,"(biszkoptowy, pies)",nie
17,[20005],B_11,2018-01-08,2011-12-01,61017,1,Norka,łagodny,19.415,samica,"(biało-rudy, pies)",nie
18,[20005],B_12,2018-10-14,2006-03-31,61018,1,Jasy,agresywny,14.982,samica,"(rudy, pies)",nie
19,[20005],B_13,2018-09-13,2007-07-31,61019,1,Amar,łagodny,18.660,samiec,"(biszkoptowy, pies)",nie
20,[20005],B_14,2019-03-20,2013-11-01,61020,1,Lorka,łagodny,7.638,samica,"(biało-brązowy, pies)",tak
21,[20005],B_15,2016-04-25,2009-12-23,61021,1,Charlow,łagodny,14.009,samica,"(biszkoptowy, pies)",nie
22,[20004],A_8,2017-01-14,2004-12-26,61022,1,Messi,łagodny,23.969,samiec,"(czarny, pies)",nie
23,[20005],B_16,2019-03-24,2012-12-13,61023,1,Zeus,łagodny,17.040,samiec,"(czarny, pies)",tak
24,[20005],B_17,2019-04-16,2010-10-28,61024,1,Hugo,łagodny,17.945,samiec,"(biało-szary, pies)",tak
25,[20004],A_9,2018-10-29,2008-09-27,61025,1,Amar,łagodny,20.391,samiec,"(biało-rudy, pies)",tak
26,[20004],A_10,2017-06-15,2010-07-29,61026,1,Kuki,łagodny,30.230,samica,"(biszkoptowy, pies)",nie
27,[20004],A_11,2016-11-04,2006-10-23,61027,1,Robal,łagodny,20.425,samiec,"(biało-brązowy, pies)",nie
28,[20004],A_12,2019-05-19,2005-02-09,61028,1,Rabar,łagodny,25.452,samiec,"(biało-czarny, pies)",tak
29,[20004],A_13,2017-05-15,2008-04-26,61029,1,Otis,łagodny,25.783,samiec,"(brązowy, pies)",nie
...,...,...,...,...,...,...,...,...,...,...,...,...
62,[20005],B_40,2017-05-04,2008-08-10,61062,1,Alpinos,łagodny,9.051,samiec,"(czarny, pies)",nie
63,[20004],A_24,2018-10-10,2004-11-28,61063,1,Oksana,łagodny,25.530,samica,"(biało-czarny, pies)",nie
64,[20004],A_25,2018-09-29,2011-01-20,61064,1,Casjan,łagodny,28.534,samiec,"(czarny, pies)",nie
65,[20005],B_41,2018-02-20,2007-06-08,61065,1,Mari,łagodny,14.764,samica,"(biało-brązowy, pies)",nie
66,[20005],B_42,2018-08-09,2011-02-22,61066,1,Uka,łagodny,19.847,samica,"(rudy, pies)",nie
67,[20005],B_43,2019-06-08,2005-09-02,61067,1,Aksa,agresywny,2.347,samica,"(szary, pies)",nie
68,[20004],A_26,2019-05-28,2009-01-12,61068,1,Zibi,łagodny,24.930,samiec,"(szary, pies)",tak
69,[20004],A_27,2018-02-15,2005-12-31,61069,1,Czikita,łagodny,20.497,samica,"(biało-brązowy, pies)",tak
70,[20004],A_28,2019-03-27,2010-03-23,61070,1,Haxa,łagodny,26.211,samica,"(czarny, pies)",tak
71,[20005],B_44,2017-12-26,2007-08-06,61071,1,Samanta,agresywny,17.639,samica,"(biszkoptowy, pies)",nie
72,[20005],B_45,2018-09-10,2009-10-21,61072,1,Jambo,łagodny,10.436,samiec,"(biszkoptowy, pies)",nie
73,[20005],B_46,2018-07-16,2009-07-26,61073,1,Lata,łagodny,17.849,samiec,"(biało-szary, pies)",nie
74,[20005],B_47,2018-08-09,2009-10-21,61074,1,Lazik,łagodny,12.803,samiec,"(biało-szary, pies)",nie
75,[20005],B_48,2019-06-06,2006-05-25,61075,1,Arbis,łagodny,11.740,samiec,"(biało-brązowy, pies)",tak
76,[20005],B_49,2017-09-18,2012-08-09,61076,1,Abra,łagodny,17.277,samica,"(biało-rudy, pies)",nie
77,[20004],A_29,2016-04-16,2006-04-28,61077,1,Keja,łagodny,29.415,samica,"(biało-szary, pies)",nie
78,[20005],B_50,2016-11-15,2011-03-17,61078,1,Zygi,łagodny,12.623,samiec,"(biało-czarny, pies)",nie
79,[20004],A_30,2017-02-28,2007-04-23,61079,1,Axel,łagodny,23.121,samiec,"(biało-rudy, pies)",nie
80,[20004],A_31,2017-05-11,2008-11-13,61080,1,Arczi,łagodny,43.913,samiec,"(biszkoptowy, pies)",nie
81,[20005],B_51,2016-10-19,2011-08-20,61081,1,Wafel,łagodny,11.000,samiec,"(biało-szary, pies)",nie
82,[20005],B_52,2016-07-07,2015-11-09,61082,1,Daila,łagodny,16.706,samica,"(rudy, pies)",nie
83,[20005],B_53,2018-02-14,2010-08-27,61083,1,Jen,agresywny,7.832,samiec,"(inne, pies)",nie
84,[20004],A_32,2018-09-29,2012-06-07,61084,1,Rika,łagodny,24.318,samica,"(biało-szary, pies)",nie
85,[20005],B_54,2019-03-25,2008-08-14,61085,1,Baxter,łagodny,18.106,samiec,"(biało-szary, pies)",tak
86,[20005],B_55,2019-05-19,2011-06-23,61086,1,Brodka,łagodny,15.187,samica,"(biszkoptowy, pies)",tak
87,[20005],B_56,2018-06-30,2009-08-15,61087,1,Dande,łagodny,3.208,samiec,"(biało-rudy, pies)",tak
88,[20005],B_57,2017-11-01,2007-09-24,61088,1,Dheli,łagodny,17.470,samica,"(biało-szary, pies)",nie
89,[20004],A_33,2019-04-01,2007-05-08,61089,1,Lorka,łagodny,26.407,samica,"(szary, pies)",nie
90,[20004],A_34,2017-02-10,2007-11-18,61090,1,Trixi,łagodny,20.504,samica,"(inne, pies)",nie
91,[20005],B_58,2019-03-07,2008-03-19,61091,1,Teo,agresywny,17.464,samiec,"(brązowy, pies)",nie

In [55]:
pd.DataFrame(zwierz_schr)

   ID opiekuna               Stan  blok     id  id_gat
0      [20004]             zdrowy   A_1  61000       1
1      [20005]             zdrowy   B_1  61001       1
2      [20004]             zdrowy   A_2  61002       1
3      [20005]             zdrowy   B_2  61003       1
4      [20004]             zdrowy   A_3  61004       1
5      [20005]             zdrowy   B_3  61005       1
6      [20005]             zdrowy   B_4  61006       1
7      [20004]             zdrowy   A_4  61007       1
8      [20005]              chory   B_5  61008       1
9      [20005]             zdrowy   B_6  61009       1
10     [20005]             zdrowy   B_7  61010       1
11     [20005]             zdrowy   B_8  61011       1
12     [20005]             zdrowy   B_9  61012       1
13     [20004]  w czasie leczenia   A_5  61013       1
14     [20004]             zdrowy   A_6  61014       1
15     [20004]             zdrowy   A_7  61015       1
16     [20005]             zdrowy  B_10  61016       1
17     [20005]             zdrowy  B_11  61017       1
18     [20005]             zdrowy  B_12  61018       1
19     [20005]             zdrowy  B_13  61019       1
20     [20005]             zdrowy  B_14  61020       1
21     [20005]             zdrowy  B_15  61021       1
22     [20004]             zdrowy   A_8  61022       1
23     [20005]  w czasie leczenia  B_16  61023       1
24     [20005]  w czasie leczenia  B_17  61024       1
25     [20004]             zdrowy   A_9  61025       1
26     [20004]              chory  A_10  61026       1
27     [20004]             zdrowy  A_11  61027       1
28     [20004]             zdrowy  A_12  61028       1
29     [20004]             zdrowy  A_13  61029       1
..         ...                ...   ...    ...     ...
62     [20005]             zdrowy  B_40  61062       1
63     [20004]             zdrowy  A_24  61063       1
64     [20004]             zdrowy  A_25  61064       1
65     [20005]             zdrowy  B_41  61065       1
66     [20005]  w czasie leczenia  B_42  61066       1
67     [20005]  w czasie leczenia  B_43  61067       1
68     [20004]  w czasie leczenia  A_26  61068       1
69     [20004]             zdrowy  A_27  61069       1
70     [20004]             zdrowy  A_28  61070       1
71     [20005]              chory  B_44  61071       1
72     [20005]             zdrowy  B_45  61072       1
73     [20005]             zdrowy  B_46  61073       1
74     [20005]             zdrowy  B_47  61074       1
75     [20005]  w czasie leczenia  B_48  61075       1
76     [20005]  w czasie leczenia  B_49  61076       1
77     [20004]             zdrowy  A_29  61077       1
78     [20005]              chory  B_50  61078       1
79     [20004]             zdrowy  A_30  61079       1
80     [20004]              chory  A_31  61080       1
81     [20005]             zdrowy  B_51  61081       1
82     [20005]             zdrowy  B_52  61082       1
83     [20005]             zdrowy  B_53  61083       1
84     [20004]              chory  A_32  61084       1
85     [20005]             zdrowy  B_54  61085       1
86     [20005]             zdrowy  B_55  61086       1
87     [20005]             zdrowy  B_56  61087       1
88     [20005]             zdrowy  B_57  61088       1
89     [20004]             zdrowy  A_33  61089       1
90     [20004]             zdrowy  A_34  61090       1
91     [20005]             zdrowy  B_58  61091       1

[92 rows x 5 columns]

In [ ]:
dog  = Animal(species = 'pies')
print(dog.Species())
print(dog.plec())
print(dog.name('./dane/npieski.csv'))
print(dog.umaszczenie())
birt = time.localtime(dog.birth())
birty = (birt.tm_mday, birt.tm_mon, birt.tm_year)
acc = time.localtime(dog.acceptance())
accy = (acc.tm_mday, acc.tm_mon, acc.tm_year)
masa = dog.masa()
adopcja =  time.localtime(dog.adoption())
print("adopcja",  adopcja.tm_mday, adopcja.tm_mon, adopcja.tm_year)
kastracja, k_day = dog.kastracja()
new_acc =  time.localtime(dog.next_acceptance())
if k_day is not None:
    k_day = time.localtime(k_day)
print("nowe przyjecie",new_acc.tm_mday, new_acc.tm_mon, new_acc.tm_year)
adopcja1 =  time.localtime(dog.adoption())
print("druga adopcja",  adopcja1.tm_mday, adopcja1.tm_mon, adopcja1.tm_year)
new_acc1 =  time.localtime(dog.next_acceptance())
print("drugie przyjecie",new_acc1.tm_mday, new_acc1.tm_mon, new_acc1.tm_year)
print("kastracja", kastracja, "data", (k_day.tm_mday, k_day.tm_mon, k_day.tm_year))
print('masa',masa)
print("urodzenie",birty)
print("pierwsze przyjecie",accy)
dog.adoptujacy((names_male.values).tolist(), (lastnames_male.values).tolist(), ulice, "Wrocław")

In [ ]:
ad_time = self.actual_time+100
        while ad_time > self.actual_time-14*day2sec or bool(ad_time < self.acc_time-7*day2sec):

In [ ]:
    if zatrud.tm_mday<10:
        zatr_str = '0'+str(zatrud.tm_mday)
    else:
        zatr_str = str(zatrud.tm_mday)
        
    if zatrud.tm_mon<10:
        zat_mon = '0' + str(zatrud.tm_mon)
    else:
        zat_mon =  str(zatrud.tm_mon)
    zatr = str(zatrud.tm_year) + '-' +zat_mon + '-' + zatr_str